<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<form id="additional-info-form" class="form">

    <div class="comments-block">
        <div class="comments-content">
            <!-- ko foreach: getRegion('comment') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>




<div class="agreements-block">
    <div class="agreements-content">
        <!-- ko foreach: getRegion('agreements') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>

    <div class="additional-block">
        <div class="additional-content">
            <!-- ko foreach: getRegion('additional') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>

<div class="actions-toolbar">
    <div class="primary">
        <button class="action primary checkout place-order-button"
                type="submit"
                style="display: none"
                data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')} "
               >
            <span data-bind="i18n: 'Place Order'">Place Order</span>
        </button>
    </div>
</div>
</form>
<!--/ko-->
