<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="checkout-billing-address">
    <!--<div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">-->
        <!--<label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span></span></label>-->
    <!--</div>-->

    <!-- ko foreach: getRegion('billing-address-list') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <button type="button" id="new-billing-address"
            data-bind="click: showAddressForm, visible: showNewAddressButton"
            class="action">
        <span data-bind="i18n: 'New Address'"></span></button>
    <span type="button" id="edit-billing-address"
            data-bind="click: showEditCustomerAddressForm"
            class="action" ></span>

    <fieldset class="fieldset" >
        <!-- ko template: 'Meridian_Checkout/billing-address/form' --><!-- /ko -->
        <!--<div class="actions-toolbar">-->
            <!--<div class="primary">-->
                <!--<button class="action action-update" type="button" data-bind="click: updateAddress">-->
                    <!--<span data-bind="i18n: 'Update'"></span>-->
                <!--</button>-->
                <!--<button class="action action-cancel" type="button" data-bind="click: cancelAddressEdit">-->
                    <!--<span data-bind="i18n: 'Cancel'"></span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    </fieldset>

</div>
