<!--The 'step_code' value from the .js file should be used-->
<li id="step_login" data-bind="css: isVisible() ? 'active' : ''">
    <div class="step-title" data-role="title" data-bind="click: toLoginStep">
        <span data-bind="i18n: 'Login', visible: isCheckout"></span>
        <span data-bind="i18n: 'Registration', visible: isRegistration"></span>
        <span data-bind="i18n: 'Check Out as Guest', visible: isGuest"></span>
    </div>
    <span class="action-login-rm-edit" type="button" data-bind="click: rmEdit"></span>
    <span class="action-switch-to-login" type="button" data-bind="click: switchToLogin"></span>
    <div data-bind="fadeVisible: isVisible">
    <div id="checkout-step-login"
         class="step-content"
         data-role="content"  data-bind=" visible: isCheckout">
            <!-- ko foreach: getRegion('customer-email-login') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <form data-bind="submit: navigateToNextStep, visible: isCheckout" novalidate="novalidate" class="form-actions">
                <div class="actions-toolbar ">
                    <div class="secondary" data-bind="visible: isCheckout">
                        <a class="action action-auth-toggle" data-bind="click: switchToRegistration">
                            <span data-bind="i18n: 'Create an Account'"></span>
                        </a>
                        <button data-role="opc-continue" type="submit" class="action action-auth-toggle continue secondary">
                            <span><!-- ko i18n: 'Check Out as Guest'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
    </div>
    <div id="checkout-step-registration"
         class="step-content"
         data-role="content"  data-bind="fadeVisible: isVisible, visible: isRegistration">
        <!-- ko foreach: getRegion('customer-email-registration') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    </div>
</li>
