<!--The 'step_code' value from the .js file should be used-->
<li id="billingadd" data-bind="css: isVisible() ? 'active' : ''">
    <div class="step-title"  data-role="title" data-bind="click: toBillingAdress">
        <span data-bind="i18n: 'Billing address'"></span>
        <!--<strong data-bind="i18n: 'Edit', click: toBillingAdress, fadeVisible: isEditAddressVisible" class="step-edit"></strong>-->
    </div>
    <span class="action-mystep-rm-edit" type="button" data-bind="click: rmEdit"></span>
    <span class="action-hide-billing-next" type="button" data-bind="click: hideNextButton"></span>
    <span class="action-show-billing-next" type="button" data-bind="click: showNextButton"></span>

    <div id="checkout-step-billing"
         class="step-content"
         data-role="content" data-bind="fadeVisible: isVisible">

        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <!-- ko foreach: getRegion('billing-address-form-shared') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="choice field">
                <input type="checkbox" class="checkbox" id="billing-use-for-shipping" />
                <label class="label" for="billing-use-for-shipping">
                    <span data-bind="i18n: 'Ship to this address'">Ship to this address</span>
                </label>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue" data-bind="visible: isShowNextButton" type="submit" class="button action continue primary">

                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
