<li id="payment" role="presentation" class="checkout-payment-method" data-bind="css: isVisible() ? 'active' : ''">
    <div class="step-title" data-role="title">
        <span data-bind="i18n: 'Payment Method'"></span>
        <!--<strong data-bind="i18n: 'Edit', click: toPaymentMethods, fadeVisible: isEditMethodVisible" class="step-edit"></strong>-->
    </div>
    <span class="action-payment-rm-edit" type="button" data-bind="click: rmEdit"></span>
    <div id="checkout-step-payment"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false" data-bind="fadeVisible: isMethodVisible">
        <!-- ko if: (quoteIsVirtual) -->
        <!-- ko foreach: getRegion('customer-email') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!--/ko-->
        <form id="co-payment-form" class="form payments" novalidate="novalidate">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>
            <fieldset class="fieldset">
                <legend class="legend">
                    <span data-bind="i18n: 'Payment Information'"></span>
                </legend><br />
                <!-- ko foreach: getRegion('beforeMethods') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
                <div id="checkout-payment-method-load" class="opc-payment" data-bind="visible: isPaymentMethodsAvailable">
                    <!-- ko foreach: getRegion('payment-methods-list') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="no-quotes-block" data-bind="visible: isPaymentMethodsAvailable() == false">
                    <!-- ko i18n: 'No Payment method available.'--><!-- /ko -->
                </div>
            </fieldset>
        </form>
    </div>



</li>