<li id="shipping" class="checkout-shipping-address" data-bind="css: visibleAddress() ? 'active' : ''">
    <div class="step-title" data-role="title" data-bind="click: toShippingAddress">
        <span data-bind="i18n: 'Shipping Address'" ></span>
        <!--<strong data-bind="i18n: 'Edit', click: toShippingAddress, fadeVisible: isEditAddressVisible" class="step-edit"></strong>-->
    </div>
    <span class="action-shipping-rm-edit" type="button" data-bind="click: rmEdit"></span>
    <span class="action-shipping-hideforminline" type="button" data-bind="click: hideFormInline"></span>
    <span class="action-hide-shipping-next" type="button" data-bind="click: hideNextButton"></span>
    <span class="action-show-shipping-next" type="button" data-bind="click: showNextButton"></span>

    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content"  data-bind="fadeVisible: visibleAddress">

        <!-- ko foreach: getRegion('address-list') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('address-list-additional-addresses') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Address form pop up -->
        <!-- ko if: (!isFormInline) -->
        <button type="button"
                data-bind="click: showFormPopUp, visible: !isNewAddressAdded()"
                class="action action-show-popup">
            <span data-bind="i18n: 'New Address'"></span></button>
        <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('before-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- Inline address form -->
        <!-- ko if: (isFormInline) -->
        <!-- ko if: (isCustomerLoggedIn) -->
        <button type="button"
                data-bind="click: showFormInline, visible: !isNewAddressAdded()"
                class="action" id="new-shipping-address">
            <span data-bind="i18n: 'New Address'"></span></button>
            <span type="button" id="edit-shipping-address"
                  data-bind="click: editCustomerAddress"
                  class="action action-show-popup"></span>
        <!-- /ko -->
        <!-- ko template: 'Meridian_Checkout/shipping-address/form' --><!-- /ko -->
        <!-- /ko -->

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="opc-continue" type="button" class="button action continue primary"
                        data-bind="visible: isShowNextButton, click: nextShippingMethods">
                    <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                </button>
            </div>
        </div>
    </div>
</li>














<!--Shipping method template-->
<li id="opc-shipping_method"
    class="checkout-shipping-method" data-bind="css: visibleMethods() ? 'active' : ''">
    <div class="step-title" data-role="title" data-bind="click: toShippingMethods" >
        <span data-bind="i18n: 'Shipping Method'"></span>
        <!--<strong data-bind="i18n: 'Edit', click: toShippingMethods, fadeVisible: isEditMethodVisible" class="step-edit"></strong>-->
    </div>
    <span class="action-shipping-method-rm-edit" type="button" data-bind="click: rmEditShip"></span>
    <div class="checkout-shipping-method" data-bind="fadeVisible: visibleMethods, blockLoader: isLoading"
         role="presentation">

        <!-- ko foreach: getRegion('before-shipping-method-form') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <!-- ko if: rates().length  -->
            <form class="form methods-shipping" id="co-shipping-method-form" data-bind="submit: setShippingInformation" novalidate="novalidate">
                <div id="checkout-shipping-method-load">
                    <table class="table-checkout-shipping-method">
                        <tbody>

                        <!--ko foreach: { data: rates(), as: 'method'}-->
                        <tr class="row" data-bind="click: $parent.selectShippingMethod">
                            <td class="col col-method">
                                <!-- ko ifnot: method.error_message -->
                                <!-- ko if: $parent.rates().length == 1 -->
                                <input class="radio"
                                       type="radio"
                                       data-bind="attr: {
                                                    checked: $parent.rates().length == 1,
                                                    'value' : method.carrier_code + '_' + method.method_code,
                                                    'id': 's_method_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                 }" />
                                <!-- /ko -->
                                <!--ko ifnot: ($parent.rates().length == 1)-->
                                <input type="radio"
                                       data-bind="
                                                value: method.carrier_code + '_' + method.method_code,
                                                checked: $parent.isSelected,
                                                attr: {
                                                    'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                    'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                },
                                                click: $parent.selectShippingMethod"
                                       class="radio"/>
                                <!--/ko-->
                                <!-- /ko -->
                            </td>

                            <td class="col col-carrier"
                                    data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></td>
                        </tr>

                        <!-- ko if:  method.error_message -->
                        <tr class="row row-error">
                            <td class="col col-error" colspan="4">
                                <div class="message error">
                                    <div data-bind="text: method.error_message"></div>
                                </div>
                                <span class="no-display">
                                    <input type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                </span>
                            </td>
                        </tr>
                        <!-- /ko -->

                        <!-- /ko -->
                        </tbody>
                    </table>
                </div>

                <div id="onepage-checkout-shipping-method-additional-load">
                    <!-- ko foreach: getRegion('shippingAdditional') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="shipping-cms-blocks-container">
                    <!-- ko foreach: getRegion('shippingCmsBlocks') -->
                    <div class="shipping-cms-block">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
                <!-- ko if: errorValidationMessage().length > 0 -->
                <div class="message notice">
                    <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                </div>
                <!-- /ko -->
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" data-bind="visible: isShowNextButton" type="submit" class="button action continue primary">
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- /ko -->
            <!-- ko ifnot: rates().length > 0 --><div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko --></div><!-- /ko -->
        </div>
    </div>
</li>
