<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php /* @var $block \Amasty\GiftCard\Block\Checkout\Cart\CheckCard */?>
<?php $card = $block->getCard() ?>
<?php if ($card->getId()): ?>
    <div class="am-gift-card-info">
        <div><?php echo __("Status: %1", '<strong>' . $card->getStatus() . '</strong>'); ?></div>
        <div><?php echo __('Current Balance: %1', '<strong>' . $block->getCurrentBalance($card->getCurrentValue()) . '</strong>'); ?></div>
        <?php if ($card->getExpiredDate()): ?>
            <?php $_validTill = $block->getExpiredDate($card->getExpiredDate()); ?>
        <?php else: ?>
            <?php $_validTill = __('unlimited'); ?>
        <?php endif; ?>
        <div><?php echo __('Valid till: %1', '<strong>' . $_validTill . '</strong>'); ?></div>

    </div>
<?php else: ?>
    <div><?php echo __('Wrong Gift Card Code.'); ?></div>
<?php endif; ?>
