.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-info .qs-option-price .old-price,
.tool-topsearch .form.minisearch .suggest,
.searchsuite-autocomplete ul li .qs-option-info .qs-option-description,
.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-info .qs-option-reviews,
.tool-topsearch .actions,
.tool-topsearch label.label[for="search"],
.tool-topsearch .block.block-title {
    display: none;
}

.tool-topsearch input.input-text {
    border: 1px solid #000;
    border-radius: 4px;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li:last-child .qs-option-info {
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-align: center;
    float: none;
    width: 90%;
    display: block;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete div[data-bind="visible: anyResultCount()"] {
    overflow: auto;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-image {
    max-width: none;
    width: 100%;
    float: none;
    margin: 0 auto;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete {
    left: 0;
    top: 72px;
    width: 800px;
}

.tool-topsearch input.input-text::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

.tool-topsearch input.input-text::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    opacity: 1;
}

.tool-topsearch input.input-text:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

.tool-topsearch input.input-text:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete .product ul li {
    width: 24%;
    border: 1px solid #eee;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 280px;
}

.tool-topsearch .qs-option-price .price-box.price-final_price .price-wrapper .price {
    font-size: 17px;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-info .qs-option-price {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    z-index: 1;
    top: -120px;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-info .qs-option-price .price-box.price-final_price {
    position: absolute;
    z-index: 1;
    bottom: -7px;
    left: 0;
    right: 0;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li a[data-bind="attr: { href: url, title: name }, text: name"] {
    overflow: hidden;
    height: auto;
    display: block;
    position: relative;
    z-index: 100;
    max-height: 50px;
    line-height: 1.2;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete .qs-option-image a[data-bind="attr: { href: url, title: name }"] {
    display: inline-block;
    vertical-align: top;
    line-height: 1.2;
    color: #fff;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li a {
    cursor: pointer;
    color: #000;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-image {
    max-width: none;
    width: 60%;
    float: none;
    margin: 0 auto;
    padding-top: 20px;
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-image a img {
    height: auto;
    max-height: 160px;
}

.tool-topsearch .searchsuite-autocomplete ul li .qs-option-info {
    height: 29%;
    left: 0;
    right: 0;
    text-align: center;
    width: 90%;
    margin: 0 auto 10px;
    padding: 0;
    display: block;
    float: none;
}

.searchsuite-autocomplete ul li .qs-option-info .qs-option-title {
    height: 100%;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    background: transparent;
    color: #fff;
}

.tool-topsearch .form.minisearch .searchsuite-autocomplete .product ul li:hover {
    background-color: #eee;
}

/*responsive styles*/
@media (max-width: 1199px) {
    .tool-topsearch .form.minisearch .searchsuite-autocomplete {
        width: 100%;
    }

    .tool-topsearch .form.minisearch .searchsuite-autocomplete .product ul li {
        min-width: 153px;
    }
}

@media (max-width: 1170px) {
    .tool-topsearch.toggle-tab-mobile.col-sm-12.col-md-4.col-lg-4 {
        top: 0;
    }
}

@media (max-width: 992px) {

    .tool-topsearch .form.minisearch .searchsuite-autocomplete {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tool-topsearch .form.minisearch .searchsuite-autocomplete {
        top: 43px;
    }
}

@media (max-width: 640px) {
    .tool-topsearch .form.minisearch .searchsuite-autocomplete .product ul li {
        min-width: 200px;
    }

    .searchsuite-autocomplete ul {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .tool-topsearch .form.minisearch .searchsuite-autocomplete ul li .qs-option-info .qs-option-price {
        bottom: 40px;
    }
}
/*responsive styles END*/
