.page-wrapper .contact-content .page-subheading {
    padding: 24px 17px;
    display: block;
    background: #f2f2f2;
    height: 66px;
    margin-top: 15px;
    margin-bottom: 0;
    border: 1px solid #808080;
    border-bottom: none;
    font-weight: bold;
    line-height: 23px;
    color: #757575;
    font-size: 14px;
    font-family: Raleway, sans-serif;
    text-transform: capitalize;
}

.page-wrapper .address_data .page-subheading {
    font-size: 23px;
    text-align: center;
}

.contact-content .input-text {
    height: 29px;
    font-size: 13px;
    border-color: #757575;
}

.address_data_wrapper,
.contact_form_wrapper {
    border: 1px solid #808080;
    padding: 15px;
    border-top: 0;
    color: #757575;
}

.contact-form .actions-toolbar .primary {
    background: #f94415;
    border: none;
    border-radius: 0;
    width: 240px;
}

.contact-form .actions-toolbar .primary .action.submit.primary {
    text-align: center;
    display: block;
    width: 100%;
}

.contact-form textarea.input-text {
    max-width: 725px;
    height: 100px;
}

.contact-form .actions-toolbar .primary span {
    color: #fff;
    font-size: 15px;
}

.contact-form button.submit {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
}

.contact_form_wrapper .field span {
    position: relative;
    display: inline-block;
    width: 135px;
    color: #757575;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.address_data_wrapper p {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
    margin-bottom: 10.5px;
}

.contact_form_wrapper .fieldset .field {
    display: inline-block;
    width: 49%;
}

.contact_form_wrapper .field.comment.required {
    width: 100%;
}

.contact_form_wrapper .control,
.contact_form_wrapper .label {
    display: inline-block;
}

.contact_form_wrapper .control {
    min-width: 362px;
    max-width: 362px;
    position: relative;
}

.contact_form_wrapper .control input {
    max-width: 362px;
}

.contact_form_wrapper .field span.glyphicon {
    font-family: 'Glyphicons Halflings', sans-serif;
    position: absolute;
    width: 24px;
}

.contact_form_wrapper .actions-toolbar {
    clear: both;
}

.contact_form_wrapper #recapthca-error.active {
    float: left;
    text-align: left;
    width: auto;
    padding-left: 20px;
    padding-top: 8px;
}

.contact_form_wrapper .control.has-error.has-feedback .glyphicon-remove:before {
    content: "";
    background: url(../images/exit_red_button.png) no-repeat;
}

.contact_form_wrapper .glyphicon-ok:before {
    content: "";
    background: url(../images/green_arrow.png) no-repeat;
}

.contact_form_wrapper .glyphicon:before {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 4px;
}

.contact_form_wrapper .field.comment .label {
    display: block;
}

.contact_form_wrapper .field.comment .control {
    min-width: 100%;
}

.contact-form .field.field-name-prefix .radio-label:first-child {
    margin-right: 15px;
}

.contact-form .control input[type="radio"].input-text + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -2px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.contact-form .control input[type="radio"]:checked + .radio-label:before {
    background-color: gray;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}

.contact-form .field.field-name-prefix input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.contact_form_wrapper div.mage-error[generated] {
    float: left;
    padding-top: 0;
    padding-bottom: 3px;
    margin-top: 0;
}

.contact_form_wrapper #comment-error.mage-error[generated] {
    float: none;
    position: absolute;
}

.contact_form_wrapper .g-recaptcha {
    float: left;
    display: inline-block;
    padding-top: 40px;
    padding-left: 20px;
}

/*RESPONSIVE*/
@media all and (max-width: 1440px) {
    .contact-form .contact_form_wrapper .field.comment.required {
        width: 42%;
    }

    .contact_form_wrapper .g-recaptcha {
        float: left;
        padding-top: 40px;
        padding-left: 65px;
    }
}

@media all and (max-width: 1366px) {
    .contact-content .address_data {
        padding-left: 0;
        padding-right: 0;
    }

    .contact_form_wrapper .g-recaptcha {
        padding-left: 40px;
    }

    .contact-form .contact_form_wrapper .field.comment.required {
        width: 45%;
    }

    .address_data_wrapper p {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 1199px) {
    .contact_form_wrapper .fieldset .field {
        width: 100%;
    }
}

@media all and (max-width: 1024px) {
    .contact-content .short-description {
        padding-bottom: 0;
    }

    .address_data_wrapper {
        word-wrap: unset;
    }

    .address_data_wrapper p {
        font-size: 14px;
        margin-bottom: 21px;
    }
}

@media all and (max-width: 768px) {
    .contact-index-index .page-footer {
        margin-top: 25px;
    }

    .address_data_wrapper p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .contact-index-index main#maincontent {
        top: 0;
    }
}

@media all and (max-width: 500px) {
    .contact_form_wrapper .control input,
    .contact-form .contact_form_wrapper .field.comment.required {
        width: 90%;
        max-width: none;
    }

    .contact_form_wrapper #recapthca-error.active,
    .contact_form_wrapper .g-recaptcha {
        padding-left: 0;
    }
}

@media all and (max-width: 425px) {
    .contact_form_wrapper .control {
        min-width: 100%;
    }

    .form.contact .contact-content .actions-toolbar {
        text-align: center;
    }

    .contact-content .address_data {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact_form_wrapper .fieldset .field {
        display: inline-block;
        width: 100%;
    }

    .contact-content .input-text {
        max-width: 100%;
    }

    .contact-form .actions-toolbar .primary {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 320px) {
    .contact-form .contact_form_wrapper .field.comment.required,
    .contact_form_wrapper .control input {
        width: 75%;
    }

    .contact_form_wrapper .g-recaptcha {
        transform: scale(0.8);
    }
}

/*RESPONSIVE END*/
