<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="footer-copyright">
	<div class="footer-links-holder">
		<a href="/impressum"><?php echo __('impressum') ?></a>
		<a href="/contact"><?php echo __('contact') ?></a>
	</div>
		<div class="copyright-holder">
			<small class="copyright">
				<span><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></span>
			</small>
		</div>
</div>