<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

?>
<header class="page-header alothemes">
    <div class="header">
        <div class="header-top">
            <div class="top_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="phone_holder col-sm-3 col-lg-3">
                            <span class="phone_data" x-ms-format-detection="none">041 511 51 00</span>
                        </div>
                        <div class="delivery_holder col-sm-5 col-lg-5">
                            <span class="delivery_text"><?php echo __('Free delivery within 48 hours');?></span>
                        </div>
                        <div class="assortment_holder col-sm-4 col-lg-4">
                            <span class="assortment_text"><?php echo __('Biggest delight selection');?></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="main-fix bg-white clearfix col-sm-12 col-lg-12">
                            <div class="top-left top-mobile">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('support')->toHtml(); ?>
                            </div>
                            <div class="top-right top-mobile">
                                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('store-location')->toHtml(); ?>
                                <div class="tool-setting">
                                    <div class="header-setting">
                                        <div class="settting-switcher">
                                            <?php echo $this->getChildHtml('store_language'); ?>
                                        </div>
                                    </div>
                                    <div class="header-setting currency_top">
                                        <div class="settting-switcher">
                                            <?php echo $this->getChildHtml('currency'); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-content header-sticker">
            <div class="container">
                <div class="row clearfix">
                    <div class="content-logo .col-xs-12 col-sm-3 col-lg-3">
                        <div class="header-logo">
                            <?php echo $this->getChildHtml('logo'); ?>
                        </div>
                    </div>
                    <div class="tool-topsearch toggle-tab-mobile col-sm-12 col-md-4 col-lg-4">
                        <div class="toggle-content-none">
                            <?php echo $this->getChildHtml('top.search'); ?>
                        </div>
                    </div>
                    <div class="content-links content-cart col-sm-3 col-md-5 col-lg-5">
                        <?php echo $this->getChildHtml('header.links'); ?>
                        <div class="tool-header">
                            <div class="top-link-product">
                                <a title="My wishlist" href="<?php echo $this->getUrl('wishlist') ?>" target="_blank"
                                   class="wishlist icon icon-heart icons"> <?php // echo __('wishlist'); ?>
                                    <?php $counter = $this->helper('Magento\Wishlist\Helper\Data')->getItemCount() ?>
                                    <?php if ($counter): ?>
                                        <span class="counter"><?php echo $counter > 0 ? $counter : 0; ?></span>
                                    <?php endif; ?>
                                </a>
                            </div>
                            <?php echo $this->getChildHtml('minicart'); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="container">
                <div class="row clearfix">
                    <div class="header-main-bottom">
                        <div class="col-sm-12 col-md-12 visible-md-on menu-mobile">
                            <?php echo $this->getChildHtml('navigation.sections'); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</header>
