<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var \Meridian\ProductUpd\Helper\Data $helper */
$helper = $this->helper('Meridian\ProductUpd\Helper\Data');
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$_registry = $objectManager->get('\Magento\Framework\Registry');
$currentCategory = $helper->_getCurrentCategory();
$currentProduct = $helper->_getCurrentProduct();
$_canShow = false;
$isCustomPrice = $block->getUseCustomPrice();
$fullActionName = $block->getRequest()->getFullActionName();
$moduleName = $block->getRequest()->getModuleName();
$isModuleName = $moduleName == 'cms';
$isHomePage = $fullActionName == 'cms_index_index';
if(is_object($currentCategory) || is_object($currentProduct) ||
    $isModuleName || $moduleName == 'magicproduct' || $moduleName ==  'catalogsearch' || $moduleName ==  'marken'){
    $_canShow = true;
}
?>

<?php /** @var \Magento\Framework\Pricing\Render\Amount $block */ ?>

<span class="price-container <?php /* @escapeNotVerified */ echo $block->getAdjustmentCssClasses() ?>"
    <?php echo $block->getSchema() ? ' itemprop="offers" itemscope itemtype="http://schema.org/Offer"' : '' ?>>
    <?php if ($block->getDisplayLabel()): ?>
        <span class="price-label"><?php /* @escapeNotVerified */ echo $block->getDisplayLabel(); ?></span>
    <?php endif; ?>
    <span <?php if ($block->getPriceId()): ?> id="<?php /* @escapeNotVerified */ echo $block->getPriceId() ?>"<?php endif;?>
        <?php echo($block->getPriceDisplayLabel()) ? 'data-label="' . $block->getPriceDisplayLabel() . $block->getPriceDisplayInclExclTaxes() . '"' : '' ?>
        data-price-amount="<?php /* @escapeNotVerified */ echo $block->getDisplayValue(); ?>"
        data-price-type="<?php /* @escapeNotVerified */ echo $block->getPriceType(); ?>"
        class="price-wrapper <?php /* @escapeNotVerified */ echo $block->getPriceWrapperCss(); ?>"
        <?php echo $block->getSchema() ? ' itemprop="price"' : '' ?>>
        <?php if($_canShow): ?>
        <?php /* @escapeNotVerified */ echo $helper->formatPrice($block->getAmount()->getValue(),false,$block->getPriceType()) ?>
        <?php else: ?>
        <?php /* @escapeNotVerified */ echo $block->formatCurrency($block->getDisplayValue(), (bool)$block->getIncludeContainer()) ?>
        <?php endif; ?>
    </span>
    <?php if ($block->hasAdjustmentsHtml()): ?>
        <?php echo $block->getAdjustmentsHtml() ?>
    <?php endif; ?>
    <?php if ($block->getSchema()): ?>
        <meta itemprop="priceCurrency" content="<?php /* @escapeNotVerified */ echo $block->getDisplayCurrencyCode()?>" />
    <?php endif; ?>
</span>
