<!--@subject Gift certificate {{var gift_code}} @-->
<!--@vars {
"var store url=\"\"":"Store Url",
"var recipient_name":"Recipient name",
"var sender_name":"Sender name",
"var sender_message":"Sender message",
"var initial_value":"Initial value",
"var currency_code":"Currency code",
"var gift_code":"Gift Code",
"var expired_date":"Gift card expiry date",
"var image_base64":"Image base64 code"
} @-->
<!--@styles
@-->

{{template config_path="design/email/header_template"}}
<table cellspacing="0" cellpadding="0" class="message-container">
    <tr>
        <td>
            Dear {{var recipient_name}},<br>
            <br>
            {{var sender_name}} purchased a {{var initial_value}}{{var currency_code}} gift card for you at {{var store.getFrontendName()}}.<br>

            {{if sender_message}}
            Please find below message from {{var sender_name}}:<br>
            <br>
            {{var sender_message}}<br>
            {{/if}}
            <br>
            Please use the following gift card code at {{var store.getFrontendName()}}:<br>
            <br>
            {{var gift_code}}<br>
            <br>
            {{if image_base64}}<img src="{{var image_base64}}"><br>{{/if}}

            <br>
            Look forward to seeing you at our store.
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
