<?php
$title = $block->getTitle() ? __($block->getTitle()) : '';
$carriers = $block->getShippingMethods();
?>
<div class="block widget block-lieferservice">
    <?php if ($title):?>
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content">
        <?php if(count($carriers)): ?>
            <p><strong><?php echo __('Haulier') ?></strong></p>
            <ul class="shipping-lists">
                <?php foreach ($carriers as $carrier): ?>
                    <?php foreach ($carrier['value'] as $child):
                        $selected = '';
                        if(isset($wodAttrributes['wod_ship'])){
                            $selected = ($wodAttrributes['wod_ship'] == $child['value']) ? 'checked="checked"' : '';
                        }
                        ?>
                        <li>
                            <label><?php /* @escapeNotVerified */ echo $carrier['label'] ?></label>
                        </li>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    </div>
</div>