.page-product-amgiftcard .am_giftcard_recipient_email,
.page-product-amgiftcard #am_giftcard_amount_custom {
    width: 49%;
    position: relative;
}

.page-product-amgiftcard span.glyphicon.form-control-feedback, .customer-account-create span.glyphicon.form-control-feedback {
    position: absolute;
    float: right;
}

.page-product-amgiftcard .control.has-error.has-feedback .glyphicon-remove:before {
    content: "";
    background: url(../images/exit_red_button.png) no-repeat;
}

.page-product-amgiftcard .glyphicon:before {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 4px;
    top: 12px;
}

.page-product-amgiftcard .product-qty .glyphicon.form-control-feedback.glyphicon-ok,
.page-product-amgiftcard .box-tocart .product-qty .glyphicon.form-control-feedback.glyphicon-remove:before {
    display: none;
}

.page-product-amgiftcard .product-view .primary.actions-primary button.action.submit.primary {
    height: 60px;
}

.page-product-amgiftcard .glyphicon-ok:before {
    content: "";
    background: url(../images/green_arrow.png) no-repeat;
}

.page-product-amgiftcard .product-view .primary.actions-primary button.action.submit.primary span {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 19px;
    line-height: 39px;
}

.page-product-amgiftcard #am_giftcard_amount_custom {
    min-width: 300px;
}

.page-product-amgiftcard .field.review-field-text.required,
.page-product-amgiftcard #am_giftcard_message {
    height: 120px;
    margin-bottom: 15px;
    max-width: 720px;
}

.page-product-amgiftcard .actions-toolbar.review-form-actions .tocart.button {
    border-radius: 0;
    border: none;
    background: #f94415;
    color: #fff;
}

.page-product-amgiftcard .actions-toolbar.review-form-actions .tocart.button span {
    font-size: 19px;
    line-height: 39px;
}

.page-product-amgiftcard .am_giftcard_recipient_name,
.page-product-amgiftcard .am_giftcard_recipient_data,
.page-product-amgiftcard .am_giftcard_sender_surname,
.page-product-amgiftcard .am_giftcard_sender_email,
.page-product-amgiftcard .am_giftcard_sender_name {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    position: relative;
}

.page-product-amgiftcard .field {
    position: relative;
}

.page-product-amgiftcard .am_giftcard_recipient_name label,
.page-product-amgiftcard .am_giftcard_recipient_data label,
.page-product-amgiftcard .am_giftcard_sender_surname label,
.page-product-amgiftcard .am_giftcard_sender_email label,
.page-product-amgiftcard .am_giftcard_sender_name label {
    padding-top: 0;
}

.page-product-amgiftcard .am_giftcard_recipient_data {
    float: right;
    position: relative;
    top: -82px;
    right: 11px;
}

.field.required.amgiftcard_amount {
    width: 49.9%;
    position: absolute;
    right: 0;
    margin-top: -72px;
}

.field.required.amgiftcard_amount .label {
    margin-top: -20px;
    position: relative;
    top: -22px;
}

.field.required.amgiftcard_amount label {
    display: inline-block;
    padding: 0;
}

#amgiftcard_amount_custom_block {
    display: inline-block;
}

.page-product-amgiftcard .am_giftcard_recipient_name {
    display: block;
    width: 49%;
}

.page-product-amgiftcard .am_giftcard_sender_email,
.page-product-amgiftcard .am_giftcard_recipient_name,
.page-product-amgiftcard .am_giftcard_sender_name {
    margin-right: 10px;
    vertical-align: text-top;
    position: relative;
}

.page-product-amgiftcard .box-tocart .product-qty .has-feedback.has-success .mage-error.help-block,
.page-product-amgiftcard .box-tocart .control.custom-qty .has-feedback.has-success .mage-error.help-block {
    display: none;
}

.page-product-amgiftcard div#amgiftcard_amount_custom_block div.mage-error {
    float: none;
    position: absolute;
}

.page-product-amgiftcard #am_giftcard_amount_custom {
    margin-top: 0;
}

.page-product-amgiftcard .label span {
    color: rgb(117, 117, 117);
}

.page-product-amgiftcard div#amgiftcard_amount_custom_block div {
    font-size: 13px;
}

.page-product-amgiftcard .product-info-stock-sku {
    display: none;
}

.page-product-amgiftcard .box-tocart {
    margin-top: 20px;
}

.product-info-title {
    float: none !important;
}

.product-view.page-product-amgiftcard .product-shop .page-title-wrapper .page-title span.base {
    margin-right: 0;
}

.page-product-amgiftcard .text_giftcard {
    margin-top: 0;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.page-product-amgiftcard .header_giftcard {
    padding: 24px 17px;
    display: block;
    background: #f2f2f2;
    height: 66px;
    margin-top: 15px;
    margin-bottom: 0;
    border: 1px solid #808080;
    border-bottom: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Avenir Next LT Pro', sans-serif;
}

.page-product-amgiftcard.page-layout-1column .product-view .product-info-main {
    width: 76%;
}

.page-product-amgiftcard .giftpage_wrapper {
    border: 1px solid #808080;
    padding: 15px;
    border-top: 0;
}

.page-product-amgiftcard .giftpage_image_holder {
    position: absolute;
    right: -31%;
}

.page-product-amgiftcard .field.review-field-nickname .input-text,
#am_giftcard_amount_custom,
.page-product-amgiftcard .giftpage_wrapper .input-box input {
    height: 30px;
    font-size: 13px;
    max-width: 300px;
    border-color: #757575;
}

.page-product-amgiftcard #am_giftcard_message {
    border-color: #757575;
}

.page-product-amgiftcard .input-box {
    display: inline-block;
    width: 50%;
}

.giftpage_wrapper .required .label span:after {
    content: "*";
    position: absolute;
    top: -2px;
    font-size: 22px;
    display: inline-block;
}

.giftpage_wrapper .label span {
    position: relative;
    display: inline-block;
    width: 190px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.label[for="am_giftcard_message"] {
    display: block;
    width: 100%;
    float: none;
    clear: both;
}

.giftpage_wrapper div.mage-error[generated] {
    float: left;
}

.page-product-amgiftcard .review-form textarea {
    border-color: #757575;
}

.page-product-amgiftcard .control.custom-qty.has-feedback.has-success .mage-error.help-block {
    display: none;
}

.page-product-amgiftcard .control.custom-qty.has-feedback.has-success .mage-error.help-block {
    float: left;
}

.fieldset.giftcard .required-fields{
    text-align: right;
}

/*responsive*/
@media all and (max-width: 1800px) {
    .page-product-amgiftcard #am_giftcard_amount_custom {
        min-width: 280px;
    }

    .field.required.amgiftcard_amount {
        margin-top: -30px;
    }
}

@media all and (max-width: 1700px) {
    .page-product-amgiftcard .giftpage_image_holder {
        width: 30%;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        min-width: 0;
        width: 100%;
    }
}

@media all and (max-width: 1600px) {
    .page-product-amgiftcard.page-layout-1column .product-view .product-info-main {
        width: 75%;
    }
}

@media all and (max-width: 1440px) {
    .page-product-amgiftcard .input-box {
        max-width: 200px;
    }

    .field.required.amgiftcard_amount label {
        margin-top: 0;
        position: relative;
        top: 10px;
    }

    .page-product-amgiftcard label[for="am_giftcard_message"] ~ .input-box {
        max-width: 100%;
        width: 100%;
    }

    .page-product-amgiftcard .am_giftcard_recipient_data {
        right: 5px;
    }

    .page-product-amgiftcard .field.required.amgiftcard_amount .glyphicon.form-control-feedback.glyphicon-remove:before {
        top: 4px;
    }

    .page-product-amgiftcard .giftpage_image_holder {
        width: 30%;
    }

    .field.required.amgiftcard_amount label {
        width: 190px;
        position: relative;
        vertical-align: top;
    }

    .field.required.amgiftcard_amount {
        padding-top: 10px;
        position: relative;
        margin-top: 0;
        width: 100%;
    }

    .field.required.amgiftcard_amount label span {
        width: auto;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        min-width: 200px;
    }
}

@media all and (max-width: 1367px) {
    .page-product-amgiftcard #am_giftcard_amount_custom {
        min-width: 199px;
    }
}

@media all and (max-width: 1366px) {

    .giftpage_image_holder img {
        width: 75%;
        float: right;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        min-width: 180px;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom,
    .page-product-amgiftcard .input-box {
        max-width: 180px;
    }
}

@media all and (max-width: 1200px) {
    .page-product-amgiftcard .am_giftcard_recipient_data {
        top: -67px;
        right: 0;
    }
}

@media all and (max-width: 1100px) {
    .page-product-amgiftcard.page-layout-1column .product-view .product-info-main {
        width: 70%;
    }
}

@media all and (max-width: 1024px) {
    .page-product-amgiftcard .am_giftcard_recipient_email, .page-product-amgiftcard #am_giftcard_amount_custom {
        width: 100%;
    }

    .page-product-amgiftcard .input-box {
        max-width: 50%;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        max-width: 300px;
    }

    .page-product-amgiftcard .giftpage_image_holder {
        position: absolute;
        right: -41%;
        width: 46%;
    }

    .field.required.amgiftcard_amount {
        margin-top: 0;
        position: relative;
        width: 100%;
    }

    .field.required.amgiftcard_amount label {
        width: 190px;
        padding-top: 0;
    }

    .field.required.amgiftcard_amount {
        padding-top: 10px;
    }

    #amgiftcard_amount_custom_block {
        display: inline-block;
        width: 50%;
    }

    .page-product-amgiftcard .am_giftcard_sender_surname,
    .page-product-amgiftcard .am_giftcard_recipient_name,
    .page-product-amgiftcard .am_giftcard_recipient_data,
    .page-product-amgiftcard .am_giftcard_sender_email,
    .page-product-amgiftcard .am_giftcard_sender_name {
        display: inline-block;
        width: 100% !important;
    }

    .page-product-amgiftcard .am_giftcard_recipient_data {
        float: none;
        top: 0;
    }
}

@media all and (max-width: 991px) and (min-width: 768px) {
    .product-primary-column {
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .page-product-amgiftcard .glyphicon:before {
        top: 4px;
    }

    .field.required.amgiftcard_amount label {
        top: 0;
    }

    .page-product-amgiftcard main#maincontent {
        position: relative;
        top: 0;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        max-width: 90%;
    }

    .page-product-amgiftcard .control.custom-qty.has-feedback.has-success .mage-error.help-block {
        float: left;
    }

    .page-product-amgiftcard div#amgiftcard_amount_custom_block div.mage-error {
        float: left;
        position: relative;
    }

    .catalog-product-view .product-view .primary.actions-primary button.action.submit.primary {
        width: 100%;
        height: 60px;
        line-height: 1.5;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        min-width: 228px;
    }

    .page-product-amgiftcard .am_giftcard_recipient_email,
    .page-product-amgiftcard #am_giftcard_amount_custom {
        width: 100%;
    }

    .page-product-amgiftcard .giftpage_image_holder {
        width: 60%;
        right: -38%;
    }

    .page-product-amgiftcard .product-view .add-to-cart button.button {
        margin-bottom: 15px;
    }

    .giftpage_image_holder img {
        width: 60%;
    }

    .page-product-amgiftcard .field.review-field-nickname .input-text,
    #am_giftcard_amount_custom, .page-product-amgiftcard .giftpage_wrapper .input-box input {
        max-width: 90%;
    }

    #amgiftcard_amount_custom_block,
    .page-product-amgiftcard .input-box {
        width: 100%;
        position: relative;
        max-width: 100%;
    }
}

@media all and (max-width: 767px) {
    .page-product-amgiftcard .giftpage_image_holder {
        display: none;
    }

    .catalog-product-view .product-view .primary.actions-primary button.action.submit.primary span {
        font-size: 19px;
        font-weight: bold;
    }

    .page-product-amgiftcard.page-layout-1column .product-view .product-info-main {
        width: 100%;
    }

    .page-product-amgiftcard .primary.actions-primary button.action.submit.primary span {
        font-size: 19px;
        line-height: 39px;
        font-weight: bold;
    }

    .page-product-amgiftcard .primary.actions-primary button.action.submit.primary {
        height: 40px;
        padding: 0 10px;
    }
}

@media all and (max-width: 640px) {
    .field.am_giftcard_message .input-box {
        width: 100%;
    }
}

@media all and (max-width: 425px) {
    .field.required.amgiftcard_amount {
        padding-top: 0;
    }

    .page-product-amgiftcard .input-box {
        max-width: 90%;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        max-width: 81%;
    }

    .page-product-amgiftcard .field.review-field-nickname .input-text,
    #am_giftcard_amount_custom,
    .page-product-amgiftcard .giftpage_wrapper .input-box input {
        max-width: 100%;
    }

    .page-product-amgiftcard .glyphicon-ok:before,
    .page-product-amgiftcard .control.has-error.has-feedback .glyphicon-remove:before {
        top: 0;
        left: 10px;
    }

    .field.am_giftcard_message .input-box {
        padding-top: 20px;
    }

    .page-product-amgiftcard .primary.actions-primary button.action.submit.primary,
    .page-product-amgiftcard .product-view .add-to-cart button.button {
        width: 100%;
        height: 60px;
        line-height: 1.5;
    }

    .page-product-amgiftcard .product-view .add-to-cart button.button span {
        font-size: 19px;
        padding: 0;
    }

    .page-product-amgiftcard .input-box {
        display: inline-block;
        width: 100%;
    }

    .page-product-amgiftcard .am_giftcard_recipient_data {
        right: 0;
    }

    .field.required.amgiftcard_amount {
        margin-top: 0;
        float: none;
        position: relative;
        width: 100%;
    }

    #am_giftcard_amount_custom, .page-product-amgiftcard .giftpage_wrapper .input-box input {
        max-width: 90%;
    }

    .field.required.amgiftcard_amount label {
        padding-top: 15px;
    }

    #amgiftcard_amount_custom_block {
        width: 100%;
    }
}

@media all and (max-width: 320px) {
    .page-product-amgiftcard .glyphicon-ok:before, .page-product-amgiftcard .control.has-error.has-feedback .glyphicon-remove:before {
        top: 0;
        left: 4px;
    }

    .page-product-amgiftcard #am_giftcard_amount_custom {
        min-width: 200px;
    }
}
/*responsive END*/