/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author:Magiccart<team.magiccart@gmail.com>
 * @@Create Date:2014-04-26 11:18:55
 * @@Modify Date: 2017-06-01 21:24:43
 * @@Function:*/
.sections .nav-sections-item-content > .navigation {
    display: none;
}

.nav-sections-item-content .magicmenu {
    position: relative;
    display: block;
    text-align: left;
    padding: 0 !important;
}

.magicmenu {
    position: relative;
}

.magicmenu .nav-desktop {
    position: relative;
    padding: 0;
    height: 190px;
    margin: 0;
}

.magicmenu .nav-desktop .level0 {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.magicmenu .nav-desktop .level0:last-child {
    margin-right: 0;
}

.magicmenu .nav-desktop .level0.logo.display {
    display: none;
    border: 0;
}

.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a {
    border: 0;
    padding: 10px;
    width: 71px;
}

.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a img {
    max-width: 100%;
}

.magicmenu .nav-desktop .level0 > a:hover .short_desc {
    color: #888888;
}

.magicmenu .nav-desktop .level0 .level-top {
    padding: 19px 20px;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    outline: medium none;
    display: block;
    text-align: left;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
}

.magicmenu .nav-desktop .level0 .level-top span.icon-text {
    padding: 0;
    text-decoration: none;
    outline: medium none;
    text-align: left;
}

.magicmenu .nav-desktop .level0 .level-top span.cat_label {
    right: 20px;
    top: -8px;
}

.magicmenu .nav-desktop .level0 .level-top > span {
    white-space: nowrap;
    font-size: 14px;
}

.page-header .magicmenu .nav-desktop .level0 .level-top > span {
    width: 135px;
    white-space: normal;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 24px;
    color: #fff;
    font-family: 'Avenir Next LT Pro', sans-serif !important;
    font-weight: 100;
    padding-top: 6px;
    text-align: center;
    margin-left: -20px;
    z-index: 2;
}

.header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover a.level-top:after {
    display: block;
    width: 205px;
    height: 190px;
    left: -52px;
    top: -31px;
    background: #fff;
    position: absolute;
    z-index: 0;
    content: "";
}

.magicmenu .level0 .level-top img {
    display: none;
    padding-right: 15px;
    vertical-align: middle;
}

.magicmenu .nav-desktop .level0.home {
    margin-left: 20px;
    position: static;
}

.magicmenu .nav-desktop .level0.home .level-top .icon {
    display: none;
}

.magicmenu .nav-desktop .level0.home .level-top .icon-home {
    font-size: 15px;
}

.magicmenu .nav-desktop .level0 .level-top-mega,
.magicmenu .nav-desktop .level0.dropdown > .level0 {
    border-style: solid;
    border-width: 1px;
    padding: 0 0 0 35px;
    position: absolute;
    z-index: 99999;
    display: block;
    opacity: 0;
    top: 130%;
    visibility: hidden;
    transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.magicmenu .nav-desktop .level0:hover .level-top-mega,
.magicmenu .nav-desktop .level0.dropdown:hover > .level0 {
    opacity: 1;
    top: 51px;
    visibility: visible;
}

.magicmenu .nav-desktop .level0.home .level-top-mega {
    padding: 20px 25px 25px;
    min-width: 175px;
    text-align: left;
}

.magicmenu .nav-desktop .level0.home .level-top-mega div a span {
    font-size: 14px;
    line-height: 27px;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children a {
    position: relative;
    display: block;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children a, .magicmenu .nav-desktop p {
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 20px;
}

.magicmenu .nav-desktop .level0.dropdown > .level0 li a span,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0 li a span,
.magicmenu .nav-desktop .level0.ext .level0.dropdown li a span,
.magicmenu .nav-desktop .level0 .level-top-mega .children a span,
.magicmenu .nav-desktop .level0.dropdown .dropdown .level1 a {
    font-size: 13px;
}

.magicmenu .nav-desktop .level-top a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0 0;
    display: block;
    line-height: 16px;
    margin: 0 23px 0 0;
    text-transform: uppercase;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a span {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 21px;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a:before,
.vmagicmenu .level0 .level-top-mega .children > a:before {
    border-width: 0 0 2px;
    border-style: solid;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    bottom: -5px;
    width: 20px;
    display: none;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children .nav:last-child {
    border: 0 none;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top, .magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom {
    width: 100%;
    clear: both;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom {
    text-align: center;
    padding: 25px 0 0;
}

.magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal {
    overflow: hidden;
    width: 100% !important;
    max-width: 1708px;
    margin: 0 auto 0;
    height: 295px;
}

.magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal .cat-mega {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.magicmenu .nav-desktop .level0 .level0.mage-column {
    margin-top: 0;
}

div.menu-banner-left-block {
    width: 339px;
    height: 262px;
    float: right;
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 8%;
    overflow: hidden;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mage-column.cat-mega {
    float: left;
    max-width: 1330px;
    position: relative;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children {
    float: left;
    text-align: left;
    width: 190px;
    padding-right: 43px;
    box-sizing: border-box;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children ul {
    margin-right: 0;
    padding: 0;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children > ul {
    padding: 0;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mage-column li {
    margin: 0;
}

.mage-column.mega-block-left {
    float: left;
}

.mage-column.mega-block-right {
    float: right;
    padding: 25px 30px 0;
}

.banner-menu-right {
    padding: 30px 10px 0 0;
}

.banner-menu-position img {
    bottom: 0;
    left: 50%;
    position: absolute;
    z-index: -1;
}

.block-left, .block-right, .cat-mega {
    float: left;
}

.block-bottom {
    clear: both;
}

.cms-static-banner-position {
    position: absolute;
    right: 10px;
    bottom: 35px;
    z-index: -1;
}

.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top {
    margin: 0;
    overflow: hidden;
}

.magicmenu .nav-desktop .level0.cat.hasChild.parent:first-child .children.level1:last-child {
    position: absolute;
    float: none;
    left: 190px;
    top: 60px;
}

.magicmenu .nav-desktop .level0.cat.hasChild.parent:first-child .children.level1:last-child {
    margin: 0;
    padding: 0;
}

.magicmenu .nav-desktop .level0 .level-top .short_desc {
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    text-transform: capitalize;
    color: #999;
}

.vmagicmenu .level0 .level-top-mega .children.level1 > a.a-image::before, .magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a.a-image::before {
    display: none;
    padding: 0;
}

/* --- dropdown --- */
.magicmenu .nav-desktop .level0.dropdown li {
    margin: 0;
}

.magicmenu .nav-desktop .level0.dropdown > .level0,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0,
.magicmenu .nav-desktop .level0.ext .level0.dropdown {
    width: 215px;
    padding: 20px 0;
    line-height: 38px;
    text-align: left;
}

.magicmenu .nav-desktop .level0.dropdown.home > .level0 {
    width: 200px;
}

.magicmenu .nav-desktop .level0.dropdown .hasChild,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild {
    position: relative;
    margin: 0;
}

.vmagicmenu .vmagicmenu-narrow .level0.dropdown li {
    margin: 0;
}

.magicmenu .nav-desktop .level0.dropdown .hasChild > a:before,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild > a:before {
    content: "\f105";
    display: block;
    line-height: 38px;
    font-size: 13px;
    position: absolute;
    right: 15px;
    text-align: right;
    font-family: "FontAwesome", sans-serif;
}

.magicmenu .nav-desktop .level0.dropdown .hasChild ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul {
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    border-width: 1px;
    border-style: solid;
    padding: 20px 0px;
    min-width: 200px;
    z-index: 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.magicmenu .nav-desktop .level0.dropdown .hasChild:hover > ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild:hover > ul {
    opacity: 1;
    visibility: visible;
}

.magicmenu .nav-desktop .level0.dropdown .level1 a,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a {
    padding: 0 18px;
    display: block;
    text-transform: uppercase;
}

.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul li {
    margin: 0;
}

/* --- ul leve2 --- */
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild {
    position: relative;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:before {
    content: "\f105";
    display: block;
    line-height: 32px;
    font-size: 13px;
    position: absolute;
    right: 30px;
    text-align: right;
    font-family: "FontAwesome", sans-serif;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild ul {
    position: absolute;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 5px 0 5px 30px;
    min-width: 200px;
    z-index: 1;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:hover > ul {
    opacity: 1;
    left: 90%;
    visibility: visible;
}

/* Vertical Menu*/
.vmagicmenu {
    display: block !important;
    position: relative;
    padding: 0px;
    z-index: 90;
    width: 280px;
    float: left;
}

.vmagicmenu .block-vmagicmenu-content {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    padding: 0;
    border-color: #dfdfdf;
    min-width: 270px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out 0s;
}

.vmagicmenu .vmagicmenu-narrow {
    margin: 0;
    padding: 0;
}

.vmagicmenu:hover .block-vmagicmenu-content {
    opacity: 1;
    visibility: visible;
}

.vmagicmenu .block-title {
    padding: 0 25px;
    line-height: 52px;
}

.vmagicmenu .block-title span {
    font-size: 18px;
    vertical-align: middle;
}

.vmagicmenu .block-title .vmagicmenu-subtitle {
    padding: 0 0 0 15px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: normal;
}

.vmagicmenu .level0 {
    padding: 0;
    margin: 0;
    float: left;
    line-height: 48px;
    width: 100%;
    list-style: none; /* position: relative; */
}

.vmagicmenu .level0.last {
    border: none;
}

.vmagicmenu .level0:hover .level0 {
    background-color: transparent;
}

.vmagicmenu .level0 .level-top {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 18px;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
    display: block;
    outline: medium none;
    position: relative;
    text-transform: uppercase;
}

.vmagicmenu .level0 .level-top img {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}

.vmagicmenu .level0.hasChild .level-top:after {
    content: "\f105";
    font-family: "FontAwesome", sans-serif;
    float: right;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    vertical-align: middle;
    font-size: 13px;
    position: relative;
}

.vmagicmenu .level0 .level-top span {
    font-size: 13px;
    vertical-align: middle;
}

.vmagicmenu .level0 .level-top-mega, .vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0 {
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 0 !important;
    left: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden; /* left: 100%; transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s; -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;transition: opacity 0.5s, transform 0.5s;-webkit-transition: all 0.45s ease-out 0s;-moz-transition: all 0.45s ease-out 0s;-o-transition: all 0.45s ease-out 0s;transition: all 0.45s ease-out 0s;-moz-transform: translate(100px, 0);-webkit-transform: translate(100px, 0);transform: translate(100px, 0); */
}

.vmagicmenu .level0:hover .level-top-mega,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown.hasChild:hover > ul {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.vmagicmenu .level0 .level-top-mega .content-mega {
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

.vmagicmenu .level0 .level-top-mega .children a, .vmagicmenu p {
    line-height: 30px;
    text-align: left;
    text-decoration: none;
    position: relative;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.vmagicmenu .level0 .level-top-mega .children a span,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a span {
    font-size: 14px;
}

.vmagicmenu .level0 .level-top-mega .children > a {
    border-width: 0px;
    border-style: solid;
    display: block;
    padding-top: 25px;
    position: relative;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}

.vmagicmenu .level0 .level-top-mega .children > a span {
    font-weight: 600;
    font-size: 14px;
}

.vmagicmenu .level-top a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: left
}

.vmagicmenu .level0 .level-top-mega .children .level-3 {
    font-size: 100%;
    padding: 0 0 5px;
    line-height: 30px
}

.vmagicmenu .level0 .level-top-mega .children .level-3 a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

.vmagicmenu .level0 .level-top-mega .children .nav {
    line-height: 26px;
    border-bottom: 1px solid #ececec
}

.vmagicmenu .level0 .level-top-mega .children .nav:last-child {
    border: none
}

.vmagicmenu .level0 .level-top-mega .children > .nav {
    border: none
}

.vmagicmenu .level0 .level-top-mega .children .nav a {
    font-weight: 300
}

.vmagicmenu .level0 .level-top-mega .mega-block-top, .vmagicmenu .level0 .level-top-mega .mega-block-bottom {
    width: 100%
}

.vmagicmenu .level0 .level-top-mega .mega-block-bottom {
    clear: both;
    padding: 25px 0 0;
}

.vmagicmenu .level0 .level-top-mega .mega-block-bottom img {
    margin: 0 auto;
}

.vmagicmenu .level0 .level-top-mega .mage-column .children {
    float: left;
    width: 220px;
    text-align: left;
    padding-left: 30px;
    margin: 0;
}

.vmagicmenu .level0 .level-top-mega .mage-column li {
    margin: 0;
}

.vmagicmenu .level0 .level-top-mega .mage-column .children ul {
    list-style: outside none none;
}

.vmagicmenu .level0 .level0 .children > ul {
    margin: 0;
    padding: 5px 0 15px;
}

.vmagicmenu .level0 .level-top-mega .mage-column .children ul li {
    margin: 0;
}

.vmagicmenu .banner-menu-position img {
    margin-left: -30px;
}

.header-container-fixed .magicmenu .nav-desktop .level0 .level-top span.cat_label {
    top: 0;
}

.vmagicmenu .vmagicmenu-narrow > li:nth-child(n+9) {
    display: none;
}

.all-cat {
    display: block;
    margin-top: 10px;
}

.all-cat span {
    padding: 0;
    cursor: pointer;
    display: block;
    line-height: normal;
    width: 100%;
    clear: both;
    font-size: 13px;
    text-transform: uppercase;
}

.all-cat span:after {
    content: "\f101";
    font-family: FontAwesome, sans-serif;
    padding-left: 5px;
}

.vmagicmenu .all-cat {
    padding: 17px 18px 36px;
    margin: 0;
    text-align: center;
    clear: both;
}

.mean-bar .all-cat {
    padding: 0;
}

.mean-bar .level0 .level-top img {
    display: none;
}

.sidebar .accordion-container {
    margin-bottom: 20px;
}

.sidebar .accordion-container .mean-bar {
    border: 0 solid #ebebeb;
    padding: 0 0 20px;
}

.accor-title {
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.35;
    margin: 0;
    padding: 0 0 15px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}

.sidebar .nav-accordion {
    padding: 13px 0 0;
}

ul.nav-accordion {
    line-height: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0 0 30px;
}

ul.nav-accordion li {
    position: relative;
    margin: 0;
}

ul.nav-accordion li.last {
    border-bottom: 0 none;
}

ul.nav-accordion li a {
    text-transform: capitalize;
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    color: #333e48;
    outline: medium none;
}

ul.nav-accordion li a span {
    font-size: 15px;
}

.filter-options .filter-options-content .item span.count,
ul.nav-accordion li a span,
.filter-options .filter-options-content .item a,
ul.nav-accordion li.active > a, ul.nav-accordion li.active .mean-expand.mean-clicked:before,
ul.nav-accordion li a:hover, .all-cat:hover span, ul.nav-accordion ul ul li:hover a:before {
    color: #333;
}

ul.nav-accordion li > ul.submenu > li > a {
    padding-left: 20px;
}

ul.nav-accordion li > ul.submenu > li > ul.submenu a {
    padding-left: 0;
}

ul.nav-accordion li ul li ul li.parent > a {
    padding: 0 0 0 20px;
}

ul.nav-accordion li ul li.parent > a span:before {
    display: none;
}

ul.nav-accordion ul {
    margin: 0;
    padding: 0;
}

ul.nav-accordion ul.submenu {
    display: none;
}

ul.nav-accordion ul li {
    clear: both;
    margin: 0;
    padding: 0;
}

ul.nav-accordion ul li a {
    outline: none;
}

ul.nav-accordion ul li.active {
    font-weight: normal;
}

ul.nav-accordion ul ul li a:before {
    color: #cccccc;
    content: "\f105";
    display: inline-block;
    font-family: "FontAwesome", sans-serif;
    font-size: 13px;
    padding-right: 15px;
    text-align: right;
}

ul.nav-accordion ul ul ul li a {
    margin-left: 20px;
}

ul.nav-accordion .mean-expand, ul.nav-accordion .mean-expand.mean-clicked {
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 0 !important;
    height: 19px;
    position: absolute;
    right: 0;
    top: 0;
    width: 19px;
    padding: 0 !important;
}

ul.nav-accordion li.level0 > a > span > .cat-label {
    position: inherit;
}

ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
    position: inherit;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0;
}

ul.nav-accordion .mean-expand:before {
    content: "\f107";
    color: #7f7f7f;
}

ul.nav-accordion .mean-expand.mean-clicked:before {
    content: "\f106";
    color: #333;
}

ul.nav-accordion .mean-expand.mean-clicked:before, ul.nav-accordion .mean-expand:before {
    font-family: "FontAwesome", sans-serif;
    display: inline-block;
    font-size: 17px;
    text-align: center;
    width: 18px;
    line-height: 30px;
    font-weight: normal;
}

ul.nav-accordion .mean-expand.mean-clicked:hover:before {
    color: #333;
}

.nav-accordion > li:nth-child(n+10) {
    display: none;
}

/*Test*/
.level-top-mega .mage-column.cat-mega {
    margin: 0;
    list-style: outside none none;
}

.fixed {
    z-index: 999;
    width: 100%
}

.fixed .custom-menu {
    padding-bottom: 7px;
    padding-top: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.fixed .quick-access {
    display: none;
}

@media only screen and (min-width: 768px) {
    .nav-mobile {
        display: none !important;
    }
}

/* hide the link until viewport size is reached */
a.meanmenu-reveal, .meanmenu-accordion, .nav-toggle {
    display: none;
}

/* when under viewport size,.mean-container is added to body */
.nav-sections .mean-container .mean-bar {
    position: static;
    float: right;
}

.nav-sections .mean-container a.meanmenu-reveal {
    width: 20px;
    height: 20px;
    padding: 9px 6px;
    position: relative;
    z-index: 32;
    top: 0;
    right: 0;
    cursor: pointer;
    outline: medium none;
    color: #242628;
    text-decoration: none;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-weight: 700;
    margin-top: 68px;
}

.page-header .magicmenu .nav-desktop .level0 .level-top:hover > span {
    z-index: 1000;
    color: #000;
    text-decoration: underline;
}

.header-main-bottom a.level-top:hover {
    opacity: 1;
}

.nav-sections .mean-container a.meanmenu-reveal span {
    display: block;
    background: #242628;
    height: 3px;
    margin-top: 3px;
}

.nav-sections .mean-container .mean-nav {
    float: left;
    width: 100%;
    position: absolute;
    background-color: #222;
    z-index: 2;
    left: 0;
}

.nav-sections .mean-container .mean-nav .mobi-title {
    color: #242628;
    font-size: 16px;
    line-height: 52px;
    margin: 0;
    padding: 0 0 0 50px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    top: -56px;
    z-index: 0;
    display: none;
}

.nav-sections .mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.nav-sections .mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
}

.nav-sections .mean-container .mean-nav ul li a {
    display: block;
    padding: 10px 0;
    margin: 0;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #888;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 23px;
}

.nav-sections .mean-container .mean-nav ul li a span, .nav-sections .mean-container .mean-nav ul li .level-top span {
    font-size: 15px;
    padding: 0 14px;
}

.nav-sections .mean-container .mean-nav ul li li a {
    font-size: 14px;
    padding: 10px 0 10px 25px;
    filter: alpha(opacity=75);
    visibility: visible;
}

.nav-sections .mean-container .mean-nav ul li.mean-last a {
    margin-bottom: 0;
}

.nav-sections .mean-container .mean-nav ul li li li a {
    font-size: 14px;
    padding: 10px 0 10px 40px;
}

.nav-sections .mean-container .mean-nav ul li li li li a {
    padding: 1em 20%;
}

.nav-sections .mean-container .mean-nav ul li li li li li a {
    padding: 1em 25%;
}

.nav-sections .mean-container .mean-nav ul li a.mean-expand {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 10px !important;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
    font-weight: 300;
    border: none !important;
}

.nav-sections .mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}

.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mean-remove {
    display: none !important;
}

/* --- rest main-container --- */
.main-container {
    clear: both;
}

.magicmenu .nav-desktop .level0 .level-top .cat_label, .magicmenu .nav-desktop .level0 .cat_label, .nav-sections .mean-container .mean-nav ul li a span.cat_label, .vmagicmenu .level0 .cat_label, .vmagicmenu .level0 .level-top-mega .children .cat_label, ul.nav-accordion li a span.cat_label {
    background-color: #009966;
    color: #fff;
    font-size: 11px !important;
    line-height: 16px;
    font-weight: normal;
    padding: 0 5px;
    margin: 0 0 0 3px;
    position: absolute;
    text-transform: uppercase;
}

.magicmenu .nav-desktop .level0 .cat_label.Hot, .magicmenu .nav-desktop .level0 .cat_label.hot, .magicmenu .nav-desktop .level0 .cat_label.HOT, .vmagicmenu .level0 .cat_label.Hot, .vmagicmenu .level0 .cat_label.hot, .vmagicmenu .level0 .cat_label.HOT, .vmagicmenu .level0 .level-top-mega .children .cat_label.hot, .vmagicmenu .level0 .level-top-mega .children .cat_label.Hot, .vmagicmenu .level0 .level-top-mega .children .cat_label.HOT, .mean-container .mean-nav ul li a span.cat_label.hot, .mean-container .mean-nav ul li a span.cat_label.Hot, .mean-container .mean-nav ul li a span.cat_label.HOT {
    color: #ff3d49;
}

.magicmenu .nav-desktop .level0 .level-top .cat_label:after, .magicmenu .nav-desktop .level0 .cat_label:after, .nav-sections .mean-container .mean-nav ul li a span.cat_label:after, .vmagicmenu .level0 .cat_label:after, .vmagicmenu .level0 .level-top-mega .children .cat_label:after, ul.nav-accordion li a span.cat_label:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    border-right-width: 5px;
    border-top-width: 5px;
}

/* Update */
.magicmenu .nav-desktop .level0.hasChild .level-top:after {
    content: "\f107";
    font-family: "FontAwesome", sans-serif;
    font-size: 13px;
    padding-left: 5px;
    font-weight: normal;
}

.magicmenu .nav-desktop .level0 .cat_label.Sale, .magicmenu .nav-desktop .level0 .cat_label.sale, .magicmenu .nav-desktop .level0 .level-top-mega .children a .cat_label.sale, .magicmenu .nav-desktop .level0 .level-top-mega .children a .cat_label.Sale, .vmagicmenu .level0 .cat_label.Sale, .vmagicmenu .level0 .cat_label.sale, .vmagicmenu .level0 .level-top-mega .children .cat_label.sale, .vmagicmenu .level0 .level-top-mega .children .cat_label.Sale, .mean-container .mean-nav ul li a span.cat_label.sale, .mean-container .mean-nav ul li a span.cat_label.Sale {
    color: #00bd33;
}

.magicmenu .nav-desktop .level0 .cat_label:before,
.vmagicmenu .level0 .cat_label:before,
.mean-container .mean-nav ul li a span.cat_label:before,
.mean-container .mean-nav ul li span.level-top span.cat_label:before {
    border: 0 solid transparent;
    border-top: 6px #009966;
    border-right-width: 10px;
    content: "";
    height: 0;
    position: absolute;
    left: 10px;
    top: 17px;
    transition: border-color 450ms ease-in-out 0s;
    width: 0;
    display: none;
}

.magicmenu .nav-desktop .level0 .cat_label.New:before, .vmagicmenu .level0 .cat_label.New {
    border-top-color: #009966;
}

.magicmenu .nav-desktop .level0 .level-top-mega .children .level-3 a .cat_label:before,
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav a .cat_label:before {
    display: none;
}

.magicmenu .nav-desktop .level0 .cat_label.HOT:before,
.magicmenu .nav-desktop .level0 .cat_label.Hot:before,
.magicmenu .nav-desktop .level0 .cat_label.hot:before,
.vmagicmenu .level0 .cat_label.HOT:before,
.vmagicmenu .level0 .cat_label.Hot:before,
.vmagicmenu .level0 .cat_label.hot:before,
.mean-container .mean-nav ul li a .cat_label.HOT:before,
.mean-container .mean-nav ul li a .cat_label.Hot:before,
.mean-container .mean-nav ul li a .cat_label.hot:before,
.mean-container .mean-nav ul li span.level-top span.cat_label.HOT:before,
.mean-container .mean-nav ul li span.level-top span.cat_label.Hot:before,
.mean-container .mean-nav ul li span.level-top span.cat_label.hot:before {
    border-color: #dc1212 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.magicmenu .nav-desktop .level0 .cat_label.SALE:before,
.magicmenu .nav-desktop .level0 .cat_label.Sale:before,
.magicmenu .nav-desktop .level0 .cat_label.sale:before,
.vmagicmenu .level0 .cat_label.SALE:before,
.vmagicmenu .level0 .cat_label.Sale:before,
.vmagicmenu .level0 .cat_label.sale:before,
.mean-container .mean-nav ul li a .cat_label.SALE:before,
.mean-container .mean-nav ul li a .cat_label.Sale:before,
.mean-container .mean-nav ul li a .cat_label.sale:before {
    border-color: #ff6600 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.magicmenu .nav-desktop .level0 .cat_label.SALE,
.magicmenu .nav-desktop .level0 .cat_label.Sale,
.magicmenu .nav-desktop .level0 .cat_label.sale,
.vmagicmenu .level0 .cat_label.SALE,
.vmagicmenu .level0 .cat_label.Sale,
.vmagicmenu .level0 .cat_label.sale,
.mean-container .mean-nav ul li a .cat_label.SALE,
.mean-container .mean-nav ul li a .cat_label.Sale,
.mean-container .mean-nav ul li a .cat_label.sale {
    background-color: #ff6600;
}

.magicmenu .nav-desktop .level0 .cat_label.Hot,
.magicmenu .nav-desktop .level0 .cat_label.hot,
.vmagicmenu .level0 .cat_label.Hot,
.vmagicmenu .level0 .cat_label.hot,
.mean-container .mean-nav ul li a .cat_label.HOT,
.mean-container .mean-nav ul li a .cat_label.Hot,
.mean-container .mean-nav ul li a .cat_label.hot,
.mean-container .mean-nav ul li span.level-top span.cat_label.HOT,
.mean-container .mean-nav ul li span.level-top span.cat_label.Hot,
.mean-container .mean-nav ul li span.level-top span.cat_label.hot {
    background-color: #dc1212;
}

/* Custom Font */

/*custom styles*/

.magicmenu .nav-desktop{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.magicmenu .nav-desktop .level0.hasChild .level-top:after {
    display: none;
}

.magicmenu .nav-desktop .level0 .level-top > span {
    text-transform: capitalize;
    font-weight: normal;
    padding-top: 3px;
    display: inline-block;
}

.filter-options .filter-options-content .item span.count,
.filter-content .filter-current .item .action.remove:before,
.filter-current .action.remove {
    color: #333 !important;
}

/*custom styles end*/

.header-bottom {
    background-color: #f94415;
}

.custom-top {
    top: 86px;
    border-style: none;
    width: 120%;
    margin-left: -10%;
    color: white;
}

.header-main-bottom .magicmenu .nav-desktop .level0:hover .level-top-mega, .magicmenu .nav-desktop .level0.dropdown:hover > .level0 {
    top: 174px;
    left: 0 !important;
}

.header-main-bottom .custom-top img.menu-img {
    float: right;
}

.header-main-bottom .custom-top .content-mega .mage-column {
    padding-left: 10%;
}

.header-main-bottom .custom-top .content-mega .mage-column a {
    color: #000;
}

.header-main-bottom a.level-top {
    color: #fff;
    text-align: center !important;
}

.header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover span,
.header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover a,
.header-main-bottom a.level-top:hover,
.header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover a.level-top {
    color: #000;
}

div.header-main-bottom {
    background: #f94415;
}

.header-main-bottom .nav-desktop li.level0 a.level-top div.img-menu {
    background: url("Magiccart_Magicmenu::images/sprite-menu_new.png") 95px 95px no-repeat;
    width: 95px;
    height: 95px;
    z-index: 10;
    position: relative;
}

.header-main-bottom div.magicmenu ul.nav-desktop li.level0 a.level-top {
    padding: 0;
    margin: 0;
}

.header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover,
.header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover a {
    background-color: #fff;
}

.header-main-bottom .nav-desktop li:nth-child(1) a.level-top div.img-menu {
    background-position: -5px -0px;
}

.header-main-bottom .nav-desktop li:nth-child(1) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(1) a.level-top div.img-menu:hover {
    background-position: -105px -0px;
}

.header-main-bottom .nav-desktop li:nth-child(2) a.level-top div.img-menu {
    background-position: -205px -0px;
}

.header-main-bottom .nav-desktop li:nth-child(2) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(2) a.level-top div.img-menu:hover {
    background-position: -305px -0px;
}

.header-main-bottom .nav-desktop li:nth-child(3) a.level-top div.img-menu {
    background-position: -5px -100px;
}

.header-main-bottom .nav-desktop li:nth-child(3) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(3) a.level-top div.img-menu:hover {
    background-position: -105px -100px;
}

.header-main-bottom .nav-desktop li:nth-child(4) a.level-top div.img-menu {
    background-position: -205px -100px;
}

.header-main-bottom .nav-desktop li:nth-child(4) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(4) a.level-top div.img-menu:hover {
    background-position: -305px -100px;
}

.header-main-bottom .nav-desktop li:nth-child(5) a.level-top div.img-menu {
    background-position: -5px -200px;
}

.header-main-bottom .nav-desktop li:nth-child(5) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(5) a.level-top div.img-menu:hover {
    background-position: -105px -200px;
}

.header-main-bottom .nav-desktop li:nth-child(6) a.level-top div.img-menu {
    background-position: -205px -200px;
}

.header-main-bottom .nav-desktop li:nth-child(6) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(6) a.level-top div.img-menu:hover {
    background-position: -305px -200px;
}

.header-main-bottom .nav-desktop li:nth-child(7) a.level-top div.img-menu {
    background-position: -5px -300px;
}

.header-main-bottom .nav-desktop li:nth-child(7) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(7) a.level-top div.img-menu:hover {
    background-position: -105px -300px;
}

.header-main-bottom .nav-desktop li:nth-child(8) a.level-top div.img-menu {
    background-position: -205px -300px;
}

.header-main-bottom .nav-desktop li:nth-child(8) a.level-top:hover div.img-menu,
.header-main-bottom .nav-desktop li:nth-child(8) a.level-top div.img-menu:hover {
    background-position: -305px -300px;
}

/*MEDIA*/

@media all and (max-width: 1800px) {

    div.menu-banner-left-block {
        width: 12%;
        height: auto;
    }
}

@media all and (max-width: 1600px) {
    .magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children {
        width: 180px;
    }

    .magicmenu .nav-desktop .level0.cat.hasChild.parent:first-child .children.level1:last-child {
        left: 180px;
    }
}

@media all and (max-width: 1560px) {
    .magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children {
        width: 170px;
    }

    .magicmenu .nav-desktop .level0.cat.hasChild.parent:first-child .children.level1:last-child {
        left: 170px;
    }
}

@media all and (max-width: 1450px) {
    .magicmenu .nav-desktop .level0 {
        padding: 0;
    }

    .page-header .magicmenu .nav-desktop .level0 .level-top > span {
        font-size: 20px;
    }

    .header-main-bottom .magicmenu .nav-desktop .level0:hover .level-top-mega,
    .magicmenu .nav-desktop .level0.dropdown:hover > .level0 {
        top: 169px;
        padding-right: 35px;
        padding-top: 30px;
    }

    .header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover a.level-top:after {
        width: 175px;
        height: 200px;
        left: -39px;
    }

    div.menu-banner-left-block {
        width: 10%;
        height: auto;
        top: 20px;
        right: 44px;
    }

    .magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal {
        height: 250px;
    }
}

@media all and (max-width: 1425px) {

    .page-header .magicmenu .nav-desktop .level0 .level-top > span {
        font-size: 20px;
    }
}

@media all and (max-width: 1367px) {

    .header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover a.level-top:after {
        width: 166px;
        height: 200px;
        left: -33px;
    }

    div.menu-banner-left-block {
        width: 8%;
    }

}

@media all and (max-width: 1365px) {
    .custom-top {
        width: 100%;
        margin-left: 0;
    }
}

@media all and (max-width: 1360px) {

    .magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a span {
        font-size: 14px;
        line-height: 16px;
    }

    .magicmenu .nav-desktop .level0 .level-top-mega .children a span {
        font-size: 12px;
        line-height: 1;
    }

    .magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children {
        width: auto !important;
        padding-right: 10px;
    }

    .magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children {
        width: auto !important;
        min-width: 140px;
        max-width: 140px;
    }

    .nav-desktop .top_marken_holder {
        margin: 0 auto;
        padding-bottom: 15px;
    }

    .magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a {
        padding-top: 5px;
    }

    .magicmenu .nav-desktop .level0.cat.hasChild.parent:first-child .children.level1:last-child {
        left: 155px;
    }
}

@media all and (max-width: 1280px) {

    .header-main-bottom .magicmenu .nav-desktop .level0:hover .level-top-mega, .magicmenu .nav-desktop .level0.dropdown:hover > .level0 {
        top: 183px;
    }

    div.menu-banner-left-block {
        width: 150px;
        height: auto;
        top: 20px;
        right: 10px;
    }
}

@media all and (max-width: 1200px) {
    .magicmenu .nav-desktop .level0 .level-top-mega .children a {
        line-height: 16px;
    }

    div.menu-banner-left-block {
        width: 100px;
        height: auto;
        top: 20px;
        right: 10px;
    }

    .magicmenu .nav-desktop .level0 .level-top-mega .mage-column.cat-mega {
        padding-top: 20px;
    }

    .nav-desktop .top_marken_holder .title_holder {
        float: left;
    }

    .magicmenu .nav-desktop .level0 {
        margin: 20px 25px 0 0;
    }
}

@media all and (max-width: 1140px) {
    .magicmenu .nav-desktop .level0 {
        margin: 20px 20px 0 0;
    }
}

@media all and (max-width: 1080px) {
    .magicmenu .nav-desktop .level0 {
        margin: 20px 10px 0 0;
    }

    .header-main-bottom .magicmenu .nav-desktop .level0:hover .level-top-mega {
        top: 177px;
    }
}

@media all and (max-width: 1024px) {
    div.menu-banner-left-block {
        right: 30px;
    }

    .magicmenu .nav-desktop .level0 {
        margin: 20px 10px 0 0;
    }

    .header-main-bottom div.magicmenu ul.nav-desktop li.level0:hover a.level-top:after {
        width: 154px;
        left: -26px;
    }

    .header-main-bottom .magicmenu .nav-desktop .level0:hover .level-top-mega {
        top: 177px;
    }

}

@media all and (max-width: 992px) {
    .magicmenu .nav-desktop .level0 {
        margin: 20px 20px 0 0;
    }

    .page-header .magicmenu .nav-desktop .level0 .level-top > span {
        font-size: 20px;
    }
}

@media all and (max-width: 991px) {
    .header-main-bottom .menu-mobile {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/*MEDIA END*/