<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php
$_formElement = $this->getFormElement();
$_image = $_formElement->getImage();
?>

<?php if($_imageUrl = $_image->getImageUrl()):?>
    <div id="parent_block" style="position: relative">
        <div id="code_block" style="border: 1px solid #000; cursor: move; position: absolute;background-color:white;width: 100px; text-align: center; font-size: 18px;"><?php echo __('Drag me');?></div>
        <img src="<?php echo $_imageUrl?>" />
    </div>
<?php endif;?>

<script>
    require([
        "jquery",
    ], function($) {
        $(window).load(function () {
            var dragCodeBlock = $('#code_block');
            var fieldX = $('#amasty_giftcard_code_pos_x')[0];
            var fieldY = $('#amasty_giftcard_code_pos_y')[0];

            dragCodeBlock.css('top', parseInt(fieldY.value) + 'px');
            dragCodeBlock.css('left', parseInt(fieldX.value) + 'px');

            $(dragCodeBlock).draggable({
                containment:"#parent_block",
                scroll:false,
                stop: function(event, ui) {
                    fieldX.value = ui.position.left;
                    fieldY.value = ui.position.top;
                }
            });
        })
    })
</script>