<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2016 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.sellxed.com/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.sellxed.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_DatatransCw
 * 
 */

/* @var $block \Customweb\DatatransCw\Block\Adminhtml\Sales\Order\Invoice\Create\Components */

// TODO: Update capture close help text
?>

<?php if ($block->canCaptureNoClose()) : ?>
<script type="text/javascript">
require(['jquery', 'domReady', 'prototype'], function($, domReady){
	domReady(function(){
		function insertCaptureClose() {
			var html = '<div class="admin__field admin__field-option">';
			html += '<input id="capture_no_close" name="invoice[capture_no_close]" value="1" type="checkbox" class="admin__control-checkbox">';
			html += '<label class="admin__field-label" for="capture_no_close"><?php echo str_replace("'", "\'", __("Capture: Don't Close")) ?></label>';
			html += '<div class="tooltip"><span class="help"><span></span></span><div class="tooltip-content"><?php echo __('If you select this checkbox, the payment will be captured at the PSP and you can not add additional captures.') ?></div></div>';
			html += '</div>';
			$('.order-totals-actions .field-append').before(html);
			$('select[name="invoice[capture_case]"]').on('change', function(){
				$('#capture_no_close').prop('disabled', $(this).val() != 'online');
			});
			$('select[name="invoice[capture_case]"]').trigger('change');
		}
		insertCaptureClose();

		var isInSubmitAndReloadArea = false;
		window.submitAndReloadArea = window.submitAndReloadArea.wrap(function(callOriginal, a, b){
			isInSubmitAndReloadArea = true;
			return callOriginal(a, b);
		});

		Element.update = Element.update.wrap(function(callOriginal, element, newContent){
			var result = callOriginal(element, newContent);
			if (isInSubmitAndReloadArea) {
				insertCaptureClose();
			}
			return result;
		});

		Element.addMethods({
			update: Element.update
		});
	});
});
</script>
<?php endif; ?>