<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2016 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.sellxed.com/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.sellxed.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_DatatransCw
 * 
 */

/* @var $block \Magento\CheckoutAgreements\Block\Agreements */
?>

<?php if (!$block->getAgreements()) {
    return;
} ?>

<div class="checkout-agreements checkout-agreements-block">
	<?php foreach ($block->getAgreements() as $agreement): ?>
		<?php if ($agreement->getMode() == \Magento\CheckoutAgreements\Model\AgreementModeOptions::MODE_MANUAL) : ?>
			<div class="checkout-agreement">
				<input type="checkbox"
						id="agreement_<?php echo $agreement->getAgreementId() ?>"
						name="agreement[<?php echo $agreement->getAgreementId() ?>]"
						value="<?php echo $agreement->getAgreementId() ?>"
						data-validate="{required:true}"
						/>
				<label for="agreement_<?php echo $agreement->getAgreementId() ?>">
					<button type="button"
							class="action action-show"
							data-agreement-modal="#checkout-agreements-modal-<?php echo $agreement->getAgreementId() ?>"
							>
						<span><?php echo $agreement->getCheckboxText() ?></span>
					</button>
				</label>
			</div>
		<?php else : ?>
			<div class="checkout-agreement">
				<button type="button" class="action action-show"
						data-agreement-modal="#checkout-agreements-modal-<?php echo $agreement->getAgreementId() ?>">
					<span><?php echo $agreement->getCheckboxText() ?></span>
				</button>
			</div>
		<?php endif; ?>
		<div class="checkout-agreements-modal" id="checkout-agreements-modal-<?php echo $agreement->getAgreementId() ?>" style="display: none">
			<div class="checkout-agreements-item-title"><?php echo $agreement->getCheckboxText() ?></div>
			<div class="checkout-agreements-item-content"><?php echo $agreement->getContent() ?></div>
		</div>
	<?php endforeach; ?>
</div>

<script type="text/javascript">
require([
	'jquery',
	'domReady',
	'Magento_CheckoutAgreements/js/model/agreements-modal'
], function($, domReady, agreementsModal){
	$('.checkout-agreements-modal').each(function(){
		agreementsModal.createModal(this);
	});

	$(document).on('click', '.checkout-agreements [data-agreement-modal]', function(){
		$($(this).data('agreementModal')).modal('openModal');
	});
});
</script>