<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2016 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.sellxed.com/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.sellxed.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_DatatransCw
 * 
 */

/* @var $block \Customweb\DatatransCw\Block\ExternalCheckout\Login */
?>

<ul class="opc-progress-bar">
	<li class="opc-progress-bar-item _active">
		<span><?php echo __('Login & Register') ?></span>
	</li>
	<li class="opc-progress-bar-item">
		<span><?php echo __('Review') ?></span>
	</li>
</ul>


<div class="popup-authentication block-authentication">
	<?php if ($block->isAllowedGuestCheckout() || $block->getRegistration()->isAllowed()): ?>
		<div class="block block-new-customer"
			data-label="<?php echo __('or') ?>">
			<div class="block-title">
				<strong id="block-new-customer-heading"
						role="heading"
						aria-level="2"><?php echo __('Checkout as a new customer') ?></strong>
			</div>
			<div class="block-content" aria-labelledby="block-new-customer-heading">

				<?php if ($block->isAllowedGuestCheckout()) : ?>
					<form class="form form-guest"
						method="post"
						action="<?php echo $block->getGuestPostAction() ?>"
						id="guest-form">
						<?php echo $block->getBlockHtml('formkey'); ?>
						<div class="actions-toolbar">
							<input name="context" type="hidden" value="checkout" />
							<div class="primary">
								<button type="submit" class="action action-register secondary">
									<span><?php echo __('Checkout as Guest') ?></span>
								</button>
							</div>
						</div>
					</form>
				<?php endif; ?>

				<?php if ($block->getRegistration()->isAllowed()) : ?>
					<p><?php echo __('Creating an account has many benefits:') ?></p>
					<ul>
						<li><?php echo __('See order and shipping status') ?></li>
						<li><?php echo __('Track order history') ?></li>
						<li><?php echo __('Check out faster') ?></li>
					</ul>

					<form class="form form-register"
						method="post"
						action="<?php echo $block->getRegisterPostAction() ?>"
						id="register-form"
						data-mage-init='{"validation":{}}'>
						<?php echo $block->getBlockHtml('formkey'); ?>
						<div class="fieldset register" data-hasrequired="<?php echo __('* Required Fields') ?>">
							<div class="field username required">
								<label class="label" for="register:username"><span><?php echo __('Email Address') ?></span></label>
								<div class="control">
									<input name="register[username]"
										id="register:username"
										type="email"
										class="input-text"
										value="<?php echo $block->escapeHtml($block->getUsername()) ?>"
										data-validate="{required:true, 'validate-email':true}">
								</div>
							</div>
							<div class="field password required">
								<label for="register:password" class="label"><span><?php echo __('Password') ?></span></label>
								<div class="control">
									<input name="register[password]"
										type="password"
										class="input-text"
										id="register:password"
										data-validate="{required:true, 'validate-password':true}">
								</div>
							</div>
							<div class="field confirm required">
								<label for="register:confirm_password" class="label"><span><?php echo __('Confirm Password') ?></span></label>
								<div class="control">
									<input name="register[confirm_password]"
										type="password"
										class="input-text"
										id="register:confirm_password"
										data-validate="{required:true, 'validate-cpassword':true, equalTo: '#register\\:password'}">
								</div>
							</div>
						</div>
						<div class="actions-toolbar">
							<input name="context" type="hidden" value="checkout" />
							<div class="primary">
								<button type="submit" class="action action-register primary">
									<span><?php echo __('Create Account') ?></span>
								</button>
							</div>
						</div>
					</form>
				<?php endif; ?>
			</div>
		</div>
	<?php endif; ?>

	<div class="block block-customer-login"
		data-label="<?php echo __('or') ?>">
		<div class="block-title">
			<strong id="block-customer-login-heading"
					role="heading"
					aria-level="2"><?php echo __('Checkout using your account') ?></strong>
		</div>
		<div class="block-content" aria-labelledby="block-customer-login-heading">
			<form class="form form-login"
				method="post"
				action="<?php echo $block->getLoginPostAction() ?>"
				id="login-form"
				data-mage-init='{"validation":{}}'>
				<?php echo $block->getBlockHtml('formkey'); ?>
				<div class="fieldset login" data-hasrequired="<?php echo __('* Required Fields') ?>">
					<div class="field username required">
						<label class="label" for="login:username"><span><?php echo __('Email Address') ?></span></label>
						<div class="control">
							<input name="login[username]"
								id="login:username"
								type="email"
								class="input-text"
								value="<?php echo $block->escapeHtml($block->getUsername()) ?>"
								data-validate="{required:true, 'validate-email':true}">
						</div>
					</div>
					<div class="field password required">
						<label for="login:password" class="label"><span><?php echo __('Password') ?></span></label>
						<div class="control">
							<input name="login[password]"
								type="password"
								class="input-text"
								id="login:password"
								data-validate="{required:true, 'validate-password':true}">
						</div>
					</div>
				</div>
				<div class="actions-toolbar">
					<input name="context" type="hidden" value="checkout" />
					<div class="primary">
						<button type="submit" class="action action-login secondary" name="send" id="send2">
							<span><?php echo __('Sign In') ?></span>
						</button>
					</div>
					<div class="secondary">
						<a class="action" href="<?php echo $block->getForgotPasswordUrl() ?>">
							<span><?php echo __('Forgot Your Password?') ?></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>