<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2016 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.sellxed.com/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.sellxed.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_DatatransCw
 * 
 */

/* @var $block \Customweb\DatatransCw\Block\ExternalCheckout\Review */
?>

<div class="messages" id="external-checkout-review-messages">
	<?php $messages = $block->getErrorMessages(); if (!empty($messages)) : ?>
		<?php foreach ($messages as $message) : ?>
			<div class="message-error error message"
				data-ui-id="message-error">
				<div><?php echo $block->escapeHtml($message) ?></div>
			</div>
		<?php endforeach; ?>
	<?php endif; ?>
</div>

<div class="opc-wrapper" id="external-checkout-items">
	<ol class="opc">
		<li class="external-checkout-items">
			<div class="step-title"><?php echo __('Items') ?></div>
			<div class="step-content">
				<div class="order-review">
					<div id="external-checkout-review-table-wrapper" class="cart table-wrapper">
					    <?php if ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices()): $colspan = $rowspan = 2; else: $colspan = $rowspan = 1; endif; ?>
					    <table class="cart items data table" id="external-checkout-review-table">
					        <caption class="table-caption"><?php echo __('Items'); ?></caption>
					        <thead>
					            <tr>
					                <th class="col item" scope="col"><?php echo __('Item') ?></th>
					                <th class="col price" scope="col"><?php echo __('Price') ?></th>
					                <th class="col qty" scope="col"><?php echo __('Qty') ?></th>
					                <th class="col subtotal" scope="col"><?php echo __('Subtotal') ?></th>
					            </tr>
					        </thead>
					        <tbody>
					        <?php foreach ($block->getItems() as $_item): ?>
					            <?php echo $block->getItemHtml($_item)?>
					        <?php endforeach ?>
					        </tbody>
					    </table>
					</div>
				</div>
			</div>
		</li>
	</ol>
</div>

<div id="external-checkout-progress-wrapper">
	<div class="opc-block-summary">
    	<span class="title"><?php echo __('Order Summary') ?></span>
    	<?php echo $block->getChildHtml('totals') ?>

    	<?php if ($block->getRenderConfirmationFormElements()) : ?>
			<?php echo $block->getChildHtml('agreements') ?>
		<?php endif; ?>

    	<ul class="place-order-actions">
    	    <li class="item">
    	    	<button type="submit" title="<?php echo __('Place Order') ?>" class="action primary checkout" id="external-checkout-review-button">
        			<span><?php echo __('Place Order') ?></span>
    			</button>
			</li>
    	</ul>
    	<input type="hidden" name="external-checkout-context-updated-on" value="<?php echo $block->getContext()->getUpdatedOn() ?>" />
	</div>

	<div class="opc-block-shipping-information">
		<div class="shipping-information">
		    <div class="ship-to">
		        <div class="shipping-information-title">
		            <span><?php echo __('Shipping Address')?></span>
		        </div>
		        <div class="shipping-information-content">
					<?php echo $block->getContext()->getQuote()->getShippingAddress()->format('html') ?>
		        </div>
		    </div>
		    <div class="ship-to">
		        <div class="shipping-information-title">
		            <span><?php echo __('Billing Address')?></span>
		        </div>
		        <div class="shipping-information-content">
					<?php echo $block->getContext()->getQuote()->getBillingAddress()->format('html') ?>
		        </div>
		    </div>
		</div>
    </div>
</div>

<script type="text/javascript">
require([
    'jquery',
    'domReady',
    'mage/validation'
], function($, domReady, validation){
	domReady(function(){
		$('body').addClass('datatranscw-externalcheckout-review');

		$('#external-checkout-review-table .control.qty').each(function(){
			var qty = $(this).find('input.qty').val();
			$(this).html(qty);
		});

		$('#external-checkout-review-button').on('click', function(){
			$('body').trigger('processStart');
		});

		Customweb.ExternalCheckout.beforeUpdatePanes = function(){
			$('#external-checkout-shipping-messages').remove();
			$('#external-checkout-progress-bar').remove();
			$('#external-checkout-items').remove();
		}

		Customweb.ExternalCheckout.afterUpdatePanes = function(){
			$('.column.main').prepend($('#external-checkout-progress-bar'));
			$('#external-checkout-progress-bar').after($('#external-checkout-shipping-messages'));
			$('#external-checkout-shipping-messages').append($('#external-checkout-review-messages').html());
			$('#external-checkout-review-messages').remove();
			$('.column.main').append($('#external-checkout-items'));
			$('#external-checkout-shipping-messages').after($(window.confirmationPaneSelector));
			$(window.confirmationPaneSelector).addClass('opc-sidebar');
			validation({
				invalidHandler: function(event, validator) {
					$('body').trigger('processStop');
				}
			}, $(window.confirmationPaneSelector).find('form'));
		}

		Customweb.ExternalCheckout.onShowOverlay = function(){
			$('body').trigger('processStart');
			return false;
		}

		Customweb.ExternalCheckout.onHideOverlay = function(){
			$('body').trigger('processStop');
			return false;
		}

		var originalInitFunction = $.proxy(Customweb.ExternalCheckout.init, Customweb.ExternalCheckout);
		Customweb.ExternalCheckout.init = function(shippingPaneSelector, confirmationPaneSelector){
			window.shippingPaneSelector = shippingPaneSelector;
			window.confirmationPaneSelector = confirmationPaneSelector;
			originalInitFunction(shippingPaneSelector, confirmationPaneSelector);
			Customweb.ExternalCheckout.afterUpdatePanes();
		}
	});
});
</script>

<?php echo $block->getChildHtml('gift_options') ?>