.checkout-cart-index a,
.checkout-cart-index a:visited,
.checkout-cart-index a:focus,
.checkout-cart-index a:hover,
.checkout-cart-index a#mode-list:visited,
.checkout-cart-index a#mode-list:focus,
.checkout-cart-index a#mode-list:hover,
.checkout-cart-index .alink:focus,
.checkout-cart-index .alink:hover,
.checkout-cart-index .alink:visited {
    color: #333;
}

.checkout-cart-index .cart.table-wrapper {
    border: 1px solid #dfdfdf;
}

.checkout-cart-index .cart-totals .table-wrapper,
.checkout-cart-index .cart.table-wrapper .items {
    border: none;
}

.checkout-cart-index .cart.table-wrapper .col.qty {
    text-align: center;
}

.checkout-cart-index .page-title h1 {
    text-align: left;
}

.checkout-cart-index .cart.actions .action.update,
.checkout-cart-index .cart.actions .action.clear,
.checkout-cart-index .cart.actions a.action {
    background: #4d4d4d;
    border: none;
    border-radius: 0;
}

.checkout-cart-index .action.primary.checkout span,
.checkout-cart-index .block .action.primary.checkout span,
.checkout-cart-index .block.discount .fieldset.coupon .actions-toolbar .primary span,
.checkout-cart-index .cart .action span {
    color: #fff;
}

.checkout-cart-index .cart.table-wrapper .col {
    text-align: center;
}

.cart.actions .continue {
    float: left;
}

.cart.actions .continue + .update {
    float: right;
}

.cart.actions .continue + .update + .clear {
    display: block;
    margin: 0 auto;
}

.block.discount {
    border: 1px solid #dfdfdf;
    width: auto;
    max-width: 500px;
    text-align: center;
    margin-top: 15px;
}

.block.discount .title {
    background: #f2f2f2;
    padding: 25px 20px;
    margin: 0;
}

.block.discount .content {
    padding: 20px;
}

.block.discount .fieldset.coupon {
    margin: 0;
    padding: 0;
}

.block.discount .fieldset.coupon input.input-text {
    max-width: 275px;
    width: 100%;
}

.block.discount .fieldset.coupon .actions-toolbar {
    margin-top: 15px;
}

.block.discount .fieldset.coupon .actions-toolbar .primary {
    float: none;
}

.block.discount .fieldset.coupon .actions-toolbar:after {
    clear: none;
}

.checkout-cart-index .cart-container .form-cart {
    width: 100%;
}

.cart-container .block.crosssell + .form-cart {
    width: 66.6667%;
    float: left;
}

.cart-summary {
    border: 1px solid #dfdfdf;
    padding: 0;
    margin-top: 15px;
}

.cart-summary > .title {
    background: #f2f2f2;
    padding: 25px 20px;
    margin: 0;
    text-align: center;
}

.cart-summary .block.shipping {
    display: none;
}

.cart-summary .cart-totals .table {
    margin: 0;
}

.cart-summary .cart-totals, .cart-summary .items {
    border: none;
    padding: 20px 20px 0;
}

.cart-summary .items {
    padding-bottom: 20px;
    text-align: center;
}

.cart-summary .items > li {
    padding: 5px 0;
}

.cart-container .block.crosssell {
    margin: 0 0 25px 0;
    padding: 1px 15px 25px;
}

.checkout-cart-index .cart-container button.action.primary.checkout {
    float: right;
    margin-right: 16px;
    margin-bottom: 15px;
}

.checkout-cart-index #shopping-cart-table .actions-toolbar {
    position: absolute;
    top: 8px;
    right: 25px;
}

.checkout-cart-index .cart.table-wrapper .items > .item {
    border: 0;
}

.checkout-cart-index .price-excluding-tax .price {
    color: #333;
}

.checkout-cart-index #shopping-cart-table .item-info .col.price .cart-price {
    display: block;
}

.checkout-cart-index #shopping-cart-table .field.qty {
    position: relative;
}

.checkout-cart-index .cart.table-wrapper .items thead + .item {
    border: 0;
}

.checkout-cart-index button.action.primary.checkout {
    background: #f94415;
    border: none;
    border-radius: 0;
}

@media all and (min-width: 768px), print {
    .cart-container .block.crosssell {
        float: right;
        position: relative;
        width: 33.3333%;
    }
}

@media (max-width: 768px) {
    .minicart-items .product > .product-image-container {
        display: none;
    }

    .minicart-items .product-item-details {
        padding: 0 !important;
    }

    .checkout-index-index main#maincontent {
        position: relative;
        top: 0;
    }
}

@media (max-width: 425px) {
    .cart.actions .continue,
    .cart.actions .continue + .update,
    .cart.actions .continue + .update + .clear {
        float: none !important;
        display: inline-block;
    }
}

@media (max-width: 320px) {
    .checkout-success {
        text-align: center;
    }
}

#checkout .opc-wrapper .fieldset > .field.street > .control > .field.additional {
    display: block;
}