.product-label-2 .product-label .sticker span.labelnew {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    width: 70px;
    height: 70px;
}

.product-label .top-left .labelnew {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 25px;
}

span.labelnew img {
    display: inline-block;
    left: 10%;
    overflow:hidden;
    border: none;
    outline:none;
    margin:-1px;
}

img[src="/pub/media/lable/"]{
    visibility: hidden;
}

.newprice {
    width: 50px;
    height: 50px;
    background: #f94415;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    z-index: 1;
    top: 30px;
}

.labelsale {
    position: absolute;
    top: 15px;
    width: 50px;
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(20deg);
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

.labelnewprice,
.labelsale .text,
.labelsale .numbers {
    font-family: 'AlternateGothic2 BT', sans-serif;
}

.labelnewprice {
    transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -o-transform: rotate(20deg);
    font-size: 20px;
    display: block;
    right: 0;
    margin: 0 auto;
    position: relative;
    top: 4px;
    text-align: center;
    left: -3px;
}

span.labelnewprice:after {
    content: "Rabbat";
    position: absolute;
    left: 1px;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    right: 0;
    text-transform: uppercase;
    top: 22px;
}

.labelsale .numbers {
    font-size: 22px;
    display: block;
    line-height: 22px;
    position: relative;
    left: 4px;
    top: -4px;
}

.labelsale .text {
    font-size: 12px;
    position: relative;
    left: 4px;
    text-transform: uppercase;
    top: -10px;
}