<div class="block block-customer-steps">
    <div class="block-title">
        <strong><?php /* @escapeNotVerified */ echo __('Progress'); ?></strong>
    </div>
    <div class="block-content">
        <ul class="customer-steps">
            <li class="item current">
                <a href="javascript:void(0)" title="<?php /* @escapeNotVerified */ echo __('Personal information') ?>"
                   class="btn act-info">
                    <span><?php /* @escapeNotVerified */ echo __('Personal information') ?></span>
                </a>
            </li>
            <li class="item">
                <a href="javascript:void(0)" title="<?php /* @escapeNotVerified */ echo __('Addresses') ?>"
                   class="btn act-address">
                    <span><?php /* @escapeNotVerified */ echo __('Addresses') ?></span>
                </a>
            </li>
            <li class="item">
                <a href="javascript:void(0)" title="<?php /* @escapeNotVerified */ echo __('Shippment and Payment') ?>"
                   class="btn act-ship" onclick="return false;">
                    <span><?php /* @escapeNotVerified */ echo __('Shippment and Payment') ?></span>
                </a>
            </li>
        </ul>
        <script type="text/javascript">
            require([
                'jquery'
            ], function($){
                $('.customer-steps a').on('click',function () {
                    return false;
                });
            });
        </script>
    </div>
</div>