@font-face {
    font-family: 'Impact';
    src: url('../fonts/impact/Impact.eot');
    src: url('../fonts/impact/Impact.eot?#iefix') format('embedded-opentype'),
    url('../fonts/impact/Impact.woff2') format('woff2'),
    url('../fonts/impact/Impact.woff') format('woff'),
    url('../fonts/impact/Impact.ttf') format('truetype'),
    url('../fonts/impact/Impact.svg#Impact') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro Demi';
    src: url('../fonts/avenir/AvenirNextLTPro-Demi.eot');
    src: url('../fonts/avenir/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenir/AvenirNextLTPro-Demi.woff2') format('woff2'),
    url('../fonts/avenir/AvenirNextLTPro-Demi.woff') format('woff'),
    url('../fonts/avenir/AvenirNextLTPro-Demi.ttf') format('truetype'),
    url('../fonts/avenir/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/avenir_regular/AvenirNextLTPro-Regular.eot');
    src: url('../fonts/avenir_regular/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/avenir_regular/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('../fonts/avenir_regular/AvenirNextLTPro-Regular.woff') format('woff'),
    url('../fonts/avenir_regular/AvenirNextLTPro-Regular.ttf') format('truetype'),
    url('../fonts/avenir_regular/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HURTMOLD';
    src: url('../fonts/hurtm/HURTMOLD.eot');
    src: url('../fonts/hurtm/HURTMOLD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hurtm/HURTMOLD.woff2') format('woff2'),
    url('../fonts/hurtm/HURTMOLD.woff') format('woff'),
    url('../fonts/hurtm/HURTMOLD.ttf') format('truetype'),
    url('../fonts/hurtm/HURTMOLD.svg#HURTMOLD') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlternateGothic2 BT';
    src: url('../fonts/altgothic/AlternateGothicNo2BT-Regular.eot');
    src: url('../fonts/altgothic/AlternateGothicNo2BT-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/altgothic/AlternateGothicNo2BT-Regular.woff2') format('woff2'),
    url('../fonts/altgothic/AlternateGothicNo2BT-Regular.woff') format('woff'),
    url('../fonts/altgothic/AlternateGothicNo2BT-Regular.ttf') format('truetype'),
    url('../fonts/altgothic/AlternateGothicNo2BT-Regular.svg#AlternateGothicNo2BT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
