<?php

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$product = $block->getProduct();
$title = $block->escapeHtml($product->getName());

?>
<?php if ($title): ?>
    <div class="page-title-mobile-wrapper">
        <p class="mobile-title">
            <?php echo $title ?>
        </p>
    </div>
<?php endif; ?>
