<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block items-in-cart" data-bind="mageInit: {'collapsible':{'openedState': 'active', 'active': isItemsBlockExpanded()}}">

    <div class="content minicart-items" data-role="content">
        <div class="minicart-items-wrapper overflowed">
            <table class="minicart-items">
                <tr>

                    <td colspan="2"><!-- ko i18n: 'Product' --><!-- /ko --></td>
                    <td><!-- ko i18n: 'Qty' --><!-- /ko --></td>
                    <td><!-- ko i18n: 'Subtotal' --><!-- /ko --></td>
                </tr>
                <!-- ko foreach: items() -->
                <tr class="product-item">
                        <!-- ko foreach: $parent.elems() -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                </tr>
                <!-- /ko -->
            </table>
        </div>
    </div>
    <!-- ko if: maxCartItemsToDisplay < getCartLineItemsCount() -->
    <div class="actions-toolbar">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: cartUrl}">
                <span data-bind="i18n: 'View and Edit Cart'"></span>
            </a>
        </div>
    </div>
    <!-- /ko -->
</div>
