<?php
/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author: DOng NGuyen<nguyen@dvn.com>
 * @@Create Date: 2016-01-08 22:57:12
 * @@Modify Date: 2017-07-01 11:09:03
 * @@Function:
 */
 ?>
<?php if($this->getStatus() == 2) return; ?>
<?php $selector = 'alo-content-'.rand(0,999999999); ?>
<div class= "<?php echo $selector?> magicproduct magiccategory">
<?php
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_category = $_objectManager->create('Magento\Catalog\Model\Category')->load($this->getTabActivated());
$tabs = $this->getTabs();
$numTabs = count($tabs);
if($numTabs): ?>
    <div class="magic-category">
	    <div class="block-title-tabs clearfix">
		    <h3 class="title"><?php echo __($this->getTitle()); ?></h3>
	    </div>
	</div>
<?php endif ?>
	<div class="ajax_loading" style="display:none" data-url="<?php echo $this->getUrl('magicproduct/index/category', array('_type' => 'direct_link', '_secure'=>$this->getRequest()->isSecure()))?>"></div>
	<div class="box-product-content row clearfix">
		<div class="col-md-2 col-sm-2 sub-category-wapper">
			<div class="block-title-tabs clearfix">
				<ul class="magictabs clearfix" data-ajax ='<?php echo $this->getAjaxCfg() ?>'>
				<?php $activated = $this->getTabActivated();
					$limit = $this->getLimit();
					$single = ($numTabs ==1) ? 'single' : '';
					foreach ($tabs as $type => $name):
						$status  = (!$this->getAjax() || $activated ==$type) ? 'loaded' : '';
						$status .= ($type == $activated) ? " activated $single" : '';
						echo '<li class="item '.$status.'" data-type ="'.$type.'"><span class ="title">'.__($name).'</span></li>';
					endforeach;
				?>
				</ul>
			</div>
		</div>
		<div class="col-md-10 col-sm-10 col-right-product-wapper">
			<?php if($image = $this->getImage()): ?>
			<div class="box-product-adv">
				<div class="promotion">
					<a href="<?php echo $_category->getUrl() ?>">
						<div class="scale">
							<img src="<?php echo $this->getMediaUrl() . $this->getImage();?>">
						</div>
					</a>
				</div>
			</div> 
			<?php endif ?>
			<div class="box-product">
				<div class="content-products" 
				<?php foreach ($this->getFrontendCfg() as $opt) :?>
					data-<?php echo $opt ?>='<?php echo $this->getData($opt) ?>'
				<?php endforeach;?>        
				>
				<?php 
					$timer = $this->getTimer();
					if($timer) echo $this->getContent('category/gridtimer.phtml');	
					else echo $this->getContent('category/grid.phtml');	
				?>
				</div>
			</div>
		</div>
	</div>	
	<div class="box-banner">
		<?php
			$activated = $this->getTabActivated();
			foreach ($tabs as $id => $name):
				$staticId = 'category-banner-' .$id;
				$static = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($staticId)->toHtml();
				if(!$static) continue;
				$status = ($id == $activated) ? 'activated' : '';
				echo '<div class="category-banner banner-'.$id.' '.$status.'">'. $static .'</div>';
			endforeach;
		?>
	</div>
</div>

<script type="text/javascript">
	require([
		'jquery',
		'magiccart/slick',
		'magicproduct'
		], function($, slick, magicproduct){
			$(".<?php echo $selector?>").magicproduct({
				selector : ".<?php echo $selector?>", // Selector product grid
			});
		});
</script>

