<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */
?>
<form class="form-address-edit" action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <div class="block block-address-edit">
        <div class="block-title">
            <strong><?php echo __('Add address') ?></strong>
        </div>
        <div class="block-content">
            <fieldset class="fieldset">
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Contact Information') ?></span></legend><br>
                <?php echo $block->getBlockHtml('formkey')?>
                <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
                <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
                <?php echo $block->getNameBlockHtml() ?>
                <div class="field company">
                    <label class="label" for="company"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
                    <div class="control">
                        <input type="text" name="company" id="company" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getCompany()) ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                    </div>
                </div>
                <div class="field telephone required">
                    <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                    <div class="control">
                        <input type="text" name="telephone" value="<?php echo $block->escapeHtml($block->getAddress()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text validate-phone <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>" id="telephone">
                    </div>
                </div>
                <div class="field fax">
                    <label class="label" for="fax"><span><?php /* @escapeNotVerified */ echo __('Fax') ?></span></label>
                    <div class="control">
                        <input type="text" name="fax" id="fax" title="<?php /* @escapeNotVerified */ echo __('Fax') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getFax()) ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('fax') ?>">
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Address') ?></span></legend><br>
                <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
                <div class="field street required">
                    <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
                    <div class="control">
                        <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"  />
                        <div class="nested">
                            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                            <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                                <div class="field additional">
                                    <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?></span>
                                    </label>
                                    <div class="control">
                                        <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getStreetLine($_i+1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>" class="input-text validate-strasse">
                                    </div>
                                </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                </div>

                <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
                    <div class="field taxvat">
                        <label class="label" for="vat_id"><span><?php /* @escapeNotVerified */ echo __('VAT Number') ?></span></label>
                        <div class="control">
                            <input type="text" name="vat_id" value="<?php echo $block->escapeHtml($block->getAddress()->getVatId()) ?>" title="<?php /* @escapeNotVerified */ echo __('VAT Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id') ?>" id="vat_id">
                        </div>
                    </div>
                <?php endif; ?>
                <div class="field city required">
                    <label class="label" for="city"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                    <div class="control">
                        <input type="text" name="city" value="<?php echo $block->escapeHtml($block->getAddress()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                    </div>
                </div>
                <div class="field region required">
                    <label class="label" for="region_id"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                    <div class="control">
                        <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                            <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                        </select>
                        <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>"  title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
                    </div>
                </div>
                <div class="field zip required">
                    <label class="label" for="zip"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
                    <div class="control">
                        <input type="text" name="postcode" value="<?php echo $block->escapeHtml($block->getAddress()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-plz <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                    </div>
                </div>
                <div class="field country required">
                    <label class="label" for="country"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                    <div class="control">
                        <?php echo $block->getCountryHtmlSelect() ?>
                    </div>
                </div>

                <?php if ($block->isDefaultBilling()): ?>
                    <div class="message info"><?php /* @escapeNotVerified */ echo __("It's a default billing address.") ?></div>
                <?php elseif ($block->canSetAsDefaultBilling()): ?>
                    <div class="field choice set billing">
                        <input type="checkbox" id="primary_billing" name="default_billing" value="1" class="checkbox">
                        <label class="label" for="primary_billing"><span><?php /* @escapeNotVerified */ echo __('Use as my default billing address') ?></span></label>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="default_billing" value="1" />
                <?php endif; ?>

                <?php if ($block->isDefaultShipping()): ?>
                    <div class="message info"><?php /* @escapeNotVerified */ echo __("It's a default shipping address.") ?></div>
                <?php elseif ($block->canSetAsDefaultShipping()): ?>
                    <div class="field choice set shipping">
                        <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                        <label class="label" for="primary_shipping"><span><?php /* @escapeNotVerified */ echo __('Use as my default shipping address') ?></span></label>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="default_shipping" value="1">
                <?php endif; ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action save primary" data-action="save-address" title="<?php /* @escapeNotVerified */ echo __('Save Address') ?>">
                        <span><?php /* @escapeNotVerified */ echo __('Save Address') ?></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    require([
        'jquery',
        'jquery/ui',
        'jquery/validate',
        'mage/translate',
        'mage/mage',
        'mage/backend/form',
        'jquery/validate'
    ], function($,ui,validate,$t){
        $.validator.addMethod(
                    'validate-strasse', function (v) {
                        return $.mage.isEmptyNoTrim(v) || /^\w+(\.\w+)?$/.test(v);
                    },
                    $t('<?php echo __('Street/No.: Letters, numbers and a full stop') ?>')
                );

        $.validator.addMethod(
            'validate-plz', function (value) {
                return /^([\d]{4})$/.test(value); // Validation logic here
            },
            $t('<?php echo __('Must be a four-digit number') ?>')
        );

        $.validator.addMethod(
            'validate-phone', function (value) {
                return /^[0-9]*$/.test(value); // Validation logic here
            },

            $t('<?php echo __('Only numbers except the plus  for the area code') ?>')
        );

        $.validator.addMethod(
            'validate-vorname', function (v) {
                return $.mage.isEmptyNoTrim(v) || /^[a-zA-Z\x7f-\xff]+$/.test(v);
            },
            $t('<?php echo __('Only letters are allowed here') ?>')
        );

        var dataForm = $('#form-validate');

        dataForm.mage('validation', {
            errorPlacement: function(error, element) {
                error.addClass( "help-block" );
                element.parents( ".control" ).addClass( "has-feedback" );
                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            success: function ( label, element ) {

                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {
                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
                $( element ).parents( ".control" ).addClass( "has-error" ).removeClass( "has-success" );
                $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
            },
            unhighlight: function ( element, errorClass, validClass ) {
                $( element ).parents( ".control" ).addClass( "has-success" ).removeClass( "has-error" );
                $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
            },

        }).find('input:text').attr('autocomplete', 'off');
    });
</script>

<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {

            }
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
