<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
USAGE:

Simple:

<?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
   ->setObject($block->getAddress())
   ->toHtml() ?>

For checkout/onepage/shipping.phtml:

<?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
   ->setObject($block->getAddress())
   ->setFieldIdFormat('shipping:%s')
   ->setFieldNameFormat('shipping[%s]')
   ->setFieldParams('onchange="shipping.setSameAsBilling(false);"')
   ->toHtml() ?>
*/
/* @var $block \Magento\Customer\Block\Widget\Name */
$prefix = $block->showPrefix();
$middle = $block->showMiddlename();
$suffix = $block->showSuffix();
?>

<?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
<div class="field prefix <?php /* @escapeNotVerified */ echo $block->getContainerClassName() ?>">
    <div class="control">
        <fieldset class="fieldset fieldset-prefix">
        <div class="fields">
<?php endif; ?>

    <?php if ($prefix): ?>
        <div class="field field-name-prefix<?php if ($block->isPrefixRequired()) echo ' required' ?>">
            <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId('prefix') ?>">
                <span><?php /* @escapeNotVerified */ echo $block->getStoreLabel('prefix') ?></span>
            </label>

            <div class="control">
                <?php if ($block->getPrefixOptions() === false): ?>
                    <input type="text" id="<?php /* @escapeNotVerified */ echo $block->getFieldId('prefix') ?>"
                           name="<?php /* @escapeNotVerified */ echo $block->getFieldName('prefix') ?>"
                           value="<?php echo $block->escapeHtml($block->getObject()->getPrefix()) ?>"
                           title="<?php /* @escapeNotVerified */ echo $block->getStoreLabel('prefix') ?>"
                           class="input-text <?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('prefix') ?>" <?php /* @escapeNotVerified */ echo $block->getFieldParams() ?> <?php if ($block->isPrefixRequired()) echo ' data-validate="{required:true}"' ?>>
                <?php else: ?>
                    <?php foreach ($block->getPrefixOptions() as $_option): ?>
                        <?php if(empty($_option)) continue; $rand = mt_rand(0,100); ?>
                        <input type="radio" id="<?php /* @escapeNotVerified */ echo $block->getFieldId('prefix').'_'.$rand?>"
                               name="<?php /* @escapeNotVerified */ echo $block->getFieldName('prefix') ?>"
                               value="<?php /* @escapeNotVerified */ echo __($_option) ?>"
                               title="<?php /* @escapeNotVerified */ echo $_option ?>"
                               <?php if ($block->getObject()->getPrefix() == $_option): ?> checked="checked"<?php endif; ?>
                               class="input-text <?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('prefix') ?>" <?php /* @escapeNotVerified */ echo $block->getFieldParams() ?> <?php if ($block->isPrefixRequired()) echo ' data-validate="{required:true}"' ?>>
                        <label for="<?php /* @escapeNotVerified */
                        echo $block->getFieldId('prefix') . '_' . $rand ?>"><?php /* @escapeNotVerified */ echo __($_option) ?></label>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
            </div>
        </fieldset>
    </div>
</div>
<?php endif; ?>
