<?php
$getActivePaymentMethods = $block->getActivePaymentMethods();
$carriers = $block->getShippingMethods();
$wodAttrributes = $block->getWodAttributes();
?>
<p><?php echo __('These are your default settings. You’ll be able to adapt them each time you make a new order.') ?></p>
<?php if(count($carriers)): ?>
    <p><strong><?php echo __('Shipping') ?></strong></p>
    <ul class="shipping-lists">
        <?php foreach ($carriers as $carrier): ?>
            <?php foreach ($carrier['value'] as $child):
                $selected = '';
                if(isset($wodAttrributes['wod_ship'])){
                    $selected = ($wodAttrributes['wod_ship'] == $child['value']) ? 'checked="checked"' : '';
                }
                ?>
                <li>
                    <label><input type="radio" name="wod_ship" value="<?php /* @escapeNotVerified */ echo $child['value'] ?>" <?php echo $selected; ?>/> <?php /* @escapeNotVerified */ echo $carrier['label'] ?></label>
                </li>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
    <p><?php echo __('If DPD or SwissPost, shippments from World of Delight are free als long as you order for more than CHF 50.- Both hauliers deliver the day after pickup. Different is the time of the day their delivery arrives. Swisspost delivers throughout the day while with DPD you may also choose evening delivery.') ?></p>
<?php if(count($getActivePaymentMethods)): ?>
    <p><strong><?php echo __('Payment') ?></strong></p>
    <ul class="payment-lists">
        <?php foreach ($getActivePaymentMethods as $code => $paymentMethod):
            $selected = '';
            if(isset($wodAttrributes['wod_ship'])){
                $selected = ($wodAttrributes['wod_payment'] == $code) ? 'checked="checked"' : '';
            }
            ?>
            <li><label><input type="radio" name="wod_payment" value="<?php echo $code ?>" <?php echo $selected; ?> /> <?php echo $paymentMethod->getTitle() ?></label></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>