<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
$attributeSetRepository = $attributeSet->get($_product->getAttributeSetId());
$attribute_set_name = $attributeSetRepository->getAttributeSetName();
?>
<?php if ($attribute_set_name): ?>
    <?php if ($_additional = $block->getAdditionalData()): ?>
        <?php $lieferzeit = $_additional['lieferzeit']; ?>
        <?php unset($_additional['inhalt']); ?>
        <?php unset($_additional['lieferzeit']); ?>
        <div class="additional-attributes-wrapper table-wrapper <?php echo 'attrwrap_' . $attribute_set_name; ?>">

            <div class="data table additional-attributes" id="product-attribute-specs-table">
                <label class="list-caption"><?php /* @escapeNotVerified */
                    echo __('More Information') ?></label>
                <ul>
                    <?php $aroma = array(); ?>
                    <?php foreach ($_additional as $_data): ?>
                        <?php if ($_data['code'] == 'wod_aroma'): ?>
                            <?php $aroma = $_data; ?>
                            <?php continue; ?>
                        <?php endif; ?>
                        <?php if ($_data['value']=='Not selected'): ?>
                            <?php continue; ?>
                        <?php endif; ?>

                        <li class="product-atr-listitem">
                            <span class="col label"><?php echo $block->escapeHtml(__($_data['label'])) ?></span>
                            <?php if ($attribute_set_name == 'kaffee' && ($_data['code'] == 'wod_roast' || $_data['code'] == 'wod_intensity')): ?>
                                <ul class="<?php echo $_data['code']; ?>">
                                    <?php $attrValue = $block->getAttributeSelectSource($_data['code'], $_product); ?>
                                    <?php $i = 1; ?>
                                    <?php foreach ($attrValue as $item): ?>
                                        <?php if ($item !='Not selected'):?>
                                        <li class="<?php echo $_data['code'] . '_' . $item; ?>  <?php if ($item == $_helper->productAttribute($_product, $_data['value'], $_data['code'])) echo 'active'; ?>"><?php if ($_data['code'] == 'wod_intensity') echo $i++; ?></li>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endif; ?>
                            <?php if ($attribute_set_name == 'kaffee' && $_data['code'] == 'wod_cupsize'): ?>
                                <ul class="<?php echo $_data['code']; ?>">
                                    <?php $entityType = 'catalog_product'; ?>
                                    <?php $attrName = $_data['code']; ?>
                                    <?php $attributeInfo = $block->getAttributeInfo($entityType, $attrName); ?>
                                    <?php $attributeId = $attributeInfo->getAttributeId(); ?>
                                    <?php $attributeOptionAll = $block->getAttributeOptionAll($attributeId); ?>
                                    <?php foreach ($attributeOptionAll as $item): ?>
                                        <?php $activeattrArray = explode(',', $_helper->productAttribute($_product, $_data['value'], $_data['code'])) ?>
                                        <?php $activeattrArray = array_map('trim', $activeattrArray); ?>
                                        <li class="<?php echo $_data['code'] . '_' . $item->getValue(); ?>  <?php if (in_array($item->getValue(), $activeattrArray)) echo 'active'; ?>"></li>
                                    <?php endforeach ?>
                                </ul>
                            <?php else: ?>
                                <?php if (!($_data['code'] == 'wod_roast' || $_data['code'] == 'wod_intensity')): ?>
                                    <span class="col data"><?php /* @escapeNotVerified */
                                        echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></span>
                                <?php endif; ?>
                            <?php endif; ?>
                        </li>
                    <?php endforeach; ?>
                    <?php if(count($aroma)): ?>
                    <li class="product-atr-listitem">
                        <span class="col label"><?php echo $block->escapeHtml(__($aroma['label'])) ?></span>
                        <span class="col data"><?php /* @escapeNotVerified */
                            echo $_helper->productAttribute($_product, $aroma['value'], $aroma['code']) ?></span>
                    </li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>

        <div class="delivery_wrapper">
            <span class="col label delivery_time"><?php echo $block->escapeHtml(__($lieferzeit['label'])) ?></span>
            <span class="col data"><?php /* @escapeNotVerified */
                echo $_helper->productAttribute($_product, $lieferzeit['value'], $lieferzeit['code']) ?></span>
        </div>

        <?php if ($_product->isAvailable()): ?>
            <div class="stock available" title="<?php /* @escapeNotVerified */
            echo __('Availability') ?>">
                <span class="col label availability"><?php echo __('Availability') ?></span>
                <span class="status_stock"><?php /* @escapeNotVerified */
                    echo __('In stock') ?></span>
            </div>
        <?php else: ?>
            <div class="stock unavailable" title="<?php /* @escapeNotVerified */
            echo __('Availability') ?>">
                <span class="col label availability"><?php echo __('Availability') ?></span>
                <span class="status_stock"><?php /* @escapeNotVerified */
                    echo __('Out of stock') ?></span>
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>

