<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php /* @var $block \Amasty\GiftCard\Block\Customer\CardForm */ ?>
<div class="amgiftcard">
    <form class="form" id="amgiftcard-form" action="<?php echo $block->getUrl('amgiftcard/account/addCard') ?>" method="post" enctype="multipart/form-data">
        <?php echo $block->getBlockHtml('formkey')?>
        <div class="block block-amgiftcard">
            <div class="block-title"><strong><span><?php echo __('Gift Cards') ?></span></strong></div>
            <div class="block-content">
                <fieldset class="fieldset">
                    <div class="field required" data-container="change-email">
                        <label for="am_giftcard_code"><?php echo __('Enter gift card code') ?>:</label>
                        <div class="control">
                            <input type="text" class="required-entry input-text" id="am_giftcard_code" name="am_giftcard_code" value="" />
                        </div>
                    </div>
                </fieldset>

                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action save primary" title="<?php echo __('Check status') ?>"><span><?php echo __('Check status') ?></span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>