<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2016 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.sellxed.com/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.sellxed.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_DatatransCw
 * 
 */

/* @var $block \Customweb\DatatransCw\Block\Payment\Method\Form */
?>

<ul class="form-list checkout-agreements" id="payment_form_<?php echo $block->escapeHtml($block->getMethodCode()) ?>" style="display:none;">
	<li>
		<div class="<?php echo $block->escapeHtml($block->getMethodCode()) ?>-info-content checkout-agreement-item-content">
			<div class="messages">
				<div class="message message-info info">
					<div data-ui-id="messages-message-info">
						<?php
						
\Customweb_Licensing_DatatransCw_License::run('bcplh8v0bn6a7kuk');
						?>
				</div>
			</div>
		</div>
	</li>
</ul>