.slider_list,
li.slider_item {
  display: inline-block;
}

li.slider_item {
  list-style: none;
  width: 389px;
  height: 219px;
  margin-right: 27px;
}

li.slider_item:last-child {
  margin-right: 0;
}

.slider_list {
  display: block;
  text-align: center;
}

@media all and (max-width: 1440px) {
  li.slider_item {
    margin-right: 0;
  }
}

@media all and (max-width: 375px) {
  li.slider_item {
    width: 100%;
    height: auto;
  }
}