.marken-show-brand .sidebar.sidebar-main .block.filter div.block-title.filter-title {
    display: none;
}

.marken-show-brand .limiter select {
    background: none;
}

.marken-show-allbrands .toolbar-products .limiter .control::after {
    top: 4px;
}

.marken-show-brand .product-items .product-item {
    width: 20%;
}

.marken-show-brand li.item.product.product-item:nth-child(1n),
.marken-show-brand li.item.product.product-item:nth-child(2n),
.marken-show-brand li.item.product.product-item:nth-child(3n),
.marken-show-brand li.item.product.product-item:nth-child(4n),
.marken-show-brand li.item.product.product-item:nth-child(5n) {
    padding-left: 15px;
    padding-right: 15px;
}

.marken-show-brand li.item.product.product-item {
    max-width: 310px;
}

.marken-show-brand li.item.product.product-item:nth-child(5n+1) {
    padding-left: 0;
}

.marken-show-brand li.item.product.product-item:nth-child(5),
.marken-show-brand li.item.product.product-item:nth-child(5n) {
    padding-right: 0;
}

.marken-show-brand li.item.product.product-item:nth-child(6n+1) {
    clear: none !important;
}

.marken-show-brand .accor-title {
    border-bottom: none !important;
    background: #efefef;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 0;
}

.marken-show-brand .brand_container {
    margin-top: 40px;
}

.marken-show-brand .brand-description p {
    font-size: 16px;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: rgb(127, 127, 127);
    line-height: 1.2;
}

.marken-show-brand .price-box.price-final_price .price-wrapper .price .monets {
    font-size: 23px;
    position: relative;
    top: -14px;
    line-height: 20px;
}

.marken-show-brand .field.limiter {
    float: right;
}

.toolbar .pages li strong span,
.pages li a,
.toolbar-sorter.sorter .limiter span,
.toolbar-sorter.sorter .sorter-label,
.toolbar.toolbar-products .pages .action span {
    font-family: "Avenir Next LT Pro", sans-serif;
}

.marken-show-brand .toolbar.toolbar-products a.action.next:after,
.marken-show-brand .toolbar-bottom a.action.next:after {
    content: "▶";
    position: relative;
    top: -1px;
}

.marken-show-brand .toolbar-products .pages {
    display: inline-block;
}

.marken-show-brand .toolbar-products .pages a.action span,
.marken-show-brand .toolbar .pages a.action span {
    text-indent: -9999px;
    display: inline-block;
}

.marken-show-brand .toolbar-bottom .toolbar-products .pages {
    float: none;
}

.marken-show-brand .toolbar-products .pages {
    display: inline-block;
}

.marken-show-brand .toolbar.toolbar-products .pages li,
.marken-show-brand .toolbar-bottom .pages li {
    border: none;
    float: none;
}

.marken-show-brand .sorter select:after,
.marken-show-brand .toolbar-products .limiter .control:after,
.marken-show-brand .limiter select:after {
    top: 4px;
}

.marken-show-brand .price-box.price-final_price .price-wrapper .price .currency {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    bottom: 17px;
    left: 0;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
}

.marken-show-allbrands .sidebar.sidebar-additional,
.marken-show-allbrands.page-layout-2columns-left .sidebar-main,
.marken-show-brand.page-layout-2columns-left .sidebar-main {
    width: 16% !important;
}

.marken-show-allbrands.page-layout-2columns-left .column.main,
.marken-show-brand.page-layout-2columns-left .column.main {
    width: 83% !important;
}

.marken-show-brand button.reduced.items,
.marken-show-brand button.increase.items {
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: gray;
    border-radius: 50%;
    position: relative;
}

.marken-show-brand button.action.tocart {
    padding: 0 !important;
    text-indent: -9999px;
    border-radius: 50% !important;
    border: none !important;
    background: #f94415;
    position: relative;
    margin-top: 16px;
    margin-bottom: 5px;
    outline: none;
}

.marken-show-brand .products-grid .price-box {
    text-align: left;
}

.marken-show-brand .category-products.grid.products-grid .item {
    min-height: 390px;
    margin-bottom: 20px;
}

.marken-show-brand button.reduced.items .fa-minus:before,
.marken-show-brand button.increase.items .fa-plus:before {
    color: #fff;
}

.marken-show-brand .category-products.products-grid .category-products-grid,
.marken-show-brand .category-products.grid.products-grid .item {
    min-height: 390px;
}

.marken-show-brand .product-items .product-item {
    width: 20%;
    max-width: 278px;
}

.marken-show-brand .category-products.grid .item .images-container {
    padding: 18px 0 0;
    max-height: 100%;
}

.marken-show-brand .toolbar.toolbar-products .modes {
    vertical-align: middle;
}

.marken-show-brand .toolbar.toolbar-products .modes .label {
    display: inline-block;
}

.marken-show-brand .product.product-item-actions.show-box-cart {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.marken-show-brand button.btn-cart.action.tocart span:after {
    content: "";
    background: url(../images/add_product_card.png) no-repeat;
    line-height: 1;
    font-size: 20px;
    width: 43px;
    height: 43px;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    display: inline-block;
    top: 3px;
    left: 3px;
    right: auto;
    text-indent: initial;
}

.marken-show-brand .price-box {
    padding-top: 15px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow-wrap: break-word;
    position: absolute;
    bottom: -12px;
    background: #efefef;
}

.marken-show-brand a.product-item-link {
    text-transform: uppercase;
    color: #000;
    font-size: 18px !important;
    width: 80%;
    display: inline-block;
    z-index: 100;
    position: relative;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.marken-show-brand .product-qty .btn-minus {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.marken-show-brand .toolbar.toolbar-products .field.limiter {
    float: right;
}

.marken-show-brand .toolbar.toolbar-products .toolbar-sorter.sorter {
    float: left;
}

.marken-show-brand .category-products.grid .item .product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.marken-show-brand .primary a.action span {
    border-radius: 3px;
    display: block;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

.marken-show-brand .old-price span.price-container.price-final_price.tax.weee span.price {
    color: #000000;
    font-weight: bold;
    font-size: 12px !important;
    position: relative;
    bottom: 0;
    left: -40px !important;
    padding-left: 0;
}

.marken-show-brand .price-box.price-final_price .price-wrapper .price {
    font-size: 40px;
    color: #f94415;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
    padding-left: 10px;
}

.marken-show-brand .brand_container .aw_brand_logo img {
    border: 1px solid #b4b4b4;
    max-width: 252px;
    max-height: 232px;
    display: inline-block;
}

.marken-show-brand .toolbar,
.marken-show-brand .sidebar .block.filter .block-content,
.marken-show-brand .sidebar .nav-accordion {
    background: #efefef;
    padding: 10px 30px;
    border: 0;
}

.marken-show-brand .sidebar .nav-accordion {
    padding: 0 30px 17px;
}

.marken-show-brand .filter-options .filter-options-title {
    border: 0;
}

.marken-show-brand .aw_brand_title {
    font-size: 24px;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: #7f7f7f;
    line-height: 1.2;
}

.marken-show-allbrands .sidebar.sidebar-additional {
    padding-top: 0;
}

.marken-show-allbrands .toolbar .pager {
    display: block;
}

.marken-show-allbrands .block.filter {
    background: #efefef;
    padding: 10px 30px;
    margin-bottom: 20px;
}

.marken-show-allbrands .filter-options .filter-options-title {
    border-bottom: 0;
}

.marken-show-allbrands .block-title.filter-title {
    display: none;
}

.marken-show-allbrands .sidebar .block.filter .block-content {
    border: none;
    padding: 0;
}

.marken-show-allbrands .order-products-toolbar.toolbar.bottom .pages li a span,
.marken-show-allbrands .pages li a span,
.marken-show-allbrands .pages li strong span,
.marken-show-allbrands .sorter select,
.marken-show-allbrands .limiter span,
.marken-show-allbrands .sorter-label {
    font-family: "Avenir Next LT Pro", sans-serif;
}

.marken-show-allbrands .order-products-toolbar.toolbar.bottom .pages li a,
.marken-show-allbrands .pages li a,
.marken-show-allbrands .order-products-toolbar.toolbar.bottom .pages li a span,
.marken-show-allbrands .pages li a span {
    color: rgb(117, 117, 117);
}

.marken-filter-block .filter-options .filter-options-content .item a {
    font-size: 23px;
    line-height: 23px;
    color: #000000;
    font-weight: normal;
    font-family: 'HURTMOLD', sans-serif;
}

.marken-filter-block .filter-options .filter-options-content {
    padding-top: 10px;
}

li.top_marken_item {
    display: inline-block;
    max-width: 9%;
    min-width: 8.9%;
    vertical-align: middle;
    margin-left: 0.895%;
}

li.top_marken_item:first-child {
    margin-left: 0;
}

.top_marken_list {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

span.title_holder:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 4px;
    background: red;
    left: 0;
    top: 25px;
}

span.title_holder {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

span.view_all {
    float: right;
    color: #000 !important;
    padding-left: 15px;
    position: relative;
}

ul.top_marken_list {
    margin: 35px 0;
}

.header-bottom ul.top_marken_list {
    margin-top: 0;
    margin-bottom: 0;
}

span.view_all a {
    color: #000;
}

span.view_all:after {
    content: ">";
    display: inline-block;
    color: red;
    position: absolute;
    left: 0;
    top: 0;
}

li.marken_item {
    display: inline-block;
    list-style: none;
    width: 18%;
    margin-right: 2%;
    vertical-align: middle;
    margin-left: -4px;
    margin-bottom: 2%;
}

.item a:focus, .item a:active {
    color: rgb(117, 117, 117);
}

a:visited, .alink:visited {
    color: inherit;
}

.marken-show-brand ul.nav-accordion li a span {
    font-size: 23px;
    color: #000000;
    font-weight: normal;
    font-family: 'HURTMOLD', sans-serif;
    word-spacing: 5px;
}

.toolbar-sorter.sorter:after {
    content: "\0025BC";
    position: absolute;
    right: 10px;
    z-index: 1000;
    display: inline-block;
    color: rgb(117, 117, 117);
    width: 31px;
    height: 18px;
    font-size: 34px;
    top: 10px;
    text-align: center;
}

ul.marken {
    display: block;
}

.marken-show-allbrands .toolbar .pager {
    width: 100%;
}

.order-products-toolbar.toolbar.bottom {
    background: #efefef;
}

.marken-show-allbrands .marken_wrap .marken_item a {
    border: 1px solid #b4b4b4;
    display: block;
    vertical-align: middle;
    text-align: center;
}

.marken-show-allbrands .marken_wrap .marken_item a img {
    border: 0;
}

ul.marken {
    margin-top: 56px;
}

ol#show_in_main_sidebar-type li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 1px solid #808080;
}

ol#show_in_main_sidebar-type .item.active a:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #4e3f3f;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 0 0 0 3px #fff inset;
}

ol#show_in_main_sidebar-type li a {
    position: relative;
    padding-left: 30px;
    font-size: 24px;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
}

.marken-show-allbrands .order-products-toolbar.toolbar.bottom {
    padding: 10px 30px;
    margin: 0;
}

.marken-show-allbrands .toolbar.toolbar-products .toolbar-sorter.sorter {
    position: relative;
    top: 10px;
}

.marken-show-allbrands .order-products-toolbar.toolbar.bottom .toolbar {
    margin: 0;
}

.marken-show-allbrands .order-products-toolbar.toolbar.bottom .limiter {
    margin-top: 10px;
}

.order-products-toolbar.toolbar.bottom .toolbar-amount {
    float: left;
    display: block;
}

.order-products-toolbar.toolbar.bottom .pages li {
    border-radius: 0;
    border-style: none;
}

.order-products-toolbar.toolbar.bottom .pages li.item.current {
    position: relative;
    top: 0;
}

li.marken_item:nth-child(6n),
li.marken_item:first-child {
    margin-left: 0;
}

.order-products-toolbar.toolbar.bottom .pager li > a, .order-products-toolbar.toolbar.bottom .pager li > span {
    padding: 5px 14px;
    background-color: transparent;
    border: none;
    border-radius: initial;
}

.order-products-toolbar.toolbar.bottom .pager .pages strong {
    display: inline-block;
}

.order-products-toolbar.toolbar.bottom .pager .pages strong {
    line-height: inherit;
}

.order-products-toolbar.toolbar.bottom .pages li a span {
    position: relative;
    top: 0;
}

.order-products-toolbar.toolbar.bottom .pages li a span.label {
    display: none;
}

.order-products-toolbar.toolbar.bottom .pager .limiter select {
    width: 50px;
}

.order-products-toolbar.toolbar.bottom .limiter-label {
    padding-right: 10px;
}

.marken_item {
    margin-left: 0;
}

.order-products-toolbar.toolbar.bottom .item.current .label {
    display: none;
}

.order-products-toolbar.toolbar.bottom a.action.next:after {
    content: "▶";
    position: relative;
    top: -1px;
}

.order-products-toolbar.toolbar.bottom a.action.previous:after {
    content: "◀";
    position: relative;
    top: -1px;
}

.order-products-toolbar.toolbar.bottom a.action span {
    text-indent: -9999px;
}

.nav-desktop .top_marken_holder .title_holder {
    font-size: 30px;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
}

.page-footer .top_marken_holder .container {
    overflow: hidden;
}

.marken-show-allbrands .field.limiter .sorter select,
.marken-show-allbrands .limiter select {
    background-image: none;
}

.nav-desktop .top_marken_holder .title_holder:after {
    display: none;
}

.nav-desktop .top_marken_holder {
    border-top: 1px solid #ccc;
    width: 100%;
    max-width: 1676px;
    padding-top: 13px;
    margin: 70px auto 0;
}

.top_marken_list {
    display: inline-block;
    margin: 35px auto;
    position: relative;
    text-align: center;
    clear: both;
}

dl.narrow-by.mark {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media all and (max-width: 1700px) {
    li.top_marken_item {
        max-width: 8%;
        min-width: 8%;
    }
}

@media all and (max-width: 1680px) {
    .marken-show-brand .product-items .product-item {
        width: 25%;
    }

    .marken-show-brand li.item.product.product-item:nth-child(1n),
    .marken-show-brand li.item.product.product-item:nth-child(2n),
    .marken-show-brand li.item.product.product-item:nth-child(3n),
    .marken-show-brand li.item.product.product-item:nth-child(4n),
    .marken-show-brand li.item.product.product-item:nth-child(5n) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .marken-show-brand li.item.product.product-item {
        max-width: 310px;
    }

    .marken-show-brand li.item.product.product-item:nth-child(4n+1) {
        padding-left: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(4),
    .marken-show-brand li.item.product.product-item:nth-child(4n) {
        padding-right: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(5n+1) {
        clear: none !important;
    }
}

@media all and (max-width: 1550px) {
    li.top_marken_item {
        float: none;
    }
}

@media all and (max-width: 1440px) {
    li.top_marken_item {
        display: inline-block;
        width: 23%;
        margin-right: 1.7%;
        max-width: 8%;
        min-width: 8%;
    }

    .marken-show-allbrands .sidebar.sidebar-additional,
    .marken-show-allbrands.page-layout-2columns-left .sidebar-main,
    .marken-show-brand.page-layout-2columns-left .sidebar-main {
        width: 24% !important;
    }

    .marken-show-allbrands.page-layout-2columns-left .column.main,
    .marken-show-brand.page-layout-2columns-left .column.main {
        width: 75% !important;
    }

    .nav-desktop .top_marken_holder .container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media all and (min-width: 1366px) {
    li.top_marken_item {
        width: auto;
        margin-right: 1.5%;
        max-width: 7%;
        min-width: 7%;
    }

    .header-main-bottom .magicmenu .nav-desktop .level0:hover .level-top-mega,
    .magicmenu .nav-desktop .level0.dropdown:hover > .level0 {
        top: 183px;
    }
}

@media all and (max-width: 1366px) {
    .marken-show-brand .product-items .product-item {
        width: 33.3%;
    }

    .marken-show-brand li.item.product.product-item:nth-child(1n),
    .marken-show-brand li.item.product.product-item:nth-child(2n),
    .marken-show-brand li.item.product.product-item:nth-child(3n),
    .marken-show-brand li.item.product.product-item:nth-child(4n),
    .marken-show-brand li.item.product.product-item:nth-child(5n) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .marken-show-brand li.item.product.product-item {
        max-width: 310px;
    }

    .marken-show-brand li.item.product.product-item:nth-child(3n+1) {
        padding-left: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(3),
    .marken-show-brand li.item.product.product-item:nth-child(3n) {
        padding-right: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(4n+1) {
        clear: none !important;
    }
}

@media all and (min-width: 1201px) {
    .product-items .product-item.item.product:nth-child(6n+1) {
        clear: none;
    }
}

@media all and (max-width: 1200px) {
    li.top_marken_item {
        max-width: 16%;
        min-width: 16%;
        margin-left: 2%;
    }

    li.top_marken_item:nth-child(6) {
        margin-left: 0;
    }

    li.marken_item {
        width: 15%;
    }
}

@media all and (max-width: 1024px) {
    .level-top-mega.custom-top li.top_marken_item:nth-child(n+5) {
        display: none;
    }

    .marken-show-allbrands .sidebar.sidebar-additional,
    .marken-show-allbrands.page-layout-2columns-left .sidebar-main,
    .marken-show-brand.page-layout-2columns-left .sidebar-main {
        width: 28% !important;
    }

    .marken-show-allbrands.page-layout-2columns-left .column.main,
    .marken-show-brand.page-layout-2columns-left .column.main {
        width: 71% !important;
    }
}

@media all and (max-width: 1023px) {
    .order-products-toolbar.toolbar.bottom .pages strong span,
    .order-products-toolbar.toolbar.bottom .pages li a span {
        top: 0;
        line-height: 78px;
    }

    .order-products-toolbar.toolbar.bottom .toolbar-amount,
    .order-products-toolbar.toolbar.bottom .limiter,
    .order-products-toolbar.toolbar.bottom .pages li,
    .toolbar-amount {
        line-height: 87px;
    }

    .order-products-toolbar.toolbar.bottom .pages li {
        height: auto;
    }
}

@media all and (max-width: 992px) {
    .marken-show-brand .product-items .product-item {
        width: 50%;
    }

    .marken-show-brand li.item.product.product-item:nth-child(1n),
    .marken-show-brand li.item.product.product-item:nth-child(2n),
    .marken-show-brand li.item.product.product-item:nth-child(3n),
    .marken-show-brand li.item.product.product-item:nth-child(4n),
    .marken-show-brand li.item.product.product-item:nth-child(5n) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .marken-show-brand li.item.product.product-item {
        max-width: 320px;
    }

    .marken-show-brand li.item.product.product-item:nth-child(2n+1) {
        padding-left: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(2),
    .marken-show-brand li.item.product.product-item:nth-child(2n) {
        padding-right: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(3n+1) {
        clear: none !important;
    }
}

@media all and (max-width: 768px) {
    .marken-show-brand .sidebar-main {
        display: table-header-group;
    }

    .marken-show-brand.page-layout-2columns-left .column.main {
        display: table-footer-group;
    }

    .marken-show-brand.page-layout-2columns-left .sidebar-main .filter,
    .marken-show-brand.page-layout-2columns-left .column.main .toolbar-products,
    .marken-show-brand.page-layout-2columns-left .column.main .category-products {
        max-width: 96%;
        margin-left: auto;
        margin-right: auto;
    }

    .order-products-toolbar.toolbar.bottom .toolbar-amount {
        display: block;
        width: 100%;
        padding-top: 15px;
    }

    .order-products-toolbar.toolbar.bottom .pages strong span, .order-products-toolbar.toolbar.bottom .pages li a span,
    .order-products-toolbar.toolbar.bottom .toolbar-amount, .order-products-toolbar.toolbar.bottom .limiter, .order-products-toolbar.toolbar.bottom .pages li, .toolbar-amount {
        line-height: inherit;
    }

    .order-products-toolbar.toolbar.bottom .pages strong span {
        top: 6px;
        position: relative;
    }

    .order-products-toolbar.toolbar.bottom .pages li a span {
        top: 0;
    }

    .marken-show-brand .product-items .product-item {
        width: 33.3%;
    }

    .marken-show-brand li.item.product.product-item:nth-child(1n),
    .marken-show-brand li.item.product.product-item:nth-child(2n),
    .marken-show-brand li.item.product.product-item:nth-child(3n),
    .marken-show-brand li.item.product.product-item:nth-child(4n),
    .marken-show-brand li.item.product.product-item:nth-child(5n) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .marken-show-brand li.item.product.product-item {
        max-width: 310px;
    }

    .marken-show-brand li.item.product.product-item:nth-child(3n+1) {
        padding-left: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(3),
    .marken-show-brand li.item.product.product-item:nth-child(3n) {
        padding-right: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(4n+1) {
        clear: none !important;
    }
}

@media all and (max-width: 640px) {
    li.top_marken_item:nth-child(2),
    li.top_marken_item:first-child {
        display: inline-block;
    }

    li.top_marken_item {
        max-width: 22%;
        min-width: 22%;
    }

    .marken-show-brand .product-items .product-item {
        width: 50%;
    }

    .marken-show-brand li.item.product.product-item:nth-child(1n),
    .marken-show-brand li.item.product.product-item:nth-child(2n),
    .marken-show-brand li.item.product.product-item:nth-child(3n),
    .marken-show-brand li.item.product.product-item:nth-child(4n),
    .marken-show-brand li.item.product.product-item:nth-child(5n) {
        padding-left: 5px;
        padding-right: 5px;
    }

    .marken-show-brand li.item.product.product-item {
        max-width: 310px;
    }

    .marken-show-brand li.item.product.product-item:nth-child(2n+1) {
        padding-left: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(2),
    .marken-show-brand li.item.product.product-item:nth-child(2n) {
        padding-right: 0;
    }

    .marken-show-brand li.item.product.product-item:nth-child(3n+1) {
        clear: none !important;
    }
}

@media (max-width: 570px) {
    .marken {
        text-align: center;
    }

    li.marken_item {
        width: 26%;
    }
}

@media (max-width: 500px) {
    li.top_marken_item {
        max-width: 45%;
        min-width: 45%;
    }

    .top_marken_holder {
        margin-top: 30px;
    }
}

@media (max-width: 425px) {
    .top_marken_list {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .marken-show-brand .product-items .product-item {
        width: 100%;
    }

    .marken-show-brand li.item.product.product-item:nth-child(1n),
    .marken-show-brand li.item.product.product-item:nth-child(2n),
    .marken-show-brand li.item.product.product-item:nth-child(3n),
    .marken-show-brand li.item.product.product-item:nth-child(4n),
    .marken-show-brand li.item.product.product-item:nth-child(5n) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .marken-show-brand li.item.product.product-item {
        max-width: 380px;
    }

}

@media (max-width: 375px) {
    li.marken_item {
        width: 42%;
    }
}