
<!-- ko if: (visible) -->
    <div attr="class: checkboxname">
        <input type="checkbox"
           attr="id: checkboxname, name: checkboxname" checked/>
        <label class="" text="label" attr="for: checkboxname"/>
    </div>

<!--/ko-->
