<!-- ko if: (visible) -->
<div attr="class: checkboxname" style="display:none;">
    <input type="checkbox"
           attr="id: checkboxname, name: checkboxname"/>
    <label class="" text="label" attr="for: checkboxname"/>
</div>

<!--/ko-->
