<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-registration" data-role="email-with-possible-registration"
      data-bind="submit:login"
      method="post">

    <fieldset class="fieldset" data-bind="blockLoader: isLoading" id="passwordIndicator">
        <div class="field">
            <label class="label" for="customer-register-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label>
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       name="email"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-register-email" />
                <span data-bind="i18n: 'Log in?', visible: showToLoginLink, click: switchToLogin"></span>
            </div>
        </div>
        <div class="field" >
            <label class="label" for="customer-register-password">
                <span data-bind="i18n: 'Password'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       type="password"
                       name="password"
                       id="customer-register-password"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       data-password-min-length="8"
                       data-password-min-character-sets="3"
                       autocomplete="off"/>
                    <!-- <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span> -->
                </div>
            </div>
        <div class="field password-confirmation">
            <label class="label" for="password-confirmation">
                <span data-bind="i18n: 'Confirm Password'"></span>
            </label>
            <div class="control">
                <input class="input-text"
                       type="password"
                       name="password_confirmation"
                       id="password-confirmation"
                       data-validate="{required:true, equalTo:'#customer-register-password'}" autocomplete="off"/>
                <!-- <span class="note" data-bind="i18n: 'You already have an account with us. Sign in or continue as guest.'"></span> -->
            </div>
        </div>
        <div id="password-strength-meter-container" data-role="password-strength-meter">
            <div id="password-strength-meter" class="password-strength-meter">
                <span data-bind="i18n: 'Password Strength'"></span>:
                 <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                      <span data-bind="i18n: 'No Password'"></span>
                 </span>
            </div>
            <div id="password-required-text" class="password-required-text">
                <span data-bind="i18n: 'All fields are required'"></span>
            </div>
        </div>
        <div class="actions-toolbar">
            <input name="context" type="hidden" value="checkout" />
            <div class="primary">
                <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="i18n: 'Register'"></span></button>
            </div>
        </div>
    </fieldset>
</form>
<!-- /ko -->
