<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php /* @var $block \Amasty\GiftCard\Block\Product\View\Type\GiftCard */ ?>
<?php $_currencyShortName = $block->getCurrencyShortName(); ?>
<?php $_product = $block->getProduct(); ?>

<?php if ( $_product->isSaleable() && $block->isConfigured( $_product ) ): ?>
	<div class="fieldset">
		<?php if ( $block->isMultiAmount() || $_product->getAmGiftcardPrices()): ?>
			<div class="field required">
				<label class="label" for="amgiftcard_amount">
					<span><?php echo __( 'Card Value in %1', $_currencyShortName ); ?></span>
				</label>

				<?php if ( $block->isPredefinedAmount() ): ?>
					<div class="control">
						<select id="am_giftcard_amount" name="am_giftcard_amount" class="required-entry">
							<option value=""><?php echo __( 'Choose an Amount...' ); ?></option>
							<?php foreach ( $block->getListAmounts() as $_amount ): ?>
								<option data-value="<?php echo $block->convertPrice($_amount); ?>"
									value="<?php echo $block->convertToBase($_amount) ; ?>"<?php if ( $block->getDefaultValue( 'am_giftcard_amount' ) == $_amount ) {
									echo " selected";
								} ?>><?php echo $block->getFormatPrice( $_amount ); ?></option>
							<?php endforeach; ?>
							<?php if ( $_product->getAmAllowOpenAmount() ): ?>
								<option value="custom"><?php echo __( 'Custom Amount' ); ?></option>
							<?php endif; ?>
						</select>

						<?php if ( $_product->getAmAllowOpenAmount() ): ?>
							<div class="field" id="amgiftcard_amount_custom_block"
							     style="display: <?php if ( $block->isPredefinedAmount() ): ?>none<?php endif; ?>">
								<?php $_min = $_max = 0;
								if ( $_product->getAmOpenAmountMin() || $_product->getAmOpenAmountMax() ): ?>
									<?php $_min = $_product->getAmOpenAmountMin(); ?>
									<?php $_max = $_product->getAmOpenAmountMax(); ?>
									<input id="am_giftcard_amount_custom" name="am_giftcard_amount_custom"
									       class="validate-number-range number-range-<?php echo $block->round($block->convertPrice($_min)) . '-' . $block->round($block->convertPrice($_max)); ?>
                                           required-entry input-text amgiftcard-min-amount amgiftcard-max-amount"
									       value="<?php echo $block->getDefaultValue( 'am_giftcard_amount_custom' ); ?>"
									       type="text">

									<div>
										<?php if ( $_product->getAmOpenAmountMin() ): ?>
											<span><?php echo __( 'Minimum: %1',
													$block->getFormatPrice( $_min ) ); ?></span>
										<?php endif; ?>

										<?php if ( $_product->getAmOpenAmountMax() ): ?>
											<span><?php echo __( 'Maximum: %1',
													$block->getFormatPrice( $_max ) ); ?></span>
										<?php endif; ?>
									</div>


								<?php endif; ?>
							</div>
						<?php endif; ?>

					</div>

				<?php endif; ?>

			</div>
		<?php endif; ?>

		<?php if ( $_product->getAmGiftcardType() == \Amasty\GiftCard\Model\GiftCard::TYPE_COMBINED ): ?>

			<div class="field required">
				<label for="am_giftcard_type" class="label">
					<span><?php echo __( 'Choose card type' ); ?></span>
				</label>
				<div class="input-box">
					<select id="am_giftcard_type" name="am_giftcard_type" class="required-entry">
						<option value=""><?php echo __( '-- Please Select --' ); ?></option>
						<?php foreach ( $block->getListCardTypes() as $_cardType ): ?>
							<option
								value="<?php echo $_cardType['value']; ?>"<?php if ( $block->getDefaultValue( 'am_giftcard_type' ) == $_cardType['value'] ) {
								echo " selected";
							} ?>><?php echo $_cardType['label']; ?></option>
						<?php endforeach; ?>
					</select>
					<p class="note am-giftcard-delivery-info" style="display: none">
						<?php echo __( 'Please be aware that printed gift card will be sent to the shipping address you specify during checkout.' ); ?>
					</p>
				</div>
			</div>

		<?php endif; ?>

		<?php if ( $_images = $block->getImages() ): ?>

			<div class="field required">
				<label for="am_giftcard_image" class="label">
					<span><?php echo __( 'Choose card Image' ); ?></span>
				</label>

				<div class="input-box">
					<input type="text" id="am_giftcard_image" name="am_giftcard_image" class="required-entry"
					       value="<?php echo $block->getDefaultValue( 'am_giftcard_image' ); ?>"/>
					<?php foreach ( $_images as $_image ): ?>
						<img class="amgiftcard-image" data-id="<?php echo $_image->getId() ?>"
						     src="<?php echo $_image->getImageUrl() ?>"
						     data-img-full-src="<?php echo $_image->getImageUrl(); ?>"/>
					<?php endforeach; ?>
				</div>
			</div>

		<?php endif; ?>

		<div class="field required">
			<label for="am_giftcard_sender_name" class="label">
				<span><?php echo __( 'Sender Name' ); ?></span>
			</label>
			<div class="input-box">
				<input type="text" id="am_giftcard_sender_name" name="am_giftcard_sender_name"
				       class="required-entry input-text" value="<?php echo $block->getCustomerName(); ?>"/>
			</div>
		</div>
		<div class="field required">
			<label for="am_giftcard_sender_email" class="label">
				<span><?php echo __( 'Sender Email' ); ?></span>
			</label>
			<div class="input-box">
				<input type="text" id="am_giftcard_sender_email" name="am_giftcard_sender_email"
				       class="validate-email required-entry input-text"
				       value="<?php echo $block->getCustomerEmail(); ?>"/>
			</div>
		</div>

		<?php if ( $_product->getAmGiftcardType() != \Amasty\GiftCard\Model\GiftCard::TYPE_PRINTED ): ?>
			<div class="field required am_giftcard_recipient_data">
				<label for="am_giftcard_recipient_name" class="label">
					<span><?php echo __( 'Recipient Name' ); ?></span>
				</label>
				<div class="input-box">
					<input type="text" id="am_giftcard_recipient_name" name="am_giftcard_recipient_name"
					       class="required-entry input-text"
					       value="<?php echo $block->getDefaultValue( 'am_giftcard_recipient_name' ); ?>"/>
				</div>
			</div>
			<div class="field required am_giftcard_recipient_data">
				<label for="am_giftcard_recipient_email" class="label">
					<span><?php echo __( 'Recipient Email' ); ?></span>
				</label>
				<div class="input-box">
					<input type="text" id="am_giftcard_recipient_email" name="am_giftcard_recipient_email"
					       class="validate-email required-entry input-text"
					       value="<?php echo $this->getDefaultValue( 'am_giftcard_recipient_email' ); ?>"/>
				</div>
			</div>
		<?php endif; ?>

		<?php if ( $block->getScopeConfigByPath( 'amgiftcard/card/choose_delivery_date' ) ): ?>

			<div class="field required">
				<label for="am_giftcard_date_delivery" class="label">
					<span><?php echo __( 'Date of certificate delivery' ); ?></span>
				</label>
				<div class="input-box">
					<input name="am_giftcard_date_delivery" id="am_giftcard_date_delivery"
					       value="<?php echo $block->getDefaultValue( 'am_giftcard_date_delivery' ); ?>"
					       class="required-entry product-custom-option datetime-picker input-text validate-date"
					       type="text">
					<p class="note am-giftcard-delivery-info" style="display:none;">
						<?php echo __( 'Please be aware that delivery date of printed certificates may be different due to post.' ); ?>
					</p>
				</div>
			</div>
			<div class="field required">
				<label for="am_giftcard_date_delivery_timezone" class="label">
					<span><?php echo __( 'Select timezone' ); ?></span>
				</label>
				<div class="input-box">
					<select class="required-entry" name="am_giftcard_date_delivery_timezone"
					        id="am_giftcard_date_delivery_timezone">
						<option value=""></option>
						<?php foreach ( $block->getListTimezones() as $_timezone ): ?>
							<option
								value="<?php echo $_timezone['value']; ?>"<?php if ( $block->getDefaultValue( 'am_giftcard_date_delivery_timezone' ) == $_timezone['value'] ) {
								echo " selected";
							} ?>><?php echo $_timezone['label']; ?></option>
						<?php endforeach; ?>
					</select>
				</div>
			</div>
		<?php endif; ?>

		<?php if ( $block->isMessageAvailable( $_product ) ): ?>
			<div class="field am_giftcard_message">
				<label for="am_giftcard_message" class="label">
					<span><?php echo __( 'Message' ); ?></span>
				</label>
				<div class="input-box">
					<textarea name="am_giftcard_message" id="am_giftcard_message" class="input-text" cols="5"
					          rows="3"><?php echo $block->getDefaultValue( 'am_giftcard_message' ); ?></textarea>
				</div>
			</div>
		<?php endif; ?>

		<script>
			require([
				'jquery',
				'Amasty_GiftCard/js/main',
				"mage/calendar"
			], function ($) {
				$('#am_giftcard_sender_name').amGiftcard({
					productId: "<?php echo $_product->getId(); ?>",
					feeType: "<?php echo $_product->getAmGiftcardFeeType(); ?>",
					feeValue: "<?php echo $_product->getAmGiftcardFeeValue(); ?>"
				});
				if ($("#am_giftcard_date_delivery")) {
					$("#am_giftcard_date_delivery").calendar({
						showTime: false,
						minDate: new Date(),
					});
				}
			});

		</script>
	</div>

<?php endif; ?>
