.customer-address-form .field.country.required .message.info {
    max-width: 360px;
    margin-top: 20px;
}

.form.password.forget .block,
.customer-account-login .login-container .block,
.account .column.main .block,
.account .block.account-nav {
    border: 1px solid #aeaeae;
}

.customer-account-login .login-container .actions-toolbar {
    padding-bottom: 20px;
}

.customer-account-login #newsletter {
    max-height: 50px;
    height: 50px;
}

.account .product-item-name .product-item-link {
    font-size: 30px;
    line-height: 32px;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: #757575;
}

.customer-account-create .fieldset.create.info {
    padding-bottom: 15px;
}

.account .actions-toolbar .action.update {
    float: left;
}

.account .actions-toolbar .action.tocart {
    float: right;
}

.account .actions-toolbar .action.update span,
.account .actions-toolbar .action.tocart span,
.account .actions-toolbar .action.share span {
    color: #fff;
}

.account .actions-toolbar .action.update,
.account .actions-toolbar .action.tocart,
.account .actions-toolbar .action.share {
    background: #757575;
    border-radius: 0;
    border: none;
}

.account .products-grid.wishlist .product-item .box-tocart input.qty {
    width: 60px !important;
    height: 27px;
}

.account td:nth-child(5) .product-item-inner {
    display: inline-block;
    width: 62px;
    height: 62px;
    background-color: gray;
    border-radius: 8px;
    padding: 6px;
    position: relative;
    top: 3px;
}

.account .price-box .price {
    font-weight: normal;
}

.account .form-wishlist-items .actions-toolbar .primary {
    display: block;
    width: 100%;
    text-align: center;
}

.account .btn-remove.action.delete {
    display: inline-block;
    background: url("../images/icon_trash.png") center center no-repeat;
    text-indent: -99999px;
    background-size: contain;
    width: 36px;
    height: 42px;
}

.customer-account-index .column.main .block-dashboard-orders .block-title,
.account .block.account-nav .title {
    margin-bottom: 0;
}

.customer-account-forgotpassword .block-title,
.customer-account-create .block-title,
.customer-account-index .block.block-create-account .block-title,
.customer-account-index .form.password.forget .block .block-title,
.customer-account-login .login-container .block .block-title, .account .block .block-title,
.account .block.account-nav .title {
    background: #f2f2f2;
    padding: 25px 20px;
    font-size: 16px;
    line-height: 1.2;
}

.account .column.main .block.block-personal-data,
.customer-account-create .block-title {
    border-bottom: none;
}

.account .block.newsletter.block-subscribe .control .input-text,
.customer-account-create .block.newsletter.block-subscribe .control .input-text {
    height: 50px;
}

.customer-account-create .form-create-account .fieldset > .field > .label span,
.customer-account-create .fieldset.create.info label {
    display: inline-block;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    line-height: 18px;
}

.customer-account-create .form-create-account .fieldset > .field > .label[for="password"] {
    vertical-align: middle;
}

.form-create-account .fieldset > .fields > .field > .label + .control {
    position: relative;
}

.customer-account-create input[type="radio"].input-text + label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -2px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.customer-account-create input[type="radio"].input-text:checked + label:before {
    background-color: gray;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}

.account .control.has-error.has-feedback .glyphicon-remove:before,
.customer-account-create .control.has-error.has-feedback .glyphicon-remove:before {
    content: "";
    background: url("../images/exit_red_button.png") no-repeat;
}

.account.customer-address-index .block-addresses-list .actions-toolbar .primary .action.primary {
    border: none;
    border-radius: 0;
}

.account address {
    font-size: 16px;
    line-height: 1.2;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: #757575;
}

.account .glyphicon:before,
.customer-account-create .glyphicon:before {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 4px;
}

.account .glyphicon-pencil:before {
    left: 7px;
}

.account .block .block-title {
    height: 70px;
}

.customer-account-create .customer-steps .item.active span {
    font-weight: bold;
}

.account .control.has-error.has-feedback,
.customer-steps .item {
    position: relative;
}

.customer-account-create .field.street .field.additional {
    width: 100%;
}

.customer-account-create .customer-steps .item .glyphicon-ok:before {
    content: "";
    background: url(../images/green_arrow.png) no-repeat;
    background-size: contain;
    margin-left: 0;
    width: 20px;
    height: 20px;
}

.customer-account-create .shipping-lists li,
.customer-account-create .payment-lists li {
    list-style: none;
}

.customer-account-create .payment-lists {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
}

.customer-account-create .shipping-lists input[type="radio"],
.customer-account-create .payment-lists input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0;
}

.account .glyphicon-ok:before,
.customer-account-create .glyphicon-ok:before {
    content: "";
    background: url("../images/green_arrow.png") no-repeat;
}

.customer-account-create .fieldset.fieldset-prefix .control input[type="radio"] {
    display: none;
}

.customer-account-create .sidebar-additional,
.customer-account-create .customer-steps .item a {
    padding: 0;
}

.customer-account-create .customer-steps .item a {
    cursor: unset;
    opacity: 1;
}

.customer-account-create .customer-steps .item.current span {
    font-weight: bold;
}

.customer-account-create .customer-steps .item.current.active span {
    font-weight: normal;
}

.customer-account-create .field.field-name-prefix {
    margin-bottom: 15px;
    width: 100%;
}

.customer-account-create .field.field-name-prefix .label {
    line-height: 33px;
}

.customer-account-create .field.prefix.customer-name-prefix,
.customer-account-create .field.search {
    width: 100%;
}

.customer-account-create .field.prefix.customer-name-prefix .label {
    max-width: 150px;
}

.customer-account-create .field {
    display: inline-block;
    width: 49%;
}

.account .block-personal-data .fieldset > .fields > .field > .label + .control {
    position: relative;
}

.account div.mage-error[generated],
.customer-account-create div.mage-error[generated] {
    margin-top: 7px;
    float: right;
    text-align: left;
    width: 100%;
}

.account span.glyphicon.form-control-feedback,
.customer-account-create span.glyphicon.form-control-feedback {
    position: absolute;
    float: right;
}

.customer-steps .item {
    margin-bottom: 0;
}

.customer-account-create .field.required.prefix.customer-name-prefix {
    width: 100%;
}

.customer-account-create .control.has-error.has-feedback {
    position: relative;
}

.customer-account-create .field.field-name-firstname.required .control {
    position: relative;
}

.customer-account-create .actions-toolbar .back .action.submit,
.customer-account-create .actions-toolbar .primary .action.submit {
    background: #f94415;
    width: 240px;
    border-radius: 0;
    border: none;
}

.customer-account-create .actions-toolbar .action.submit span {
    color: #fff;
    text-transform: none;
    font-size: 18px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    line-height: 1.2;
}

.customer-account-create .block.block-customer-steps .block-title {
    padding: 25px 20px;
    border: none;
    height: 69px;
    text-align: center;
}

.customer-account-create .label[for="prefix"] {
    width: 150px;
}

.customer-account-create .password-strength-meter {
    height: 10px;
    max-width: 360px;
}

.customer-account-create .form.create.account .actions-toolbar {
    padding: 0;
}

.customer-account-create .field.required .label span:after {
    content: "*";
    position: relative;
}

.customer-account-create .control.has-feedback.has-success {
    position: relative;
}

.customer-account-create .customer-steps .item span {
    color: #757575;
}

.customer-account-create .sidebar .block .block-title strong {
    font-size: 30px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-weight: normal;
    line-height: 0;
    color: #757575;
}

.customer-account-forgotpassword .block-content p,
.customer-account-forgotpassword .form.password.forget .field.note,
.customer-account-forgotpassword .block-title {
    font-family: 'Avenir Next LT Pro', sans-serif;
}

.block-dashboard-orders .block-title .action.view {
    float: right;
    color: #757575;
    text-transform: lowercase;
}

.block-dashboard-orders .block-title .action.view:first-letter {
    text-transform: uppercase;
}

.products-grid.wishlist .product-item-inner .box-tocart {
    display: inline-block;
}

.block-dashboard-orders .actions {
    padding: 25px 20px;
}

.order-products-toolbar .pager {
    display: block;
    float: none;
}

.order-products-toolbar.toolbar.bottom .toolbar-amount {
    margin: 12px 0 0 25px;
    display: inline-block;
}

.order-products-toolbar.toolbar.bottom .pages {
    position: relative;
    float: none;
    width: auto;
    display: inline-block;
    margin-top: 12px;
}

.order-products-toolbar.toolbar.bottom .limiter {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
    margin: 12px 25px 0 0;
}

.account .order-products-toolbar .pager .limiter .limiter-text {
    display: inline-block;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.account p.toolbar-amount {
    margin-top: 0;
    line-height: 74px;
}

.account .column.main .order-products-toolbar {
    background: #f2f2f2;
    min-height: 74px;
    margin: 0;
    border: 1px solid #aeaeae;
    border-bottom: none;
}

.account .orders-history {
    border: 1px solid #aeaeae;
}

.account .orders-history .table-order-items thead > tr > th,
.account .orders-history .table-order-items tbody > tr > td {
    border-bottom: 1px solid #aeaeae;
    padding: 20px;
}

.account .orders-history .table-order-items tbody > tr:last-child > td {
    border: none;
}

.account .table-wrapper .table-order-items .action {
    display: block;
}

.account .table-wrapper .table-order-items .action.order {
    font-weight: bold;
}

.account .column.main .order-products-toolbar .limiter-options {
    width: 35px;
}

.account .column.main .order-products-toolbar .limiter .limiter-options {
    width: 50px;
    background-position: 95% 50%;
    padding-left: 13px;
    margin-left: -20px;
}

.account .orders-history .table-order-items {
    margin: 0;
}

.customer-account-index .block-dashboard-orders .table-order-items {
    margin-bottom: 0;
}

.customer-account-index .block-dashboard-orders .table-order-items tbody > tr > td {
    border-bottom: 1px solid #b4b4b4;
    padding: 20px;
}

.customer-account-index .block-dashboard-orders .table-order-items tbody > tr:last-child > td {
    border-bottom: none;
}

.table-order-items thead > tr > th {
    padding: 20px;
}

.customer-account-index .block.block-dashboard-orders .actions a {
    display: block;
    color: #757575;
    float: none;
}

.block.block-dashboard-orders .actions a.order {
    font-weight: bold;
}

.customer-account-index .column.main .block-dashboard-info {
    margin-bottom: 0;
}

.customer-account-index .column.main .block-dashboard-addresses {
    border-top: none;
}

.block-dashboard-info .block-title {
    margin-bottom: 20px;
}

.account .column.main .block-dashboard-info:not(.widget) .block-content .box,
.account .column.main .block-dashboard-addresses .block-content .box {
    float: left;
    width: 25%;
    clear: none;
}

.account .column.main .block-dashboard-info:not(.widget) .block-content .box:nth-child(2) {
}

.account .column.main .block-dashboard-info:not(.widget) .block-content .box:nth-child(2) + * {
    clear: none;
}

.account .column.main .block-dashboard-info .block-content .box .box-title,
.account .column.main .block-dashboard-addresses .block-content .box .box-title {
    background: none;
    border: none;
    text-transform: capitalize;
    padding: 0 20px 15px;
}

.account .column.main .block-dashboard-info .block-content .box .box-title span,
.account .column.main .block-dashboard-addresses .block-content .box .box-title span {
    text-transform: capitalize;
}

.account .column.main .block-dashboard-info .block-content .box > .box-title > span,
.account .column.main .block-dashboard-addresses .block-content .box > .box-title > span {
    font-weight: bold;
}

.account .block.account-nav .item.current > strong,
.customer-account-index .block .block-title strong,
.account .column.main .block-dashboard-info .block-content .box a,
.account .column.main .block-dashboard-info .block-content .box a span,
.account .column.main .block-dashboard-info .block-content .box a:hover,
.account .column.main .block-dashboard-info .block-content .box a:visited,
.account .column.main .block-dashboard-addresses .block-content .box a,
.account .column.main .block-dashboard-addresses .block-content .box a span,
.account .column.main .block-dashboard-addresses .block-content .box a:hover,
.account .column.main .block-dashboard-addresses .block-content .box a:visited {
    color: #757575;
}

.account .block.block-reviews-dashboard .action.view span,
.account .block.block-reviews-dashboard .action.view,
.account .block.block-personal-data strong,
.account .block.account-nav .item a,
.account .block-dashboard-orders .block-title .action.view,
.account .block.account-nav .item.current > strong,
.customer-account-index .block .block-title strong {
    font-family: "Avenir Next LT Pro", sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
}

.account .block.account-nav .item a {
    line-height: 22px;
}

.account .block.block-dashboard-orders {
    margin-bottom: 30px;
    padding-bottom: 0;
}

.account .column.main .block-dashboard-info address,
.account .column.main .block-dashboard-info .box-content p,
.account .column.main .block-dashboard-info .block-content .box > .box-title > span,
.account .column.main .block-dashboard-info .block-content .box a span {
    font-family: "Avenir Next LT Pro", sans-serif;
    font-size: 16px;
}

.account .column.main .block-dashboard-info .box-content p {
    margin-bottom: 0;
    line-height: 1.35;
}

.account .block.account-nav .item a,
.account .block.account-nav .item.current > strong {
    padding-top: 0;
    padding-bottom: 0;
}

.account .column.main .block-dashboard-info .block-content .box .box-content,
.account .column.main .block-dashboard-addresses .block-content .box .box-content {
    border: none;
    padding: 0 20px 20px;
    color: #757575;
}

.account .block.account-nav .title strong {
    font-family: "Avenir Next LT Pro", sans-serif;
    font-size: 30px;
    font-weight: normal;
}

.account .glyphicon-pencil:before {
    content: "\270f";
    font-size: 15px;
    height: 15px;
}

.account .form-address-edit #country {
    margin-bottom: 10px;
}

.account .form-address-edit #region_id {
    padding-bottom: 0;
    padding-top: 0;
}

.account fieldset.fieldset.fieldset-fullname {
    width: 100%;
}

.account .block.block-address-edit .message.info {
    max-width: 360px;
}

.account .form.form-customer-service p {
    font-size: 16px;
    font-weight: normal;
}

.account .sidebar.sidebar-main .block.account-nav .title {
    height: 70px;
    line-height: 29px;
}

.account .data.table.table-order-items.recent caption,
.account .col.actions a span {
    font-family: "Avenir Next LT Pro", sans-serif;
    font-size: 16px;
    color: #757575;
}

.account .block.block-reviews-dashboard {
    margin-top: 30px;
    padding-bottom: 0;
}

.account .block.block-reviews-dashboard .block-content {
    padding: 0 20px 20px;
}

.account .block.block-reviews-dashboard .action.view:hover span,
.account .block.block-reviews-dashboard .action.view span,
.account .block.block-reviews-dashboard .action.view a:hover,
.account .block.block-reviews-dashboard .action.view a {
    color: #757575 !important;
}

.account .block.block-reviews-dashboard .action.view {
    float: right;
}

.account .column.main .block-dashboard-info .block-content .box a span.glyphicon.glyphicon-pencil {
    font-family: 'Glyphicons Halflings', sans-serif;
}

.account .data.table.table-order-items.recent caption {
    font-weight: bold;
}

.account .actions-toolbar .secondary {
    display: none;
}

/* inset image edit stop */
.account .column.main .block-dashboard-info address,
.account .column.main .block-dashboard-addresses address {
    color: #757575;
    margin-bottom: 0;
}

.account .block.account-nav .title {
    display: block;
    text-align: center;
    font-size: 16px;
}

.account .block.account-nav .content {
    background: none;
}

.account .block.account-nav .item.current a, .account .block.account-nav .item.current > strong {
    border-color: transparent;
}

.account button.action.save.primary {
    border-radius: 0;
    border: none;
    background: #f94415;
    color: #fff;
    width: 240px;
    height: 44px;
}

.account button.action.save.primary span {
    font-size: 18px;
    line-height: 21px;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.account .block.account-nav .nav.items li.item.current > strong {
    font-weight: bold !important;
}

.account .form.form-edit-account {
    margin-bottom: 30px;
    padding-bottom: 0;
    border-bottom: 1px solid #aeaeae;;
}

.account input[type="radio"] {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 0;
}

.customer-account-edit .actions-toolbar {
    clear: both;
}

.customer-account-edit .fieldset.other_info,
.customer-account-edit .fieldset.fieldset-fullname,
.customer-account-edit .fieldset.info {
    width: 100%;
}

.account table.product-items .actions-primary button.action.tocart.primary span {
    font-size: 18px !important;
    line-height: 21px;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.customer-account-edit .field.titel,
.customer-account-edit .field.company,
.customer-account-edit .field.date.field-dob,
.customer-account-edit .field.email,
.customer-account-edit .field-name-lastname,
.customer-account-edit .field.field-name-firstname,
.customer-account-edit .field.field-name-prefix {
    width: 48%;
}

.customer-account-edit .field.titel,
.customer-account-edit .field.company,
.customer-account-edit .field.date.field-dob,
.customer-account-edit .field.email,
.customer-account-edit .field-name-lastname,
.customer-account-edit .field.field-name-firstname {
    display: inline-block;
}

.customer-account-index .box .box-title, .customer-account-index .box .box-title span {
    color: #757575;
}

.account .block.account-nav .item a:hover {
    background-color: transparent;
}

.account .block.block-personal-data {
    padding-bottom: 0;
}

.customer-account-index .block .block-title strong {
    color: #757575;
}

.form-customer-service ul {
    list-style: none;
}

.account form.form-edit-account {
    background: none;
    border: none;
    padding: 0;
}

.customer-account-edit .nav.item.current > strong {
    font-weight: bold;
}

.customer-account-edit .column.main .block .block-content {
    padding: 0 20px 20px;
}

.customer-account-edit .column.main .block-personal-data .block-content {
    padding: 20px;
}

.block-personal-data .fieldset > .field > .label, .block-personal-data .fieldset > .fields > .field > .label {
    display: inline-block;
    width: 35%;
}

.block-personal-data .fieldset > .field > .label + .control,
.block-personal-data .fieldset > .fields > .field > .label + .control {
    display: inline-block;
    width: 60%;
}

.block-personal-data .fieldset > .field,
.block-personal-data .fieldset > .fields > .field {
    margin-bottom: 10px;
}

.field-hidden {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.block-addresses-default .box .box-title,
.block-addresses-default .box .box-content {
    background: none;
    border: none;
    padding: 20px;
}

.block-addresses-default .box .box-content {
    padding-top: 0;
}

.box-address-billing .box-title strong,
.box-address-shipping .box-title strong {
    margin-right: 15px;
}

.box-address-billing .box-title a span,
.box-address-shipping .box-title a span,
.block-addresses-list .actions a span {
    color: #757575;
}

.block-amgiftcard .block-content,
.block-customer-services .block-content,
.block-newsletter .block-content,
.block-addresses-list .block-content {
    padding: 20px;
    overflow: hidden;
}

.field.company {
    clear: both;
}

.block-amgiftcard .block-content .fieldset label,
.block-amgiftcard .block-content .fieldset .control {
    display: inline-block;
}

.block-amgiftcard .block-content .fieldset label {
    margin-right: 15px;
}

.block-newsletter .fieldset > .field > .label {
    padding-top: 0;
}

.wishlist-index-index .products-grid.wishlist .product-item {
    clear: none;
    width: 100%;
    float: none;
}

.wishlist-index-index .products-grid.wishlist .product-item .product-image-wrapper {
    padding-bottom: 0 !important;
}

.products-grid.wishlist .product-items tbody {
    border: 1px solid #aeaeae;
}

.products-grid.wishlist .product-items > tbody > tr > td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.products-grid.wishlist .product-items > thead > tr > th {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: #757575;
}

.form.password.forget .block .block-content,
.customer-account-login .login-container .block .block-content {
    border: none;
    padding: 20px;
    background: transparent;
}

.block-new-customer .block-content ul {
    padding-left: 20px;
}

.customer-account-forgotpassword .form.password.forget .block .fieldset > .field > .label,
.customer-account-login .login-container .block .fieldset > .field > .label {
    width: 20%;
}

.customer-account-forgotpassword .form.password.forget .block .fieldset > .field > .label + .control,
.customer-account-login .login-container .block .fieldset > .field > .label + .control {
    width: 75%;
    display: inline-block;
}

.customer-account-forgotpassword .form.password.forget .block .fieldset > .field > .label + .control {
    max-width: 352px;
}

.customer-account-forgotpassword .form.password.forget .block .fieldset > .field > .label {
    width: auto;
    padding-right: 15px;
}

.customer-account-forgotpassword .form.password.forget {
    margin-bottom: 0;
}

.customer-account-forgotpassword .block.block-contact p {
    margin: 0;
    padding: 0;
    color: #757575;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 14px;
    line-height: inherit;
}

.customer-account-login .control input.input-text {
    min-width: 360px;
    max-height: 29px;
    height: 29px;
    display: inline-block;
}

.customer-account-login .control #search {
    max-height: 43px;
    height: 43px;
}

.customer-account-login .login-container .block-content p,
.customer-account-login .login-container .block-content .field.note {
    margin: 0 0 15px;
}

.form-address-edit,
.customer-account-forgotpassword .form.password.forget {
    padding: 0;
    border: none;
    background: none;
}

.customer-account-login .action.create.primary,
.customer-account-login .actions-toolbar .action.login.primary,
.customer-account-forgotpassword .actions-toolbar .action.create.primary,
.customer-account-forgotpassword .action.submit.primary {
    background: #f94415 !important;
    width: 240px;
    border-radius: 0;
    border: none !important;
}

.customer-account-forgotpassword .action.create.primary {
    text-align: center;
}

.customer-account-login .action.create.primary span,
.customer-account-login .action.login.primary span,
.customer-account-forgotpassword .action.create.primary strong,
.customer-account-forgotpassword .action.submit.primary span {
    color: #fff;
    font-weight: normal;
    font-size: 16px !important;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.customer-account-forgotpassword .input-text {
    height: 29px;
    border: 1px solid #757575;
}

.customer-account-login .actions-toolbar {
    float: left;
}

.customer-account-login .action.remind span {
    color: #757575;
}

.customer-account-login .action.remind span,
.customer-account-login .login-container .block-content .field {
    font-family: "Avenir Next LT Pro", sans-serif;
}

.form.password.forget .field.note {
    margin-bottom: 20px;
}

.form.password.forget .block {
    width: 48.8%;
}

.form.password.forget .block:nth-child(1) {
    clear: left;
    float: left;
    min-height: 254px;
}

.form.password.forget .block:nth-child(2) {
    float: right;
    min-height: 254px;
}

.form.password.forget .block-contact .actions-toolbar {
    margin-top: 48px;
}

.customer-account-create .sidebar .block .block-content,
.block-address-edit .block-content,
.form-create-account .block-create-account .block-content {
    padding: 20px;
}

.form.create.account .block-create-account .block-content > .fieldset {
    float: left;
    padding: 0 25px;
    width: 50%;
    margin: 20px 0 25px;
}

.customer-account-create .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    color: #000;
}

.customer-account-create .sidebar.sidebar-additional .block.block-customer-steps {
    border: 1px solid #dfdfdf;
}

.customer-account-create .form-create-account .fieldset-fullname .fields .field {
    float: none;
    width: 100%;
}

.customer-account-create .field.company {
    margin-bottom: 15px;
}

.form-create-account .fieldset > .field > .label, .form-create-account .fieldset > .fields > .field > .label {
    display: inline-block;
    width: 20%;
}

.form-create-account .fieldset > .field > .label + .control, .form-create-account .fieldset > .fields > .field > .label + .control {
    display: inline-block;
    width: 70%;
}

.form-create-account .fieldset .legend span {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.form-create-account .fieldset.create.account .field,
.form-create-account .fieldset.address .field,
.form-create-account .fieldset .field.date {
    margin-bottom: 10px;
}

.customer-account-create .field.field-name-firstname.required .label,
.customer-account-create .field.field-name-lastname.required .label,
.customer-account-create .form-create-account .fieldset > .field > .label {
    min-width: 155px;
    display: inline-block !important;
    float: none !important;
}

.customer-account-create .field.country select,
.customer-account-create .field.region select {
    border: 1px solid #757575;
    max-width: 360px;
}

.customer-account-create input._has-datepicker,
.customer-account-create input.input-text {
    background: #fff;
    border: 1px solid #757575;
    height: 29px;
    max-width: 360px;
    width: 87%;
}

.customer-account-create .field.confirmation.required,
.form-create-account .fieldset .field.password .label,
.form-create-account .fieldset .field.street .label {
    vertical-align: top;
}

.sales-order-view .box .box-title,
.sales-order-view .box .box-content {
    background: none;
    border: none;
}

.sales-order-view .box .box-title {
    padding: 15px 20px;
}

.sales-order-view .box .box-content {
    padding: 0 20px 20px;
}

.sales-order-view .box-order-billing-address {
    float: left;
}

.sales-order-view .box-order-billing-method {
    float: right;
}

.customer-account-create .field.field-name-firstname.required .control,
.customer-account-login .field.field-name-firstname.required .control {
    margin-bottom: 8px;
}

.customer-account-create .fieldset.address .legend,
.customer-account-login .fieldset.address .legend {
    display: none;
}

.customer-account-create .form-create-account .fieldset > .field > .label,
.customer-account-login .form-create-account .fieldset > .field > .label {
    padding: 0;
    height: 100%;
    display: block;
    float: left;
}

.account #search {
    height: 43px;
    max-height: 43px;
    max-width: none;
}

.label[for="is_subscribed"] {
    float: none !important;
    padding-bottom: 14px !important;
    display: inline-block !important;
}

.field.choice.newsletter {
    padding-top: 5px;
    padding-bottom: 5px;
}

.customer-account-create .form.create.account .block-create-account .block-content > .fieldset,
.customer-account-login .form.create.account .block-create-account .block-content > .fieldset {
    margin-top: 0;
}

.products-grid.wishlist .product-items tbody {
    border: 1px solid #e2e0e0;
}

.products-grid.wishlist .product-item-photo .product-image-photo,
.products-grid.wishlist .product-item-photo {
    width: 80px !important;
}

.warning_wishlist {
    background: #f2f2f2;
    padding: 15px 10px;
    font-size: 18px;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
}

.block-address-edit .actions-toolbar .primary .action.primary,
.block-addresses-list .actions-toolbar .primary .action.primary,
.block-newsletter .actions-toolbar .primary .action.primary,
.block-amgiftcard .actions-toolbar .primary .action.primary,
.form-customer-service .actions-toolbar .primary .action.primary,
table.product-items .actions-primary button.action.tocart.primary {
    background-color: #f94415;
    border: none;
    border-radius: 0;
}

.block-address-edit .actions-toolbar .primary .action.primary span,
.block-addresses-list .actions-toolbar .primary .action.primary span,
.block-newsletter .actions-toolbar .primary .action.primary span,
.block-amgiftcard .actions-toolbar .primary .action.primary span,
.form-customer-service .actions-toolbar .primary .action.primary span,
table.product-items .actions-primary button.action.tocart.primary span {
    color: #fff;
    font-weight: normal;
    text-transform: inherit;
}

.account .control.customer-dob input,
.account input.input-text {
    height: 29px;
    font-size: 13px;
    border-color: #757575;
}

.form-address-edit .field.country,
.form-address-edit #country,
.form-address-edit #region_id {
    font-size: 13px;
    border-color: #757575;
}

.form-address-edit .field.field-name-prefix {
    margin-bottom: -3px;
}

.form-address-edit .field.field-name-lastname {
    padding-top: 16px;
}

.form-address-edit .field.street .label {
    padding-top: 0;
}

.account .sidebar.sidebar-additional {
    padding-left: 2%;
    padding-right: 0;
    padding-top: 0;
}

.account .sidebar_banner img {
    display: block;
    width: 100%;
}

.customer-address-form #lastname,
.customer-address-form #company,
.form-address-edit .field.country,
.form-address-edit #region_id,
.account .control.customer-dob input,
.account input.input-text,
.account .password-strength-meter {
    max-width: 360px;
}

.customer-address-form .field.customer-name-prefix .fieldset.fieldset-fullname {
    width: 100%;
}

.customer-account-forgotpassword div.mage-error[generated],
.customer-account-login div.mage-error[generated] {
    float: left;
    position: relative;
    min-width: 320px;
}

.customer-account-login .login-container .block .block-content {
    padding-bottom: 20px;
}

.customer-account-create .field.titel,
.customer-account-create .field.company {
    max-width: 100%;
}

.account .form-newsletter-manage {
    border: none;
    padding: 0;
}

.tab-contents {
    position: relative;
}

.tab-contents .tab-pane {
    position: absolute;
}

.tab-contents .tab-pane.active {
    position: relative;
}

.block-create-account .block-content {
    position: relative;
}

.block-create-account .register-tabs {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/*responsive styles*/
@media all and (max-width: 1366px) {
    .form-create-account .fieldset > .field > .label, .form-create-account .fieldset > .fields > .field > .label {
        width: 30%;
    }

    .form-create-account .fieldset > .field > .label + .control, .form-create-account .fieldset > .fields > .field > .label + .control {
        display: inline-block;
        width: 60%;
    }
}

@media all and (max-width: 1024px) {
    .account .products-grid.wishlist .product-items tbody {
        text-align: center;
        width: 100%;
        display: block;
    }

    .account .table-wrapper.orders-history {
        text-align: center;
        margin: 0 auto;
        position: relative;
    }

    .account .orders-history .table-order-items {
        display: inline-block;
        width: auto;
    }

    .account.sales-order-history .sidebar.sidebar-additional {
        display: none;
    }

    .account table.data.table.table-order-items.history thead th:nth-child(3),
    .account table.data.table.table-order-items.history tr > td:nth-child(3) {
        display: table-cell;
    }

    .account .orders-history .table-order-items tbody > tr > td {
        padding: 10px;
    }

    .account .data.table.table-order-items.history tr {
        display: block;
    }

    .account.page-layout-2columns-right .sidebar-main,
    .account.page-layout-2columns-right .column.main {
        width: 100% !important;
        padding-right: 2%;
    }

    .account.page-layout-2columns-right .column.main {
        display: block;
    }

    .abs-discount-block-desktop .block:nth-child(1),
    .login-container .block:nth-child(1),
    .account .column.main .block:not(.widget) .block-content .box:nth-child(1),
    .block-addresses-list .items.addresses > .item:nth-child(1),
    .form-edit-account .fieldset:nth-child(1),
    .form-address-edit .fieldset:nth-child(1),
    .storecredit .block:nth-child(1),
    .paypal-review-discount .block:nth-child(1),
    .cart-discount .block:nth-child(1) {
        word-wrap: break-word;
    }

    .customer-account-create .field.country select,
    .customer-account-create .field.region select {
        max-width: 296px;
    }

    .customer-account-login .control input.input-text {
        min-width: 100%;
    }

    .customer-account-login .login-container .block .fieldset > .field > .label {
        width: 28%;
    }

    .customer-account-login .login-container .block .fieldset > .field > .label + .control {
        width: 50%;
    }

    .account .product-item-name .product-item-link {
        font-size: 14px;
    }

    .order-products-toolbar.toolbar.bottom .pages {
        margin: 0 auto;
        width: 303px;
        clear: both;
        display: block;
    }

    .form-create-account .fieldset > .field > .label + .control,
    .form-create-account .fieldset > .fields > .field > .label + .control,
    .form-create-account .fieldset > .field > .label,
    .form-create-account .fieldset > .fields > .field > .label {
        width: 100%;
    }

    .account .block.block-dashboard-info .block-content .box .box-title {
        font-size: 14px;
    }

    .customer-account-index .block .block-title.order strong,
    .account .block-dashboard-orders .block-title .action.view,
    .customer-account-index .blockb.block-dashboard-orders .block-title strong,
    .account .block.block-dashboard-info .block-content .box .box-content,
    .account td.col.actions a span,
    .account td.col,
    .account th.col {
        font-size: 12px;
    }

    .account .table:not(.cart):not(.totals) tr > td:nth-child(3),
    .account .table:not(.cart):not(.totals) > thead > tr > th:nth-child(3) {
        display: none;
    }

    .account th.col,
    .account td.col {
        vertical-align: middle;
    }

    .account .table caption + thead tr th,
    .account .block-dashboard-orders .table-order-items tbody > tr > td {
        padding: 3px;
    }
}

@media all and (max-width: 1023px) {
    .order-products-toolbar.toolbar.bottom .pages li {
        vertical-align: top;
    }

    .order-products-toolbar.toolbar.bottom .limiter,
    .order-products-toolbar.toolbar.bottom .toolbar-amount {
        margin: 0;
    }
}

@media all and (max-width: 992px) {
    .account thead {
        width: 100%;
        display: inline-block;
    }

    .account.customer-account-index thead {
        width: 100%;
        display: table-header-group;
    }

    .products-grid.wishlist .product-items > thead > tr > th {
        text-align: center;
        display: table-cell;
    }

    .products-grid.wishlist .product-items > thead > tr > th:first-child,
    .products-grid.wishlist table td:first-child {
        display: none;
    }
}

@media all and (max-width: 768px) {

    .account .sidebar.sidebar-additional .sidebar_banner {
        display: none;
    }

    .customer-address-form .field.choice.billing .label {
        display: inline-block;
        width: 80%;
    }

    .account .block-amgiftcard .block-content .fieldset .control {
        width: 100%;
    }

    .account .block-amgiftcard .block-content .fieldset label {
        margin-bottom: 10px;
    }

    .account .amgiftcard {
        margin-bottom: 20px !important;
    }

    .account .page-footer {
        margin-top: 0;
    }

    .account .column.main .products-grid .product-items {
        display: inline-block !important;
    }

    .account main#maincontent {
        position: relative;
        top: 0;
    }

    .customer-account-create .field.country select,
    .customer-account-create .field.region select {
        max-width: 208px;
    }

    .customer-account-create .alocolumns.clearfix {
        display: table;
    }

    .account .column.main,
    .customer-account-create .column.main {
        display: table-footer-group;
    }

    .account .sidebar.sidebar-additional,
    .customer-account-create .sidebar.sidebar-additional {
        display: table-header-group;
    }

    .customer-account-create .customer-steps .item .glyphicon-ok:before {
        margin-left: -12px;
        width: 14px;
        height: 14px;
        margin-top: 3px;
    }

    .customer-account-create .sidebar.sidebar-additional,
    .customer-account-create .column.main {
        width: 100%;
    }

    .order-products-toolbar.toolbar.bottom .pages li {
        margin-top: 0;

    }

    .customer-account-login .login-container .block .fieldset > .field > .label {
        width: 35%;
    }

    .account .btn-remove.action.delete {
        width: 100%;
        height: 100%;
    }

    .account table.product-items .actions-primary button.action.tocart.primary,
    .account table.product-items td:nth-child(5) .product-item-inner {
        width: 40px;
        height: 40px;
        top: 0;
    }

    .account table.product-items .actions-primary button.action.tocart.primary {
        top: 3px;
    }

    table.product-items .actions-primary button.action.tocart.primary {
        border-radius: 8px;
        padding: 6px;
        position: relative;
        top: 3px;
        background: #f94415 url("Magiccart_Magicproduct::images/add_product_card.png") no-repeat center center;
        border: none;
    }

    table.product-items .actions-primary button.action.tocart.primary span {
        text-indent: -99999px;
    }

    .marken-show-allbrands.page-layout-2columns-left .sidebar-additional {
        width: 100% !important;
        float: none;
        clear: none;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .marken-show-allbrands.page-layout-2columns-left .column.main {
        width: 100% !important;
        padding: 0;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        float: none;
        clear: none;
    }

    .order-products-toolbar.toolbar.bottom .limiter,
    .order-products-toolbar.toolbar.bottom .toolbar-amount {
        margin: 0;
        float: none;
    }

    .order-products-toolbar.toolbar.bottom .pages {
        width: 100%;
    }

    .account .actions-toolbar .action.update,
    .account .actions-toolbar .action.tocart,
    .account .actions-toolbar .action.share {
        float: none;
        margin: 0;
    }
}

@media all and (max-width: 767px) {

    .customer-account-index.account .table-order-items tbody tr td:before {
        padding-left: 0;
    }

    .sales-order-history.account .orders-history table.data.table.table-order-items.history tr > td:nth-child(3),
    .sales-order-history.account .orders-history table.table-order-items tbody > tr > td {
        padding: 7px;
    }

    .customer-address-form.account fieldset:nth-child(2) {
        margin-top: 15px;
    }

    .account .form-address-edit .fieldset:nth-child(2) {
        width: auto !important;
    }

    .account .form-address-edit .fieldset:nth-child(1) {
        width: auto;
    }

    .form-address-edit #country,
    .customer-address-form.account fieldset {
        width: 100% !important;
    }

    .form-address-edit #country,
    .customer-address-form.account input.input-text {
        max-width: 100% !important;
    }

    .customer-address-form .input-text,
    .form-address-edit .fildset,
    .account .column.main .block:not(.widget) .block-content .box,
    .account .column.main {
        width: 100%;
    }

    .account .column.main .block:not(.widget) .block-content .box {
        float: none;
        clear: both;
        width: 100%;
    }

    .products-grid.wishlist {
        text-align: center;
    }

    table.product-items .actions-primary button.action.tocart.primary span {
        color: #fff;
        font-weight: normal;
        text-transform: inherit;
        text-indent: -9999px;
    }

    .account .actions-toolbar .action.update,
    .account .actions-toolbar .action.tocart,
    .account .actions-toolbar .action.share {
        background: #757575;
        border-radius: unset;
        float: none;
    }
}

@media all and (max-width: 640px) {

    .account .field.field-hidden {
        position: absolute;
    }

    .account .fieldset.fieldset-password {
        width: 100%;
    }

    .account .field.password .input-text {
        max-width: 100%;
    }

    .account .actions-toolbar {
        padding: 20px 0 20px;
    }

    .account .column.main .block-dashboard-info .block-content .box .box-content {
        padding: 0 20px 20px;
        min-height: 90px;
    }

    .account .actions-toolbar .action.update,
    .account .actions-toolbar .action.tocart,
    .account .actions-toolbar .action.share {
        margin: 5px;
    }

}

@media all and (max-width: 500px) {
    .account table > thead {
        display: table;
    }

    .account table > thead > tr > th {
        padding: 0;
        text-align: left;
    }

    .acoount .products-grid.wishlist .product-items > thead > tr > th,
    .account .price-box .price,
    .account .product-item-name .product-item-link {
        font-size: 11px;
        line-height: 13px;
    }

    .account .products-grid.wishlist .product-item .fieldset .field.qty,
    .account .products-grid.wishlist .product-item-inner .box-tocart {
        margin: 0;
    }

    .account .products-grid.wishlist .product-items > tbody > tr > td {
        padding: 6px;
    }

    .form-create-account .fieldset > .field > .label + .control,
    .form-create-account .fieldset > .fields > .field > .label + .control {
        width: 100%;
    }

    .form.create.account .block-create-account .block-content > .fieldset {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .action.back {
        padding-top: 10px;
        display: block;
    }

}

@media all and (max-width: 475px) {
    .account .products-grid.wishlist .product-item .box-tocart input.qty {
        width: 40px !important;
        height: 27px;
    }

    .account .products-grid.wishlist .product-items > tbody > tr > td {
        padding: 15px;
    }
}

@media all and (max-width: 470px) {

    .account .products-grid.wishlist .product-items > tbody > tr > td {
        padding: 10px;
    }
}

@media all and (max-width: 425px) {
    .account .block.block-newsletter .actions-toolbar {
        text-align: center;
    }

    .customer-address-form .actions-toolbar {
        text-align: center;
    }

    .account .header.links li.customer-welcome span.customer-name {
        top: 70px;
        left: 18px;
    }

    .account table.data.table.table-order-items.history thead th:nth-child(3), .account table.data.table.table-order-items.history tr > td:nth-child(3) {
        display: none;
    }

    .account .order-products-toolbar.toolbar.bottom .toolbar-amount {
        line-height: 1;
    }

    .account .orders-history .table-order-items thead > tr > th {
        padding: 4px 15px 4px 10px;
    }

    .account .products-grid.wishlist {
        margin-bottom: 0;
        margin-right: 0;
    }

    .account .block-newsletter .fieldset > .field > .label[for="subscription"] {
        display: inline-block;
        width: auto;
        word-wrap: break-word;
        padding-bottom: 0;
        hyphens: auto;
    }

    .account .block-newsletter .fieldset > .field > .label[for="subscription"] span {
        hyphens: auto;
        display: block;
        word-break: break-all;
        width: 100%;
        vertical-align: middle;
        word-wrap: break-word;
        white-space: normal;
    }

    .block-newsletter input.checkbox {
        display: inline-block;
    }

    .account .table-wrapper.orders-recent .table caption + thead tr th:last-child {
        width: 20px;
    }

    .account .block.block-amgiftcard,
    .account .block.block-customer-services,
    .account #password-confirmation, .account .block.block-amgiftcard {
        margin-bottom: 20px !important;
    }

    .account .block-dashboard-orders .block-title .action.view span {
        padding-right: 5px;
    }

    .customer-account-index .column.main .block-dashboard-orders .block-title {
        padding-left: 5px;
    }

    .customer-account-index .column.main .block-dashboard-info {
        margin-bottom: 20px;
    }

    .account .table:not(.cart):not(.totals) > thead > tr > th,
    .account .table:not(.cart):not(.totals) > thead > tr > td {
        text-align: center;
    }

    .account .tool-topsearch input.input-text {
        max-width: 100%;
    }

    .account .actions-toolbar {
        padding-top: 20px;
    }

    .customer-account-create .field.titel {
        margin-bottom: 15px;
    }

    .customer-account-forgotpassword .form.password.forget .block .fieldset > .field > .label + .control {
        max-width: 100%;
        width: 100%;
    }

    .customer-account-login .column.main .block:last-child {
        margin-top: 20px;
    }

    .customer-account-login .login-container .actions-toolbar {
        float: none;
        text-align: center;
    }

    .customer-account-login .login-container .block-new-customer .actions-toolbar {
        text-align: center;
        margin: 0 auto;
        float: none;
    }

    .customer-account-create input.input-text,
    .customer-account-create .field {
        width: 95%;
    }

    .customer-account-create input.input-text {
        max-width: 100%;
    }

    .form.create.account .block-create-account .block-content > .fieldset {
        padding: 0;
    }

    .products-grid.wishlist .product-items > thead > tr > th {
        display: none;
    }

    .block-newsletter .fieldset > .field > .label {
        display: inline-block;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: normal;
        line-break: strict;
        hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens: none;
    }

    .form.form-newsletter-manage .fieldset {
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        display: block;
    }

    .block-newsletter .block-content {
        padding: 20px 0;
        text-align: center;
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account,
    .form.form-edit-account,
    .form-address-edit,
    .form-newsletter-manage {
        padding: 0;
    }

    .block-personal-data .fieldset > .field > .label,
    .block-personal-data .fieldset > .fields > .field > .label {
        display: block;
    }

    .customer-account-edit .field.titel,
    .customer-account-edit .field.company,
    .customer-account-edit .field.date.field-dob,
    .customer-account-edit .field.email,
    .customer-account-edit .field-name-lastname,
    .customer-account-edit .field.field-name-firstname,
    .customer-account-edit .field.field-name-prefix,
    .block-personal-data .fieldset > .field > .label,
    .block-personal-data .fieldset > .fields > .field > .label,
    .block-personal-data .fieldset > .field > .label + .control,
    .block-personal-data .fieldset > .fields > .field > .label + .control,
    .abs-blocks-2columns,
    .abs-discount-block-desktop .block,
    .login-container .block,
    .account .column.main .block:not(.widget) .block-content .box,
    .block-addresses-list .items.addresses > .item,
    .form-edit-account .fieldset,
    .form-address-edit .fieldset,
    .storecredit .block,
    .paypal-review-discount .block,
    .cart-discount .block,
    .abs-discount-block-desktop .block:nth-child(1),
    .login-container .block:nth-child(1),
    .account .column.main .block:not(.widget) .block-content .box:nth-child(1),
    .block-addresses-list .items.addresses > .item:nth-child(1),
    .form-edit-account .fieldset:nth-child(1),
    .form-address-edit .fieldset:nth-child(1),
    .storecredit .block:nth-child(1),
    .paypal-review-discount .block:nth-child(1),
    .cart-discount .block:nth-child(1) {
        width: 100%;
    }

    .account .column.main .block:not(.widget) .block-content .box {
        margin-bottom: 0;
    }

    .account .form-address-edit #region_id,
    .account .field.country,
    .account .field.titel,
    .account .field.company,
    .account .control.customer-dob input,
    .account input.input-text,
    .account .password-strength-meter {
        max-width: 300px;
    }

    .order-products-toolbar.toolbar.bottom .limiter,
    .order-products-toolbar.toolbar.bottom .toolbar-amount {
        margin: 0;
    }

    .order-products-toolbar.toolbar.bottom .pages strong span {
        top: 20px;
    }

    .order-products-toolbar.toolbar.bottom .pages li {
        line-height: 0;
        vertical-align: top;
    }

    .order-products-toolbar.toolbar.bottom .limiter {
        float: none;
    }

    .order-products-toolbar.toolbar.bottom .pages {
        margin-top: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .login-container .block .block-content {
        min-height: 330px;
    }

    .customer-account-login .login-container .block .fieldset > .field > .label + .control {
        width: 100%;
    }

    .customer-account-forgotpassword .form.password.forget .block .fieldset > .field > .label,
    .customer-account-login .login-container .block .fieldset > .field > .label {
        display: block;
    }
}

@media all and (max-width: 375px) {
    .account .products-grid.wishlist .product-items > tbody > tr > td {
        padding: 5px;
    }

    .customer-account-create .payment-lists {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .customer-account-create input._has-datepicker {
        width: 80%;
    }
}

@media all and (max-width: 374px) {
    .account .block-newsletter .fieldset > .field > .label[for="subscription"] {
        vertical-align: middle;
    }

    .account .block-newsletter .fieldset > .field > .label[for="subscription"] span {
        font-size: 12px;
    }
}

@media all and (max-width: 320px) {
    .account .products-grid.wishlist .product-items > thead > tr > th,
    .account .price-box .price,
    .account .product-item-name .product-item-link {
        font-size: 10px;
    }

    .customer-account-create input.input-text,
    .customer-account-create .field {
        width: 90%;
    }

    .account .page-header .authorization-link:before {
        top: 0 !important;
    }

    .account .header.links li.customer-welcome span.customer-name {
        top: 45px;
        max-width: 110px;
        left: 11px;
    }

    .account .products-grid.wishlist .product-items > tbody > tr > td {
        padding: 4px;
    }

    .account .form-address-edit #region_id,
    .account .field.country,
    .account .field.titel,
    .account .field.company,
    .account .control.customer-dob input,
    .account input.input-text,
    .account .password-strength-meter {
        min-width: 260px;
        max-width: 260px;
    }

    .account input.input-text[type="radio"] {
        min-width: unset;
    }
}

/*responsive styles END*/