/**
 * Magiccart 
 * @category 	Magiccart 
 * @copyright 	Copyright (c) 2014 Magiccart (http://www.magiccart.net/) 
 * @license 	http://www.magiccart.net/license-agreement.html
 * @Author:Magiccart<team.magiccart@gmail.com>
 * @@Create Date:2014-04-26 11:18:55
 * @@Modify Date: 2017-07-03 23:45:07
 * @@Function:*/
.sections .nav-sections-item-content > .navigation{display: none;}
.nav-sections-item-content .magicmenu{position:relative;display:block;text-align: left;}
.magicmenu{position: relative;}
.magicmenu .nav-desktop{position:static;margin:0;padding:0;}
.magicmenu .nav-desktop .level0{padding:0px;margin:0px;display: inline-block;}
.magicmenu .nav-desktop .level0.logo.display{display: none;border: 0;}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a{border: 0;padding: 10px;width: 71px;}
.header-container-fixed .magicmenu .nav-desktop .level0.logo.display a img{max-width: 100%;}
.magicmenu .nav-desktop .level0 > a:hover .short_desc{color:#888888;}
.magicmenu .nav-desktop .level0 .level-top{padding: 25px 20px;font-size:15px;position: relative;text-decoration:none;outline:medium none;display:block;text-align:left;line-height: 1;font-weight: bold;text-transform: uppercase;}
.magicmenu .nav-desktop .level0 .level-top span.icon-text{padding:0;text-decoration:none;outline:medium none;text-align:left;}
.magicmenu .nav-desktop .level0 .level-top span.cat_label{right: 20px;top: -8px;}
.magicmenu .nav-desktop .level0 .level-top > span{white-space: nowrap;font-size: 15px;}
.magicmenu .level0 .level-top img{display: none;padding-right: 15px;vertical-align: middle;}
.magicmenu .nav-desktop .level0.home{margin-left: 20px;position: static;}
.magicmenu .nav-desktop .level0.home .level-top .icon{display:none}
.magicmenu .nav-desktop .level0.home .level-top .icon-home{font-size:15px}
/* .magicmenu .nav-desktop .level0.active .level-top span:after{content: "";border-bottom: 2px solid #aaa;width: 20px;display: none;margin-top: 5px;} */
.magicmenu .nav-desktop .level0 .level-top-mega,
.magicmenu .nav-desktop .level0.dropdown > .level0{  border-style: solid ;border-width: 1px;padding: 0 0 0px 35px;position:absolute;z-index:99999;display:block;opacity:0;top:130%;visibility:hidden;transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s;box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);}
.magicmenu .nav-desktop .level0:hover .level-top-mega,
.magicmenu .nav-desktop .level0.dropdown:hover > .level0{opacity:1;top: 60px;visibility:visible;}
.magicmenu .nav-desktop .level0.home .level-top-mega {padding: 20px 25px 25px;min-width: 175px;text-align: left;}
.magicmenu .nav-desktop .level0.home .level-top-mega div a span {font-size: 14px;line-height: 27px;}
.magicmenu .nav-desktop .level0 .level-top-mega .children a{position: relative;display: block;}
.magicmenu .nav-desktop .level0 .level-top-mega .children a,.magicmenu .nav-desktop p{text-align:left;text-decoration:none;font-size: 15px;text-transform: capitalize; line-height: 30px;}   
/* .magicmenu .nav-desktop .level0 .level-top-mega .children a:before,.vmagicmenu .level0 .level-top-mega .children a:before{content: "\f105";font-family: fontawesome;font-size: 15px;padding-right: 10px;} */
.magicmenu .nav-desktop .level0.dropdown > .level0 li a span, 
.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0 li a span, 
.magicmenu .nav-desktop .level0.ext .level0.dropdown li a span,
.magicmenu .nav-desktop .level0 .level-top-mega .children a span,
.magicmenu .nav-desktop .level0.dropdown .dropdown .level1 a{font-size: 13px;}
.magicmenu .nav-desktop .level-top a{color:#000;font-size:14px;text-decoration:none;text-align:left}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a{position: relative; font-size: 15px;font-weight: bold;padding: 25px 0 0px;display: block;line-height: 25px;margin: 0px 25px 0 0;text-transform: capitalize;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a span{font-size: 15px;}
.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a:before, 
.vmagicmenu .level0 .level-top-mega .children > a:before{border-width: 0 0 2px;border-style: solid;content: "";height: 1px;left: 0;position: absolute; bottom: -5px; width: 20px;display: none;}
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav:last-child { border: 0 none;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top,.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom{width:100%;clear:both}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-bottom{text-align: center;padding:25px 0 0px}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal{overflow:hidden;}
.magicmenu .nav-desktop .level0 .level-top-mega .content-mega-horizontal .cat-mega{padding-bottom: 20px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column.cat-mega{float:left;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children{float:left;text-align:left;width:200px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children ul{margin-right:0px;padding: 0px;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children > ul{padding: 5px 0 0;}
.magicmenu .nav-desktop .level0 .level-top-mega .mage-column li{margin: 0;}
.mage-column.mega-block-left{float:left;}
.mage-column.mega-block-right{float:right;padding: 25px 30px 0;}
.banner-menu-right{padding: 30px 10px 0 0;}
.banner-menu-position img {bottom: 0;left: 50%;position: absolute;z-index: -1;}
.block-left,.block-right,.cat-mega{float:left}
.block-bottom{clear:both}
.cms-static-banner-position {position: absolute;right: 10px;bottom: 35px;z-index: -1;}
.magicmenu .nav-desktop .level0 .level-top-mega .mega-block-top{margin: 0px;overflow: hidden;}
.magicmenu .nav-desktop .level0 .level-top .short_desc{display:block;font-size:13px;font-weight:300;line-height:13px;text-transform:capitalize;color:#999}
.vmagicmenu .level0 .level-top-mega .children.level1 > a.a-image::before,.magicmenu .nav-desktop .level0 .level-top-mega .children.level1 > a.a-image::before{display: none;padding: 0;}
/* --- dropdown --- */
.magicmenu .nav-desktop .level0.dropdown li{margin: 0;}
.magicmenu .nav-desktop .level0.dropdown > .level0,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0,
.magicmenu .nav-desktop .level0.ext .level0.dropdown{width: 215px;padding: 20px 0px;line-height: 38px;text-align: left;}
.magicmenu .nav-desktop .level0.dropdown.home > .level0{width: 200px;}
.magicmenu .nav-desktop .level0.dropdown .hasChild,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild {position: relative;margin: 0;}
.vmagicmenu .vmagicmenu-narrow .level0.dropdown li{margin: 0;}
.magicmenu .nav-desktop .level0.dropdown .hasChild > a:before,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild > a:before{ content: "\f105";display: block;line-height: 38px;font-size: 13px;position: absolute;right: 15px;text-align: right;font-family: FontAwesome;}
.magicmenu .nav-desktop .level0.dropdown .hasChild ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul {position: absolute;left: 100%;top: 0;opacity: 0;visibility: hidden;border-width: 1px;border-style: solid;padding: 20px 0px;min-width: 200px;z-index: 1;box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);}
.magicmenu .nav-desktop .level0.dropdown .hasChild:hover > ul,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild:hover > ul{opacity: 1;visibility: visible;}
.magicmenu .nav-desktop .level0.dropdown .level1 a,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a{padding: 0 18px;display: block;text-transform: capitalize;}
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .hasChild ul li{margin: 0;}
/* --- ul leve2 --- */
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild{position: relative;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:before{content: "\f105";display: block;line-height: 32px;font-size: 13px;position: absolute;right: 30px;text-align: right;font-family: FontAwesome;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild ul { position: absolute;left: 100%;opacity: 0;visibility: hidden;top:0;background-color: #fff;box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);padding: 5px 0 5px 30px;min-width: 200px;z-index: 1;}
.magicmenu .nav-desktop .level0 .level-top-mega .children ul.level1 .hasChild:hover > ul{opacity: 1;left: 90%;visibility: visible;}

/* Vertical Menu*/
.vmagicmenu{display:block !important;position:relative;padding:0px;z-index: 90;width: 280px;float: left;}
.vmagicmenu .block-vmagicmenu-content{border-width: 0px;border-style: solid;padding: 0px;border-color: #dfdfdf;min-width: 270px;position: absolute;visibility: hidden;opacity: 0;transition: all 300ms ease-in-out 0s;}
.vmagicmenu .vmagicmenu-narrow{margin: 0px;padding: 0;}
.vmagicmenu:hover .block-vmagicmenu-content{opacity: 1;visibility: visible;}
.vmagicmenu .block-title{padding: 0 18px;line-height: 54px;}
.vmagicmenu .block-title span{ font-size: 18px;vertical-align: middle;}
.vmagicmenu .block-title .vmagicmenu-subtitle{padding: 0 0 0 15px;font-size: 16px;text-transform: capitalize;line-height: normal;}
.vmagicmenu .level0{padding:0;margin: 0;float:left;line-height:41px;width:100%;list-style: none;/* position: relative; */}
.vmagicmenu .level0.last{border:none}
.vmagicmenu .level0:hover .level0{background-color: transparent;}
.vmagicmenu .level0 .level-top{margin: 0px 18px;padding: 0px;font-size:100%;text-decoration:none;display:block;outline:medium none;position: relative;text-transform: capitalize;}
.vmagicmenu .level0 .level-top img{vertical-align: middle;margin-right: 10px;display: inline-block;}
.vmagicmenu .level0.hasChild .level-top:after{content: "\f105";font-family:FontAwesome;float:right;font-style:normal;font-weight:normal;text-decoration:inherit;vertical-align:middle;font-size: 14px;position: relative;}
.vmagicmenu .level0 .level-top span{font-size: 14px;vertical-align: middle;}
.vmagicmenu .level0 .level-top-mega,.vmagicmenu .vmagicmenu-narrow .level0.dropdown > .level0{border-width: 1px;border-style: solid;position: absolute;top: 0px !important;left:100%;z-index:999;opacity: 0;visibility: hidden;/* left: 100%; transition:all 300ms ease-in-out 0s;-moz-transition:all 300ms ease-in-out 0s;-webkit-transition:all 300ms ease-in-out 0s;-o-transition:all 300ms ease-in-out 0s; -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;transition: opacity 0.5s, transform 0.5s;-webkit-transition: all 0.45s ease-out 0s;-moz-transition: all 0.45s ease-out 0s;-o-transition: all 0.45s ease-out 0s;transition: all 0.45s ease-out 0s;-moz-transform: translate(100px, 0);-webkit-transform: translate(100px, 0);transform: translate(100px, 0); */}
.vmagicmenu .level0:hover .level-top-mega,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown.hasChild:hover > ul{opacity:1; visibility:visible;box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);-o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);-ms-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);}
.vmagicmenu .level0 .level-top-mega .content-mega{margin:0;padding:0px;overflow:hidden;}
.vmagicmenu .level0 .level-top-mega .children a,.vmagicmenu p{line-height:30px;text-align:left;text-decoration:none;position: relative;display: block;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}
.vmagicmenu .level0 .level-top-mega .children a:before,.magicmenu .nav-desktop .level0 .level-top-mega .children a:before{content: "\f105";font-family:FontAwesome;padding-right: 9px;font-style:normal;font-weight:normal;font-size: 14px;position: relative;}
.vmagicmenu .level0 .level-top-mega .children a span,
.vmagicmenu .vmagicmenu-narrow .level0.dropdown .level1 a span{font-size: 13px;}
.vmagicmenu .level0 .level-top-mega .children > a{border-width: 0px;border-style: solid;display: block;padding-top: 25px;position: relative;font-weight: bold;line-height: 25px;text-transform: capitalize;}
.vmagicmenu .level0 .level-top-mega .children > a span{font-weight: bold;font-size: 15px;}   
.vmagicmenu .level-top a{color:#fff;font-size:14px;text-decoration:none;text-align:left}
.vmagicmenu .level0 .level-top-mega .children .level-3{font-size:100%;padding:0 0 5px;line-height:30px}
.vmagicmenu .level0 .level-top-mega .children .level-3 a{font-size:14px;text-transform:uppercase;font-weight:500;}
.vmagicmenu .level0 .level-top-mega .children .nav{line-height:26px;border-bottom:1px solid #ececec}
.vmagicmenu .level0 .level-top-mega .children .nav:last-child{border:none}
.vmagicmenu .level0 .level-top-mega .children > .nav{border:none}
.vmagicmenu .level0 .level-top-mega .children .nav a{font-weight:300}
.vmagicmenu .level0 .level-top-mega .mega-block-top,.vmagicmenu .level0 .level-top-mega .mega-block-bottom{width:100%}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom{clear:both;padding:25px 0 0px}
.vmagicmenu .level0 .level-top-mega .mega-block-bottom img{margin: 0 auto;}
.vmagicmenu .level0 .level-top-mega .mage-column .children{float:left;width:220px;text-align:left;padding-left: 30px;margin: 0;}
.vmagicmenu .level0 .level-top-mega .mage-column li{margin: 0;}
.vmagicmenu .level0 .level-top-mega .mage-column .children ul{list-style: outside none none;}
.vmagicmenu .level0 .level0 .children > ul {margin: 0;padding: 5px 0 15px;}
.vmagicmenu .level0 .level-top-mega .mage-column .children ul li{margin: 0;}
.vmagicmenu .banner-menu-position img {margin-left: -30px;}

.header-container-fixed .magicmenu .nav-desktop .level0 .level-top span.cat_label {top: 0px;}
/*.vmagicmenu .vmagicmenu-narrow >li:nth-of-type(n+8) { display: none; }*/
.vmagicmenu .vmagicmenu-narrow >li:nth-child(n+11) { display: none; }
.all-cat { display: block; margin-top: 10px;}
.all-cat span {padding: 0px;cursor: pointer;display: block;line-height: normal;width: 100%;clear: both;font-size: 13px;text-transform: capitalize;}
.all-cat span:before{content: "\e095";font-family: "simple-line-icons";padding-right: 5px;}
.vmagicmenu .all-cat{padding: 17px 18px 22px;margin: 0px;text-align: left;clear: both;}
.mean-bar .all-cat{padding: 0px;}
.mean-bar .level0 .level-top img{display: none;}
.sidebar .accordion-container{margin-bottom: 20px;}
.sidebar .accordion-container .mean-bar{border-style: solid;border-width: 0px;border-color: #ebebeb;padding: 0px 0px 20px;}
.accor-title {border-bottom: 1px solid #e6e6e6;font-size: 14px;font-weight: 600;line-height: 1.35;margin: 0;padding: 0 0 15px;position: relative;text-align: left;text-transform: uppercase;}
.sidebar .nav-accordion{padding: 13px 0 0;}
ul.nav-accordion{line-height:0.5em;list-style:none;margin:0;padding:0 0 30px;}
ul.nav-accordion li{position:relative;margin: 0;}
ul.nav-accordion li.last { border-bottom: 0 none;}
ul.nav-accordion li a{text-transform: capitalize;position: relative;display:block;font-size:15px;line-height: 30px;margin:0;padding:0px;text-align:left;text-decoration:none;text-shadow:none;color:#333e48;outline:medium none;}
ul.nav-accordion li a span{font-size: 15px;}
ul.nav-accordion li.active  > a,ul.nav-accordion li.active .mean-expand.mean-clicked:before{color: #333;}
ul.nav-accordion li a:hover,.all-cat:hover span,ul.nav-accordion ul ul li:hover a:before{color: #333;}
ul.nav-accordion li ul li a{/*padding:0 0 0 25px;*/}
ul.nav-accordion li > ul.submenu > li > a {padding-left: 20px;}
ul.nav-accordion li > ul.submenu > li > ul.submenu a {padding-left: 0px;}
ul.nav-accordion li ul li ul li.parent > a{padding:0 0 0 20px;}
/* ul.nav-accordion li ul li a span:before {color: #cccccc;content: "";display: inline-block;font-family: "FontAwesome";font-size: 14px;padding-right: 12px;text-align: right;} */
ul.nav-accordion li ul li.parent > a span:before {display: none;}
ul.nav-accordion ul{margin: 0;padding: 0px;}
ul.nav-accordion ul.submenu{display: none;}
ul.nav-accordion ul li{clear:both;margin:0;padding:0}
ul.nav-accordion ul li a{outline:none;}
ul.nav-accordion ul li.active{font-weight:normal;}
ul.nav-accordion ul ul li a:before{color: #cccccc;content: "\f105";display: inline-block;font-family: "FontAwesome";font-size: 13px;padding-right: 15px;text-align: right;}
ul.nav-accordion ul ul ul li a{margin-left:20px}
ul.nav-accordion .mean-expand,ul.nav-accordion .mean-expand.mean-clicked{border:0;cursor:pointer;display:block;font-size: 0 !important;height:19px;position:absolute;right:0px;top:0px;width:19px;padding: 0 !important;}
ul.nav-accordion li.level0 > a > span > .cat-label{position:inherit}
ul.nav-accordion li.level0 > a > span > .pin-bottom:before{position:inherit;right:6px;top:22px;width:0;height:0;content:"";border-style:solid;border-width:0}
ul.nav-accordion .mean-expand:before{content: "\f107"; color: #7f7f7f;}
ul.nav-accordion .mean-expand.mean-clicked:before{content: "\f106";color: #333;}
ul.nav-accordion .mean-expand.mean-clicked:before,ul.nav-accordion .mean-expand:before{font-family: FontAwesome; display: inline-block;font-size: 17px;text-align: center;width: 18px;line-height: 30px;font-weight: normal;}
ul.nav-accordion .mean-expand.mean-clicked:hover:before{color: #333;}
.nav-accordion>li:nth-child(n+10) { display: none; }
/*Test*/
.level-top-mega .mage-column.cat-mega{margin:0;list-style: outside none none;}
.fixed{z-index:999;width:100%}
.fixed .custom-menu{padding-bottom:7px;padding-top:10px;box-shadow:0 0 6px 0 rgba(0,0,0,0.2)}
.fixed .quick-access{display:none}
@media only screen and (min-width:768px){.nav-mobile{display:none !important;}}
/* hide the link until viewport size is reached */
a.meanmenu-reveal,.meanmenu-accordion,.nav-toggle{display:none}
/* when under viewport size,.mean-container is added to body */
.nav-sections .mean-container .mean-bar{position:static;float: right;}
.nav-sections .mean-container a.meanmenu-reveal{width:20px;height:20px;padding:9px 6px;position:relative;z-index: 32;top:0;right:0;cursor:pointer;outline:medium none;color:#242628;text-decoration:none;font-size:16px;text-indent:-9999em;line-height:22px;font-size:1px;display:block;font-weight:700;margin-top: 68px;}
.nav-sections .mean-container a.meanmenu-reveal span{display:block;background:#242628;height:3px;margin-top:3px}
.nav-sections .mean-container .mean-nav{float:left;width: 100%;position: absolute;background-color: #222;z-index: 2;left: 0;}
.nav-sections .mean-container .mean-nav .mobi-title{color:#242628;font-size:16px;line-height:52px;margin:0;padding:0 0 0 50px;text-align:left;text-transform:uppercase;font-weight: 400;position: absolute;top: -56px;z-index: 0;display: none;}
.nav-sections .mean-container .mean-nav ul{padding:0;margin:0;width:100%;list-style-type:none}
.nav-sections .mean-container .mean-nav ul li{position:relative;float:left;width:100%;margin: 0;}
.nav-sections .mean-container .mean-nav ul li a{display:block;padding:10px 0;margin:0;text-align:left;color:#fff;border-bottom:1px solid #888;text-decoration:none;text-transform:capitalize;line-height: 23px;}
.nav-sections .mean-container .mean-nav ul li a span, .nav-sections .mean-container .mean-nav ul li .level-top span{font-size:15px;padding:0 14px;}
.nav-sections .mean-container .mean-nav ul li li a{font-size: 14px; padding: 10px 0 10px 25px;filter:alpha(opacity=75);visibility:visible;}
.nav-sections .mean-container .mean-nav ul li.mean-last a{margin-bottom:0}
.nav-sections .mean-container .mean-nav ul li li li a{font-size: 14px; padding: 10px 0 10px 40px;}
.nav-sections .mean-container .mean-nav ul li li li li a{padding:1em 20%}
.nav-sections .mean-container .mean-nav ul li li li li li a{padding:1em 25%}
.nav-sections .mean-container .mean-nav ul li a.mean-expand{background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;width:15px;height:15px;line-height:15px;padding:10px!important;text-align:center;position:absolute;right:5px;top:5px;z-index:2;font-weight:300;border:none!important;}
/* .nav-sections .mean-container .mean-nav ul li a.mean-expand:before{content: "";font-family: FontAwesome;display: inline-block;font-size: 14px;right: 10px;position: absolute;text-align: center;}
.nav-sections .mean-container .mean-nav ul li a.mean-expand.mean-clicked:before{content: "";} */
.nav-sections .mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both}
.mean-nav .wrapper{width:100%;padding:0;margin:0}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.mean-remove{display:none!important}
/* --- rest main-container --- */
.main-container{clear:both}
.magicmenu .nav-desktop .level0 .level-top .cat_label, .magicmenu .nav-desktop .level0 .cat_label, .nav-sections .mean-container .mean-nav ul li a span.cat_label, .vmagicmenu .level0 .cat_label, .vmagicmenu .level0 .level-top-mega .children .cat_label,ul.nav-accordion li a span.cat_label{background-color:#009966;color:#fff;font-size:11px !important;line-height:16px;font-weight: normal;padding: 0px 5px;margin: 0 0 0 3px;position:absolute;text-transform: uppercase;}
.magicmenu .nav-desktop .level0 .cat_label.Hot, .magicmenu .nav-desktop .level0 .cat_label.hot, .magicmenu .nav-desktop .level0 .cat_label.HOT, .vmagicmenu .level0 .cat_label.Hot, .vmagicmenu .level0 .cat_label.hot, .vmagicmenu .level0 .cat_label.HOT, .vmagicmenu .level0 .level-top-mega .children .cat_label.hot, .vmagicmenu .level0 .level-top-mega .children .cat_label.Hot, .vmagicmenu .level0 .level-top-mega .children .cat_label.HOT, .mean-container .mean-nav ul li a span.cat_label.hot, .mean-container .mean-nav ul li a span.cat_label.Hot, .mean-container .mean-nav ul li a span.cat_label.HOT{color:#ff3d49;}
.magicmenu .nav-desktop .level0 .level-top .cat_label:after, .magicmenu .nav-desktop .level0 .cat_label:after, .nav-sections .mean-container .mean-nav ul li a span.cat_label:after, .vmagicmenu .level0 .cat_label:after, .vmagicmenu .level0 .level-top-mega .children .cat_label:after,ul.nav-accordion li a span.cat_label:after{content: '';position: absolute;bottom: -5px;left: 0;width: 0;height: 0;border-style: solid;border-bottom-color: transparent !important;border-right-color: transparent !important;border-right-width: 5px;border-top-width: 5px;}
/* Update */
.magicmenu .nav-desktop .level0.hasChild .level-top:after{content: "\f107";font-family: "FontAwesome";font-size: 13px;padding-left: 5px;font-weight: normal;}
.magicmenu .nav-desktop .level0 .cat_label.Sale, .magicmenu .nav-desktop .level0 .cat_label.sale, .magicmenu .nav-desktop .level0 .level-top-mega .children a .cat_label.sale, .magicmenu .nav-desktop .level0 .level-top-mega .children a .cat_label.Sale, .vmagicmenu .level0 .cat_label.Sale, .vmagicmenu .level0 .cat_label.sale, .vmagicmenu .level0 .level-top-mega .children .cat_label.sale, .vmagicmenu .level0 .level-top-mega .children .cat_label.Sale, .mean-container .mean-nav ul li a span.cat_label.sale, .mean-container .mean-nav ul li a span.cat_label.Sale{color: #00bd33;}

.magicmenu .nav-desktop .level0 .cat_label:before,
.vmagicmenu .level0 .cat_label:before,
.mean-container .mean-nav ul li a span.cat_label:before,
.mean-container .mean-nav ul li span.level-top span.cat_label:before {border-color: transparent;border-style: solid;border-top-color: #009966;border-width: 6px 10px 0 0;content: "";height: 0;position: absolute;left: 10px;top: 17px;transition: border-color 450ms ease-in-out 0s;width: 0;display: none;}
.magicmenu .nav-desktop .level0 .cat_label.New:before,.vmagicmenu .level0 .cat_label.New {border-top-color: #009966;}
.magicmenu .nav-desktop .level0 .level-top-mega .children .level-3 a .cat_label:before,
.magicmenu .nav-desktop .level0 .level-top-mega .children .nav a .cat_label:before {display:none;}
.magicmenu .nav-desktop .level0 .cat_label.HOT:before,
.magicmenu .nav-desktop .level0 .cat_label.Hot:before,
.magicmenu .nav-desktop .level0 .cat_label.hot:before, 
.vmagicmenu .level0 .cat_label.HOT:before,
.vmagicmenu .level0 .cat_label.Hot:before,
.vmagicmenu .level0 .cat_label.hot:before,
.mean-container .mean-nav ul li a .cat_label.HOT:before,
.mean-container .mean-nav ul li a .cat_label.Hot:before,
.mean-container .mean-nav ul li a .cat_label.hot:before,
.mean-container .mean-nav ul li span.level-top span.cat_label.HOT:before,
.mean-container .mean-nav ul li span.level-top span.cat_label.Hot:before,
.mean-container .mean-nav ul li span.level-top span.cat_label.hot:before{border-color: #dc1212 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

.magicmenu .nav-desktop .level0 .cat_label.SALE:before,
.magicmenu .nav-desktop .level0 .cat_label.Sale:before,
.magicmenu .nav-desktop .level0 .cat_label.sale:before,
.vmagicmenu .level0 .cat_label.SALE:before,
.vmagicmenu .level0 .cat_label.Sale:before,
.vmagicmenu .level0 .cat_label.sale:before,
.mean-container .mean-nav ul li a .cat_label.SALE:before,
.mean-container .mean-nav ul li a .cat_label.Sale:before,
.mean-container .mean-nav ul li a .cat_label.sale:before{border-color: #ff6600 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}
.magicmenu .nav-desktop .level0 .cat_label.SALE,
.magicmenu .nav-desktop .level0 .cat_label.Sale,
.magicmenu .nav-desktop .level0 .cat_label.sale,
.vmagicmenu .level0 .cat_label.SALE,
.vmagicmenu .level0 .cat_label.Sale,
.vmagicmenu .level0 .cat_label.sale,
.mean-container .mean-nav ul li a .cat_label.SALE,
.mean-container .mean-nav ul li a .cat_label.Sale,
.mean-container .mean-nav ul li a .cat_label.sale{background-color:#ff6600;}
.magicmenu .nav-desktop .level0 .cat_label.Hot,
.magicmenu .nav-desktop .level0 .cat_label.hot,
.vmagicmenu .level0 .cat_label.Hot,
.vmagicmenu .level0 .cat_label.hot,
.mean-container .mean-nav ul li a .cat_label.HOT,
.mean-container .mean-nav ul li a .cat_label.Hot,
.mean-container .mean-nav ul li a .cat_label.hot,
.mean-container .mean-nav ul li span.level-top span.cat_label.HOT,
.mean-container .mean-nav ul li span.level-top span.cat_label.Hot,
.mean-container .mean-nav ul li span.level-top span.cat_label.hot{background-color:#dc1212;}
/* Custom Font */
