<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php /* @var $block \Amasty\GiftCard\Block\Product\View\Type\GiftCard */ ?>
<?php $_currencyShortName = $block->getCurrencyShortName(); ?>

<div class="giftpage_image_holder">
    <img src="<?php echo $this->getViewFileUrl('Amasty_GiftCard::images/voucher_image.png'); ?>"/>
</div>

<p class="header_giftcard"><?php echo __("Coupons &#47; vouchers") ?></p>

<div class="giftpage_wrapper">

    <p class="text_giftcard"><?php echo __("Give away vouchers from worldofdelight.ch’s whole selection. Choose a standard amount (CHF 20, 50, 100, 200) or another amount. Order your voucher today! On worldofdelight.ch you can find a big selection of everything a
connoisseur could need. With this voucher, you have the free choice!<br>The vouchers are valid for 5 years for the whole selection. The perfect gift for any occasion!<br>Please consider that only one coupon / voucher may be used for one order.") ?>
    </p>

    <?php $_product = $block->getProduct(); ?>



    <?php if ($_product->isSaleable() && $block->isConfigured($_product)): ?>
    <div class="fieldset giftcard">

        <?php if ($_product->getAmGiftcardType() == \Amasty\GiftCard\Model\GiftCard::TYPE_COMBINED): ?>

            <div class="field required">
                <label for="am_giftcard_type" class="label">
                    <span><?php echo __('Choose card type'); ?></span>
                </label>
                <div class="input-box control">
                    <select id="am_giftcard_type" name="am_giftcard_type" class="required-entry">
                        <option value=""><?php echo __('-- Please Select --'); ?></option>
                        <?php foreach ($block->getListCardTypes() as $_cardType): ?>
                            <option
                                    value="<?php echo $_cardType['value']; ?>"<?php if ($block->getDefaultValue('am_giftcard_type') == $_cardType['value']) {
                                echo " selected";
                            } ?>><?php echo $_cardType['label']; ?></option>
                        <?php endforeach; ?>
                    </select>
                    <p class="note am-giftcard-delivery-info" style="display: none">
                        <?php echo __('Please be aware that printed gift card will be sent to the shipping address you specify during checkout.'); ?>
                    </p>
                </div>
            </div>

        <?php endif; ?>

        <input type="hidden" id="am_giftcard_image" name="am_giftcard_image" class=""
               value="&nbsp;&nbsp;&nbsp;"/>
        <div class="field required am_giftcard_sender_name">
            <label for="am_giftcard_sender_name" class="label">
                <span><?php echo __('Sender Name'); ?></span>
            </label>
            <div class="input-box control">
                <input type="text" id="am_giftcard_sender_name" name="am_giftcard_sender_name"
                       class="required-entry input-text" value="<?php echo $block->getCustomerFirstname(); ?>"/>
            </div>
        </div>
        <div class="field required am_giftcard_sender_surname">
            <label for="am_giftcard_sender_surname" class="label">
                <span><?php echo __('Sender Surname'); ?></span>
            </label>
            <div class="input-box control">
                <input type="text" id="am_giftcard_sender_surname" name="am_giftcard_sender_surname"
                       class="required-entry input-text" value="<?php echo $block->getCustomerLastname(); ?>"/>
            </div>
        </div>
        <div class="field required am_giftcard_sender_email">
            <label for="am_giftcard_sender_email" class="label">
                <span><?php echo __('Sender Email'); ?></span>
            </label>
            <div class="input-box control">
                <input type="text" id="am_giftcard_sender_email" name="am_giftcard_sender_email"
                       class="validate-email required-entry input-text"
                       value="<?php echo $block->getCustomerEmail(); ?>"/>
            </div>
        </div>

        <?php if ($_product->getAmGiftcardType() != \Amasty\GiftCard\Model\GiftCard::TYPE_PRINTED): ?>
            <div class="field required am_giftcard_recipient_name">
                <label for="am_giftcard_recipient_name" class="label">
                    <span><?php echo __('Recipient Name'); ?></span>
                </label>
                <div class="input-box control">
                    <input type="text" id="am_giftcard_recipient_name" name="am_giftcard_recipient_name"
                           class="required-entry input-text"
                           value="<?php echo $block->getDefaultValue('am_giftcard_recipient_name'); ?>"/>
                </div>
            </div>
            <div class="field required am_giftcard_recipient_data">
                <label for="am_giftcard_recipient_surname" class="label">
                    <span><?php echo __('Recipient Surname'); ?></span>
                </label>
                <div class="input-box control">
                    <input type="text" id="am_giftcard_recipient_surname" name="am_giftcard_recipient_surname"
                           class="required-entry input-text"
                           value="<?php echo $block->getDefaultValue('am_giftcard_recipient_surname'); ?>"/>
                </div>
            </div>
            <div class="field required am_giftcard_recipient_email">
                <label for="am_giftcard_recipient_email" class="label">
                    <span><?php echo __('Recipient Email'); ?></span>
                </label>
                <div class="input-box control">
                    <input type="text" id="am_giftcard_recipient_email" name="am_giftcard_recipient_email"
                           class="validate-email required-entry input-text"
                           value="<?php echo $this->getDefaultValue('am_giftcard_recipient_email'); ?>"/>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($block->isMultiAmount() || $_product->getAmGiftcardPrices()): ?>
            <div class="field required amgiftcard_amount">
                <label class="label" for="amgiftcard_amount">
                    <span><?php echo __('Amount in %1', $_currencyShortName); ?></span>
                </label>

                <?php if ($block->isPredefinedAmount()): ?>
                <div class="control">
                    <select id="am_giftcard_amount" name="am_giftcard_amount" class="required-entry">
                        <option value=""><?php echo __('Choose an Amount...'); ?></option>
                        <?php foreach ($block->getListAmounts() as $_amount): ?>
                            <option data-value="<?php echo $block->convertPrice($_amount); ?>"
                                    value="<?php echo $block->convertToBase($_amount); ?>"<?php if ($block->getDefaultValue('am_giftcard_amount') == $_amount) {
                                echo " selected";
                            } ?>><?php echo $block->getFormatPrice($_amount); ?></option>
                        <?php endforeach; ?>
                        <?php if ($_product->getAmAllowOpenAmount()): ?>
                            <option value="custom"><?php echo __('Custom Amount'); ?></option>
                        <?php endif; ?>
                    </select>

                    <?php endif; ?>

                    <?php if ($_product->getAmAllowOpenAmount()): ?>
                        <div class="field input-box control" id="amgiftcard_amount_custom_block"
                             style="display: <?php if ($block->isPredefinedAmount()): ?>none<?php endif; ?>">
                            <?php $_min = $_max = 0;
                            if ($_product->getAmOpenAmountMin() || $_product->getAmOpenAmountMax()): ?>
                                <?php $_min = $_product->getAmOpenAmountMin(); ?>
                                <?php $_max = $_product->getAmOpenAmountMax(); ?>
                                <input id="am_giftcard_amount_custom" name="am_giftcard_amount_custom"
                                       class="validate-number-range number-range-<?php echo $block->round($block->convertPrice($_min)) . '-' . $block->round($block->convertPrice($_max)); ?>
                                           required-entry input-text amgiftcard-min-amount amgiftcard-max-amount"
                                       value="<?php echo $block->getDefaultValue('am_giftcard_amount_custom'); ?>"
                                       type="text">

                                <div class="fade">
                                    <?php if ($_product->getAmOpenAmountMin()): ?>
                                        <span><?php echo __('Minimum: %1',
                                                $block->getFormatPrice($_min)); ?></span>
                                    <?php endif; ?>

                                    <?php if ($_product->getAmOpenAmountMax()): ?>
                                        <span><?php echo __('Maximum: %1',
                                                $block->getFormatPrice($_max)); ?></span>
                                    <?php endif; ?>
                                </div>


                            <?php endif; ?>
                        </div>
                    <?php endif; ?>

                    <?php if ($block->isPredefinedAmount()): ?>
                </div>
            <?php endif; ?>

            </div>
        <?php endif; ?>
        <input name="am_giftcard_date_delivery" id="am_giftcard_date_delivery"
               value="<?php echo date('m/d/Y'); ?>"
               type="hidden"/>
        <input name="am_giftcard_date_delivery_timezone" id="am_giftcard_date_delivery_timezone"
               value="Europe/Busingen"
               type="hidden"/>


        <?php if ($block->isMessageAvailable($_product)): ?>
            <div class="field">
                <label for="am_giftcard_message" class="label">
                    <span><?php echo __('Your message'); ?></span>
                </label>
                <div class="input-box control">
					<textarea name="am_giftcard_message" id="am_giftcard_message" class="input-text" cols="5"
                              rows="3"><?php echo $block->getDefaultValue('am_giftcard_message'); ?></textarea>
                </div>
            </div>
        <?php endif; ?>
        <div class="required-fields">
             <?php echo __('* Required Fields');?>
        </div>
    </div>


    <script>
        require([
            'jquery',
            'Amasty_GiftCard/js/main',
            "mage/calendar"
        ], function ($) {
            $('#am_giftcard_sender_name').amGiftcard({
                productId: "<?php echo $_product->getId(); ?>",
                feeType: "<?php echo $_product->getAmGiftcardFeeType(); ?>",
                feeValue: "<?php echo $_product->getAmGiftcardFeeValue(); ?>"
            });
            if ($("#am_giftcard_date_delivery")) {
                $("#am_giftcard_date_delivery").calendar({
                    showTime: false,
                    minDate: new Date()
                });
            }
        });

    </script>
</div>

<?php endif; ?>
