/**
 * @copyright Copyright (c) 2017 www.tigren.com
 */
.mb-ajaxsuite-popup-wrapper {
    top: 10%;
    left: 30%;
    display: none;
    position: fixed;
    background: white;
    z-index: 999;
}

.mb-ajaxsuite-popup-wrapper a.mb-ajaxsuite-close {
    width: 30px;
    height: 30px;
    background: transparent url('../images/close-popup.png') top left no-repeat;
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: 1;
    cursor: pointer;
    z-index: 1000;
}

.mb-ajaxsuite-popup-wrapper .mb-ajaxsuite-popup .mb-login-popup-title-logo {
    background: url('../images/login-title.png') no-repeat;
}

.mb-ajaxsuite-popup-wrapper .mb-ajaxsuite-popup .center{
    text-align: center;
}

.mb-ajaxsuite-popup-wrapper .mb-login-popup-title {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}

.mb-ajaxsuite-popup-wrapper .mb-login-popup-title strong {
    color: floralwhite;
}

.mb-ajaxsuite-popup-wrapper .mb-login-popup-title strong {
    font-size: 12px;
}

.mb-ajaxsuite-popup-wrapper .mb-ajaxsuite-popup-border {
    margin: 10px;
}

/*Blank black*/
#mb-ajaxsuite-blank {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 100;
    display: none;
    left: 0;
}

.mb-ajaxsuite-popup-wrapper {
    z-index: 200;
}