<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="block-search">
    <div class="block block-content">
        <form class="form minisearch form-search clearfix" id="search_mini_form" action="<?php /* @escapeNotVerified */ //echo $helper->getResultUrl() ?>" method="get">
        <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Search'); ?></strong></div>
            <div class="field search">
                <?php $catalogsearch = true; ?>
                <div class="control <?php echo $catalogsearch ? 'catalogsearch' : ''?>">
                    <?php if(!$catalogsearch) : ?>
                      <input id="search"
                             data-mage-init='{"quickSearch":{
                                  "formSelector":"#search_mini_form",
                                  "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest'); ?>",
                                  "destinationSelector":"#search_autocomplete"}
                             }'
                             type="text"
                             name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                             value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                             placeholder="<?php /* @escapeNotVerified */ echo __('Search here...'); ?>"
                             class="input-text"
                             maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
                             role="combobox"
                             aria-haspopup="false"
                             aria-autocomplete="both"
                             autocomplete="off"/>
                      <div id="search_autocomplete" class="search-autocomplete"></div>
                      <?php echo $block->getChildHtml() ?>
                  <?php else : ?>
                      <input id="search"
                             type="text"
                             name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                             value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                             placeholder="<?php /* @escapeNotVerified */ echo __('Search here...'); ?>"
                             class="input-text"
                             maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
                             role="combobox"
                             aria-haspopup="false"
                             aria-autocomplete="both"
                             autocomplete="off"/>
                      <div class="catalogsearch-box">
                        <span id="select-box-category" onclick="selectboxcategory()"><?php echo __('All Categories') ?></span>
                        <div id="categories-box" style="display:none;">
                          <input style="display:none;" type="text" value="" id="qsearch">
                          <input style="display:none;" type="text" value="" id="catalogsearch" onkeyup="catalogsearch()" placeholder="Search for names.." title="search">
                          <ul class="cat-list dd-container" id="cat">
                            <?php
                              $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                              $categoryFactory = $objectManagerr->create('Magiccart\Alothemes\Model\System\Config\CatalogSearch');
                              $categories = $categoryFactory->toOptionArray(1);
                              echo '<li data-q="0">' . __('All Categories') . '</li>';
                              foreach ($categories as $category){
                                echo '<li data-q="'.$category['value'].'" class="' . $category['class'] . '">' . $category['label'] . '</li>';
                              }
                            ?>
                          </ul>
                        </div>                        
                      </div>

                      <script type="text/javascript">
                        autocompletevalue();
                        function autocompletevalue(){
                          var qsearch, select, ul, li, a, i;
                          qsearch = document.getElementById("qsearch");
                          select = document.getElementById("select-box-category");
                          ul = document.getElementById("categories-box");
                          li = ul.getElementsByTagName("li");
                          for (i = 0; i < li.length; i++) {
                            a = li[i];
                            a.addEventListener("click", function(){
                              var x = document.getElementById('categories-box');
                              if (x.style.display === 'none') {
                                x.style.display = 'block';
                              } else {
                                x.style.display = 'none';
                              }
                              qsearch.value = this.getAttribute("data-q");
                              select.innerHTML = this.innerHTML;
                            });
                          } 
                        }
                          
                        function selectboxcategory() {
                          //catalogsearch();
                            var x = document.getElementById('categories-box');
                            if (x.style.display === 'none') {
                                x.style.display = 'block';
                            } else {
                                x.style.display = 'none';
                            }
                        }

                        function catalogsearch() {
                            var input, filter, ul, li, a, i;
                            input = document.getElementById("catalogsearch");
                            filter = input.value.toUpperCase();
                            ul = document.getElementById("categories-box");
                            li = ul.getElementsByTagName("li");
                            for (i = 0; i < li.length; i++) {
                                a = li[i];
                            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                              li[i].style.display = "";
                            } else {
                              li[i].style.display = "none";

                            }
                            }
                        }

                        window.onload = function(){
                          var form = document.getElementById("search_mini_form");
                          form.onsubmit = function(){
                            var search = document.getElementById("search");
                            var qsearch = document.getElementById("qsearch");
                            var csearch = qsearch.value ? '&cat='+qsearch.value : '';
                            window.location = "<?php echo $this->getBaseUrl() ?>catalogsearch/result/?q=" + search.value + csearch;
                              return false;
                          };
                        };
                      </script>
                  <?php endif ?>
                </div>
            </div>
			<button type="submit"
                    title="<?php echo $block->escapeHtml(__('Search')) ?>"
                    class="action search button">
                <span><span><i class="fa fa-search icons"></i><i class="seach-text"><?php /* @escapeNotVerified */ echo __('Search'); ?></i></span></span>
            </button>
        </form>
    </div>
</div>
