<?php
/**
 * (с) WebMeridian - 2018. All rights reserved.
 */
?>
<?php if ($block->isEnabled()) : ?>
<div class="field field-recaptcha">
    <script src='//www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="<?php echo $block->getSiteKey();?>" data-callback="onSuccess"></div>
    <div id="recaptcha-error" class="recaptcha-error mage-error" generated="true" style="display: none;color: #e02b27;font-size: 1.2rem;"></div>
</div>
<?php endif ?>