<?php
/**
 * (с) WebMeridian - 2018. All rights reserved.
 */
?>
<?php if ($block->isEnabled()) : ?>
    <div class="g-recaptcha<?php if ($block->isCompact()): ?> g-recaptcha-compact<?php endif ?>" style="margin-top: 10px;"></div>
    <div class="recaptcha-error" id="recaptcha_error" generated="true" style="display: none;color: #e02b27;font-size: 1.2rem;"><?php echo __('Please Fill Recaptcha To Continue'); ?></div>
    <script type="text/x-magento-init">
		{".g-recaptcha": {"faonni/recaptcha": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>}}
	</script>

    <script>
        function validateRecaptcha() {

            if (grecaptcha.getResponse() != "") {
                jQuery('.recaptcha-error').first().hide();
                return true;
            } else {
                jQuery('.recaptcha-error').first().show();
                return false;
            }
        }
    </script>

<?php endif ?>

