<?php
/**
 * (с) WebMeridian - 2018. All rights reserved.
 */
/** @var \Meridian\ReCaptcha\Block\Head $block */
?>
<?php if ($block->isEnabled()) : ?>
	<script type="text/javascript" src='//www.google.com/recaptcha/api.js?render=explicit&hl=<?php echo $block->getLocale() ?>' defer></script>
    <script type="text/javascript">var webmerReCaptchaSiteKey = '<?= $block->getSiteKey() ?>';</script>
<?php endif ?>
