// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

//

//
//    Common
//--------------------------------------

& when (@media-common = true) {

  //  Product Lists
  .product {
    &-items {
      &:extend(.abs-reset-list all);
    }
    &-item {
      &:extend(.abs-add-box-sizing all);
      &-name {
        display: block;
        margin: @indent__xs 0;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }
      &-description {
        margin: @indent__m 0;
      }
      .product-reviews-summary {
        .rating-summary {
          margin: 0 4px 0 0;
        }
        .reviews-actions {
          margin-top: 5px;
          text-transform: lowercase;
          font-size: @font-size__s;
        }
      }

      .price-box {
        margin: @indent__s 0 @indent__m;
        .price-label {
          font-size: @font-size__s;
          &:after {
            content: ":";
          }
        }
      }

      .special-price,
      .minimal-price {
        .price {
          font-weight: bold;
        }
        .price-wrapper {
          display: inline-block;
        }
        .price-including-tax + .price-excluding-tax {
          display: block;
        }
      }

      .old-price {
        .price {
          font-weight: @font-weight__regular;
        }
      }

      .minimal-price {
        .price-container {
          display: block;
        }
      }

      .minimal-price-link {
        margin-top: 5px;
        .price-label {
          .lib-css(color, @link__color);
          .lib-font-size(14);
        }
        .price {
          font-weight: @font-weight__regular;
        }
      }

      .minimal-price-link,
      .price-excluding-tax,
      .price-including-tax {
        white-space: nowrap;
        display: block;
      }

      .price-from,
      .price-to {
        margin: 0;
      }
    }
  }

  .price-container {
    .price {
      .lib-font-size(14);
    }

    .price-including-tax + .price-excluding-tax,
    .weee {
      margin-top: 5px;
    }

    .price-including-tax + .price-excluding-tax,
    .weee,
    .price-including-tax + .price-excluding-tax .price,
    .weee .price,
    .weee + .price-excluding-tax:before,
    .weee + .price-excluding-tax .price {
      .lib-font-size(11);
    }

    .weee {
      &:before {
        content: "(" attr(data-label) ": ";
      }
      &:after {
        content: ")";
      }
      + .price-excluding-tax {
        &:before {
          content: attr(data-label) ": ";
        }
      }
    }
  }

  .products-list {
    .product {
      &-item {
        width: 100%;
      }
    }
    .product-image-wrapper {
      &:extend(.abs-reset-image-wrapper all);
    }
  }

  .product-info-main {
    .product.attribute.description.overview {
      clear: both;
      margin-top: 20px;
    }
  }

  .shop-content-left {
    table > caption {
      height: inherit;
      width: inherit;
      position: inherit;
    }
  }
}

//
//  Mobile
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .product {
    &-item {
      &-info {
      }

      &-actions {
        display: block;
      }
    }
  }

}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
}

@color_1: #000;
@basic_color: #f94415;
@color_3: #fff;
@color_4: #292828;
@color_5: #666;
@color_6: #888;
@font_family_1: 'simple-line-icons';
@font_family_2: "FontAwesome";
@background_color_1: transparent;
@background_color_2: #fff;

.catalog-product-view {
  .page-header {
    margin-bottom: 0;
  }
}

.page-products {
  .sidebar.sidebar-main {
    .accordion-container.mean-container {
      .accor-title {
        display: none;
      }
    }
    .block.filter {
      .block-title.filter-title {
        display: none;
      }
    }
  }

  .filter-options {
    .filter-options-title {
      color: @color_1;
      border-bottom: none;
      font-weight: normal;
      font-family: 'HURTMOLD', sans-serif;
      font-size: 23px;
    }
  }
  .accordion.nav-accordion {
    li {
      .level-top {
        span {
          font-size: 23px;
          color: @color_1;
          font-weight: normal;
          font-family: 'HURTMOLD', sans-serif;
          word-spacing: 5px;
        }
      }
    }
    background: #efefef;
    padding: 17px 30px;
  }
  .item.product-item {
    .special-price {
      position: relative;
      .price-wrapper {
        .price {
          color: @basic_color;
          font-size: 40px;
        }
      }
    }
  }
  .old-price {
    position: relative;
  }
  .toolbar-bottom {
    .sorter {
      select {
        background-color: @background_color_1;
      }
    }
  }
  .category-description {
    font-size: 30px;
    line-height: 33px;
    color: @color_1;
    margin: 0;
  }
  .accordion-container.mean-container {
    .sidebar {
      .accordion-container {
        margin-bottom: 20px;
      }
    }
  }
  .sidebar {
    .block.filter {
      .block-content {
        border: none;
        padding: 0;
      }
    }
  }
  .toolbar {
    background: #efefef;
    padding: 10px 30px;
  }
  .block.filter {
    background: #efefef;
    padding: 10px 30px;
  }
  .product.details.product-item-details.products-textlink {
    background: #efefef;
    padding: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
  }
  .minicart-wrapper .block-minicart {
    z-index: 1999;
  }
  .minicart-items .product-item-details {
    padding-right: 30px;
  }

  .category-products.products.wrapper.list.products-list .products.list.items.product-items {
    .action.towishlist.link-wishlist {
      position: absolute;
      top: 10px;
      left: 10px;
      border: none;
    }

    .item .product-item-details {
      position: relative;
    }

    .images-container.product-label-2 {
      max-height: 310px;
    }

    .hover-actions {
      opacity: 1;
      visibility: visible;
      top: 0;
    }

    button.action.tocart.primary.button.btn-cart {
      text-indent: inherit;
      width: auto;
      border: none;
      height: 39px;
      line-height: 37px;
      text-align: center;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      color: #fff;
      padding: 0 15px 0 45px;
      margin-bottom: 27px;
      background: #f94415;
      &:after {
        content: "";
        background: url("../images/add_product_card.png") no-repeat;
        line-height: 1;
        font-size: 20px;
        width: 43px;
        height: 43px;
        font-weight: bold;
        position: absolute;
        z-index: 10;
        display: inline-block;
        top: 0;
        left: 1px;
        right: 0;
        text-indent: initial;
      }
      span:before {
        display: none;
      }
    }

    .products-list .item .product-item-details {
      position: relative;
    }
  }

  .category-products.products.wrapper.grid.products-grid .products.list.items.product-items {
    .action.towishlist.link-wishlist {
      position: absolute;
      top: 10px;
      left: 10px;
      border: none;
    }

    .images-container.product-label-2 {
      max-height: 100% !important;
      overflow: visible !important;
    }

    .product.name.product-name.product-item-name {
      height: 87px;
      position: relative;
      top: -40px;
    }

    .price-box {
      padding-top: 15px;
      overflow: hidden;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      overflow-wrap: break-word;
      position: absolute;
      bottom: -12px;
      background: #efefef;
    }

    .hover-actions {
      opacity: 1;
      visibility: visible;
    }

    button.action.tocart.primary.button.btn-cart.pull-left-none {
      padding: 0;
      text-indent: -9999px;
      width: 50px;
      border-radius: 50%;
      height: 50px;
      border: none;
      background: #f94415;
      position: relative;
      margin-top: 16px;
      margin-bottom: 5px;
    }

    .item .product-item-details {
      position: absolute !important;
      bottom: 12px;
    }

    button.btn-cart.action.tocart {
      span {
        &:after {
          content: "";
          background: url("../images/add_product_card.png") no-repeat;
          line-height: 1;
          font-size: 20px;
          width: 43px;
          height: 43px;
          font-weight: bold;
          position: absolute;
          z-index: 10;
          display: inline-block;
          top: 3px;
          left: 3px;
          right: auto;
          text-indent: initial;
        }
        &:before {
          display: none;
        }
      }
    }
  }

  ul.nav-accordion {
    li {
      > ul.submenu {
        > li {
          > a {
            padding-left: 0;
          }
        }
      }
      a {
        line-height: 23px;
      }
    }
  }
  .product.product-item-actions {
    .show-box-cart {
      float: none;
      padding-right: 10px;
      position: absolute;
      bottom: 3px;
      right: 0;
      top: auto;
    }
    position: relative;
  }
  .price-box.price-final_price {
    .price-wrapper {
      .price {
        font-size: 40px;
        color: @basic_color;
        font-family: 'AlternateGothic2 BT', sans-serif;
        font-weight: 300;
      }
    }

    .price-wrapper {
      .price {
        .currency {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          position: relative;
          bottom: 17px;
          left: 0;
          display: inline-block;
          font-size: 14px;
          line-height: 14px;
        }
        .monets {
          font-size: 23px;
          position: relative;
          top: -14px;
          line-height: 20px;
        }
      }
    }

    .old-price {
      .price-wrapper {
        .price {
          color: @color_1;
          font-weight: bold;
          font-size: 14px;
          position: absolute;
          bottom: 0;
          left: 52px;
          line-height: 35px;
        }

      }
    }
  }
  .category-products.grid {
    .images-container.product-label-2 {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .product.name.product-name.product-item-name {
    background: #fff;
    margin: 0;
  }

  .text_inner {
    background: #fff;
  }
}

body[class*=" category-"] {
  .price-box.price-final_price {
    .old-price {
      .price-wrapper {
        .price {
          bottom: -4px;
          left: 43px;
        }
      }
    }

  }
}

.product.product-item-actions.show-box-cart {
  margin: 0;
}

.modes-mode.mode-grid {
  &:before {
    content: "\f009";
    font-family: @font_family_2;
  }
}

.modes-mode.active {
  &:before {
    color: @color_4;
  }
}

.modes-mode.mode-list {
  &:before {
    content: "\f03a";
    font-family: @font_family_2;
  }
}

a#mode-list:hover {
  color: rgb(117, 117, 117);
}

select#sorter {
  &:after {
    content: "\0025BC";
    display: block;
    position: relative;
    width: 15px;
    height: 10px;
    z-index: 100;
  }
}

.rating-summary {
  .rating-result {
    &:before {
      color: @color_6
    }
  }
}

.filter-options {
  .filter-options-content {
    padding-top: 0;
  }
  .filter-options-title {
    padding: 0;
  }
}

//.product-items {
//  .product-item {
//    &:first-child {
//      padding-left: 0;
//    }
//  }
//}

.product-item-info.per-product {
  .icon.icon-heart.icons {
    font-size: 26px;
    color: @color_5;
  }
  a.link-wishlist {
    position: absolute;
    top: 10px;
    z-index: 1;
    left: 10px;
  }
}

.product-reviews-summary.short {
  position: absolute;
  top: 7px;
  z-index: 1;
  right: 5px;
}

.product-view {
  .product-shop {
    .rating-summary {
      .rating-result {
        > span {
          &:before {
            height: 18px;
            line-height: 18px;
            letter-spacing: 6px;
            font-size: 18px;
          }
        }
        &:before {
          height: 18px;
          line-height: 18px;
          letter-spacing: 6px;
          font-size: 18px;
        }
      }
    }
  }
}

.product-reviews-summary {
  .rating-summary {
    .rating-result {
      > span {
        &:before {
          height: 14px;
          line-height: 14px;
          letter-spacing: 6px;
          font-size: 14px;
        }
      }
      &:before {
        height: 14px;
        line-height: 14px;
        letter-spacing: 6px;
        font-size: 14px;
      }
      width: 92px;
      height: 14px;
    }
  }
}

.page-products.page-layout-2columns-left .sidebar-main {
  width: 16% !important;
}

.page-products .toolbar.toolbar-products .toolbar-amount, .page-products .toolbar-bottom .toolbar-amount {
  color: #757575;
}

.page-products.page-layout-2columns-left .column.main {
  width: 83% !important;
}

.catalog-product-view {

  .block-related.related, .box-up-sell.upsell {

    .slick-slide img {
      display: block;
      max-height: 203px;
      padding-bottom: 14px;
      padding-top: 14px;
      width: auto;
    }

    .products-textlink {
      margin: 17px 0 0;
    }

    .products {
      .slick-prev.slick-arrow {
        left: 0;
        &:before {
          content: "";
          background: url(../images/arrow_product_left.png) no-repeat;
          width: 15px;
          height: 30px;
          display: block;
          position: relative;
        }
      }

      .slick-next.slick-arrow {
        right: 20px;
        &:before {
          content: "";
          background: url(../images/arrow_product_right.png) no-repeat;
          width: 15px;
          height: 30px;
          display: block;
          position: relative;
        }
      }
    }

    .price-box.price-final_price .old-price .price-wrapper .price {
      color: #000000;
      font-weight: bold;
      font-size: 12px;
      position: relative;
      bottom: 0;
      left: -19px;
    }

    .item.product.product-item {
      border: 1px solid #e5e5e5;
      margin-right: 25px;
      min-height: 390px;
      max-height: 390px;
      overflow: hidden;
    }

    .item.product.product-item.slick-slide .product-hover {
      .hover-actions {
        top: 20px;
        left: -10px;
        opacity: 1;
        visibility: visible;
        right: auto;
        border: none;

        .action.towishlist {
          border: none;
        }
      }
    }

    .product.product-item-actions.show-box-cart {
      position: absolute;
      right: 0;
      bottom: -33px;
    }

    .price-final_price .special-price .price-final_price .price {
      line-height: 1 !important;
    }

    .price-final_price .special-price .price-final_price span.price {
      position: relative;
      line-height: 1 !important;
      top: 31px;
      right: 31px;
      left: auto;
    }

    .price-container.price-final_price.tax.weee .price,
    .product-item-info.per-product.related-available .price-container .price-wrapper .price {
      line-height: 70px;
      position: absolute;
      left: 10px;
    }

    .product.details.products-textlink.product-item-details.clearfix {
      .price-box.price-final_price {
        position: absolute;
        bottom: -120px;
        background: #efefef;
        width: 247px;
        margin: 0;
        left: -16px;
        height: 70px;
      }
    }
  }

  #block-related-heading,
  #block-upsell-heading {
    position: relative;
    display: inline-block;
    z-index: 1;
    color: #000;
    font-weight: bold;
    font-size: 17px;
    margin: 35px 0;
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 24px;
      height: 4px;
      background: red;
      left: 0;
      top: 25px;
    }
  }

  .crosssell .block-title, .block-related .block-title, .block.related .block-title, .box-up-sell .block-title {
    border-bottom: none !important;
  }

  .products-upsell,
  .products-related {

    button.action.tocart.primary.button.btn-cart {
      text-indent: -9999px;
      width: 50px;
      border-radius: 50%;
      height: 50px;
      border: none;
      background: #f94415;
      position: relative;
      margin-top: 16px;
      margin-bottom: 0;
      &:after {
        content: "";
        background: url("../images/add_product_card.png") no-repeat;
        line-height: 1;
        font-size: 20px;
        width: 43px;
        height: 43px;
        font-weight: bold;
        position: absolute;
        z-index: 10;
        display: inline-block;
        top: 3px;
        left: 3px;
        right: 0;
        text-indent: initial;
      }
    }
  }

  .item.product.product-item .product.name.product-name.product-item-name a.product-item-link {
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    width: 80%;
    display: inline-block;
    z-index: 100;
    position: relative;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
    text-align: left;
  }

  .price-container.price-final_price.tax.weee .price {
    font-size: 40px;
    color: #f94415;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
  }

}

.page-products {

  .sorter select, .limiter select {
    background-image: none;
  }

  .products.wrapper.list.products-list {
    .products.list.items.product-items {

      .item.product.product-item {
        min-width: 100%;
      }

      .product-reviews-summary.short {
        position: absolute;
        top: -28px;
      }

      .stock.available {
        display: block;
        float: none;
        clear: none;
      }

    }

  }

  .category-products.products.wrapper.list.products-list {
    .price-box.price-final_price .old-price .price-wrapper .price {
      bottom: 0;
      left: 0;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .category-products.products.wrapper.grid.products-grid {
    .products.list.items.product-items {
      .button.btn-cart.action.tocart {
        text-indent: initial;
        width: auto;
        border: 1px solid;
        height: 39px;
        line-height: 37px;
        text-align: center;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        color: #fff;
        padding: 0 15px 0 45px;
        margin-bottom: 27px;

        span &:after {
          top: -4px;
        }
      }

      .item .product-item-details {
        position: relative;
      }

      .product-item-description .action.more {
        display: block;
      }

      .product-item-info.per-product .icon.icon-heart.icons {
        font-size: 26px;
        color: #666666;
      }

      .stock.available {
        color: #666;
        font-weight: normal;
        font-size: 13px;
      }

      .images-container.product-label-2 {
        max-height: 300px;
        overflow: hidden;
      }

      .products-list .item .product-item-details {
        position: relative;
      }

      .price-box.price-final_price .old-price .price-wrapper .price {
        bottom: 0;
        left: 0;
        font-size: 26px;
      }

      .price-box.price-final_price .price-final_price .price-wrapper .price-final_price .price {
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        position: relative;
        bottom: 0;
        left: -38px;
      }

      button.btn-cart.action.tocart span:before {
        display: none;
      }
    }

  }

  .products-grid .price-box {
    max-height: 55px;
    text-align: left;
    padding-left: 10px;
  }

  button.reduced.items {
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: gray;
    border-radius: 50%;
    position: relative;
    .fa-minus {
      &:before {
        color: @color_3;
      }
    }
  }

  button.increase.items {
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: gray;
    border-radius: 50%;
    position: relative;
    .fa-plus {
      &:before {
        color: @color_3;
      }
    }
  }


  .product.product-item-actions.show-box-cart {
    position: absolute;
    right: 10px;
    bottom: 0;
  }

  .products-grid .price-box {
    padding-top: 15px;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 72%;
    overflow-wrap: break-word;
  }

  .product.name.product-name.product-item-name {
    a.product-item-link {
      text-transform: uppercase;
      color: #000;
      font-size: 18px;
      width: 80%;
      display: inline-block;
      z-index: 100;
      position: relative;
      font-family: 'AlternateGothic2 BT', sans-serif;
      font-weight: 300;
      height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .images-container.product-label-2 {
    max-height: 235px;
    overflow: hidden;
  }
  .per-product {
    background-color: @background_color_2;
    height: 100%;
  }

  .category-products.products-grid .category-products-grid,
  .category-products.grid.products-grid .item {
    min-height: 390px;
  }

  .category-products.products-grid {
    .category-products-grid {
      background-color: @background_color_2;
      height: 100%;
      .item .product-image-photo {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .text_inner {
    text-align: left;
    padding-left: 10px;
    position: absolute;
    bottom: 60px;
    height: 45px;
    width: 80%;
    font-family: "Roboto", sans-serif;
  }

  .category-products.grid.products-grid .item {
    margin-bottom: 20px;
  }

  li.item.product.product-item:nth-child(5n) {
    padding-right: 0;
  }

  .product-item:nth-child(5n+1),
  //li.item.product.product-item:nth-child(6n),
  li.item.product.product-item:first-child {
    padding-left: 0;
  }

  .product.name.product-name.product-item-name {
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    height: 83px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }
  .product-items {
    .product-item {
      width: 20%;
      max-width: 278px;
    }
  }
}

.rating-summary .rating-result > span:before {
  color: @basic_color !important;
}

.product-item .product-reviews-summary .reviews-actions a {
  color: #333 !important;
}

.catalog-product-view {
  .product-info-main {
    .product-reviews-summary {
      .reviews-actions {
        display: block;
      }
    }
  }

  #product-attribute-specs-table th {
    padding: 0;
  }

  .product-view {
    .product-view .product-shop .rating-summary .rating-result {
      width: 200px;
    }
    .add-to-cart button.button {
      border-radius: 0;
      border: none;
      background: @basic_color;
      color: @color_3;
    }

    .add-to-cart button.button {
      position: relative;

      span:before {
        content: "";
        background: url(../images/add_product_card.png) no-repeat;
        line-height: 1;
        font-size: 20px;
        width: 43px;
        height: 43px;
        font-weight: bold;
        position: absolute;
        z-index: 10;
        display: inline-block;
        top: 3px;
        left: 3px;
        right: 0;
        text-indent: initial;
      }
    }

    .product-shop {
      input.qty {
        background: #fff;
        border: none;
      }
    }
    .product-qty {
      .custom-qty {
        border: none;
      }
    }
  }

}

@media all and (min-width: 768px) {
  .page-products .list.products-list .product-item.item.product-item {
    width: 80%;
  }

}

@media all and (max-width: 1680px) {
  .page-products .product-items .product-item {
    width: 25%;
    min-width: 210px;
  }

  .page-products li.item.product.product-item:nth-child(1n),
  .page-products li.item.product.product-item:nth-child(2n),
  .page-products li.item.product.product-item:nth-child(3n),
  .page-products li.item.product.product-item:nth-child(4n),
  .page-products li.item.product.product-item:nth-child(5n){
    padding-left: 15px;
    padding-right: 15px;
  }


  .page-products.page-layout-2columns-left .sidebar-main {
    width: 25% !important;
  }

  .page-products.page-layout-2columns-left .column.main {
    width: 75% !important;
  }
  .page-products .product-item:nth-child(5n+1){
    clear: none !important;
  }

  .page-products li.item.product.product-item:nth-child(4n+1){
    padding-left: 0;
  }

  .page-products li.item.product.product-item:nth-child(4),
  .page-products li.item.product.product-item:nth-child(4n){
    padding-right: 0;
  }
}

@media all and (max-width: 1440px) {
  .page-products li.item.product.product-item:nth-child(6n) {
    padding-left: 15px;
  }

  .page-products li.item.product.product-item:first-child {
    padding-left: 0;
  }
}

@media all and (max-width: 1366px) {
  .page-products .product-items .product-item {
    width: 33.3%;
  }
  .page-products li.item.product.product-item:nth-child(1n),
  .page-products li.item.product.product-item:nth-child(2n),
  .page-products li.item.product.product-item:nth-child(3n),
  .page-products li.item.product.product-item:nth-child(4n),
  .page-products li.item.product.product-item:nth-child(5n){
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-products li.item.product.product-item{
    max-width: 310px;
  }
  .page-products li.item.product.product-item:nth-child(3n+1){
    padding-left: 0;
  }

  .page-products li.item.product.product-item:nth-child(3),
  .page-products li.item.product.product-item:nth-child(3n){
    padding-right: 0;
  }
  .product-items li.item.product.product-item:nth-child(4n+1){
    clear: none !important;
  }
}

@media all and (max-width: 1024px) {
  .page-products .products.wrapper.list.products-list .products.list.items.product-items .product-reviews-summary.short {
    position: absolute;
    top: -15px;
  }

  .product-reviews-summary {
    .rating-summary {
      .rating-result {
        > span {
          &:before {
            height: 12px;
            line-height: 12px;
            letter-spacing: 4px;
            font-size: 12px;
          }
        }
        &:before {
          height: 12px;
          line-height: 12px;
          letter-spacing: 4px;
          font-size: 12px;
        }
        width: 76px;
        height: 12px;
      }
    }
  }

  .page-products .toolbar .modes {
    float: none;
  }

  .page-products .toolbar-products .pages {
    display: block !important;
    clear: both;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }

  .page-products .pages li {
    border: none;
    float: none;
  }

  .page-products .pages .pages-items {
    display: block;
  }

}

@media all and (max-width: 1023px) {
  .page-products .category-products.grid.products-grid .item {
    margin-bottom: 20px;
  }

  .minicart-wrapper .product .actions {
    margin: 0;
  }
}

@media all and (max-width: 992px) {
  .page-products .toolbar .modes {
    display: inline-block;
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: none !important;
    width: auto;
  }

  .page-products {

    .page-main-pal.container {
      display: table;
      width: 100%;
    }

    .column.main {
      display: table-footer-group;
    }

    .sidebar.sidebar-main {
      display: table-header-group;
    }

    .sidebar.sidebar-additional {
      display: table-row-group;
      .block.block-compare {
        padding: 10px 30px;
      }
    }
  }
}


@media all and (max-width: 992px) {

  .page-products .product-items .product-item {
    width: 50%;
  }
  .page-products li.item.product.product-item:nth-child(1n),
  .page-products li.item.product.product-item:nth-child(2n),
  .page-products li.item.product.product-item:nth-child(3n),
  .page-products li.item.product.product-item:nth-child(4n),
  .page-products li.item.product.product-item:nth-child(5n){
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-products li.item.product.product-item{
    max-width: 320px;
  }
  .page-products li.item.product.product-item:nth-child(2n+1){
    padding-left: 0;
  }

  .page-products li.item.product.product-item:nth-child(2),
  .page-products li.item.product.product-item:nth-child(2n){
    padding-right: 0;
  }
  .product-items li.item.product.product-item:nth-child(3n+1){
    clear: none !important;
  }

}


@media all and (max-width: 768px) {

  .page-products .toolbar {
    margin-top: 0;
  }


  .page-products .field.limiter,
  .page-products .toolbar .modes .label {
    float: none !important;
  }

  .page-products.page-layout-2columns-left .column.main {
    width: 69% !important;
  }

  .page-products.page-layout-2columns-left .sidebar-additional,
  .page-products.page-layout-2columns-left .sidebar-main {
    width: 31% !important;
  }

}

@media all and (max-width: 767px) {
  .page-products .products.wrapper.list.products-list .products.list.items.product-items .product-reviews-summary.short {
    position: absolute;
    top: 0;
  }

  .modes-mode, .pages li {
    margin: 0 !important;
  }

  .page-products.page-layout-2columns-left .column.main,
  .page-products .toolbar.toolbar-products,
  .page-products .sidebar.sidebar-main {
    width: 100% !important;
  }

  .page-products .products-list .item.product-item .price-box .price {
    font-size: 40px;
  }

  .page-products .product-items .product-item {
    width: 33.3%;
  }
  .page-products li.item.product.product-item:nth-child(1n),
  .page-products li.item.product.product-item:nth-child(2n),
  .page-products li.item.product.product-item:nth-child(3n),
  .page-products li.item.product.product-item:nth-child(4n),
  .page-products li.item.product.product-item:nth-child(5n){
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-products li.item.product.product-item{
    max-width: 320px;
  }
  .page-products li.item.product.product-item:nth-child(3n+1){
    padding-left: 0;
  }

  .page-products li.item.product.product-item:nth-child(3),
  .page-products li.item.product.product-item:nth-child(3n){
    padding-right: 0;
  }
}

@media all and (max-width: 640px) {
  .page-products.page-layout-2columns-left .sidebar-additional,
  .page-products.page-layout-2columns-left .sidebar-main {
    width: 100% !important;
  }




  .page-products .product-items .product-item {
    width: 50%;
  }
  .page-products li.item.product.product-item:nth-child(1n),
  .page-products li.item.product.product-item:nth-child(2n),
  .page-products li.item.product.product-item:nth-child(3n),
  .page-products li.item.product.product-item:nth-child(4n),
  .page-products li.item.product.product-item:nth-child(5n){
    padding-left: 5px;
    padding-right: 5px;
  }

  .page-products li.item.product.product-item:nth-child(2n+1){
    padding-left: 0;
  }

  .page-products li.item.product.product-item:nth-child(2),
  .page-products li.item.product.product-item:nth-child(2n){
    padding-right: 0;
  }

  .page-products .product-items .product-item{
    min-width: 195px;
  }
}

@media all and (max-width: 540px) {
  .page-products .product-items .product-item {
    margin-right: 0;
  }
}

@media all and (max-width: 480px) {
  .minicart-wrapper .block-minicart {
    min-width: 320px;
  }
  .product-items li.item.product.product-item:nth-child(1n+1){
    clear: none !important;
  }
}

@media all and (max-width: 425px) {



  .page-products .products.wrapper.grid.products-grid .products.list.items.product-items .actions-primary.actions-cart {
    float: right;
  }

  .page-products .products.wrapper.grid.products-grid .product-items .product-item {
    max-height: 300px;
  }

  .page-products .products.wrapper.grid.products-grid .price-container.price-final_price.tax.weee {
    float: left;
    padding-left: 15px;
  }

  .page-products .products.wrapper.list.products-list .products.list.items.product-items .product-reviews-summary.short {
    position: relative;
    top: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .page-products .products.wrapper.grid.products-grid .product.product-item-actions.show-box-cart {
    position: absolute !important;
    bottom: 13px;
  }

  .page-products .products.wrapper.list.products-list .product.product-item-actions.show-box-cart {
    position: absolute;
    bottom: 0;
  }

  .page-products {

    .products.list.items.product-items {

      .product.description.product-item-description {
        text-align: center;
      }

      button.action.tocart.primary.button.btn-cart {
        top: 9px;
        position: relative;
      }


      .product.product-item-actions.show-box-cart {
        position: relative;
      }

      .item.product-item .price-box .price {
        font-size: 39px;
      }

      .price-box.price-final_price,
      .product.product-item-actions.show-box-cart,
      .stock.available,
      .products-list .item.product-item .price-box,
      .product-item-description .action.more {
        text-align: center;
      }
    }
  }

  .page-products .toolbar .modes {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


@media all and (max-width: 400px) {
  .page-products .product-items .product-item {
    width: 100%;
  }

  .page-products li.item.product.product-item:nth-child(1n),
  .page-products li.item.product.product-item:nth-child(2n),
  .page-products li.item.product.product-item:nth-child(3n),
  .page-products li.item.product.product-item:nth-child(4n),
  .page-products li.item.product.product-item:nth-child(5n) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-products li.item.product.product-item {
    max-width: 400px;
  }

  .page-products li.item.product.product-item  img.product-image-photo {
    max-width: 50% !important;
    position: relative;
  }
}



@media all and (max-width: 375px) {
  .page-products .field.limiter {
    float: none !important;
    display: inline-block;
  }

  .page-products .toolbar .sorter-label:after {
    right: -112px;
  }

  .page-products .sorter select {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}