// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

@toolbar-mode-icon-font-size: 24px;
@toolbar-element-background: @panel__background-color;

& when (@media-common = true) {

  .page-products {
    .columns {
      position: relative;
      z-index: 1;
    }
  }

  .toolbar {
    &:extend(.abs-add-clearfix all);
    &-amount {
      display: block;
      line-height: @toolbar-mode-icon-font-size+2;
      margin: 0;
      padding: 4px 0 0;
      vertical-align: middle;
      .products.wrapper ~ .toolbar & {
        display: none;
      }
    }
    &-products {
      margin-bottom: @indent__xl;
      padding: 0 @indent__s;
      text-align: center;
      &:extend(.abs-add-clearfix all);
      .pages {
        display: none;
        .products.wrapper ~ & {
          display: block;
        }
      }
      .limiter {
        .control {
          display: inline-block;
        }
      }
    }
  }

  .sorter {
    padding: 4px 0 0;
    .products.wrapper ~ .toolbar & {
      display: none;
    }
    &-options {
      width: auto;
    }
    &-action {
      vertical-align: top;
      .lib-icon-font(
              @icon-arrow-up,
        @_icon-font-size: 28px,
        @_icon-font-line-height: 32px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover,
        @_icon-font-text-hide: true
      );
      &.sort-desc:before {
        content: @icon-arrow-down;
      }
    }
  }
  .limiter {
    &-options {
      width: auto;
      margin: 0 5px 0 7px;
    }
    &-label {
      font-weight: 400;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
  .page-products {
    .columns {
      padding-top: 0;
      position: relative;
      z-index: 1;
    }
  }

  .toolbar {
    &-amount {
      float: left;
    }
  }

  .sorter {
    float: left;
  }
  .limiter {
    float: left;
    padding: 4px 0 0;
    .products.wrapper ~ .toolbar & {
      display: none;
    }
  }
}

.page-products {

  .sorter-label {
    line-height: 37px;
  }

  .pages li.item a.action.previous {
    padding-right: 0;
  }

  .toolbar {
    font: 12px/15px Arial, Helvetica, sans-serif;

    .sorter-label:after {
      color: #333030;
    }

    .modes-mode {
      width: 25px;
      color: rgb(117, 117, 117);
    }

    .pager {
      display: block;
    }

    .modes {
      display: inline-block;
      padding-left: 15%;
      padding-right: 0;
      float: left;

      .label {
        float: left;
        span {
          font-weight: normal;
          color: rgb(117, 117, 117);
          font-size: 18px;
          padding-right: 5px;
          position: relative;
          top: -1px;
        }
      }

      .mode {
        line-height: 34px !important;
      }
    }

  }

  .field.limiter {
    float: right;
  }

  .sorter select {
    top: 0;
    position: relative;
  }

  .toolbar.toolbar-products,
  .toolbar-bottom {

    a.action.next:after {
      content: "▶";
      position: relative;
      top: -1px;
    }

    a.action.previous:after {
      content: "◀";
      position: relative;
      top: -1px;
    }

    .toolbar-amount {
      font: 16px/18px Arial, Helvetica, sans-serif;
      line-height: 30px;
    }

    .pages li {
      border: none;
      float: none;
    }

    .pages .pages-items {
      display: block;
    }

    a.action.next {
      padding: 0 !important;
    }
  }

  .toolbar-products,
  .toolbar {
    .pages a.action span {
      text-indent: -9999px;
      display: inline-block;
    }

  }

  .toolbar {
    .pages {
      li a:active span,
      li a:focus span,
      li a:hover span,
      li a:visited span,
      li a span,
      li strong span {
        color: rgb(117, 117, 117);
      }
    }
  }

  .toolbar-bottom {
    .field.limiter,
    .modes,
    .toolbar-sorter.sorter {
      display: none;
    }

  }

  .toolbar-products .pages {
    display: inline-block;
  }

}

