<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2016 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.sellxed.com/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.sellxed.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_DatatransCw
 * 
 */

/* @var $block \Customweb\DatatransCw\Block\Payment\Method\Info */
?>

<dl class="payment-method <?php echo $block->getMethod()->getCode() ?>">
	<dt class="title">
		<?php if ($block->isShowMethodImage()) : ?>
			<div class="field payment-image">
				<img src="<?php echo $block->getViewFileUrl('Customweb_DatatransCw/images/payment/method/' . $block->escapeHtml($block->getMethod()->getPaymentMethodName()) . '.png') ?>" />
			</div>
		<?php endif; ?>
		<p><?php echo $block->escapeHtml($block->getMethod()->getTitle()) ?></p>
	</dt>
	<dd class="content">
		<?php if ($block->getTransaction() && is_object($block->getTransaction()->getTransactionObject())) : ?>
			<?php if ($block->getMethod()->getPaymentMethodConfigurationValue('show_payment_id')) : ?>
				<h4><?php echo __('Payment Id') ?></h4>
				<span><?php echo $block->escapeHtml($block->getTransaction()->getTransactionObject()->getPaymentId()) ?></span>
			<?php endif; ?>

			<?php if ($block->getTransaction()->getTransactionObject()->getPaymentInformation() != null) : ?>
				<h4><?php echo __('Payment Information') ?></h4>
				<span><?php echo $block->getTransaction()->getTransactionObject()->getPaymentInformation() ?></span>
			<?php endif; ?>
		<?php endif; ?>
	</dd>
</dl>