<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php /* @var $block \Amasty\GiftCard\Block\Customer\CardForm */ ?>
<div class="amgiftcard">
    <form class="form" id="amgiftcard-form" action="<?php echo $block->getUrl('amgiftcard/account/addCard') ?>" method="post" enctype="multipart/form-data">
        <?php echo $block->getBlockHtml('formkey')?>
        <fieldset class="fieldset">
            <legend class="legend"><span data-title="change-email-password"><?php echo __('Specify Gift Code') ?></span></legend><br>
            <div class="field required" data-container="change-email">
                <div class="control">
                    <input type="text" class="required-entry input-text" id="am_giftcard_code" name="am_giftcard_code" value="" />
                </div>
            </div>
        </fieldset>

        <div class="buttons-set form-buttons btn-only">
            <button type="submit" class="action save primary" title="<?php echo __('Submit') ?>"><span><?php echo __('Submit') ?></span></button>
        </div>
    </form>
</div>