<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2017 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
?>
<?php /* @var $block \Amasty\GiftCard\Block\Customer\Cards */ ?>

<?php $_cards = $block->getCards() ?>
<?php if(count($_cards)): ?>
<div class="amgiftcard">
<fieldset class="fieldset">
    <legend class="legend"><span data-title="change-email-password"><?php echo __('Gift Codes') ?></span></legend><br>
    <?php foreach($_cards as $_card): ?>
        <div class="am-gift-card-info customer-account-gift-card-item">
            <p><?php echo __("Code: %1", '<strong>' . $_card->getCode() . '</strong>'); ?></p>
            <p><?php echo __("Status: %1", '<strong>' . $_card->getStatus() . '</strong>'); ?></p>
            <p><?php echo __('Current Balance: %1', '<strong>' . $block->getCurrentBalance($_card->getCurrentValue()) . '</strong>'); ?></p>
            <?php if ($_card->getExpiredDate()): ?>
                <?php $_validTill = $block->getExpiredDate($_card->getExpiredDate()); ?>
            <?php else: ?>
                <?php $_validTill = __('unlimited'); ?>
            <?php endif; ?>
            <p><?php echo __('Valid till: %1', '<strong>' . $_validTill . '</strong>'); ?></p>

            <a href="<?php echo $block->getUrl('amgiftcard/account/remove', array('id'=>$_card->getId())) ?>"><?php echo __('Remove');?></a>
        </div>
    <?php endforeach; ?>
</fieldset>
</div>
<?php endif;?>
