<div class="field company<?php if ($block->isRequired()) echo ' required' ?>">
    <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId('wod_company')?>"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
    <div class="control">
        <?php
        $value = $block->getData('wod_company');
        $blockValue = $block->getValue();
        ?>
        <input type="text" id="<?php /* @escapeNotVerified */ echo $block->getFieldId('wod_company') ?>"
               name="<?php /* @escapeNotVerified */ echo $block->getFieldName('wod_company') ?>"
               value="<?php echo $block->escapeHtml($value) ?>"
               title="<?php /* @escapeNotVerified */ echo $block->getStoreLabel('wod_company') ?>"
               class="input-text <?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('wod_company') ?>" <?php /* @escapeNotVerified */ echo $block->getFieldParams() ?> <?php if ($block->getAttributeValidationClass('wod_company') == 'required-entry') echo ' data-validate="{required:true}"' ?>>
    </div>
</div>