<div class="field titel<?php if ($block->isRequired()) echo ' required' ?>">
    <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId('wod_titel')?>"><span><?php /* @escapeNotVerified */ echo __('Titel') ?></span></label>
    <div class="control">
        <?php
        $value = $block->getData('wod_titel');
        $blockValue = $block->getValue();
        ?>
        <input type="text" id="<?php /* @escapeNotVerified */ echo $block->getFieldId('wod_titel') ?>"
               name="<?php /* @escapeNotVerified */ echo $block->getFieldName('wod_titel') ?>"
               value="<?php echo $block->escapeHtml($value) ?>"
               title="<?php /* @escapeNotVerified */ echo $block->getStoreLabel('wod_titel') ?>"
               class="input-text <?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('wod_titel') ?>" <?php /* @escapeNotVerified */ echo $block->getFieldParams() ?> <?php if ($block->getAttributeValidationClass('wod_titel') == 'required-entry') echo ' data-validate="{required:true}"' ?>>
    </div>
</div>