<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}

        .button a:active, .button a:hover, .button a:visited {
            color:  #ff7f29 !important;
            text-decoration: underline !important;
            border: none  !important;
        }

        .button .inner-wrapper td:hover{
            background-color: transparent !important;
        }
        .button .inner-wrapper td.link a:active,
        .button .inner-wrapper td.link:active,
        .button .inner-wrapper td.link:visited,
        .button .inner-wrapper td.link:hover{
            background-color: #f94415 !important;
        }
        .button .inner-wrapper td.link a:hover,
        .button .inner-wrapper td.link a:active{
            text-decoration: none !important;
            border: 1px solid #f94415 !important;
        }
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper" width="100%">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">

                <tr>
                    <td class="main-content">
                        <!-- Begin Content -->
                        <p style="color: #c45811; font-size: 16px; font-weight: bold;">{{trans"DEINE GENUSSWELT IM NEUEN LOOK UND MIT NEUEN PRODUKTEN"}}</p>
                        <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <img
                                            src="{{view url='Meridian_ResetEmail::emailreset.jpg'}}"
                                            alt=""
                                            />
                                </td>
                            </tr>
                        </table>

                        <p class="greeting">{{trans "Lieber,"}}{{var customer.name}}</p>
                        <br>

                        <p>{{trans"Wir heissen dich herzlich willkommen in unserem neuen Online Shopmit neuem Look und neuen Produkten. Neben Kaffee kommen noch viele weitere Spirituosen, Tabakwaren und Süsswaren hinzu, sodass wir dir auch die ganze Welt des Genusses an einem Ort anbieten können."}}</p>
                        <p>{{trans"Als bestehender Kunde von World of Delight haben wir dir ein Konto vorbereitet. Klicke auf den Button unten um dein Passwort festzulegen:"}}</p>

                        <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tr><td  style="background-color: none !important;"><br></td></tr>
                                        <tr>
                                            <td align="center" class="link" style="background-color: #f94415; padding: 10px !important;">
                                                <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank" style="border: 1px solid #f94415; font-weight: bold;">{{trans "JETZT PASSWORT SETZEN"}}</a>

                                            </td>
                                        </tr>
                                        <tr><td style="background-color: none !important;"><br></td></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{trans"Profitiere sogleich von unseren Aktionen wie"}} <span style="text-decoration: underline; color: #ff7f29;"><a href="https://worldofdelight.ch/de/gino-espresso.html">{{trans"10% Rabatt auf Gino Espresso"}}</a></span> {{trans"im 1 kg Beutel und entdecke welche"}} <span style="text-decoration: underline; color: #ff7f29;"><a href="https://worldofdelight.ch/de/neuihkeiten.html">{{trans"neuen Produkte"}}</a> </span> {{trans"wir nun auch im Angebot haben."}}
                                </td>
                            </tr>
                        </table>
                        <br>
                        <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <a href="https://worldofdelight.ch/de/gino-espresso.html">
                                    <img
                                            src="{{view url='Meridian_ResetEmail::footer_email.jpg'}}"
                                            alt=""
                                            />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{trans "Falls du dein Produkt nicht mehr findest oder sonst nicht so mit der neuen Umgebung zurechtkommst helfen wir die erne unter"}} <a href="mailto:kontakt@genusswelt.ch" style="color:  #ff7f29 !important; text-decoration: underline !important;">kontakt@genusswelt.ch</a> {{trans "weiter"}}
                                </td>
                            </tr>
                        </table>
                        <br>
                        <br>
                        <p>{{trans "Wir verbleiben mit herzlichen Dank für deine Treue,"}}</p>
                        <br>
                        <p>{{trans "Deine Genusswelt -World of Delight"}}</p>
                        <br>
                        <p>{{trans "T: +41 41 511 51 00"}}<br>
                            {{trans "www.worldofdelight.ch"}}
                        </p>




                        <!-- End Content -->
                    </td>
                </tr>
                <tr>
                    <td class="footer">
                        <a href="https://www.facebook.com/WorldofDelight/">
                            <img
                                    src="{{view url='Meridian_ResetEmail::facebook.png'}}"
                                    alt="facebook"
                                    />
                        </a>
                        <br>
                        <a class="logo" href="{{store url=""}}">
                        <img
                                {{if logo_width}}
                                width="{{var logo_width}}"
                                {{else}}
                                width="180"
                                {{/if}}

                        {{if logo_height}}
                        height="{{var logo_height}}"
                        {{else}}
                        height="52"
                        {{/if}}

                        src="{{var logo_url}}"
                        alt="{{var logo_alt}}"
                        border="0"
                        />
                        </a>

                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>

</table>
<!-- End wrapper table -->
</body>
