<?php
$_brands = $block->getLoadedProductCollection();
?>
<?php if ($_brands && count($_brands)): ?>
    <div class="order-products-toolbar toolbar bottom top">
        <?php echo $block->getToolbarHtml() ?>
    </div>
    <div class="marken_wrap">
        <ul class="marken">
            <?php foreach ($_brands as $item): ?>
                <li class="marken_item">
                    <a href="<?php echo $block->getUrl('marken/show/brand',array('idmarken'=> $item->getTopmarkenId()));?>"><img src="<?php echo '/pub/media/' . $item->getImg(); ?>"></a>
                </li>
            <?php endforeach; ?>
        </ul>


    </div>
<?php endif; ?>

    <div class="order-products-toolbar toolbar bottom">
        <?php echo $block->getToolbarHtml() ?>
    </div>

