<?php if(count($block->getFilters())): ?>
<div class="block filter marken-filter-block">
    <div class="block-content filter-content">
        <dl class="filter-options" id="narrow-by-list">
            <dd class="filter-options-content main-filter-type">
                <ol id="show_in_main_sidebar-type" class="items">
                    <?php foreach ($block->getFilters() as $filter): ?>
                        <li class="item<?php echo $block->isFilterActive($filter['value']) ? " active" : ""; ?>"><a href="<?php echo $block->getFilterUrl($filter['value']); ?>"><?php echo $filter['label'] ?></a></li>
                    <?php endforeach; ?>
                </ol>
            </dd>
        </dl>
    </div>
</div>
<?php endif; ?>