<?php $arrCount = json_decode($block->getMarkens()); ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $mediaUrl = $objectManager->create('\Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); ?>
<div class="top_marken_holder">
    <div class="container">
        <span class="title_holder"><?php echo __('Top Brands') ?></span>
        <span class="view_all"><a
                    href="<?php echo $block->getUrl('marken/show/allbrands'); ?>"> <?php echo __('View all') ?> </a></span>
        <ul class="top_marken_list">
            <?php $noFiles = []; ?>
            <?php foreach ($arrCount as $key => $value): ?>
                <?php $mediaPath = $block->getMediaPath() . $value; ?>
                <?php $mediaPathResize = $block->getMediaPath() . 'resize/' . $value; ?>
                <?php $exixtsFile = @getimagesize($mediaPath); ?>
                <?php if ($exixtsFile): ?>
                    <?php $exixtsFile = @getimagesize($mediaPathResize); ?>
                    <?php if ($exixtsFile): ?>
                        <li class="top_marken_item">
                            <a href="<?php echo $block->getUrl('marken/show/brand', array('idmarken' => $key)); ?>"><img
                                        src="<?php echo $mediaUrl . 'resize/' . $value; ?>"></a>
                        </li>
                     <?php else: ?>
                        <li class="top_marken_item">
                            <a href="<?php echo $block->getUrl('marken/show/brand', array('idmarken' => $key)); ?>"><img
                                        src="<?php echo $mediaUrl . $value; ?>"></a>
                        </li>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>



