<?php $markenDeteil = $block->getMarkenInfo();?>
<div class="brand_container">
    <div class="aw_brand_logo">
        <img src="/pub/media/<?php echo $markenDeteil['img'];?>">
    </div>
    <div class="brand_details">
        <h1 class="aw_brand_title"><?php echo $markenDeteil['name'];?></h1>
        <div class="brand-description">
            <p><?php echo $markenDeteil['topmarken'];?></p>
        </div>
    </div>
</div>