.scrollup {
    bottom: 82px;
    cursor: pointer;
    display: none;
    font-size: 13px;
    font-weight: 600;
    min-height: 60px;
    padding: 2px;
    position: fixed;
    text-align: center;
    width: 60px;
    z-index: 9999;
}

.scrollup:hover {
    border-color: #fff;
    text-decoration: none;
}

.scroll-img {
    display: block;
    margin: 0 auto;
}

.scrollup .scroll-img.default-img {
    display: block;
}

.scrollup .scroll-img.hover-img {
    display: none;
}

.scrollup:hover .scroll-img.default-img {
    display: none;
}

.scrollup:hover .scroll-img.hover-img {
    display: block;
}