<?php
/**
 * (с) WebMeridian - 2018. All rights reserved.
 */
?>
<?php /** @var $block \Meridian\Wettbewerb\Block\ReCaptcha */ ?>
<?php if ($block->isEnabled()): ?>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="<?php echo $block->getSiteKey();?>" data-callback="onSuccess"></div>
    <label for=""></label>
    <div id="recapthca-error" class="mage-error" generated="true"></div>
<?php endif; ?>