<?php
/**
 * (с) WebMeridian - 2018. All rights reserved.
 */
?>
<?php $logo = $block->hasHeaderLogo(); //var_dump($logo); ?>
<?php if ($logo): ?>
    <div class="slider row clearfix">
        <div class="flexslider grid_12">
            <div class="flex-viewport" style="overflow: hidden; position: relative;">

                <ul class="slides" style="width: 100%; margin-left: 0px;">
                    <li style="height: 380px; width: 100%; float: left; display: block; background: url(&quot;<?php echo '/' . $block->getHeaderLogo(); ?>&quot;) 100% 0px no-repeat;"
                        data-img-height="380"
                        data-bg="url(&quot;<?php echo '/' . $block->getHeaderLogo(); ?>&quot;)"
                        class="clone" aria-hidden="true">
                    </li>
                </ul>

            </div>
        </div>
    </div>
<?php endif; ?>

<?php if ($plg_wettbewerb = $this->getChildHtml('block_plg_wettbewerb')): ?>
    <div class="wettbewerb-head">
        <?php echo $plg_wettbewerb ?>
    </div>
<?php endif; ?>
    <div class="wettbewerb-body">
        <div class="wettbewerb-header">
            <p class="text_wett"><?php echo __("Competition form") ?></p>
        </div>
        <form id="wettbewerb-form" class="wettbewerb-form" action="<?php echo $block->getFormAction() ?>" method="post"
              enctype="multipart/form-data" id="wettbewerb_form">
            <fieldset class="gender_fieldset">
                <label class="label_wtb"><?php echo __("Salutation") ?></label>
                <div class="one-row gender-select control">
                    <div class="radio">
                        <input id="gender_herr" type="radio" name="gender"
                               class="required1 gender validate-one-required-by-name1" value="Herr"/>
                        <label class="radio-label" for="gender_herr"><?php echo __("Mr.") ?></label></div>
                    <div class="radio">
                        <input id="gender_frau" type="radio" name="gender"
                               class="required1 gender validate-one-required-by-name1" value="Frau"/>
                        <label class="radio-label" for="gender_frau"><?php echo __("Ms./Mrs.") ?></label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="name_wtb">
                <div class="block_holder control">
                    <label for="vorname"><?php echo __('First Name') ?><em>*</em></label>
                    <input data-validate='{"required":true,"validate-vorname":true}' class="input-text required-entry validate-vorname"
                           type="text" name="vorname" id="vorname">
                </div>
                <div class="block_holder control">
                    <label for="name"><?php echo __('Last Name') ?> <em>*</em></label>
                    <input data-validate='{"required":true,"validate-vorname":true}' class="input-text required-entry validate-name" type="text"
                           name="name" id="name">
                </div>
                <div class="block_holder control">
                    <label for="strasse"><?php echo __('Street'); ?><em>*</em></label>
                    <input data-validate='{"required":true}' class="input-text required-entry"
                           type="text" name="strasse" id="strasse">
                </div>
            </fieldset>

            <fieldset class="validate_wtb">
                <div class="block_holder control">
                    <label for="plz"><?php echo __('PLZ') ?><em>*</em></label>
                    <input data-validate='{"required":true}' class="input-text required-entry validate-plz" type="text"
                           name="plz" id="plz">
                </div>
                <div class="block_holder control">
                    <label for="ort"><?php echo __('Ort') ?><em>*</em></label>
                    <input data-validate='{"required":true}' class="input-text required-entry" type="text" name="ort" id="ort">
                </div>
                <div class="block_holder control">
                    <label for="form_email"><?php echo __('Email') ?> <em>*</em></label>
                    <input data-validate='{"required":true, "validate-email":true}'
                           class="input-text required-entry validate-email" type="text" name="email" id="form_email">
                </div>
            </fieldset>

            <fieldset class="phone_wtb">
                <div class="block_holder control">
                    <label for="phone"><?php echo __('Phone') ?><em>*</em></label>
                    <input data-validate='{"required":true}' class="input-text required-entry validate-phone mask-phone"
                           type="text" name="phone" id="phone">
                </div>
                <div class="block_holder">
                    <label><?php echo __('Date of Birth') ?> <em>*</em></label>
                    <div class="control customer-birth">
                        <?php /* @escapeNotVerified */
                        echo $block->getDateInput('birth') ?>
                        <script type="text/javascript">
                            require([
                                'jquery',
                                'jquery/ui',
                                'jquery/validate',
                                'mage/translate'
                            ], function ($) {
                                $.validator.addMethod(
                                    'validate-date-custom', function (value) {
                                        function _calculateAge(birthday) { // birthday is a date
                                            var ageDifMs = Date.now() - birthday.getTime();
                                            var ageDate = new Date(ageDifMs); // miliseconds from epoch
                                            return Math.abs(ageDate.getUTCFullYear() - 1970);
                                        }

                                        var date = new Date(value);
                                        var age = _calculateAge(date);
                                        if (age < 18) {
                                            return false;
                                        }
                                        return /^(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.(1[7-9]|2[0-9])[0-9]{2}$/.test(value);
                                    }, $.mage.__('<?php echo __("The mandatory field must be filled. Only numbers are allowed. Make a zero if you have a single-digit (eg. 05.03.1980) Enter day (0-31), month (0-12) and then the year (1900-1999).") ?>'));

                            });
                        </script>
                    </div>
                </div>
            </fieldset>

            <fieldset class="checkbox_wtb block_holder">
                <div class="one-row control">
                    <input data-validate='{"required":true}' type="checkbox"
                           name="conditions" class="checkbox validate-conditions" id="conditions"/>
                    <label for="conditions"><?php echo __('I agree with the ') ?><a class="wettbewerb-body-conditions"><?php echo __('Terms of participation') ?></a></label>
                </div>
            </fieldset>
            <fieldset class="form-additional-info">
                <?php echo $block->getChildHtml('form.additional.info'); ?>
            </fieldset>
            <p class="required"><?php /* @escapeNotVerified */ echo __('* Required Fields') ?></p>
            <div class="actions-toolbar">
                <div class="primary">

                    <button type="submit"
                            class="action primary"
                            title="<?php echo $block->escapeHtml(__('Senden')) ?>">
                        <span><?php /* @escapeNotVerified */
                            echo __('Senden') ?></span>
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
        <script type="text/javascript">
            require([
                'jquery',
                'jquery/ui',
                'jquery/validate',
                'mage/translate',
                'mage/mage',
                'mage/backend/form'
            ], function ($,ui,validate,$t) {
                $(window).load(function () {
                    var translates = <?php echo \Zend_Json::encode(
                        array(
                            'This is a required field.' => __('This is a required field.'),
                            'The mandatory field must be filled. Only letters are allowed here.' => __('The mandatory field must be filled. Only letters are allowed here.'),
                            "The mandatory field must be filled. Letters, numbers and a full stop are allowed here." => __("The mandatory field must be filled. Letters, numbers and a full stop are allowed here."),
                            "The mandatory field must be filled. Must be a four-digit number here." => __("The mandatory field must be filled. Must be a four-digit number here."),
                            "The mandatory field must be filled. Only numbers except the plus for the area code are allowed here." => __("The mandatory field must be filled. Only numbers except the plus for the area code are allowed here."),
                            "The mandatory field must be filled. Only numbers are allowed. Make a zero if you have a single-digit (eg. 05.03.1980) Enter day (0-31), month (0-12) and then the year (1900-1999)." => __("The mandatory field must be filled. Only numbers are allowed. Make a zero if you have a single-digit (eg. 05.03.1980) Enter day (0-31), month (0-12) and then the year (1900-1999)."),
                            "Please use only letters (a-z or A-Z), numbers (0-9), spaces and # in this field." => __("Please use only letters (a-z or A-Z), numbers (0-9), spaces and # in this field.")
                        )
                    )?>;
                    $.mage.translate.add(translates);
                });
                $.validator.addMethod(
                    'validate-plz', function (value) {
                        return /^([\d]{4})$/.test(value); // Validation logic here
                    },
                    $t('<?php echo __('The mandatory field must be filled. Must be a four-digit number here.') ?>')
                );

                $.validator.addMethod(
                    'validate-conditions', function (value, element) {
                        return /true/.test($(element).prop('checked'));
                    },

                    $t('This is a required field.')
                );
                $.validator.addMethod(
                    'validate-vorname', function (v) {
                        return $.mage.isEmptyNoTrim(v) || /^[a-zA-Z\x7f-\xff]+$/.test(v);
                    },

                    $t('<?php echo __('The mandatory field must be filled. Only letters are allowed here.') ?>')
                );

                var dataForm = $('#wettbewerb-form');

                dataForm.mage('validation', {
                    errorPlacement: function(error, element) {

                        error.addClass( "help-block" );
                        element.parents( ".control" ).addClass( "has-feedback" );
                        if ( element.prop( "type" ) === "checkbox" ) {
                            error.insertAfter( element.parent( "label" ) );
                        } else {
                            error.insertAfter( element );
                        }
                        if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                            $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( $( element ) );
                        }
                    },
                    success: function ( label, element ) {

                        // Add the span element, if doesn't exists, and apply the icon classes to it.
                        if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                            $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                        }
                    },
                    highlight: function ( element, errorClass, validClass ) {

                        if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {
                            $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                        }
                        $( element ).parents( ".control" ).addClass( "has-error" ).removeClass( "has-success" );
                        $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
                    },
                    unhighlight: function ( element, errorClass, validClass ) {
                        $( element ).parents( ".control" ).addClass( "has-success" ).removeClass( "has-error" );
                        $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
                    }
                }).find('input:text').attr('autocomplete', 'off');

                dataForm.on('submit',function () {
                    if(typeof grecaptcha !== 'undefined') {
                        var captchaCheck = grecaptcha.getResponse();
                        var captchaError = $('#recapthca-error');
                        captchaError.html('');
                        if (captchaCheck == 0 || captchaCheck == '') {
                            captchaError.addClass('active').html($.mage.__('<?php echo __('Please check reCaptcha to continue') ?>')).show();
                            return false;
                        } else {
                            captchaError.html('');
                            return true;
                        }
                    } else {
                        return true;
                    }
                });
            });
        </script>
    </div>
<?php if ($plg_wettbewerb_modal = $this->getChildHtml('block_plg_wettbewerb_modal')): ?>
    <div id="wettbewerb-modal" class="wettbewerb-modal" style="display:none;">
        <div class="wettbewerb-modal-body">
            <br>
            <?php echo $plg_wettbewerb_modal ?>
        </div>
    </div>
    <script type="text/javascript">
        require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function ($,
                      modal) {
                var options = {
                    type: 'popup',
                    responsive: true,
                    innerScroll: true,
                    title: '<?php echo __('TEILNAHMEBEDINGUNGEN') ?>',
                    buttons: [{
                        text: $.mage.__('Continue'),
                        class: '',
                        click: function () {
                            this.closeModal();
                        }
                    }]
                };
                var popupModalContent = $('#wettbewerb-modal');
                var popup = modal(options, popupModalContent);
                $(".wettbewerb-body-conditions").on('click', function () {
                    popupModalContent.modal("openModal");
                });

            }
        );
    </script>
<?php endif; ?>