<?php
/**
 * (с) WebMeridian - 2018. All rights reserved.
 */
$redirectUrl = $block->getRedirectUrl();
?>

<script type="text/javascript">
    require([
        'jquery'
    ], function($){
        $(document).ready(function(){
            setTimeout(function(){
                window.location.href = '<?php echo $redirectUrl; ?>';
            }, 5000);
        });

    });
</script>
<div class="wettbewerb-head">
    <div class="wettbewerb-head-body">
        <p class="wettbewerb-head-text">
            <b><?php echo __('Danke für deine Teilnahme!') ?></b>
        </p>
    </div>
</div>