<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_aloHelper = $this->helper('Magiccart\Alothemes\Helper\Data');
$_wodHelper = $this->helper('Meridian\Wod\Helper\Data');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $showAddto = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

        echo $_aloHelper->getGridStyle('.product-items .product-item'); // Config Product Grid

    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $showAddto = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="category-products clearfix products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <!-- mode view list -->
				<?php if ($block->getMode() == 'list'):?>
				<div class="product-item-info category-products-list" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>

                    <?php // Product Image ?>
					<div class="images-container product-label-2">
					     <?php $product_label = $_aloHelper->getLabels($_product);
                            if($product_label) :
							?>
							<div class="product-label">
								<?php echo $product_label; ?>
							</div>
						<?php endif ?>
						<div class="product-hover">
							<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
								<?php echo $productImage->toHtml(); ?>
							</a>
							<?php if ($showAddto): ?> <?php /* @showAddto */ ?>
                            <div class="hover-actions clearfix">

									 <div data-role="add-to-links" class="actions-secondary add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                        <?php
                                        $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                        ?>

                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                            <a href="#"
                                               class="action towishlist link-wishlist"
                                               title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                               aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                               data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                                               data-action="add-to-wishlist"
                                               role="button">
                                                <i class="icon icon-heart icons"></i>
                                                <?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>
                                            </a>
                                        <?php endif; ?>

								</div>
							</div>
							<?php endif; /* End showAddto */ ?>
						</div>
					</div>

                    <div class="product details product-item-details clearfix">
                        <div class="products-textlink clearfix">
                            <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <h2 class="product name product-name product-item-name">
                                <a class="product-item-link"
                                   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                </a>
                            </h2>
							<?php
							$review_html = $block->getReviewsSummaryHtml($_product, $templateType);
						   ?>
						   <?php if($review_html): ?>
						   <?php echo $review_html; ?>
						   <?php else: ?>
						   <div class="product-reviews-summary short">
								<div class="rating-summary">
								 <span class="label"><span><?php /* @escapeNotVerified */ echo __('Rating:') ?></span></span>
								 <div class="rating-result" title="0%">
								  <span style="width:0"><span>0%</span></span>
								 </div>
								</div>
						   </div>
						   <?php endif; ?>
                             <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                       class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                </div>
                            <?php endif; ?>

                            <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>

                            <?php if ($_product->getIsSalable()): ?>
                                <div class="stock available"><label><?php /* @escapeNotVerified */ echo __('Availability:') ?> </label><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                            <?php else: ?>
                                <div class="stock unavailable"><label><?php /* @escapeNotVerified */ echo __('Availability:') ?> </label><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                            <?php endif; ?>
							<?php echo $block->getProductDetailsHtml($_product); ?>
						</div>

                        <?php if ($showAddto): ?> <?php /* @showAddto */ ?>
							<div class="product product-item-actions show-box-cart clearfix"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
								<div class="actions-primary actions-cart"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
									<?php if ($_product->isSaleable()): ?>
										<?php $postParams = $block->getAddToCartPostParams($_product); ?>
										<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
											<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
											<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
											<?php echo $block->getBlockHtml('formkey')?>
											<button type="submit"
													title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
													class="action tocart primary button btn-cart">
												<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										</form>
									<?php else: ?>
										<?php if ($_product->getIsSalable()): ?>
											<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
										<?php else: ?>
											<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
										<?php endif; ?>
									<?php endif; ?>
								</div>
							</div>
                        <?php endif; /* End showAddto */ ?>
                    </div>
                </div>
				<?php endif; ?>
				<!-- and / mode view list -->
				<!-- mode view grid -->

				<div class="product-item-info per-product category-products-grid" data-container="product-grid">
                <?php if ($block->getMode() == 'grid'):?>
                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                        <a href="#"
                           class="action towishlist link-wishlist"
                           title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                           aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                           data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
                           data-action="add-to-wishlist"
                           role="button">
                            <i class="icon icon-heart icons"></i>
                        </a>
                    <?php endif; ?>
                    <?php
                    $review_html = $block->getReviewsSummaryHtml($_product, $templateType);
                    ?>
                    <?php if($review_html): ?>
                        <?php echo $review_html; ?>
                    <?php else: ?>
                        <div class="product-reviews-summary short">
                            <div class="rating-summary">
                                <span class="label"><span><?php /* @escapeNotVerified */ echo __('Rating:') ?></span></span>
                                <div class="rating-result" title="0%">
                                    <span style="width:0"><span>0%</span></span>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
					<div class="images-container product-label-2">
                        <?php $product_label = $_aloHelper->getLabels($_product);
                                if($product_label) :
                            ?>
                            <div class="product-label">
                                <?php echo $product_label; ?>
                            </div>
                        <?php endif ?>

						<div class="product-hover">
							<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
								<?php echo $productImage->toHtml(); ?>
							</a>
						</div>
                        <div class="product details product-item-details products-textlink">
                            <h2 class="product name product-name product-item-name">
                                <a class="product-item-link"
                                   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                </a>
                            </h2>

                            <div class="product-custom-description">
                                <?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('inhalt')->getFrontend()->getValue($_product); ?>
                            </div>
                             <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <?php echo $string = $block->getProductPrice($_product);?>
                            <?php //echo $_wodHelper->getCustomPriceHtml($string); ?>
                            <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>

						<div class="product product-item-actions show-box-cart"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
							<div class="actions-primary actions-cart"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
								<?php if ($_product->isSaleable()): ?>
									<?php $postParams = $block->getAddToCartPostParams($_product); ?>
									<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
										<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
										<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                        <div class="field qty clearfix">
                                            <div class="product-qty">
                                                <div class="control custom-qty">
                                                    <div class="btn-plus">
                                                        <button  type="button" class="increase items" onclick="var result = document.getElementById('qty_<?php echo $_product->getId()?>'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                    <input type="number"
                                                           name="qty"
                                                           id="qty_<?php echo $_product->getId()?>"
                                                           maxlength="12"
                                                           value="1"
                                                           title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                                                           data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                                    />
                                                    <div class="btn-minus">
                                                        <button  type="button" class="reduced items" onclick="var result = document.getElementById('qty_<?php echo $_product->getId()?>'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                                                            <i class="fa fa-minus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
										<?php echo $block->getBlockHtml('formkey')?>
										<button type="submit"
												title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
												class="action tocart primary button btn-cart pull-left-none">
											<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
										</button>
									</form>
								<?php else: ?>
									<?php if ($_product->getIsSalable()): ?>
										<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
									<?php else: ?>
										<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
									<?php endif; ?>
								<?php endif; ?>
							</div>

						</div>
					</div>
                </div>
				<?php endif; ?>
				<!-- and / mode view grid -->
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <div class="toolbar-bottom ">
    <?php echo $block->getToolbarHtml() ?>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
