<?php $params = $block->getParams();?>
<page backtop="10mm" backbottom="10mm" backleft="20mm" backright="20mm">

    <table style="width: 100%; border: none;">
        <tr>
            <td style="text-align: center; width: 100%">
                <img style="display: inline-block; width: 100%;"
                     src="<?php echo $block->getMediaUrl() . 'amasty_giftcard/pdf_img_gift.png'; ?>"/>
            </td>

        </tr>
    </table>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <table style="display: block; cellspacing='0'; padding: 5px; width: 100%; border: none; text-align: center;">

        <tr>

            <td style="display:block; text-align: center; width: 100%; font-weight: bold; font-size: 40px;"><?php echo __('GIFT VOUCHER');?>
               </td>
        </tr>

        <tr>
            <td><br/><br/></td>
        </tr>

        <tr>

        <td style="display:block; text-align: center; width: 100%; font-weight: bold; font-size: 30px;">--><?PHP //echo 'über';?><!--</td>-->

        </tr>
        <tr>
            <td><br/><br/></td>
        </tr>

        <tr>

            <td style="display:block; text-align: center; width: 100%; font-weight: bold; font-size: 40px;">CHF <?php __('amount'); ?>.- <?php echo $params['initial_value'];?><br/>

                <br/></td>
        </tr>

        <tr>
            <td><br/><br/></td>
        </tr>

        <tr>

            <td style="display:inline-block; text-align: center; font-weight: normal; font-size: 30px;"><?php echo __('For'); ?>: <?php echo $params['sender_name'];?>
            </td>
        </tr>

        <tr>

            <td style="display:inline-block; text-align: center; font-weight: normal; font-size: 30px;"><?php echo __('From'); ?>: <?php echo $params['recipient_name'];?>
            </td>
        </tr>

        <tr>
            <td><br/><br/></td>
        </tr>

        <tr>
            <td><br/><br/></td>
        </tr>

        <tr>
    <td style="display:block; text-align: center; font-weight: normal; font-size: 30px;"><?php echo $params['sender_message']; ?><br/>
            </td>
        </tr>

        <tr>
            <td><br/><br/></td>
        </tr>

        <tr>
            <td style="display:block; text-align: center;"><?php __('CODE'); ?><br/><br/></td>
        </tr>


        <tr>
            <td><br/><br/></td>
        </tr>

        <tr>
            <td style="display:block; text-align: center;"><?php echo $params['gift_code']; ?></td>
        </tr>


    </table>

    <page_footer>
        <table style="width: 100%; border: none; text-align: center;">


            <tr>

                <td style="width: 100%; font-weight: bold;"><?php echo __('How to use your new gift voucher:');?></td>
            </tr>
            <tr>
                <td> <?php echo __('Enter the code above into the voucher field in you cart during checkout.');?><br/>
                    <?php echo __('The amount will automatically be applied to your grand total.');?>
                </td>
            </tr>
        </table>
    </page_footer>
</page>

