// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//    Common
//--------------------------------------

& when (@media-common = true) {

  //
  //    Newsletter subscription
  //--------------------------------------

  .block.newsletter {
    .title {
      display: none;
    }
    .label {
      &:extend(.abs-visually-hidden all);
    }
  }

}

//
//    Desktop
//--------------------------------------
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}

@border-color: #C0C0C0;
@base-color-site: #f94415;
@font-color: #000;
@bg-color: #fff;

.block.newsletter.block-subscribe {
  height: 140px;
  position: relative;

  .block-title {
    padding: 0;
  }

  .container {
    border-top: 1px @border-color solid;
    border-bottom: 1px @border-color solid;
  }

  .actions {
    float: right;
    position: relative;
    bottom: 23px;
    right: 48px;
  }

  .block-title {
    background: transparent;
    strong {
      font-size: 12px;
    }
  }

 input.input-text,
  .action.subscribe.button {
    border-radius: 4px;
  }

  .block-content {
    bottom: 0;
  }

  .action.subscribe.button {
    background: @base-color-site;
    width: 190px;
    span {
      color: @bg-color;
      text-transform: uppercase;
      font-weight: normal;
    }
  }

  .input-box {
    width: 100%;
    display: inline-block;
  }

  .control .input-text {
    max-width: 670px;
    display: inline-block;
    position: relative;
    top: 25px;
  }

  input.input-text {
    border-color: @font-color;
  }

  .block-title {
    display: inline-block;
    position: absolute;
    top: 10px;
    width: 40%;
  }

  .block-title strong:before {
    display: none;
  }

}

@media all and (max-width: 1700px) {
  .block.newsletter.block-subscribe .block-title {
    width: auto;
  }
}

@media all and (max-width: 1366px) {
  .block.newsletter.block-subscribe .block-title {
    width: 20%;
  }
}

@media all and (max-width: 1366px) {
  .block.newsletter.block-subscribe .control .input-text {
    max-width: 50%;
  }
}

@media all and (max-width: 1200px) {
  .block.newsletter.block-subscribe .control .input-text {
    max-width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    -moz-box-sizing: border-box ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media all and (max-width: 1024px) {
  .block.newsletter.block-subscribe .control .input-text {
    margin-left: 0;
  }
}

@media all and (max-width: 992px) {
  .block.newsletter.block-subscribe .container {
    padding: 0;
  }

  .block.newsletter.block-subscribe .action.subscribe.button {
    width: auto;
    padding: 0 10px;
  }

  .block.newsletter.block-subscribe .actions {
    right: 0;
  }

  .block-subscribe .input-box .visible {
    margin: 0;
  }
}

@media all and (max-width: 768px) {
  .block .newsletter .block-subscribe .control .input-text {
    max-width: 40%;
  }

}

@media all and (max-width: 767px) {
  .block.newsletter.block-subscribe .block-title {
    width: auto;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .block-subscribe .block-content {
    height: 170px;
  }

  .block.newsletter.block-subscribe .actions {
    float: none;
    position: relative;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    top: 40px;
    width: auto;
    display: inline-block;
  }

  .block.newsletter.block-subscribe {
    height: 175px;
  }
}

@media all and (max-width: 500px) {
  .block.newsletter.block-subscribe .control .input-text {
    max-width: 90%;
    margin: 0 auto;
  }
}