<!-- ko if: isEnabled() -->
<div class="recaptcha-wrapper" data-bind="mageInit: {'meridian/recaptcha': getConfig()}">
    <!-- ko ifnot: isCompact() -->
    <div class="g-recaptcha"></div>
    <div class="mage-error recaptcha-error" generated="true"  data-bind="i18n: 'Please Fill Recaptcha To Continue'" style="display: none;"></div>
    <!-- /ko -->
    <!-- ko if: isCompact() -->
    <div class="g-recaptcha g-recaptcha-compact"></div>
    <!-- /ko -->
</div>
<!-- /ko -->
