.wettbewerb-index-index .wettbewerb-body p.required {
    color: #757575;
    font-size: 16px;
    text-align: right;
    float: right;
    clear: both;
    width: 34%;
    font-family: 'Avenir Next LT Pro', sans-serif;
    padding-right: 10px;
}

.wettbewerb-index-index .wettbewerb-body-conditions {
    text-decoration: underline;
    cursor: pointer;
}

.wettbewerb-index-index .control.customer-birth.has-feedback.has-success .glyphicon.form-control-feedback.glyphicon-ok {
    right: 24%;
}

.wettbewerb-index-index .one-row.control.has-feedback.has-success {
    max-width: 410px;
    position: relative;
}

.wettbewerb-index-index .block_holder.control.has-feedback.has-success .input-text.required-entry,
.wettbewerb-index-index .block_holder.control.has-feedback.has-success label {
    float: left;
}

.wettbewerb-index-index .block_holder.control.has-feedback.has-success label {
    min-width: 128px;
}

.wettbewerb-index-index .block_holder.control.has-feedback.has-success .mage-error.help-block {
    padding: 0;
}

.wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback {
    max-width: 420px;
    position: relative;
}

.wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback span.glyphicon.form-control-feedback {
    position: absolute;
    right: 10px;
}

.wettbewerb-body-conditions:hover {
    color: #333;
}

.wettbewerb-index-index div.mage-error[generated] {
    margin-top: 0 !important;
    position: relative;
    float: left;
    padding-left: 131px;
}

.wettbewerb-index-index span.glyphicon.form-control-feedback {
    float: right;
    top: 3px;
    position: absolute;
}

.wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control .has-error.has-feedback {
    position: relative;
    top: -30px;
}

.wettbewerb-index-index .phone_wtb .block_holder.control.has-feedback.has-error ~ .block_holder:nth-child(2) {
    top: 0;
}

.wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback {
    top: -2px;
}

.wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback.glyphicon-ok {
    right: 0;
}

.wettbewerb-index-index .validate_wtb label[for="ort"] ~ .glyphicon.form-control-feedback.glyphicon-remove,
.wettbewerb-index-index .name_wtb div[for="name"] ~ .glyphicon.form-control-feedback.glyphicon-remove {
    right: 22%;
}

.wettbewerb-index-index .glyphicon:before {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 4px;
}

.wettbewerb-index-index .control.has-error.has-feedback .glyphicon-remove:before {
    content: "";
    background: url(../images/exit_red_button.png) no-repeat;
}

.wettbewerb-index-index .glyphicon-ok:before {
    content: "";
    background: url(../images/green_arrow.png) no-repeat;
}

.wettbewerb-index-index .page-title-wrapper h1 {
    display: none;
}

.wettbewerb-head p {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 27px;
    color: #282828;
    line-height: 1.2;
    margin: 0;
    font-weight: 100;
}

.wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
    right: 22%;
    top: 5px;
}

.wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) {
    top: 0;
}

#birth {
    max-width: 240px;
}

#birth-error .glyphicon.form-control-feedback.glyphicon-remove {
    right: 22%;
    top: 5px;
}

.form-additional-info {
    position: absolute;
    left: 21%;
}

.wettbewerb-index-index .actions-toolbar {
    margin-top: 10px;
    margin-bottom: 30px;
}

.wettbewerb-head p.small_text,
.small_txt {
    font-size: 17px !important;
}

p.small_txt {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
}

.wettbewerb-head p.small_txt {
    line-height: 45px;
}

.wettbewerb_image_wrap .top {
    font-size: 68px;
    top: 40%;
}

.wettbewerb_image_wrap .small_txt.bottom {
    bottom: 35%;
    font-size: 38px !important;
}

.wettbewerb_image_wrap .bottom,
.wettbewerb_image_wrap .top {
    position: absolute;
    text-align: center;
    color: #fff;
    padding-left: 6%;
    font-weight: 300;
}

.wettbewerb-head {
    position: relative;
}

.wettbewerb_image_wrap {
    background: url("../images/bg_wtb.png") no-repeat;
    height: 640px;
    position: relative;
    text-align: right;
    width: 114%;
    margin-left: -7%;
    margin-right: -7%;
}

.checkbox_wtb.block_holder {
    float: right;
    clear: none;
    position: relative;
    top: -36px;
    padding-left: 0;
    right: 10px;
    text-align: left;
}

.control.customer-birth {
    display: inline-block;
    width: 70%;
    position: relative;
}

.radio input[data-validate="{'required':true}"] label:after {
    content: "*";
    display: inline-block;
}

.text_wett {
    background: #f2f2f2;
    height: 66px;
    line-height: 66px;
    color: #757575;
    font-weight: bold;
}

.wettbewerb-body {
    border: 1px solid #b4b4b4;
}

.text_wett,
.wettbewerb-form {
    padding: 24px 17px;
    display: block;
    line-height: 1;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.radio input[type="radio"].gender {
    position: absolute;
    opacity: 0;
}

.radio input[type="radio"].gender + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 5px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"].gender:checked + .radio-label:before {
    background-color: gray;
    box-shadow: inset 0 0 0 2px #f4f4f4;
}

.radio input[type="radio"].gender:focus + .radio-label:before {
    outline: none;
    border-color: gray;
}

.radio input[type="radio"].gender:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

.radio input[type="radio"].gender + .radio-label:empty:before {
    margin-right: 0;
}

.phone_wtb,
.validate_wtb,
.name_wtb {
    display: block;
}

.one-row.gender-select {
    display: inline-block;
    position: relative;
}

.wettbewerb-index-index .one-row.gender-select div.mage-error[generated] {
    bottom: -8px;
}

.wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
    bottom: -55px;
    position: absolute;
    max-width: 330px;
    padding-left: 0;
}

.wettbewerb-form input.input-text {
    max-width: 265px;
    height: 30px;
    margin-bottom: 10px;
}

.wettbewerb-form label[for="gender_herr"] {
    margin-left: -15px;
}

.wettbewerb-form label {
    display: inline-block;
    min-width: 123px;
    padding-top: 7px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.modal-slide._inner-scroll .modal-footer {
    text-align: center !important;
}

.wettbewerb-form .block_holder:nth-child(2) {
    text-align: left;
    padding-left: 0;
    top: 0;
}

.wettbewerb-form .block_holder:nth-child(3) {
    text-align: left;
}

.wettbewerb-index-index div.mage-error.help-block[for="birth"] {
    float: left;
}

.wettbewerb-index-index .modal-footer button,
.wettbewerb-index-index .actions-toolbar button.action.primary {
    width: 243px;
    color: #fff;
    background: #ed5331;
    border-radius: 0;
    border: none;
}

.wettbewerb-index-index .actions-toolbar button.action.primary span {
    width: 100%;
}

.wettbewerb-index-index .modal-footer button span,
.wettbewerb-index-index .actions-toolbar button.action.primary span,
.wettbewerb-index-index .modal-footer button,
.wettbewerb-index-index .actions-toolbar button.action.primary {
    font-weight: normal;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.block_holder {
    display: inline-block;
    width: 33%;
    position: relative;
    float: left;
}

._has-datepicker ~ .ui-datepicker-trigger {
    margin-left: 5px !important;
}

.gender_fieldset .radio,
.label_wtb {
    float: left;
}

.gender_fieldset {
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

.gender_fieldset .label_wtb {
    vertical-align: top;
    line-height: 18px;
}

.control.customer-birth .input-text.validate-date-custom._has-datepicker {
    width: 200px;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
}

.checkbox_wtb.block_holder label {
    display: inline;
}

.wettbewerb-index-index #conditions-error {
    bottom: -10px;
}

#recapthca-error.active {
    display: block !important;
    position: relative;
    padding-left: 0;
    bottom: 10px;
    float: none;
}

.wettbewerb-index-index .form-additional-info {
    margin-top: 10px;
}

@media all and (max-width: 1800px) {
    .wettbewerb-form input.input-text {
        max-width: 235px;
    }

    .wettbewerb-index-index #birth {
        max-width: 210px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: 22%;
    }

    .wettbewerb-index-index .form-additional-info {
        left: 24%;
    }

    .wettbewerb-index-index span.glyphicon.form-control-feedback {
        right: 19%;
    }

    .wettbewerb-index-index .validate_wtb label[for="ort"] ~ .glyphicon.form-control-feedback.glyphicon-remove,
    .wettbewerb-index-index .name_wtb div[for="name"] ~ .glyphicon.form-control-feedback.glyphicon-remove {
        right: 20%;
    }
}

@media all and (max-width: 1700px) {
    .wettbewerb-index-index .validate_wtb label[for="ort"] ~ .glyphicon.form-control-feedback.glyphicon-remove,
    .wettbewerb-index-index .name_wtb div[for="name"] ~ .glyphicon.form-control-feedback.glyphicon-remove,
    .wettbewerb-index-index span.glyphicon.form-control-feedback {
        right: 30px;
    }

    .wettbewerb-index-index .form-additional-info {
        left: 26%;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: 27px;
    }

    .wettbewerb-form {
        padding-bottom: 40px;
    }

    .wettbewerb-index-index .form-additional-info {
        margin-top: 20px;
    }
}

@media all and (max-width: 1640px) {
    .wettbewerb-form input.input-text {
        max-width: 200px;
    }
}

@media all and (max-width: 1500px) {
    .wettbewerb-index-index .form-additional-info {
        left: 30%;
    }
}

@media all and (max-width: 1440px) {
    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: 10px;
    }

    .wettbewerb-index-index .control.customer-birth.has-feedback.has-success .glyphicon.form-control-feedback.glyphicon-ok {
        right: 7px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback {
        max-width: 353px;
    }

    .wettbewerb-index-index .wettbewerb-form {
        position: relative;
    }

    .wettbewerb-index-index #birth {
        max-width: 180px;
    }

    .wettbewerb-index-index .wettbewerb-body p.required {
        padding-right: 0;
    }

    .wettbewerb-index-index .form-additional-info {
        left: 0;
        margin: 0;
        top: 0;
        position: relative;
    }

    .wettbewerb-index-index .wettbewerb-form .control.customer-birth {
        display: inline-block;
        width: 62%;
    }

    .wettbewerb-index-index .wettbewerb-form .block_holder:nth-child(2),
    .wettbewerb-index-index .wettbewerb-form .block_holder:nth-child(3) {
        text-align: left;
        padding-left: 0;
    }

    .wettbewerb-index-index ._has-datepicker ~ .ui-datepicker-trigger {
        margin-left: 0 !important;
    }

    .wettbewerb-index-index .actions-toolbar {
        margin-top: 20px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder div.mage-error[generated] {
        bottom: -5px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        right: 0;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: 0 !important;
        position: relative;
    }

}

@media all and (max-width: 1366px) {
    .wettbewerb-index-index .control.customer-birth {
        width: 100%;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        right: 10px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder input.checkbox {
        margin-right: -2px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback span.glyphicon.form-control-feedback {
        right: 0;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback {
        max-width: 330px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: 20px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        top: -130px;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        position: relative;
        bottom: 0 !important;
    }

    .wettbewerb-index-index #birth {
        max-width: 160px;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: -20px;
        width: 90%;
        line-height: 1.2;
    }

    .wettbewerb-index-index .wettbewerb-form input.input-text {
        max-width: 180px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        max-width: 100%;
    }

    .wettbewerb-form .control.customer-birth {
        display: inline-block;
        width: 64%;
    }
}

@media all and (max-width: 1200px) {
    .wettbewerb-index-index .checkbox_wtb.block_holder input.checkbox {
        margin-right: 0;
    }
}

@media all and (max-width: 1024px) {
    .wettbewerb-index-index .control.customer-birth {
        display: inline-block;
        width: 100%;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        max-width: 300px;
    }

    .wettbewerb-index-index .control.customer-birth.has-feedback.has-success .glyphicon.form-control-feedback.glyphicon-ok {
        right: -13px;
    }

    .wettbewerb-index-index span.glyphicon.form-control-feedback.glyphicon-ok {
        right: 16px;
    }

    .wettbewerb-index-index .wettbewerb-form .control.customer-birth {
        display: inline-block;
        width: 54%;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        right: 5px;
        top: 0;
    }

    .wettbewerb-index-index .wettbewerb-form input.input-text {
        max-width: 155px;
    }

    .wettbewerb-index-index .validate_wtb label[for="ort"] ~ .glyphicon.form-control-feedback.glyphicon-remove, .wettbewerb-index-index .name_wtb div[for="name"] ~ .glyphicon.form-control-feedback.glyphicon-remove, .wettbewerb-index-index span.glyphicon.form-control-feedback {
        right: 8px;
        top: 0;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: -10px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback {
        top: -2px;
        right: 11px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback.glyphicon-ok {
        right: 8px;
    }

    .wettbewerb-form input.input-text {
        max-width: 224px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        padding-left: 0;
    }

    .wettbewerb-index-index .gender_fieldset {
        margin-bottom: 12px;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: 0 !important;
    }
}

@media all and (max-width: 992px) {
    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        left: 10px;
    }

    .wettbewerb-index-index .wettbewerb_image_wrap .top {
        font-size: 57px;
        top: 20%;
        text-align: left;
    }

    .wettbewerb-index-index ._has-datepicker ~ .ui-datepicker-trigger {
        margin-left: 10px !important;
    }

    .wettbewerb-index-index .wettbewerb-form .customer-birth input.input-text {
        max-width: 100%;
        width: 200px;
        width: -webkit-calc(100% - 40px);
        width: -moz-calc(100% - 40px);
        width: calc(100% - 40px);
    }

    .wettbewerb-index-index .wettbewerb_image_wrap .small_txt.bottom {
        bottom: 55%;
    }

    .wettbewerb-index-index .form-additional-info {
        left: 0;
        top: 0;
        position: relative;
        margin-top: 0;
    }
}

@media all and (max-width: 768px) {
    .wettbewerb-index-index .form-additional-info {
        margin-top: 50px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback.glyphicon-ok {
        right: 0;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        max-width: 100%;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback {
        max-width: 290px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback span.glyphicon.form-control-feedback {
        position: absolute;
        right: -20px;
    }

    .wettbewerb-index-index .customer-birth.has-feedback.has-success span.glyphicon.form-control-feedback.glyphicon-ok {
        right: -18px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: -17px;
    }

    .wettbewerb-index-index #birth {
        max-width: 130px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder div.mage-error[generated] {
        bottom: 0;
    }

    .wettbewerb-index-index .block_holder {
        width: 49%;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        width: 100%;
        left: 0;
        bottom: 0 !important;
        font-size: 1rem;
    }

    .wettbewerb-index-index .wettbewerb_image_wrap .small_txt.bottom {
        bottom: 47%;
    }

    .wettbewerb-index-index .actions-toolbar {
        margin-top: 30px;
    }

    .wettbewerb-index-index div.mage-error[generated]#plz-error {
        bottom: -10px;
    }

}

@media all and (max-width: 767px) {

    .wettbewerb-index-index .label_wtb {
        min-width: unset;
    }
}

@media all and (max-width: 640px) {
    .wettbewerb-index-index .wettbewerb_image_wrap {
        height: 375px;
        line-height: 1;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback span.glyphicon.form-control-feedback {
        right: -57px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder div.mage-error[generated] {
        bottom: -20px;
    }

    .wettbewerb-index-index .wettbewerb-form label {
        padding-top: 15px;
    }

    .wettbewerb-index-index .block_holder {
        width: 49%;
    }

    .wettbewerb-index-index .wettbewerb_image_wrap .small_txt.bottom {
        bottom: 32%;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        float: none;
        clear: none;
        position: relative;
        top: 0;
        padding-bottom: 10px;
        text-align: left;
        padding-top: 25px;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: -18px;
    }
}

@media all and (max-width: 500px) {
    .wettbewerb-index-index .form-additional-info {
        position: relative;
        top: 20px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder div.mage-error[generated] {
        bottom: -13px;
    }

    .wettbewerb_image_wrap .top {
        font-size: 47px;
        top: 20%;
        text-align: left;
    }

    .wettbewerb-index-index .wettbewerb_image_wrap .small_txt.bottom {
        bottom: 40px;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .wettbewerb-index-index .wettbewerb_image_wrap {
        height: 240px;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: -30px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        top: 15px;
    }
}

@media all and (max-width: 475px) {
    .wettbewerb-index-index .phone_wtb .block_holder div.mage-error[generated] {
        bottom: -19px;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: -60px !important;
    }
}

@media all and (max-width: 425px) {
    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback {
        top: 20px;
        right: -48px;
    }

    .wettbewerb-index-index .wettbewerb_image_wrap {
        margin-bottom: 15px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback span.glyphicon.form-control-feedback {
        top: 0;
        right: -63px;
    }

    .wettbewerb-index-index .validate_wtb label[for="ort"] ~ .glyphicon.form-control-feedback.glyphicon-remove,
    .wettbewerb-index-index .name_wtb div[for="name"] ~ .glyphicon.form-control-feedback.glyphicon-remove, .wettbewerb-index-index span.glyphicon.form-control-feedback {
        right: 8px;
        top: 34px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback.glyphicon-ok {
        right: 0;
    }

    .wettbewerb-index-index .control.customer-birth.has-feedback.has-success .glyphicon.form-control-feedback.glyphicon-ok {
        right: -30px;
        top: 0;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback.glyphicon-ok {
        right: 0;
        top: 0;
    }

    .wettbewerb-index-index .wettbewerb-form label[for="gender_herr"] {
        margin-left: -10px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:first-child div.mage-error[generated] {
        bottom: 0 !important;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder label[for="conditions"] {
        margin-left: -52px;
        padding-left: 50px;
        margin-right: -50px;
    }

    .wettbewerb-index-index .gender_fieldset {
        margin-bottom: 25px;
    }

    .wettbewerb-index-index .wettbewerb-form label.label_wtb {
        display: block;
    }

    .wettbewerb-index-index .wettbewerb-form {
        padding-bottom: 0;
    }

    .wettbewerb-index-index .phone_wtb .block_holder.control.has-error.has-feedback .block_holder div.mage-error[generated] {
        bottom: 0 !important;
    }

    .wettbewerb-index-index .phone_wtb .control.customer-birth.has-error.has-feedback div.mage-error[generated] {
        bottom: 0 !important;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: -35px;
        top: 5px;
    }

    .wettbewerb-index-index .wettbewerb-form .control.customer-birth {
        width: 90%;
    }

    .wettbewerb-index-index .phone_wtb .block_holder.control.has-feedback.has-error ~ .block_holder:nth-child(2) {
        top: 0;
    }

    .wettbewerb-index-index .form-additional-info {
        left: 0;
        position: relative;
        top: 0;
        margin-top: 0;
    }

    .wettbewerb-index-index #birth {
        max-width: 270px;
    }

    .wettbewerb-index-index .wettbewerb-head p {
        font-size: 20px;
        margin-top: 10px;
    }

    .wettbewerb-index-index .actions-toolbar {
        text-align: center;
    }

    .wettbewerb-index-index span.glyphicon.form-control-feedback {
        float: right;
        top: 32px;
        right: 0;
        position: absolute;
    }

    .wettbewerb-index-index .validate_wtb label[for="ort"] ~ .glyphicon.form-control-feedback.glyphicon-remove,
    .wettbewerb-index-index .name_wtb div[for="name"] ~ .glyphicon.form-control-feedback.glyphicon-remove {
        right: 0;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder {
        top: 0;
    }

    .wettbewerb-index-index div.mage-error[generated] {
        font-size: 1rem;
        padding-left: 0;
    }

    .wettbewerb-index-index .one-row.gender-select .radio-label {
        padding-top: 0;
    }

    .wettbewerb-index-index .phone_wtb .block_holder div.mage-error[generated] {
        bottom: -46px !important;
        width: 100%;
    }

    .wettbewerb-index-index .wettbewerb-form input.input-text {
        max-width: 90%;
    }

    .wettbewerb-index-index .block_holder {
        width: 100%;
    }

    .wettbewerb-index-index .wettbewerb-form label {
        display: inline-block;
        padding-top: 10px;
    }

    .wettbewerb-index-index .gender_fieldset .radio, .label_wtb {
        float: none;
        padding: 0;
    }

    .wettbewerb-index-index .gender_fieldset .radio {
        margin-left: 9px;
    }

    .wettbewerb-index-index ._has-datepicker ~ .ui-datepicker-trigger {
        margin-left: 10px !important;
    }

    .wettbewerb-index-index .wettbewerb_image_wrap .top {
        font-size: 43px;
        padding-left: 0;
        line-height: 1;
        text-align: center;
    }

    .wettbewerb-index-index .label_wtb {
        margin: 0;
        min-width: auto !important;
        padding-top: 0;
        position: relative;
        top: -3px;
        padding-right: 5px;
        padding-left: 0;
    }
}

@media all and (max-width: 375px) {
    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: -40px !important;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback.glyphicon-ok {
        right: -10px;
    }

    .wettbewerb-index-index .customer-birth.has-feedback.has-success span.glyphicon.form-control-feedback.glyphicon-ok {
        right: -25px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder label[for="conditions"] {
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        max-width: 200px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback {
        max-width: 245px;
    }

    .wettbewerb-index-index .wettbewerb-form {
        overflow: hidden;
    }

    .wettbewerb-index-index .modal-footer button, .wettbewerb-index-index .actions-toolbar button.action.primary {
        width: 100%;
    }

    .wettbewerb-index-index .phone_wtb .control.customer-birth.has-error.has-feedback div.mage-error[generated] {
        bottom: 0 !important;
    }

    .wettbewerb-index-index .wettbewerb-head p {
        font-size: 20px;
        margin-top: 0;
    }

    .wettbewerb-index-index .wettbewerb-head p.small_txt {
        line-height: 32px;
    }
}

@media all and (max-width: 350px) {
    .wettbewerb-index-index .wettbewerb-form .gender_fieldset {
        margin-bottom: 15px;
    }
}

@media all and (max-width: 320px) {
    .wettbewerb-index-index .form-additional-info .g-recaptcha {
        transform: scale(0.7);
        width: 100%;
        position: relative;
        display: block;
        float: none;
        left: 0;
        right: 0;
        text-align: center;
        overflow: visible;
        margin: 0 auto 0 -42px;
    }

    .wettbewerb-index-index .block_holder.control.has-feedback.has-success .input-text.required-entry,
    .wettbewerb-index-index .block_holder.control.has-feedback.has-success label {
        float: none;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder span.glyphicon.form-control-feedback.glyphicon-ok {
        right: -10px;
        top: 0;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder .one-row.control.has-error.has-feedback span.glyphicon.form-control-feedback {
        right: -7px;
    }

    .wettbewerb-index-index .phone_wtb .block_holder:nth-child(2) .glyphicon.form-control-feedback.glyphicon-remove {
        right: -25px;
    }

    #recapthca-error.active {
        display: block !important;
        position: relative;
        padding-left: 0;
        bottom: 10px;
        float: left;
    }

    .wettbewerb-index-index span.glyphicon.form-control-feedback.glyphicon-remove,
    .wettbewerb-index-index span.glyphicon.form-control-feedback.glyphicon-ok {
        right: -2px;
    }

    .wettbewerb-index-index .wettbewerb-form label {
        min-width: 0;
    }

    .wettbewerb-index-index .control.customer-birth div.mage-error[generated] {
        bottom: -52px !important;
        width: 100%;
    }

    .wettbewerb-index-index .phone_wtb .control.customer-birth.has-error.has-feedback div.mage-error[generated] {
        bottom: 0 !important;
    }

    .wettbewerb-index-index .gender_fieldset {
        height: 40px;
    }

    .wettbewerb-index-index .checkbox_wtb.block_holder label[for="conditions"] {
        margin-left: 0;
        padding-left: 0;
        margin-right: 0;
        max-width: 80%;
    }
}
