<div class="block block-customer-services">
    <div class="block-title"><strong><?php echo __('Shippment and Payment') ?></strong></div>
    <div class="block-content">
        <form class="form form-customer-service" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
            <fieldset class="fieldset">
                <?php echo $block->getBlockHtml('formkey')?>
                <div style="display: none"><?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?></div>
                <?php echo $block->getChildHtml('customer.register.methods') ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary"><button type="submit" title="<?php /* @escapeNotVerified */ echo __('Save changes') ?>" class="action save primary"><span><?php /* @escapeNotVerified */ echo __('Save changes') ?></span></button></div>
            </div>
        </form>
    </div>
</div>