.filter-current .action.remove {
    right: -14px;
}

.filter-content .filter-actions a {
    color: rgb(117, 117, 117);
}

.product-view .add-to-cart button.button span {
    padding-left: 30px;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 1;
    font-weight: normal;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.cms-home .action.tocompare,
.page-products .action.tocompare {
    display: none;
}

.cms-home .magiccategory-custom .box-product {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.box-product-adv {
    width: 14%;
}

.cms-home .box-product-adv {
    width: 13%;
}

.cms-home .magiccategory-custom .box-product-adv + .box-product {
    width: 86%;
}

.cms-home .magiccategory-custom.even .box-product-adv + .box-product {
    float: right;
}

.cms-home .magicproduct .magic-category .block-title-tabs .item .title {
    position: relative;
}

.cms-home .magicproduct .magic-category .block-title-tabs .item .title:after {
    display: inline-block;
    content: "";
    background: #ed5331;
    position: absolute;
    top: 7px;
    right: 0;
    height: 20px;
    width: 2px;
    opacity: 0.8;
}

.cms-home .magicproduct .magic-category .block-title-tabs .item:last-child .title:after {
    display: none;
}

.cms-home .magicproduct .magic-category .item.loaded.activated.single .title:after,
.cms-home .magicproduct .magic-category .block-title-tabs .item:last-child .title:after,
.page-products.catalog-category-view .block.filter.mana-filter-block .block-title.filter-title strong,
.page-products.catalog-category-view .accordion.nav-accordion .mean-expand,
.page-products .price-box.price-final_price .price-container .price-info,
.catalog-product-view .items.review-items .item.review-item .review-title {
    display: none;
}

.page-products.catalog-category-view ul.nav-accordion li a span {
    color: #000 !important;
}

.page-products .product-view .actions.add-to-cart .product-qty .label span {
    display: inline-block;
}

.product-view .product_content_title {
    padding-right: 23px;
}

.review-list .block-title strong,
.catalog-product-view .delivery_wrapper span.col.data,
.status_stock,
.product-view .additional-attributes-wrapper.table-wrapper .col.data,
.product-view .col.label.availability,
.product-view .delivery_time,
.product-view .product_content_data,
.product-view .product_content_title,
.product-view .reviews-actions a,
.product-view .actions.add-to-cart .product-qty .label span,
.product-view .fieldset.review-fieldset span,
.product-view .fieldset.review-fieldset input,
.product-view .field.required.review-field-ratings span,
.product-view .fieldset .legend span,
.product-view .fieldset .legend label,
.product-view .fieldset .legend input,
.product-atr-listitem,
.product-view .additional-attributes-wrapper.table-wrapper label,
.product-view .product.attribute.description.overview div,
.product-view .product.attribute.description.overview p,
.product.attribute.description.overview strong,
.product-view .product-add-form input,
.product-view .product-info-price div,
.product-view .product-info-price span,
.product-view .product-info-price strong {
    font-family: "AvenirNextLTPro-Regular", sans-serif;
}

.product-view .product.attribute.description.overview p {
    line-height: 18px;
    color: #333;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.review-list .block-title strong,
.catalog-product-view .data.table.additional-attributes .list-caption,
.product-view .additional-attributes-wrapper.table-wrapper .col.data,
.status_stock,
.product-view .field.required.review-field-ratings span,
.product.attribute.description.overview .type {
    font-size: 14px;
    line-height: 16px;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.catalog-product-view.page-layout-1column .top_marken_item_brand {
    position: absolute;
    top: 4px;
    left: 10px;
}

.catalog-product-view.page-layout-1column .column.main {
    position: relative;
}

.catalog-product-view .product-view .fieldset.review-fieldset span,
.catalog-product-view .delivery_wrapper span.col.data,
.product-view .stock span,
.status_stock,
.product-view .product_content_data,
.product-view .col.label.availability,
.product-view .delivery_time {
    font-size: 13px;
    line-height: 15px;
    font-family: "Avenir Next LT Pro", sans-serif;
    color: #333;
    font-weight: normal;
}

.review-list .block-title strong,
.product-view .col.label.availability,
.product-view .col.label.availability,
.product-view .delivery_time,
.product-view .product_content_title {
    color: #000;
    font-weight: bold;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.product-view .field.required.review-field-ratings .label > span {
    font-weight: bold;
    color: #000;
}

.product-view .field.required.review-field-ratings .label {
    padding-top: 0;
    padding-bottom: 0;
}

.product-view .field.required.review-field-ratings .field.choice.review-field-rating span {
    font-weight: normal;
    color: #333;
}

.product-view .shop-content-left .table-wrapper {
    margin-bottom: 0;
}

.product-view .stock span,
.stock.unavailable span,
.catalog-product-view .delivery_wrapper span.col.data,
.product-view .additional-attributes-wrapper.table-wrapper .col.data,
.status_stock,
.product-view .reviews-actions,
#Price_rating_label span {
    color: #333;
    font-weight: normal;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.catalog-product-view .product-view .primary.actions-primary button.action.submit.primary {
    border-radius: 0;
    border: none;
    background: #f94415;
    color: #fff;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.catalog-product-view .product-view .price-box.price-final_price .old-price .price-container.price-final_price.tax.weee .price-wrapper .price .monets {
    top: 0;
}

.catalog-product-view .price-container.price-final_price .price {
    line-height: 32px;
    position: relative;
    display: inline-block;
}

.catalog-product-view .product-view .price-box.price-final_price .old-price .price-wrapper .price .monets,
.catalog-product-view .product-view .price-box.price-final_price .old-price .price-wrapper .price {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.catalog-product-view #product-review-container .review-ratings .label {
    display: none;
}

.catalog-product-view .product-view .primary.actions-primary button.action.submit.primary span {
    font-weight: normal;
}

.catalog-product-view .product-view .product-shop .rating-summary .rating-result > span:before,
.catalog-product-view .product-view .product-shop .rating-summary .rating-result:before {
    height: 40px !important;
    line-height: 1 !important;
    letter-spacing: 10px !important;
    font-size: 30px !important;
}

.rating-summary .rating-result:before {
    color: #e0e0e0 !important;
}

.product-view .additional-attributes-wrapper.table-wrapper ul {
    margin: 0;
}

.product-view .product-info-main .price-box .price-wrapper .price {
    color: #f94415;
    font-size: 40px;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
}

.product-view .product-qty .custom-qty .btn-plus {
    width: 20px;
    padding-top: 10px;
    display: inline-block;
}

.catalog-product-view .box-tocart .actions.add-to-cart .product-qty .label span {
    height: 50px;
    line-height: 50px;
}

.catalog-product-view .product-view .product-shop input.qty {
    width: 41px !important;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    text-align: center;
}

.catalog-product-view .product-info-main .product-reviews-summary .reviews-actions-product .action,
.catalog-product-view .product-info-main .product-reviews-summary .reviews-actions .action {
    color: #333;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.catalog-product-view .shop-content-left .product-info-price .product-info-stock-sku {
    margin-bottom: 0;
}

.catalog-product-view .product-info-main .product.attribute.sku .type, .product-info-main .product.attribute.sku .value {
    font-weight: normal;
    color: #333;
    font-size: 11px;
}

.catalog-product-view .product-view .add-to-cart button.button {
    position: relative;
    top: -15px;
}

.catalog-product-view .product-info-price .product-info-stock-sku .product.attribute.sku {
    position: relative;
    top: -1px;
    margin-top: 15px;
}

.product-info-main .stock {
    position: relative;
}

.catalog-product-view .table {
    margin-bottom: 0;
}

.product-info-main .stock.available:before, .product-info-main .stock.unavailable:before {
    margin-right: 0;
    content: "";
    font-size: 12px;
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #008000;
    border-radius: 50%;
    top: 27px;
}

.product-info-main .stock.unavailable:before {
    right: -15px;
}

.product-info-main .stock.available:before {
    right: 0;
}

.product-info-main .stock.unavailable:before {
    background: #ea1b25;
}

.page-products .product-image-photo,
.marken-show-brand .category-products.grid .product-image-photo,
.catalog-product-view .category-products.grid .product-image-photo {
    max-width: 74% !important;
    padding-bottom: 15px;
}

.catalog-product-view .product-view .product-shop .ratings, .product-view .product-shop .product-reviews-summary {
    border-bottom: none;
}

.catalog-product-view .shop-content-left .product-reviews-summary.short,
.catalog-product-view .shop-content-left .product-info-title {
    float: left;
}

.catalog-product-view .actions.add-to-cart label.label[for="qty"] {
    display: inline-block;
    margin-right: 0;
}

.catalog-product-view .shop-content-left .product-reviews-summary.short {
    position: relative;
    right: auto;
    margin-left: 0;
}

.product-view .product-shop .page-title-wrapper .page-title span.base {
    margin-right: 20px;
}

.catalog-product-view .field.review-field-nickname.required {
    width: 200px;
}

.catalog-product-view .product-info-price {
    clear: both;
}

.catalog-product-view .data.table.additional-attributes .list-caption {
    margin-top: 20px;
    margin-bottom: 0;
}

.catalog-product-view .product-atr-listitem .col.data {
    display: block;
    color: #000;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.fotorama-item.fotorama .fotorama__arr:hover, .fotorama-item.fotorama .fotorama__thumb__arr:hover {
    background-color: rgba(255, 255, 255, 1);
}

.fotorama__stage__frame.fotorama__active,
.fotorama-item .fotorama__nav .fotorama__thumb-border {
    border-color: #e2e0e0 !important;
}

.fotorama__stage__frame.fotorama__active {
    border: 2px solid;
}

.fotorama__nav--thumbs .fotorama__nav__frame {
    padding-top: 20px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 20px !important;
}

.catalog-product-view .fotorama__nav--thumbs .fotorama__nav__frame {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.catalog-product-view .fotorama__thumb {
    background-color: #fff;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right,
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left {
    background: #fff;
}

.list-caption,
.product-atr-listitem .label,
#product-attribute-specs-table th,
.product-info-main .product.attribute.overview {
    color: #000;
    font-size: 13px;
    font-family: "Avenir Next LT Pro", sans-serif;
}

.catalog-product-view .product-atr-listitem {
    list-style: none;
}

.catalog-product-view .product-atr-listitem,
.catalog-product-view .delivery_wrapper {
    width: 16%;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
    vertical-align: top;
}

.marken-show-brand ul.nav-accordion li a {
    line-height: 22px;
}

.marken-show-brand ul.nav-accordion li a span {
    font-size: 18px;
    font-family: "Avenir Next LT Pro", sans-serif;
    line-height: 1.2;
    color: #333;
}

.attrwrap_kaffee .product-atr-listitem {
    width: 100%;
    padding-bottom: 0;
}

.attrwrap_kaffee .data.table.additional-attributes ul {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

[class*='attrwrap_getr'] .product-atr-listitem {
    width: 33%;
}

.product-view [class*='attrwrap_getr'].additional-attributes-wrapper.table-wrapper li:nth-child(-n+3) .col.data {
    text-decoration: underline;
}

ul.wod_roast li {
    display: inline-block;
    width: 60px;
    height: 10px;
    background: #e6e6e6;
    position: relative;
}

.wod_cupsize li.active:after {
    color: #f94415;
}

.wod_intensity li.active,
ul.wod_roast li.active {
    background: #f94415;
}

.wod_roast_hell {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wod_roast_dunkel {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wod_roast_hell:after,
.wod_roast_mittel:after,
.wod_roast_dunkel:after {
    display: inline-block;
    position: absolute;
    top: 10px;
    color: #000;
    font-size: 12px;
    left: 0;
    right: 0;
    text-align: center;
}

.wod_roast_hell:after {
    content: 'hell';
}

.wod_roast_dunkel:after {
    content: 'dunkel';
}

.wod_roast_mittel:after {
    content: 'mittel';
}

.wod_intensity li {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #e6e6e6;
    text-align: center;
    line-height: 21px;
    font-size: 12px;
    color: #000;
    margin-right: 7px;
}

.wod_cupsize li:first-child {
    margin-left: -7px;
}

.wod_cupsize li {
    display: inline-block;
    padding-right: 20px;
    position: relative;
    min-height: 43px;
    padding-left: 20px;
    vertical-align: text-bottom;
}

.wod_cupsize_Ristretto:after,
.wod_cupsize_Espresso:after,
.wod_cupsize_Kaffee:after {
    content: "";
    display: block;
    position: relative;
    background: url("../images/cup-and-plate-gray.png") no-repeat;
    background-size: contain;
}

.wod_cupsize_Ristretto.active:after,
.wod_cupsize_Espresso.active:after,
.wod_cupsize_Kaffee.active:after {
    background: url("../images/cup-and-plate.png") no-repeat;
    background-size: contain;
}

li[class*="wod_cupsize_Milchkaffee"]:after {
    background: url("../images/milchkaffee.png") no-repeat;
    width: 30px;
    height: 30px;
    content: "";
    display: block;
    position: relative;
}

li[class*="wod_cupsize_Milchkaffee"].active:after {
    background: url("../images/milchkaffee_active.png") no-repeat;
    background-size: contain;
    margin-bottom: 8px;
}

.wod_cupsize_Ristretto:before,
li[class*="wod_cupsize_Milchkaffee"]:before,
.wod_cupsize_Espresso:before,
.wod_cupsize_Kaffee:before {
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    position: absolute;
}

.wod_cupsize_Ristretto:before {
    content: "Ristretto";
    bottom: -13px;
}

.wod_cupsize_Ristretto:after {
    width: 20px;
    height: 20px;
    position: relative;
    top: 17px;
}

.wod_cupsize_Espresso:before {
    content: "Espresso";
    bottom: -13px;
}

.wod_cupsize_Espresso:after {
    width: 40px;
    height: 40px;
}

.wod_cupsize_Kaffee:before {
    content: "Kaffee Creme";
    bottom: -14px;
}

.wod_cupsize_Kaffee:after {
    width: 50px;
    height: 50px;
}

li[class*="wod_cupsize_Milchkaffee"]:before {
    content: "Milchkaffee";
    position: absolute;
    bottom: -15px;
}

li[class*="wod_cupsize_Milchkaffee"]:after {
    width: 40px;
    height: 55px;
    background-size: contain;
}

li[class*="wod_intensity"].active {
    width: 25px;
    height: 25px;
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    top: -8px;
}

.catalog-product-view .status_stock,
.catalog-product-view .delivery_wrapper span.col.data {
    display: block;
}

.catalog-product-view .product-view .product-shop .rating-summary .rating-result {
    position: relative;
    top: -13px;
    width: 192px;
    height: 27px;
    margin-bottom: -10px;
}

.catalog-product-view .product-info-main .product.alert a {
    word-wrap: break-word;
    color: #757575;
    white-space: normal;
}

.catalog-product-view .product-info-main .product.alert a,
.catalog-product-view .product-info-main .product.alert {
    padding-left: 15px;
}

.catalog-product-view .product-info-main .shop-content-left .product.alert.price,
.catalog-product-view .product-info-main .shop-content-left .product.alert.price a {
    padding-left: 0;
}

.catalog-product-view .magicproduct.magiccategory .box-product {
    width: 100%;
    height: 415px;
}

.cms-home .magiccategory .action.tocart.primary.button.btn-cart,
.catalog-product-view .magicproduct.magiccategory .action.tocart.primary.button.btn-cart {
    text-indent: -9999px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: none;
    background: #f94415;
    position: relative;
    margin-top: 16px;
    margin-bottom: 5px;
}

.cms-home .magiccategory .action.tocart.primary.button.btn-cart {
    margin-top: 11px;
}

.catalog-product-view .magicproduct.magiccategory a.product-item-link {
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.catalog-product-view .magicproduct.magiccategory a.product-item-link:visited {
    color: #000;
}

.cms-home .magiccategory .action.tocart.primary.button.btn-cart span:after,
.catalog-product-view .magicproduct.magiccategory .action.tocart.primary span:after {
    content: "";
    background: url(../images/add_product_card.png) no-repeat;
    line-height: 1;
    font-size: 20px;
    width: 43px;
    height: 43px;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    display: inline-block;
    top: 3px;
    left: 3px;
    right: 0;
    text-indent: initial;
}

.catalog-product-view .magicproduct.magiccategory .special-price .price-wrapper .price {
    color: #f94415;
    font-size: 40px;
}

.catalog-product-view .magicproduct.magiccategory .product-item-info {
    border: 1px solid #e5e5e5;
}

.content-products .products .slick-arrow.slick-prev {
    left: -30px;
}

.content-products .products .slick-arrow.slick-next {
    right: -30px;
}

.catalog-product-view .magicproduct.magiccategory .product-item-info {
    min-height: 390px;
    max-height: 390px;
    overflow: hidden;
}

.catalog-product-view .magicproduct.magiccategory span.labelnew {
    position: absolute;
    left: 15px;
    z-index: 10;
    top: 15px;
}

.cms-home .box-product .fa.fa-minus:before,
.cms-home .box-product .fa.fa-plus:before {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
}

.cms-home .box-product .fa.fa-minus,
.cms-home .box-product .fa.fa-plus {
    float: none;
    display: block;
    width: 100% !important;
}

.category-products .fa.fa-minus,
.category-products .fa.fa-plus,
.cms-home .box-product .fa.fa-minus,
.cms-home .box-product .fa.fa-plus {
    width: 25px !important;
    height: 25px !important;
    position: relative;
}

.category-products .fa.fa-plus:before,
.cms-home .box-product .fa.fa-plus:before {
    content: "";
    width: 1px !important;
    height: 9px !important;
    position: absolute;
    top: 8px;
    left: 12px;
    background-color: #fff;
}

.category-products .fa.fa-plus:after,
.category-products .fa.fa-minus:before,
.cms-home .box-product .fa.fa-minus:before,
.cms-home .box-product .fa.fa-plus:after {
    content: "";
    width: 9px !important;
    height: 1px !important;
    position: absolute;
    top: 12px;
    left: 8px;
    background-color: #fff;
}

.product .actions-primary.actions-cart .field.qty.clearfix,
.product-items .field.qty.clearfix,
.box-product .field.qty.clearfix {
    background: #efefef;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 39px;
    position: relative;
    top: -1px;
}

.page-products .product-items .field.qty.clearfix {
    left: 3px;
}

.marken-show-brand .product-items .field.qty.clearfix,
.catalog-category-view .product-items .field.qty.clearfix {
    left: 10px;
    top: 4px;
}

.cms-home .product_with_short_description .product-qty .btn-minus,
.cms-home .product_with_short_description .product-qty .btn-plus {
    display: inline-block;
}

.page-products .category-products .input-text.qty,
.category-products .input-text,
.cms-home .box-product .input-text {
    background: #fff;
    border: transparent;
    text-align: center;
    padding: 0;
    height: 20px;
    font-size: 16px;
    vertical-align: middle;
    color: #000;
    width: 27px !important;
    margin: 5px 0;
}

.cms-home .product_with_short_description .input-text {
    position: relative;
    top: 8px;
    width: 36px !important;
    left: -1px;
}

.cms-home .product_with_short_description .product-qty .btn-minus {
    float: right;
    position: relative;
    top: 2px;
}

.cms-home .product.actions.clearfix {
    position: relative;
    top: -90px;
}

.cms-home .price-box.price-final_price {
    position: absolute;
    z-index: 1;
    bottom: -66px;
}

.cms-home .product_with_short_description .product.actions {
    float: none;
    margin: 0;
    text-align: left;
    top: 0;
}

.cms-home .magicproduct.magiccategory .slick-list.draggable .slick-track {
    min-width: 100%;
    height: 421px;
    overflow: hidden;
}

.cms-home .products.list.items.product-items .slick-next:before,
.cms-home .products.list.items.product-items .slick-prev:before {
    color: #000;
    content: "";
    display: block;
    width: 16px;
    height: 28px;
    background-size: contain;
}

.cms-home .products.list.items.product-items .slick-next:before {
    position: relative;
    left: 2px;
}

.cms-home .product-item-info.per-product {
    border: 1px solid #dedede;
}

.cms-home .item.product.product-item .product-item-info.per-product {
    height: 416px;
}

.cms-home .product-items .slick-next:before {
    background: url("../images/arrow-right.png") no-repeat;
}

.cms-home .product-items .slick-prev:before {
    background: url("../images/arrow-left.png") no-repeat;
}

.cms-home .box-product .product-items .slick-next:before {
    background: url("../images/double-arrow-right.png") no-repeat;
}

.cms-home .box-product .product-items .slick-prev:before {
    background: url("../images/double-arrow-left.png") no-repeat;
}

.cms-home .magic-category .item.item-view {
    float: right;
    padding-left: 15px;
    position: relative;
}

.cms-home .magic-category .cat-view-all,
.cms-home .magic-category .item.item-view a {
    color: #000;
    text-transform: none;
    font-weight: normal;
}

.cms-home .magic-category .cat-view-all {
    text-transform: none;
}

.cms-home .magic-category .item.item-view a:after {
    content: ">";
    display: inline-block;
    color: red;
    position: absolute;
    left: 0;
    top: 0;
}

.category-products .product-qty .btn-plus,
.category-products .product-qty .btn-minus,
.cms-home .product-qty .btn-plus, .cms-home .product-qty .btn-minus {
    width: 36px;
    margin: 0 auto;
}

.category-products .product-qty .btn-plus,
.cms-home .product-qty .btn-plus {
    padding-top: 3px;
}

.category-products .product-qty .btn-minus,
.cms-home .product-qty .btn-minus {
    padding-bottom: 3px;
}

.cms-home button.increase.items {
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: gray;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.catalog-product-view .box-up-sell .product.details.products-textlink.product-item-details.clearfix,
.catalog-product-view .products-related .product.details.products-textlink.product-item-details.clearfix {
    padding: 0;
}

.catalog-product-view .box-up-sell .reviews-actions .action.add,
.catalog-product-view .products-related .reviews-actions .action.add {
    display: none;
}

.catalog-product-view .products-related .product.details.products-textlink.product-item-details.clearfix .product.name.product-name.product-item-name,
.catalog-product-view .box-up-sell .product.details.products-textlink.product-item-details.clearfix .product.name.product-name.product-item-name {
    margin-left: 0;
    text-align: left;
    overflow: hidden;
}

.catalog-product-view .box-up-sell .product.photo.product-item-photo,
.catalog-product-view .products-related .product.photo.product-item-photo {
    padding-top: 25px;
    display: inline-block;
    margin-bottom: -20px;
}

.catalog-product-view .box-up-sell .product-reviews-summary.short.empty,
.catalog-product-view .products-related .product-reviews-summary.short.empty {
    top: -225px;
    right: -15px;
    width: 215px;
}

.catalog-product-view .products-related .product-reviews-summary .rating-summary .rating-result,
.catalog-product-view .box-up-sell .product-reviews-summary .rating-summary .rating-result {
    right: -60px;
}

.catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix,
.catalog-product-view .products-related .product .actions-primary.actions-cart .field.qty.clearfix {
    left: 6px;
}

.catalog-product-view .products-related .product.description.product-item-description,
.catalog-product-view .box-up-sell .product.description.product-item-description {
    position: absolute;
    text-align: left;
    padding-left: 0;
    bottom: -13px;
    height: 45px;
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.catalog-product-view .box-up-sell .block.related .related-available .product-item-name,
.catalog-product-view .products-related .block.block-related.related .product-item-info.per-product.related-available .product-item-name {
    margin-left: 0;
}

.catalog-product-view .box-up-sell .product-item-info.per-product .special-price .price-container .price-wrapper .price,
.catalog-product-view .block-related.related .product-item-info.per-product.related-available .special-price .price-container .price-wrapper .price {
    line-height: unset !important;
    position: relative !important;
    left: auto;
    right: auto;
    top: auto;
}

.catalog-product-view .block-related.related .product-item-info.per-product.related-available .special-price {
    margin: 0;
    padding: 0 3px 0 0;
    display: inline-block;
    position: relative;
    float: left;
    top: 14px;
    left: 20px;
}

.catalog-product-view .box-up-sell .product-item-info.per-product .special-price {
    top: 14px;
    position: relative;
    left: 20px;
    float: left;
}

.catalog-product-view .box-up-sell .product-item-info.per-product .special-price .price {
    position: relative;
    float: left;
    left: auto;
}

.catalog-product-view .block-related.related .product-item-info.per-product.related-available .old-price .price-container.price-final_price.tax.weee .price-wrapper .price {
    left: 0 !important;
    position: relative !important;
    line-height: 84px !important;
}

.catalog-product-view .box-up-sell .product-item-info.per-product .special-price ~ .old-price,
.catalog-product-view .block-related.related .product-item-info.per-product.related-available .special-price ~ .old-price {
    position: relative;
    left: -14px;
    float: left;
    bottom: 4px;
}

.catalog-product-view .box-up-sell .product-item-info.per-product .special-price ~ .old-price {
    left: -4px;
}

.catalog-product-view .box-up-sell .old-price .price-container.price-final_price.tax.weee .price {
    left: 0 !important;
    position: relative !important;
    line-height: 84px !important;
}

.catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix .btn-minus,
.catalog-product-view .block-related.related .products-related .product .actions-primary.actions-cart .field.qty.clearfix .btn-minus,
.catalog-product-view .block-related.related .products-related .product .actions-primary.actions-cart .field.qty.clearfix .btn-plus,
.catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix .btn-plus {
    position: relative;
}

body.catalog-product-view .box-up-sell .product-items,
body.catalog-product-view .products-related .product-items {
    padding-left: 55px;
    padding-right: 50px;
}

body.catalog-product-view .column.main .block-related .products-grid .product-items,
body.catalog-product-view .column.main .box-up-sell .products-grid .product-items {
    display: block;
    width: auto;
    margin: 0;
    position: relative;
    text-align: center;
}

body.catalog-product-view .column.main .box-up-sell .products-grid .product-items,
body.catalog-product-view .column.main .products-grid .products-related .product-items {
    height: 380px;
}

.catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix,
.catalog-product-view .products-related .product .actions-primary.actions-cart .field.qty.clearfix {
    height: 93px;
}

.catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix .btn-minus,
.catalog-product-view .block-related.related .products-related .product .actions-primary.actions-cart .field.qty.clearfix .btn-minus {
    top: 12px;
}

.catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix .btn-plus,
.catalog-product-view .block-related.related .products-related .product .actions-primary.actions-cart .field.qty.clearfix .btn-plus {
    top: 7px;
}

.catalog-product-view .box-up-sell .btn-minus .reduced.items,
.catalog-product-view .products-related .btn-minus .reduced.items,
.catalog-product-view .box-up-sell .btn-plus .increase.items,
.catalog-product-view .products-related .btn-plus .increase.items {
    border: none;
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: rgb(128, 128, 128);
    border-radius: 50%;
    position: relative;
    color: #fff;
}

.catalog-product-view .box-up-sell .product-qty .input-text.qty,
.catalog-product-view .products-related .product-qty .input-text.qty {
    border: transparent;
    background: #fff;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    height: 21px;
    font-size: 17px;
    vertical-align: middle;
    color: #000;
    display: block;
    width: 40px !important;
    position: relative;
    top: 9px;
}

.catalog-product-view .box-up-sell .reviews-actions .rating-summary,
.catalog-product-view .related-available .reviews-actions .rating-summary {
    float: right;
}

.catalog-product-view .box-up-sell .reviews-actions,
.catalog-product-view .related-available .reviews-actions {
    width: 200px;
    position: relative;
    top: 0;
    text-align: right;
}

.catalog-product-view .box-up-sell .reviews-actions .action.add,
.catalog-product-view .related-available .reviews-actions .action.add {
    margin-right: 0;
}

.cms-home button.reduced.items {
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: gray;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.cms-home .magic-category .product-item-info.per-product a.link-wishlist {
    position: absolute;
    top: 10px;
    z-index: 1;
    left: 10px;
}

.cms-home .magic-category .product-item-info.per-product .icon.icon-heart.icons {
    font-size: 20px;
    color: #666666;
}

.cms-home .magic-category .actions-secondary.add-to-links {
    position: absolute;
    left: 10px;
    z-index: 1;
}

.cms-home li.item.product.product-item.product_with_short_description.slick-slide {
    width: 519px !important;
}

.cms-home li.item.product.product-item.product_with_short_description.slick-slide .product-item-info.per-product {
    -webkit-box-shadow: 3px 1px 4px 0px rgba(50, 50, 50, 0.61);
    -moz-box-shadow: 3px 1px 4px 0px rgba(50, 50, 50, 0.61);
    box-shadow: 3px 1px 4px 0px rgba(50, 50, 50, 0.61);
    border-left: 1px solid rgba(50, 50, 50, 0.1);
    border-top: 1px solid rgba(50, 50, 50, 0.1);
}

.cms-home .magic-category .block-title-tabs {
    padding: 0;
    margin-bottom: 20px;
}

.cms-home .products .slick-arrow.slick-prev {
    left: -30px;
}

.cms-home .products .slick-arrow.slick-next {
    right: -30px;
    text-align: right;
}

.cms-home .box-product .product-item .actions-secondary.add-to-links,
.cms-home .box-product .product_with_short_description .product.photo.product-item-photo {
    float: left;
}

.cms-home .box-product .product_with_short_description .product.description.product-item-description p,
.cms-home .box-product .product_with_short_description .product.description.product-item-description {
    color: #000;
    text-align: left;
    opacity: 1;
}

.cms-home .box-product .product_with_short_description .product.description.product-item-description p {
    max-height: 220px;
    overflow: hidden;
}

.cms-home .box-product .hover-box .product.actions {
    float: right;
    margin-right: 10px;
}

.cms-home .box-product .product_with_short_description .product.description.product-item-description {
    float: right;
    width: 49%;
    clear: none;
    min-height: 262px;
    max-height: 262px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cms-home .grid.products-grid .item {
    min-width: 245px;
}

.cms-home .box-product .item .add-to-links {
    position: absolute;
    z-index: 1;
}

.cms-home .box-product .item .add-to-links a {
    border: none;
}

.cms-home .box-product .product_with_short_description .images-container {
    width: 47%;
}

.product-items.slick-slider .product-item .images-container {
    padding: 0;
}

.cms-home .box-product .product_with_short_description .price-box.price-final_price {
    position: absolute;
    bottom: -60px;
    margin: 0 auto;
    display: inline-block;
    left: 10px;
    z-index: 1;
}

.cms-home .box-product .hover-box.clear-both.clearfix {
    background: #efefef;
    height: 70px;
}

.cms-home .box-product .hover-box.clear-both.clearfix {
    position: relative;
    top: 13px;
}

.cms-home .box-product .product_with_short_description .hover-box.clear-both.clearfix {
    position: relative;
    top: 0;
}

.cms-home .box-product .price-box.price-final_price .price-wrapper .price {
    font-size: 40px;
    color: #f94415;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
    display: block;
}

.catalog-product-view .price-container.price-final_price.tax.weee .price .monets-carrency-wrapper .currency,
.cms-home .box-product .price-box.price-final_price .price-wrapper .price .currency {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    top: 2px;
    left: -1px;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    line-height: 12px;
}

.catalog-product-view .price-container.price-final_price.tax.weee .price .monets-carrency-wrapper .currency {
    top: auto;
    bottom: -2px;
}

.catalog-product-view .price-container.price-final_price.tax.weee .price .monets-carrency-wrapper,
.catalog-product-view .products-related .price-box.price-final_price .price-wrapper .price .monets-carrency-wrapper,
.catalog-product-view .products-upsell .price-box.price-final_price .price-wrapper .price .monets-carrency-wrapper,
.catalog-category-view.page-products .item.product-item .special-price .price-wrapper .price .monets-carrency-wrapper,
.catalog-category-view.page-products .item.product-item .price-final_price .price-wrapper .price .monets-carrency-wrapper,
.cms-home .box-product .price-box.price-final_price .price-wrapper .price .monets-carrency-wrapper {
    position: absolute;
    top: 0;
    left: 100%;
    text-align: left;
    display: block;
    max-width: 40px;
    max-height: 17px;
}

.catalog-product-view .product-view .price-box.price-final_price .price-container.price-final_price.tax.weee .price-wrapper .price .monets,
.catalog-category-view.page-products .item.product-item .special-price .price-wrapper .price .monets,
.catalog-category-view.page-products .item.product-item .price-final_price .price-wrapper .price .monets,
.catalog-product-view .products-related .price-box.price-final_price .price-wrapper .price .monets,
.catalog-product-view .products-upsell .price-box.price-final_price .price-wrapper .price .monets,
.cms-home .box-product .price-box.price-final_price .price-wrapper .price .monets {
    font-size: 22px;
    position: relative;
    line-height: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    top: 0;
}

.catalog-product-view .product-view .price-box.price-final_price .old-price .price-wrapper .price,
.page-products .category-products.products.wrapper.grid.products-grid .products.list.items.product-items .price-box.price-final_price .old-price .price-wrapper .price,
.cms-home .box-product .price-box.price-final_price .old-price .price-wrapper .price {
    color: #000000;
    font-weight: bold;
    font-size: 12px !important;
    position: relative;
    bottom: 0;
    line-height: 14px;
    left: 0;
}

.cms-home .box-product .product_with_short_description .field.qty.clearfix {
    float: right;
    margin-right: 70px;
    position: relative;
    top: 20px;
    width: 112px;
    height: 36px;
    background: #eeeaea;
}

.cms-home .box-product .product_with_short_description .field.qty.clearfix .btn-plus {
    position: relative;
    top: -9px;
}

.cms-home .magiccategory .box-product .action.tocart.primary.button.btn-cart {
    position: absolute;
    right: 0;
}

.cms-home .magiccategory .box-product .product-name {
    text-align: left;
}

.cms-home .magiccategory .box-product .product-custom-description {
    text-align: left;
    color: #0a263c;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    height: 40px;
}

.cms-home .magiccategory .box-product .product_with_short_description .product-name {
    padding-left: 17px;
}

.cms-home .magiccategory .box-product .product_with_short_description .product-name,
.cms-home .magiccategory .box-product .product-name,
.magiccategory .product_with_short_description .product-name {
    overflow: hidden;
}

.cms-home .magiccategory .box-product .item.product-item .special-price .price-wrapper .price {
    color: #f94415;
    position: relative;
    top: 0;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
    display: block;
}

.catalog-product-view .review-field-ratings .review-field-rating .label {
    padding: 0 15px 0 0;
}

.catalog-product-view .review-ratings ~ .review-content, .catalog-product-view .review-ratings ~ .review-details {
    margin-left: 0;
    position: relative;
    top: -13px;
}

.cms-home .products-grid .product-name a {
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    width: 80%;
    display: inline-block;
    z-index: 100;
    position: relative;
    font-family: 'AlternateGothic2 BT', sans-serif;
    font-weight: 300;
}

.cms-home .products-grid .item.product-item.product_with_short_description .product-name a {
    top: 20px;
}

.cms-home .products-grid .item.product-item .action.add {
    display: none;
}

.cms-home .item .add-to-links a .icon {
    line-height: 29px;
}

.cms-home .product-item.product_with_short_description .product-reviews-summary.short {
    right: 53%;
    top: 4px;
}

.cms-home .magiccategory .box-product .item.product-item.product_with_short_description .special-price .price-wrapper .price {
    position: relative;
    top: 0;
}

.catalog-product-view .field.choice.review-field-rating {
    padding-bottom: 0;
    padding-top: 0;
}

.cms-home .product-reviews-summary .rating-summary .rating-result,
.catalog-category-view .product-reviews-summary .rating-summary .rating-result {
    width: 96px;
}

.catalog-product-view .review-control-vote:before,
.catalog-product-view .review-control-vote label::before,
.catalog-product-view .product-view .block.review-add .rating-result > span:before,
.catalog-product-view .product-view .block.review-add .rating-result:before,
.catalog-product-view .product-view .block.review-list .items.review-items .rating-result > span:before,
.catalog-product-view .product-view .block.review-list .items.review-items .rating-result:before {
    height: 14px !important;
    line-height: 1 !important;
    letter-spacing: 5px !important;
    font-size: 14px !important;
}

.catalog-product-view .price-final_price .price-wrapper .price .currency {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    bottom: 18px;
    left: 2px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
}

.catalog-product-view .old-price .price-final_price .price-wrapper .price .currency {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.attrwrap_kaffee .product-atr-listitem {
    display: block;
    width: 100%;
}

.cms-home .magiccategory .box-product .item.product-item .special-price .old-price .price-container .price-wrapper .price {
    top: 0;
    color: #000;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    bottom: 26px;
    left: 30px;
}

.cms-home .magiccategory .box-product .item.product-item.product_with_short_description .special-price .old-price .price-container .price-wrapper .price {
    top: 0;
}

.cms-home .magiccategory .box-product .item.product-item .special-price .old-price .price-wrapper .price {
    color: #000;
}

.fotorama-item.fotorama .fotorama__thumb__arr.fotorama__thumb__arr--left .fotorama__thumb--icon,
.fotorama-item.fotorama .fotorama__thumb__arr.fotorama__thumb__arr--right .fotorama__thumb--icon {
    width: 50px !important;
}

.product.media.product-img-box .fotorama-item.fotorama .fotorama__thumb__arr.fotorama__thumb__arr--left .fotorama__thumb--icon,
.product.media.product-img-box .fotorama-item.fotorama .fotorama__thumb__arr.fotorama__thumb__arr--right .fotorama__thumb--icon,
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal .fotorama__arr--next .fotorama__arr__arr,
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal .fotorama__arr--prev .fotorama__arr__arr {
    width: 14px !important;
}

.fotorama__arr--prev .fotorama__arr__arr,
.fotorama__thumb__arr.fotorama__thumb__arr--left .fotorama__thumb--icon {
    background: url("../images/arrow-left.png") no-repeat;
    background-size: contain;
}

.fotorama__arr--next .fotorama__arr__arr,
.fotorama__thumb__arr.fotorama__thumb__arr--right .fotorama__thumb--icon {
    background: url("../images/arrow-right.png") no-repeat;
    background-size: contain;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right {
    right: -10px;
}

.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left {
    left: -10px;
}

/*responsive version*/
@media (max-width: 1440px) {
    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        width: 440px !important;
    }
}

@media (max-width: 1366px) {
    [class*='attrwrap_getr*'] .product-atr-listitem {
        width: 32%;
    }

    .catalog-product-view .delivery_wrapper,
    .catalog-product-view .stock.available,
    .catalog-product-view .product-atr-listitem {
        width: 20%;
    }
}

@media (max-width: 1200px) {
    .catalog-product-view .stock.available {
        max-width: 70px;
    }

    [class*='attrwrap_getr'] .product-atr-listitem {
        width: 31%;
    }
}

@media (max-width: 1199px) {
    .catalog-product-view .delivery_wrapper,
    .catalog-product-view .stock.available,
    .catalog-product-view .product-atr-listitem {
        width: 24%;
    }

    .catalog-product-view .attrwrap_kaffee .product-atr-listitem {
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 1100px) {
    [class*='attrwrap_getr'] .product-atr-listitem {
        width: 42%;
    }
}

@media (max-width: 1024px) {

    .slick-slide img {
        display: block;
        padding: 5px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide .product-item-info.per-product {
        height: 384px;
    }

    .cms-home .item.product.product-item .product-item-info.per-product {
        height: 337px;
    }

    /*.cms-home li.item.product.product-item.product_with_short_description.slick-slide,*/
    /*.cms-home .grid.products-grid .item {*/
    /*min-width: auto;*/
    /*}*/
    .box-product {
        width: 100%;
    }

    .box-product-adv {
        display: none;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        width: auto !important;
        display: inline-block;
        max-width: 295px;
        height: 389px;
    }

    .column.main .products-grid .product-items {
        display: block;
        width: auto;
        margin: 0;
        position: relative;
        text-align: left;
    }

    .cms-home .product-reviews-summary .rating-summary .rating-result,
    .catalog-category-view .product-reviews-summary .rating-summary .rating-result {
        width: 76px;
    }

    .sharethis-inline-share-buttons.st-inline-share-buttons .st-btn.st-first.st-last {
        display: inline-block !important;
        position: absolute !important;
        top: -201px !important;
        left: 29px !important;
    }

    .catalog-product-view .sharethis-inline-share-buttons.st-inline-share-buttons .st-btn.st-first.st-last {
        top: 0 !important;
    }

    body.catalog-product-view .box-up-sell .product-items, body.catalog-product-view .products-related .product-items {
        padding-left: 30px;
        padding-right: 30px;
    }

    .catalog-product-view .column.main .box-up-sell.upsell .products-grid .product-items,
    .catalog-product-view .column.main .block-related.related .products-grid .product-items {
        display: block;
    }

    .catalog-product-view .column.main .box-up-sell.upsell .products-grid .product-items,
    .catalog-product-view .column.main .block-related.related .products-grid .product-items {
        height: 403px;
        overflow: hidden;
    }

    .cms-home .magicproduct.magiccategory .slick-list.draggable .slick-track button[type="button"] .slick-track {
        height: 25px;
    }

    .cms-home .products .slick-arrow.slick-prev {
        left: -45px;
    }

    .cms-home .products .slick-arrow.slick-next {
        right: -45px;
    }

    .cms-home .magicproduct.magiccategory .box-product {
        padding: 0 40px;
    }

    .cms-home .magiccategory-custom .box-product-adv + .box-product {
        width: 100%;
    }

    .cms-home .product-item .product-reviews-summary .rating-summary {
        display: block;
    }

    .cms-home .product-item .product-reviews-summary .reviews-actions a {
        display: none;
    }

    .cms-home .magiccategory .box-product .product-custom-description {
        font-size: 12px;
        line-height: 14px;
    }

    .catalog-product-view .product-view {
        margin-bottom: 20px;
    }

    .catalog-product-view .column.main .box-up-sell.upsell .products-grid div.product-items,
    .catalog-product-view .column.main .block-related.related .products-grid div.product-items {
        height: 300px;
    }

    .catalog-product-view .item.product.product-item .product-item-info.per-product {
        height: 287px;
        min-height: 0;
    }

    .catalog-product-view .block-related.related li.item.product.product-item,
    .catalog-product-view .box-up-sell.upsell li.item.product.product-item {
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

    .catalog-product-view .box-up-sell a.product.photo.product-item-photo,
    .catalog-product-view .products-related a.product.photo.product-item-photo {
        padding: 0;
        margin: 0;
        display: block;
    }

    .catalog-product-view .box-up-sell.upsell li.slick-slide img,
    .catalog-product-view .block-related.related li.slick-slide img {
        padding: 25px 5px 5px 5px;
        margin-bottom: 0;

    }

    .catalog-product-view .block-related.related .item.product.product-item .product-item-info,
    .catalog-product-view .box-up-sell.upsell .item.product.product-item .product-item-info {
        border: 1px solid #dedede;

    }

    .catalog-product-view .block-related.related .product.details.products-textlink.product-item-details.clearfix div.price-box.price-final_price,
    .catalog-product-view .box-up-sell.upsell .product.details.products-textlink.product-item-details.clearfix div.price-box.price-final_price {
        width: 100%;
        left: 0;
        bottom: -86px;
    }

    .catalog-product-view .block-related.related .item.product.product-item.slick-slide .product-hover div.hover-actions,
    .catalog-product-view .box-up-sell.upsell .item.product.product-item.slick-slide .product-hover div.hover-actions {
        left: 0;
        font-size: 11px;
    }

    .catalog-product-view .box-up-sell div.product.details.products-textlink.product-item-details.clearfix,
    .catalog-product-view .products-related div.product.details.products-textlink.product-item-details.clearfix {
        margin-top: 26px;
        padding: 0 15px;
    }

    .catalog-product-view .block-related.related div.product.product-item-actions.show-box-cart,
    .catalog-product-view .box-up-sell.upsell div.product.product-item-actions.show-box-cart {
        bottom: -76px;
        right: 0;
    }

    .catalog-product-view .block-related.related div.product.product-item-actions.show-box-cart .btn-cart,
    .catalog-product-view .box-up-sell.upsell div.product.product-item-actions.show-box-cart .btn-cart {
        right: 10px;
    }

    .catalog-product-view .block-related.related .product-item-info.per-product.related-available .price-container .price-wrapper span.price,
    .catalog-product-view .box-up-sell.upsell .price-container.price-final_price.tax.weee span.price {
        font-size: 30px;
        left: 14px;
    }

    .catalog-product-view .box-up-sell .product-item-info.per-product .special-price {
        left: 0;
    }

    .catalog-product-view .block-related.related .product-item-info.per-product.related-available .old-price .price-container .price-wrapper span.price,
    .catalog-product-view .box-up-sell.upsell .old-price .price-container.price-final_price.tax.weee span.price {
        font-size: 10px;
        top: 3px;
    }

    .catalog-product-view .block-related.related .product-item-info.per-product.related-available .special-price {
        left: 14px;
    }

    .catalog-product-view .box-up-sell .product-item-info.per-product .special-price,
    .catalog-product-view .block-related.related .product-item-info.per-product.related-available .special-price {
        top: 22px;
    }

    .catalog-product-view .box-up-sell .product-item-info.per-product .special-price ~ .old-price {
        left: -14px;
    }

    .catalog-product-view .block-related.related .product-item-info.per-product.related-available .price-container .price-wrapper .price .monets,
    .catalog-product-view .box-up-sell.upsell .price-container.price-final_price.tax.weee .price .monets {
        font-size: 16px;
        top: -9px;
    }

    .catalog-product-view .block-related.related .product-item-info.per-product.related-available .price-container .price-wrapper .price .currency,
    .catalog-product-view .box-up-sell.upsell .price-container.price-final_price.tax.weee .price .currency {
        font-size: 10px;
        bottom: 12px;
        left: 0;
    }

    .catalog-product-view .slick-slide .actions-primary.actions-cart .field.qty.clearfix,
    .catalog-product-view .product-items .field.qty.clearfix {
        width: 34px;
    }

    .catalog-product-view .box-up-sell .product .actions-primary.actions-cart div.field.qty.clearfix,
    .catalog-product-view .products-related .product .actions-primary.actions-cart div.field.qty.clearfix {
        height: auto;
        padding: 3px 0;
    }

    .catalog-product-view .box-up-sell .btn-minus button.reduced.items,
    .catalog-product-view .products-related .btn-minus button.reduced.items,
    .catalog-product-view .box-up-sell .btn-plus button.increase.items,
    .catalog-product-view .products-related .btn-plus button.increase.items {
        width: 22px;
        height: 22px;
        line-height: 24px;
    }

    .catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix div.btn-plus,
    .catalog-product-view .block-related.related .products-related .product .actions-primary.actions-cart .field.qty.clearfix div.btn-plus {
        top: -1px;
    }

    .catalog-product-view .box-up-sell .product-qty input.input-text.qty,
    .catalog-product-view .products-related .product-qty input.input-text.qty {
        top: 0;
        width: 34px !important;
    }

    .catalog-product-view .box-up-sell .product .actions-primary.actions-cart .field.qty.clearfix div.btn-minus,
    .catalog-product-view .block-related.related .products-related .product .actions-primary.actions-cart .field.qty.clearfix div.btn-minus {
        top: 2px;
    }

    .catalog-product-view .item.product.product-item p.product.name.product-name.product-item-name a.product-item-link {
        width: 70%;
    }

    .catalog-product-view .box-up-sell .product-reviews-summary.short.empty,
    .catalog-product-view .products-related .product-reviews-summary.short.empty {
        top: -150px;
        width: calc(100% - 30px);
        right: 5px;
        /*width: 215px;*/
    }

    .catalog-product-view .products-related .product-reviews-summary .rating-summary .rating-result,
    .catalog-product-view .box-up-sell .product-reviews-summary .rating-summary .rating-result {
        right: 0;
    }

    .catalog-product-view .products-related .product-reviews-summary .rating-summary,
    .catalog-product-view .box-up-sell .product-reviews-summary .rating-summary {
        text-align: right;
        display: block;
    }

    .catalog-product-view .block-related.related .products button.slick-prev.slick-arrow:before,
    .catalog-product-view .box-up-sell.upsell .products button.slick-prev.slick-arrow:before {
        background: url("../images/double-arrow-left.png") no-repeat;
    }

    .catalog-product-view .block-related.related .products button.slick-next.slick-arrow:before,
    .catalog-product-view .box-up-sell.upsell .products button.slick-next.slick-arrow:before {
        background: url("../images/double-arrow-right.png") no-repeat;
    }

    .catalog-product-view .product .actions-primary.actions-cart .field.qty.clearfix,
    .catalog-product-view .product-items .field.qty.clearfix, .box-product .field.qty.clearfix {
        top: 2px;
    }

}

@media (max-width: 992px) {
    .cms-home .item.product.product-item .product-item-info.per-product {
        height: 327px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        width: 294px !important;
        display: inline-block;
        max-width: 294px;
        height: 389px;
    }
}

@media (max-width: 991px) {
    .cms-home .magicproduct.magiccategory .slick-list.draggable .slick-track {
        height: 330px;
    }

    .cms-home .magicproduct.magiccategory .product-items div.product-item {
        float: left;
    }

    div.a {

    }

    a {
    }

    .cms-home .box-product .fa.fa-minus,
    .cms-home .box-product .fa.fa-plus {
        width: 23px !important;
        height: 23px !important;
        position: relative;
    }

    .cms-home .box-product .fa.fa-plus:before {
        content: "";
        width: 1px !important;
        height: 7px !important;
        position: absolute;
        top: 8px;
        left: 11px;
        background-color: #fff;
    }

    .cms-home .box-product .fa.fa-minus:before,
    .cms-home .box-product .fa.fa-plus:after {
        content: "";
        width: 7px !important;
        height: 1px !important;
        position: absolute;
        top: 11px;
        left: 8px;
        background-color: #fff;
    }

    .cms-home .product-qty .btn-plus, .cms-home .product-qty .btn-minus {
        width: 34px;
    }

}

@media all and (max-width: 768px) {
    .cms-home li.item.product.product-item.product_with_short_description.slick-slide .product-item-info.per-product {
        height: 384px;
    }

    .cms-home .magicproduct.magiccategory .slick-list.draggable .slick-track {
        height: 330px;
    }

    .catalog-product-view .review-ratings ~ .review-content,
    .catalog-product-view .review-ratings ~ .review-details {
        margin-left: 0;
    }

    .catalog-product-view .page-footer {
        margin-top: 0;
    }

    .opc-block-summary {
        padding: 22px 10px;
    }

    .catalog-product-view .product-primary-column {
        width: 100%;
    }

    [class*='attrwrap_getr'] .product-atr-listitem {
        width: 32%;
    }

    .catalog-product-view .fotorama__stage {
        margin: 0 auto;
    }

    ul.wod_roast li {
        width: 19%;
    }

    .attrwrap_kaffee .data.table.additional-attributes ul,
    ul.wod_intensity,
    .wod_intensity {
        width: auto;
        margin: 0 auto;
        position: relative;
        display: block;
        text-align: center;
    }

    .wod_cupsize li {
        margin-left: 0;
    }
}

@media all and (max-width: 767px) {
    .catalog-product-view .share-container .sharethis-inline-share-buttons.st-inline-share-buttons {
        bottom: 0;
        right: 23px;
    }
}

@media all and (max-width: 640px) {
    .cms-home .product-item.product_with_short_description .product-reviews-summary.short {
        right: 5px;
    }

    .cms-home .item.product.product-item .product-item-info.per-product {
        height: 327px;
    }

    .cms-home .magiccategory .box-product .product_with_short_description .product-name {
        padding-left: 0;
        position: relative;
        top: -17px;
        width: 78%;
    }

    .cms-home .products .slick-arrow.slick-prev {
        left: -35px;
    }

    .cms-home .products .slick-arrow.slick-next {
        right: -35px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        height: 294px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide .product-item-info.per-product {
        height: 288px;
    }

    .cms-home .box-product .product_with_short_description .field.qty.clearfix {
        position: relative;
        top: -94px;
        z-index: 1;
        width: 36px;
        height: 90px;
        margin-right: 0;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        width: 184px !important;
    }

    .cms-home .product_with_short_description .product-qty .btn-minus {
        top: -8px;
    }

    .cms-home .product_with_short_description .product-qty .btn-minus {
        top: -7px;
    }

    .cms-home .product_with_short_description .input-text {
        position: relative;
        top: -5px;
        width: 36px !important;
        left: 0;
    }

    .cms-home .product_with_short_description .input-text {
        top: -7px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        max-width: none;
    }

    .cms-home .magicproduct.magiccategory .slick-list.draggable .slick-track {
        height: 330px;
    }

    .cms-home .box-product .product_with_short_description .product.description.product-item-description {
        display: none;
    }

    .cms-home .box-product .product_with_short_description .images-container {
        width: 100%;
    }

    .cms-home .box-product .product_with_short_description .product.photo.product-item-photo {
        float: none;
    }
}

@media all and (max-width: 500px) {
    .catalog-product-view .breadcrumbs {
        display: none;
    }

    [class*='attrwrap_getr'] .product-atr-listitem,
    .catalog-product-view .delivery_wrapper {
        width: 49%;
    }

    .wod_intensity li {
        margin-right: 0;
    }

    .cms-home .box-product .list.items.product-items .slick-slide img {
        max-height: 136px;
        min-height: 136px;
    }

    .catalog-product-view .stock.available,
    .catalog-product-view .product-atr-listitem {
        width: 49%;
    }

    .catalog-product-view .product-info-main .stock.available:before {
        right: -15px;
    }

    .catalog-product-view .price-box.price-final_price {
        text-align: left;
    }

    .catalog-product-view .shop-content-left .product-info-title {
        float: none;
        text-align: center;
    }

    .catalog-product-view .stock.available {
        max-width: 60px;
    }
}

@media all and (max-width: 425px) {

    .catalog-product-view .share-container .sharethis-inline-share-buttons.st-inline-share-buttons {
        right: 28px;
    }

    .cms-home .product-item.product_with_short_description .product-reviews-summary.short {
        right: 5px;
    }

    .cms-home .magicproduct.magiccategory .box-product .slick-prev,
    .cms-home .magicproduct.magiccategory .box-product .slick-next {
        top: 145px !important;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        width: 168px !important;
    }

    .cms-home .products .slick-arrow.slick-prev {
        left: -30px;
    }

    .cms-home .products .slick-arrow.slick-next {
        right: -30px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide .product-item-info.per-product {
        height: 258px;
    }

    .cms-home .magiccategory .action.tocart.primary.button.btn-cart {
        width: 44px;
        height: 44px;
    }

    .cms-home .magiccategory .action.tocart.primary.button.btn-cart span:after {
        width: 42px;
        height: 42px;
        top: 0;
        left: 0;
    }

    .cms-home .box-product .product_with_short_description .field.qty.clearfix {
        margin-right: 0;
    }

    .catalog-product-view .review-ratings ~ .review-content, .catalog-product-view .review-ratings ~ .review-details {
        margin-left: 108px;
        position: relative;
        top: -42px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide .product-item-info.per-product {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .cms-home .products-grid .product-name a {
        font-size: 12px;
    }

    .product-view .product-shop .page-title-wrapper .page-title span.base {
        text-align: left;
    }

    .sharethis-inline-share-buttons.st-inline-share-buttons .st-btn.st-first.st-last {
        top: -5px !important;
        left: 35px !important;
    }

    .catalog-product-view .field.review-field-nickname.required {
        width: 100%;
    }

    /*.cms-home .magicproduct.magiccategory .slick-list.draggable .slick-track {*/
    /*height: 280px;*/
    /*}*/
    .cms-home .magicproduct.magiccategory .box-product {
        border: none;
    }

    .cms-home .content-products .products.wrapper.grid.products-grid .products.list.items.product-items {
        height: 330px;
    }

    .cms-home .product-item-info.per-product {
        height: 300px;
    }

    .cms-home .box-product .product-item .actions-secondary.add-to-links,
    .cms-home .box-product .product_with_short_description .product.photo.product-item-photo {
        float: none;
    }

}

@media all and (max-width: 375px) {
    .wod_cupsize_Kaffee:before {
        bottom: -15px;
        line-height: 12px;
    }

    .cms-home .product-qty .btn-plus, .cms-home .product-qty .btn-minus {
        position: relative;
    }
}

@media all and (max-width: 360px) {
    ul.wod_roast li {
        width: 17%;
    }

    .wod_intensity li {
        margin-right: 0;
    }

    .catalog-product-view .product-view .add-to-cart .qty {
        display: inline-block;
    }

    .catalog-product-view .product-view .add-to-cart button.button {
        position: relative;
        display: inline-block;
        width: auto;
        margin-bottom: 10px;
    }

    .catalog-product-view .control.custom-qty.clearfix {
        margin: 0 auto;
        position: relative;
        display: block;
    }

    .catalog-product-view .delivery_wrapper, .catalog-product-view .stock.available, .catalog-product-view .product-atr-listitem {
        width: 49%;
    }

    [class*='attrwrap_getr'] .product-atr-listitem {
        width: 49%;
        padding-right: 0;
        overflow: hidden;
        text-align: center;
        vertical-align: top;
    }
}

@media all and (max-width: 350px) {
    .wod_cupsize li {
        padding-right: 10px;
        padding-left: 10px;
    }

    .catalog-product-view .attrwrap_kaffee .product-atr-listitem:last-child {
        padding-top: 20px;
    }
}

@media all and (max-width: 320px) {
    .table-checkout-shipping-method thead th {
        font-weight: 600;
        font-size: 12px;
        vertical-align: top;
    }

    .cms-home .box-product .hover-box.clear-both.clearfix {
        height: 47px;
        top: 39px;
    }

    .cms-home .box-product .product_with_short_description .hover-box.clear-both.clearfix {
        position: relative;
        top: 25px;
    }

    .cms-home li.item.product.product-item.product_with_short_description.slick-slide {
        width: 230px !important;
    }

    .cms-home .box-product .product_with_short_description .price-box.price-final_price {
        bottom: -72px;
    }

    .cms-home .price-box.price-final_price {
        bottom: -87px;
    }

    .cms-home .box-product .product_with_short_description .price-box.price-final_price {
        bottom: -72px;
    }

    .cms-home .box-product .list.items.product-items .slick-slide img {
        max-height: 134px;
        min-height: 134px;
        width: 120px;
    }

    .cms-home .magiccategory .box-product .product_with_short_description .action.tocart.primary.button.btn-cart {
        top: -15px;
    }

    .cms-home .magiccategory .box-product .action.tocart.primary.button.btn-cart {
        top: 87px;
    }

    .cms-home .magiccategory .box-product .product_with_short_description .product-name {
        top: 0;
        overflow: visible;
    }
}

/*responsive version END*/