<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<form class="form contact"
      action="<?php /* @escapeNotVerified */
      echo $block->getFormAction(); ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */
      echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>
    <div class="contact-content row">
        <div class="contact-form clearfix">
            <div class="fix-width col-xs-12 col-sm-9 col-md-9">
                <h3 class="page-subheading">
                    <?php echo __('Contact Form') ?></h3>
                <div class="contact_form_wrapper">
                    <fieldset class="fieldset">
                        <div class="wrap-filds">
                            <div class="field name required">
                                <label class="label" for="name"><span><?php /* @escapeNotVerified */
                                        echo __('Name ') ?></span></label>
                                <div class="control">
                                    <input name="name" id="name" title="<?php /* @escapeNotVerified */
                                    echo __('Name ') ?>"
                                           value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>"
                                           class="input-text" type="text" data-validate="{required:true}"/>
                                </div>
                            </div>
                            <div class="field telephone">
                                <label class="label" for="telephone">
                                    <span><?php /* @escapeNotVerified */
                                        echo __('Phone Number ') ?></span></label>
                                <div class="control">
                                    <input name="telephone" id="telephone"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Phone Number ') ?>" value="" class="input-text" type="text"/>
                                </div>
                            </div>
                            <div class="field email required">
                                <label class="label" for="email"><span><?php /* @escapeNotVerified */
                                        echo __('Email') ?></span></label>
                                <div class="control">
                                    <input name="email" id="email" title="<?php /* @escapeNotVerified */
                                    echo __('Email') ?>"
                                           value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>"
                                           class="input-text" type="email"
                                           data-validate="{required:true, 'validate-email':true}"/>
                                </div>
                            </div>

                            <div class="field comment required">
                                <label class="label" for="comment"><span><?php /* @escapeNotVerified */
                                        echo __('Your message') ?></span></label>
                                <div class="control">
                                    <textarea name="comment" id="comment"
                                              title="<?php /* @escapeNotVerified */
                                              echo __('Your message') ?>" class="input-text" cols="5" rows="3"
                                              data-validate="{required:true}"></textarea>
                                </div>
                            </div>
                            <?php echo $block->getChildHtml('form.additional.info'); ?>
                            <div class="actions-toolbar">
                                <div class="primary">
                                    <input type="hidden" name="hideit" id="hideit" value=""/>
                                    <button type="submit" title="<?php /* @escapeNotVerified */
                                    echo __('Submit ') ?>" class="action submit primary">
                                        <span><?php /* @escapeNotVerified */
                                            echo __('Submit ') ?></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="address_data fix-width col-xs-12 col-sm-3 col-md-3">
                <!--                --><?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('block_map_contact')->toHtml(); ?>
                <h3 class="page-subheading"><?php echo __('Anschrift') ?></h3>
                <div class="address_data_wrapper">
                    <p>
                        World of Delight - Genusswelt AG</p>
                    <p> Bahnhofstrasse 28 <br/>6300 Zug
                    </p>
                    <p>E-Mail: kontakt@worldofdelight.ch</p>
                    <p class="tel">Telefon: +41 (0) 41 511 51 00</p>
                    <p>
                        Öffnungszeiten Kundendienst
                    </p>
                    <p>
                        Montag bis Freitag <br/>
                        8.00 bis 12.00 Uhr <br/>
                        13.30 bis 17.00 Uhr
                    </p>
                </div>


            </div>
        </div>
    </div>
</form>
