<?php
$accordion = $this->_sysCfg->accordion;
if (!$accordion['enabled']) {
    return;
}
// drawMainMenu vs DrowMobileMenu
$menuHtml = $this->drawMainMenu(true);
$mobileMenu = $menuHtml['mobile'];
?>
<div class="accordion-container">
    <div class="meanmenu-accordion">
        <h3 class="accor-title"><?php echo __("Categories") ?></h3>
        <ul class="accordion nav-accordion"
            data-alo-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <?php echo $mobileMenu ?>
        </ul>
        <div class="all-cat"><span><?php echo __('All Categories') ?></span><span
                    style="display:none"><?php echo __('Close') ?></span></div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'magiccart/easing', 'magicmenu']);
</script>

