<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->



<!-- End Content -->
</td>
</tr>
<tr>
    <td class="footer">
        <p>{{trans 'If you have any questions or suggestions, please contact us via e-mail: <a href="mailto:%store_email">%store_email</a>.' store_email=$store_email |raw}}
        </p>
        <p class="closing">{{trans "Thank you for your trust! %store_name" store_name=$store.getFrontendName()}}</p>
        <p class="closing">{{trans " World of Delight"}}</p>
    </td>

</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
