<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_aloHelper = $this->helper('Magiccart\Alothemes\Helper\Data');
$om = \Magento\Framework\App\ObjectManager::getInstance();
$manager = $om->get('Magento\Store\Model\StoreManagerInterface');
$storeCode =  $manager->getStore()->getCode();
$currencySeparator = '.';
if($storeCode == 'de') $currencySeparator = ',';
/** @var \Meridian\ProductUpd\Helper\Data $helper */
$helper = $this->helper('Meridian\ProductUpd\Helper\Data');
?>

<div class="mage-magictabs mc-<?php echo $this->getTypeFilter(); ?>">
    <?php if (!$_productCollection->count()): ?>
        <div class="message info empty">
            <div><?php /* @escapeNotVerified */
                echo __('We can\'t find products matching the selection.') ?></div>
        </div>
    <?php else: ?>

    <?php
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <?php
    $config = $this->getWidgetCfg();
    $showCart = $config['cart'];
    $showCompare    = $config['compare'];
    $showWishlist = $config['wishlist'];
    $showReview = $config['review'];
    ?>
        <div class="products wrapper <?php /* @escapeNotVerified */
        echo $viewMode; ?> products-<?php /* @escapeNotVerified */
        echo $viewMode; ?>">
            <?php $iterator = 1; ?>
            <ol class="products list items product-items">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    <?php if (!$_product->getShowDesc()): ?>
                        <?php /* @escapeNotVerified */
                        echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                        <div class="product-item-info per-product" data-container="product-grid">
                            <?php echo $_aloHelper->getLabels($_product); ?>
                            <?php
                            $productImage = $block->getImage($_product, $image);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>

                            <?php if ($showWishlist || $showCompare): ?>
                                <div data-role="add-to-links"
                                     class="actions-secondary add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                        <a href="#"
                                           class="action towishlist"
                                           title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                           aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                           data-post='<?php /* @escapeNotVerified */
                                           echo $block->getAddToWishlistParams($_product); ?>'
                                           data-action="add-to-wishlist"
                                           role="button">
                                            <i class="icon pe-7s-like"></i><?php echo __('Wishlist') ?>
                                        </a>
                                    <?php endif; ?>

                                </div>
                            <?php endif; ?>


                            <?php echo $showReview ? $block->getReviewsSummaryHtml($_product, $templateType,true) : ''; ?>

                            <?php // Product Image ?>
                            <div class="images-container xs-no-p col-lg-12 col-md-12 col-sm-12">
                                <div class="product-hover">
                                    <?php //echo $_aloHelper->getTimer($_product); ?>
                                    <a href="<?php /* @escapeNotVerified */
                                    echo $_product->getProductUrl() ?>" class="product photo product-item-photo"
                                       tabindex="-1">
                                        <?php echo $productImage->toHtml(); ?>
                                    </a>
                                    <!--
                             <div class="link-view">
                                <button type="button" class="quickview <?php echo $_product->getTypeId() ?>"  title="<?php echo $block->escapeHtml(__('Quick View')); ?>" onclick="jQuery.fn.quickview({url:'<?php echo $this->getUrl('alothemes/product/view', array('id' => $_product->getId(), '_type' => 'direct_link', '_secure' => $this->getRequest()->isSecure())) ?>//'});"><span><i class="fa fa-eye icons"></i><?php echo __('Quick View') ?></span>
                                </button>
                             </div>
                             -->
                                </div>
                            </div>
                            <div class="product details product-item-details products-textlink xs-no-p col-lg-12 col-md-12 col-sm-12 clearfix">

                                <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <h2 class="product-name product-item-name">
                                    <a class="product-item-link"
                                       href="<?php /* @escapeNotVerified */
                                       echo $_product->getProductUrl() ?>"
                                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                        <?php /* @escapeNotVerified */
                                        echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>
                                </h2>
                                <div class="product-custom-description"> <?php  echo $_helper->productAttribute($_product, $_product->getInhalt(), 'inhalt'); ?></div>
                                <?php echo $block->getProductPrice($_product); ?>

                            </div>
                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <div class="hover-box clear-both clearfix">


                                    <div class="product actions clearfix"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary actions-cart"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                <?php if ($_product->isSaleable()): ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                                                    <form data-role="tocart-form"
                                                          action="<?php echo $postParams['action']; ?>" method="post">
                                                        <input type="hidden" name="product"
                                                               value="<?php echo $postParams['data']['product']; ?>">
                                                        <input type="hidden"
                                                               name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                                               value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <div class="field qty clearfix">
                                                            <div class="product-qty">
                                                                <div class="control custom-qty">
                                                                    <div class="btn-plus">
                                                                        <button  type="button" class="increase items" onclick="var result = document.getElementById('qty_<?php echo $_product->getId()?>'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                                                                            <i class="fa fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                    <input type="number"
                                                                           name="qty"
                                                                           id="qty_<?php echo $_product->getId()?>"
                                                                           maxlength="12"
                                                                           value="1"
                                                                           title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                                                                           data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                                                    />
                                                                    <div class="btn-minus">
                                                                        <button  type="button" class="reduced items" onclick="var result = document.getElementById('qty_<?php echo $_product->getId()?>'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                                                                            <i class="fa fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <?php echo $block->getBlockHtml('formkey') ?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtml(__('Add to cart')); ?>"
                                                                class="action tocart primary button btn-cart">
													<span><?php echo __('Add to cart') ?>
													</span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <div class="stock available">
                                                            <span><?php /* @escapeNotVerified */
                                                                echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable">
                                                            <span><?php /* @escapeNotVerified */
                                                                echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>

                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
                    <?php else: ?>
                        <?php /* @escapeNotVerified */
                        echo ($iterator++ == 1) ? '<li class="item product product-item product_with_short_description">' : '</li><li class="item product product-item product_with_short_description">' ?>
                        <div class="product-item-info per-product" data-container="product-grid">
                            <?php echo $_aloHelper->getLabels($_product); ?>
                            <?php
                            $productImage = $block->getImage($_product, $image);
                            if ($pos != null) {
                                $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                    . 'top:' . $productImage->getHeight() . 'px;"';
                            }
                            ?>
                            <?php if ($showWishlist || $showCompare): ?>
                                <div data-role="add-to-links"
                                     class="actions-secondary add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                        <a href="#"
                                           class="action towishlist"
                                           title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                           aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                           data-post='<?php /* @escapeNotVerified */
                                           echo $block->getAddToWishlistParams($_product); ?>'
                                           data-action="add-to-wishlist"
                                           role="button">
                                            <i class="icon pe-7s-like"></i><?php echo __('Wishlist') ?>
                                        </a>
                                    <?php endif; ?>

                                    <?php if ($showCompare):
                                        $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                        ?>
                                        <a href="#" class="action tocompare" title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                           aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                           data-post='<?php /* @escapeNotVerified */
                                           echo $compareHelper->getPostDataParams($_product); ?>'
                                           role="button">
                                            <i class="icon pe-7s-repeat"></i><?php echo __('Compare') ?>
                                        </a>
                                    <?php endif; ?>

                                </div>
                            <?php endif; ?>

                            <?php // Product Image ?>
                            <div class="images-container xs-no-p col-lg-12 col-md-12 col-sm-12">
                                <div class="product-hover">
                                    <?php //echo $_aloHelper->getTimer($_product); ?>
                                    <a href="<?php /* @escapeNotVerified */
                                    echo $_product->getProductUrl() ?>" class="product photo product-item-photo"
                                       tabindex="-1">
                                        <?php echo $productImage->toHtml(); ?>
                                    </a>
                                </div>
                            </div>

                            <?php echo $showReview ? $block->getReviewsSummaryHtml($_product, $templateType,true) : ''; ?>
                            <div class="product details product-item-details products-textlink xs-no-p col-lg-12 col-md-12 col-sm-12 clearfix">

                                <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                ?>
                                <h2 class="product-name product-item-name">
                                    <a class="product-item-link"
                                       href="<?php /* @escapeNotVerified */
                                       echo $_product->getProductUrl() ?>"
                                       title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                        <?php /* @escapeNotVerified */
                                        echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                    </a>
                                </h2>
                                <?php echo $block->getProductPrice($_product); ?>
                                <?php /* @escapeNotVerified */ //echo $helper->formatPrice($_product,false,$block->getPriceType()) ?>
                                <div class="product description product-item-description">
                                    <?php /* @escapeNotVerified */
                                    echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                </div>
                            </div>
                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <div class="hover-box clear-both clearfix">
                                    <div class="product actions clearfix"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary actions-cart"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                <?php if ($_product->isSaleable()): ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                                                    <form data-role="tocart-form"

                                                          action="<?php echo $postParams['action']; ?>" method="post">
                                                        <input type="hidden" name="product"
                                                               value="<?php echo $postParams['data']['product']; ?>">
                                                        <input type="hidden"
                                                               name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                                               value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                        <div class="field qty clearfix">
                                                            <div class="product-qty">
                                                                <div class="control custom-qty">
                                                                    <div class="btn-plus">
                                                                        <button  type="button" class="increase items" onclick="var result = document.getElementById('qty_<?php echo $_product->getId()?>'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;">
                                                                            <i class="fa fa-plus"></i>
                                                                        </button>
                                                                    </div>
                                                                    <input type="number"
                                                                           name="qty"
                                                                           id="qty_<?php echo $_product->getId()?>"
                                                                           maxlength="12"
                                                                           value="1"
                                                                           title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                                                                           data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                                                    />
                                                                    <div class="btn-minus">
                                                                        <button  type="button" class="reduced items" onclick="var result = document.getElementById('qty_<?php echo $_product->getId()?>'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;">
                                                                            <i class="fa fa-minus"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <?php echo $block->getBlockHtml('formkey') ?>
                                                        <button type="submit"
                                                                title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                                class="action tocart primary button btn-cart">
													<span><?php echo __('Add to Cart') ?>
													</span>
                                                        </button>
                                                    </form>
                                                <?php else: ?>
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <div class="stock available">
                                                            <span><?php /* @escapeNotVerified */
                                                                echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable">
                                                            <span><?php /* @escapeNotVerified */
                                                                echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>

                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>


                    <?php endif; ?>


                <?php endforeach; ?>
            </ol>
        </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }

        </script>
    <?php endif; ?>
    <?php endif; ?>
</div>
