.checkout-index-index .checkout-payment-method .payment-method-content {
    padding: 0;
}

.checkout-index-index #additional-info-form .actions-toolbar {
    float: right;
}
.checkout-index-index .checkout-agreements-block {
    margin-bottom: 0;
}

.checkout-payment-method .payment-method-content .fieldset:not(:last-child),
.checkout-payment-method .payment-method-billing-address {
    margin: 0;
}

#checkout-payment-method-load .step-title {
    display: none;
}

#checkout-step-login .action-auth-toggle {
    color: #333;
}

#checkout-step-login .action-auth-toggle span {
    font-weight: normal;
}

#step_login .form-actions .secondary button,
#step_login .form-actions .secondary a {
    display: block;
}

#step_login .form-actions .secondary button span,
#step_login .form-actions .secondary a.action span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

#checkout-step-billing .fieldset {
    padding: 0;
    margin: 0;
}

.checkout-index-index .select,
.checkout-index-index .field .control input {
    height: 27px;
    border: 1px solid #757575;
    padding-top: 0;
    padding-bottom: 0;
}

.checkout-index-index .minicart-items-wrapper .minicart-items tr:first-child {
    color: #000;
    font-weight: bold;
    font-size: 19px;
}

.checkout-index-index .minicart-items .product-item:not(:first-child) {
    border-top: 0;
}

.checkout-index-index label[for*='agreement'] {
    line-height: 33px;
    margin-bottom: 0;
}

.checkout-index-index .payment-option-title .choice.field {
    margin-bottom: 0;
}

.checkout-index-index .action.action-edit-address span {
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

.checkout-index-index .action.action-edit-address {
    margin-bottom: 15px;
    background: transparent;
    border: 0;
    display: inline-block;
    color: #757575;
}

.checkout-index-index .action.action-edit-address:hover {
    text-decoration: underline;
}

.checkout-index-index .action.action-edit-address,
.checkout-index-index .choice.field {
    margin-bottom: 15px;
}

.checkout-index-index .choice.field {
    padding: 0;
}

.checkout-index-index .opc-sidebar,
.checkout-index-index .opc-wrapper {
    width: 50%;
}

.checkout-index-index .checkout-payment-method .payment-method-title {
    border: none;
}

.checkout-index-index label.label,
.checkout-index-index .field-tooltip .field-tooltip-action:before {
    color: #000;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.checkout-index-index .payment-method {
    width: 49%;
    float: right;
}

.checkout-index-index .payment-method:nth-child(2n) {
    float: left;
    clear: both;
}

.checkout-index-index .payment-group {
    display: block;
}

.checkout-index-index label[for*='agreement'] .action.action-show span {
    line-height: inherit;
    margin-bottom: 0;
}

.checkout-index-index label[for*='agreement'] .action.action-show {
    border: none;
    background: transparent;
    padding: 0;
    height: 30px;
    margin: 0;
}

.checkout-index-index #billing-new-address-form div.mage-error[generated] {
    position: relative;
    float: left;
}

.checkout-index-index .additional-block .additional-content input[type="checkbox"],
.checkout-index-index .checkout-agreement input {
    margin: 0;
}

.checkout-index-index .minicart-items .product-item-details {
    text-align: right;
    padding-left: 0 !important;
    vertical-align: middle;
}

.checkout-index-index .data.table.table-totals tbody .totals,
.checkout-index-index .data.table.table-totals tbody {
    display: block;
    text-align: right;
}

.checkout-index-index .data.table.table-totals tbody .totals.shipping.excl .mark .value,
.checkout-index-index .data.table.table-totals tbody .totals.shipping.excl .mark .label,
.checkout-index-index .data.table.table-totals tbody .totals.shipping.excl .mark {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}

.checkout-index-index .data.table.table-totals tbody tr.totals {
    padding-top: 0;
}

.checkout-index-index th.mark {
    display: inline-block;
    text-align: right;
}

.checkout-index-index .data.table.table-totals tbody td {
    display: inline-block;
    color: #000;
    font-size: 13px;
}

.checkout-index-index .data.table.table-totals tr td {
    color: #000;
}

.checkout-index-index .data.table.table-totals tr:last-child,
.checkout-index-index .data.table.table-totals tr:last-child td,
.checkout-index-index .data.table.table-totals tr:last-child td span {
    font-weight: bold;
}

.checkout-index-index .data.table.table-totals tr:last-child {
    display: block;
}

.checkout-index-index .data.table.table-totals tr:last-child td {
    display: inline-block;
    color: #000;
}

.checkout-index-index div.mage-error[generated] {
    margin-top: 2px;
}

.checkout-index-index .field-tooltip .field-tooltip-action {
    line-height: 1;
}

.checkout-index-index .opc-wrapper #step_login .form-login {
    margin-top: 0;
    margin-bottom: 0;
}

.checkout-index-index #checkout-step-billing .choice.field {
    margin-bottom: 15px;
}

.checkout-index-index #checkout-step-billing .choice.field {
    margin-top: 0;
}

.checkout-index-index #checkout-step-billing form .actions-toolbar .primary {
    float: right;
    margin-right: 0;
}

.checkout-index-index .opc-wrapper .fieldset > .field > .label[for="customer-email"],
.checkout-index-index #checkout-step-billing,
.checkout-index-index .opc-wrapper .form.form-login .fieldset .field .label[for="customer-email"] {
    padding-top: 0;
}

.checkout-index-index .opc-wrapper .fieldset > .field > .label:after {
    top: 0;
}

.checkout-index-index .minicart-items tr:nth-child(2) td:last-child {
    text-align: center;
}

.checkout-index-index .actions-toolbar .secondary a.action {
    margin-bottom: 13px;
}

.checkout-index-index .minicart-items td {
    vertical-align: middle;
    font-family: 'Avenir Next LT Pro', sans-serif;
}

.checkout-index-index button.action.action-auth-toggle span span:after,
.checkout-index-index a.action.action-auth-toggle span:after {
    content: ">";
    display: inline-block;
    padding-left: 5px;
    font-size: 16px;
    line-height: 0;
    vertical-align: baseline;
}

.checkout-index-index .field .control._with-tooltip input {
    width: 100%;
}

.checkout-index-index .opc-sidebar {
    margin-top: 0;
}

.checkout-index-index .minicart-items .product-item-name {
    margin: 0;
}

.checkout-index-index .opc .step-title,
.checkout-index-index .opc .active .step-title {
    font-size: 18px;
    color: #333;
    font-family: 'Avenir Next LT Pro', sans-serif;
    line-height: 20px;
    max-height: 64px;
}

.checkout-index-index .data.table.table-totals,
.checkout-index-index .block.items-in-cart {
    padding: 0 22px;
}

.checkout-index-index .opc-block-summary .product-item .subtotal {
    color: #000;
}

.checkout-index-index .data.table.table-totals {
    display: block;
    border-top: 1px solid;
    text-align: right;
    margin-bottom: 0;
}

.checkout-index-index .opc-wrapper ol.opc li .step-title:after,
.checkout-index-index .opc-wrapper ol.opc li.active .step-title:after {
    right: 0;
}

.checkout-index-index .actions-toolbar .secondary.forgotpassword {
    width: auto;
    float: left;
    margin: 0;
}

.checkout-index-index .actions-toolbar div.secondary {
    width: 160px;
    text-align: left;
    margin-right: 30px;
}

.checkout-index-index .actions-toolbar div.secondary .action.action-auth-toggle {
    float: left;
}

.checkout-index-index .actions-toolbar .primary .action {
    padding: 0 30px;
}

.checkout-index-index .actions-toolbar > .primary .action,
.checkout-index-index .actions-toolbar .primary .action,
.checkout-index-index #step_login .form-login button {
    background: #f94415;
    color: #fff;
    border-radius: 0;
    border: 0;
}

.checkout-index-index .details-qty {
    text-align: center;
}

.checkout-index-index #newsletter {
    height: 50px;
}

.checkout-index-index #search {
    height: 43px;
}

.checkout-index-index .opc-block-summary > .title {
    padding: 22px;
    border: none;
    background: #f5f5f5;
    position: relative;
    font-size: 18px;
    color: #333;
    font-family: 'Avenir Next LT Pro', sans-serif;
    line-height: 20px;
}

.checkout-index-index .modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide .modal-header {
    display: none;
}

.checkout-index-index .payment-method-content .actions-toolbar {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.checkout-index-index .opc-block-summary {
    background: transparent;
    border: 1px solid #292929;
    padding: 0;
}

.checkout-index-index .opc-wrapper ol.opc li .step-title:after {
    color: #8b8b8b;
}

.checkout-index-index .minicart-items td:last-child {
    float: right;
}

.checkout-index-index .minicart-items td:nth-child(2) {
    text-align: center;
}

.checkout-index-index .minicart-items tr:nth-child(2) td:nth-child(3),
.checkout-index-index .minicart-items tr:first-child td:nth-child(2) {
    position: relative;
    right: 0;
}

.checkout-index-index #checkout-step-billing form.form.form-login {
    display: inline;
}

.checkout-index-index #checkout-step-billing form {
    display: inline-block;
    width: 100%;
}

.checkout-index-index .opc-block-shipping-information {
    padding: 0 22px;
}

.checkout-index-index #checkout-payment-method-load .actions-toolbar .primary .action.primary.checkout.disabled {
    display: none;
}

label[for="billing-use-for-shipping"] span {
    color: #333;
}

.checkout-index-index #password-required-text,
.checkout-index-index #password-strength-meter {
    margin-top: 10px;
}

.checkout-index-index #step_login .form-actions .secondary a.action {
    cursor: pointer;
}

.checkout-index-index #passwordIndicator .actions-toolbar {
    position: absolute;
    right: -24px;
    bottom: -25px;
}

.checkout-index-index .password-confirmation {
    float: right;
}

.checkout-index-index .opc-wrapper .fieldset > .field > .label[for="customer-register-email"]:after {
    top: 9px;
}

.checkout-index-index #password-strength-meter-container {
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 10px;
}

.checkout-index-index #passwordIndicator {
    padding: 0;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

.checkout-index-index #passwordIndicator .field.password-confirmation {
    padding-right: 0;
}

.checkout-index-index #passwordIndicator .field {
    width: 50%;
    padding-right: 10px;
    display: inline-block;
}

.checkout-index-index #checkout-step-registration {
    margin-top: -20px;
}

.checkout-index-index .form.form-registration #passwordIndicator .control span[data-bind="i18n: 'Log in?', visible: showToLoginLink, click: switchToLogin"] {
    display: inline-block;
    cursor: pointer;
    font-family: 'Avenir Next LT Pro', sans-serif;
    line-height: 1;
    padding-left: 2px;
    text-decoration: underline;
    color: #333;
    font-size: 12px;
}

.mage-error#customer-register-email-error {
    display: inline-block;
}

.checkout-index-index .checkout-agreements div.mage-error[generated][for="agreement[1]"] {
    position: relative;
    top: 0;
    margin-top: -8px;
    margin-bottom: 3px;
}

.checkout-index-index #shipping-new-address-form div.field[name="shippingAddress.firstname"] {
    clear: both;
}

.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.company"],
.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.firstname"],
.checkout-index-index #shipping-new-address-form div.field[name="shippingAddress.telephone"],
.checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.telephone"]:nth-child(even),
#checkout-step-billing #billing-new-address-form div.field[name="billingAddressshared.region_id"]:nth-child(even),
#checkout-step-billing #billing-new-address-form div.field[name="billingAddressshared.region_id"],
.checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.postcode"]:nth-child(even),
.checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.postcode"],
.checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.region"] {
    padding-right: 10px;
}

.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.postcode"] div.message.warning {
    display: none;
}

.checkout-index-index #billing-new-address-form div.field[name="billingAddressshared.prefix"] div.mage-error[generated],
.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.prefix"] div.mage-error[generated] {
    float: left;
    position: absolute;
}

.checkout-index-index #shipping-new-address-form div.field[name="shippingAddress.telephone"],
.checkout-index-index #shipping-new-address-form div.field[name="shippingAddress.lastname"],
.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.telephone"],
.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.lastname"],
.checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.city"],
.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.country_id"],
.checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.city"],
.checkout-index-index .checkout-shipping-address div.field[name="billingAddressshared.region_id"],
.checkout-index-index .field.street.admin__control-fields.required,
#checkout-step-billing .billing-address-form div.field[name="billingAddressshared.region_id"],
#checkout-step-billing .billing-address-form div.field:nth-child(even),
.checkout-index-index #checkout-step-billing fieldset.field.street.admin__control-fields,
.checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.telephone"],
.checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.country_id"],
.checkout-index-index #checkout-step-billing .billing-address-form div.field:nth-child(even) {
    padding-right: 0;
}

.checkout-index-index .action.primary.checkout.place-order-button {
    margin-top: 20px;
}

.checkout-index-index .button.action.continue.primary {
    width: 100%;
    max-width: 103px;
    display: block;
}

.checkout-index-index #checkout-step-billing {
    padding-bottom: 20px;
}

.checkout-index-index .opc-block-summary .table-totals .mark .value,
.checkout-index-index .additional-block .additional-content div label,
.checkout-index-index button.action.action-show span,
.checkout-index-index .data.table.table-totals tr td,
.checkout-index-index .data.table.table-totals tr td.amount,
.checkout-index-index .opc-block-summary .table-totals .mark,
.checkout-index-index .opc-block-summary .table-totals .mark .label,
.checkout-index-index .opc-block-summary .minicart-items .subtotal,
.checkout-index-index .minicart-items .details-qty,
.checkout-index-index #step_login .form-actions .secondary button span,
.checkout-index-index #step_login .form-actions .secondary a.action span,
.checkout-index-index .minicart-items .product-item-name,
.checkout-index-index .opc-wrapper .fieldset > .field > .label {
    color: #333;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
    position: relative;
}

.checkout-index-index .data.table.table-totals tr td.amount {
    vertical-align: middle;
}

.checkout-index-index .opc-block-shipping-information .shipping-information-content {
    color: #333;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.checkout-index-index .opc-block-summary .minicart-items .subtotal {
    height: 116px;
    display: block;
    line-height: 116px;
}

.checkout-payment-method .payment-methods .actions-toolbar .primary {
    display: none;
}

.checkout-index-index .opc-wrapper ol.opc li .step-content {
    margin-bottom: 0;
    position: relative;
}

.checkout-index-index #checkout-step-billing .billing-address-form div.field {
    min-height: 0;
}

.checkout-index-index .checkout-shipping-address .actions-toolbar > .primary {
    float: right;
}

.checkout-index-index .form-shipping-address .label:after,
.checkout-index-index #checkoutSteps .billing-address-form .label:after {
    top: 12px !important;
}

.checkout-index-index .action.primary.checkout.place-order-button span,
.checkout-index-index button.action.login.primary span {
    font-family: 'Avenir Next LT Pro', sans-serif;
    line-height: 2;
}

.checkout-index-index .checkout-billing-address .choice.field {
    padding-top: 0;
}

.checkout-index-index .opc-wrapper .checkout-billing-address .form.form-login .fieldset .field .label[for="customer-email"] {
    padding-top: 15px;
}

ol#checkoutSteps li {
    counter-increment: li;
    position: relative;
}

ol#checkoutSteps li:before {
    font-weight: bold;
    padding: 3px 8px 3px 23px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    float: left;
    z-index: 1;
    font-size: 18px;
    color: #333;
    font-family: 'Avenir Next LT Pro', sans-serif;
    line-height: 59px;
    content: counter(li) ".";
}

.checkout-index-index #form-login-fieldset {
    float: left;
    width: 50%;
}

.checkout-index-index #checkout-step-billing .billing-address-form .field[name="billingAddressshared.company"] {
    clear: both;
    display: block;
    float: none;
}

.checkout-index-index fieldset#form-login-fieldset .field.required {
    width: 100%;
}

.checkout-index-index .select,
.checkout-index-index textarea {
    color: #666;
}

.checkout-index-index .action.edit-address-link {
    background: transparent;
    color: #333;
}

.checkout-index-index .opc-wrapper .shipping-address-item:before {
    display: none;
}

.checkout-index-index .opc-wrapper .action-select-shipping-item {
    float: right;
    margin: 20px 0 0;
    background: #f94415;
    color: #fff;
    border-radius: 0;
    border: 0;
    position: absolute;
    bottom: 10px;
    left: 90px;
}

.checkout-onepage-success p,
.checkout-onepage-success p a strong {
    color: #000;
}

.checkout-onepage-success p a strong {
    font-weight: bold;
}

.checkout-onepage-success button.action.primary.continue,
.checkout-index-index button.action {
    background: #f94415;
    color: #fff;
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.checkout-index-index .action.action-auth-toggle.continue.secondary {
    background: transparent;
}

.checkout-index-index .opc-wrapper .shipping-address-item:before {
    display: none;
}

.checkout-index-index #checkout-step-shipping .field.addresses {
    width: 100%;
}

.checkout-index-index .opc-wrapper .shipping-address-item {
    box-sizing: border-box;
    float: left;
    min-height: 350px;
    max-height: 350px;
    padding-bottom: 50px;
}

.checkout-index-index .opc-wrapper .shipping-address-item .address-text {

    max-height: 300px;
    overflow: hidden;
}

.checkout-index-index .action.edit-address-link {
    color: #333;
    background: transparent;
    text-decoration: underline;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0;
}

.checkout-index-index .save-address-container{
    text-align: right;
    clear: both;
    padding-top: 20px;
}

.checkout-index-index .save-address-container button{
    margin-bottom: 0;
}

.checkout-index-index #checkout-step-billing .choice.field {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 0;
    clear: both;
}

.checkout-index-index .opc-block-summary .minicart-items-wrapper {
    padding-top: 0;
}

.checkout-index-index .opc-wrapper ol.opc li .step-content .actions-toolbar .action.login.primary {
    float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.shipping-cms-blocks-container p {
    margin-bottom: 0;
}

#checkout-step-shipping_method {
    padding-top: 0;
}

.checkout-shipping-address div.field,
#checkout-step-billing .billing-address-form div.field {
    width: 50%;
    float: left;
    padding-right: 10px;
    min-height: 80px;
}

.checkout-shipping-address div.field[name="shippingAddress.prefix"] {
    clear: both;
    padding-right: 10px;
}

.checkout-shipping-address fieldset.field,
#checkout-step-billing .billing-address-form fieldset.field {
    width: 100%;
    padding-right: 10px;
}

.checkout-shipping-address fieldset.field div.field,
#checkout-step-billing .billing-address-form fieldset.field div.field {
    width: 100%;
    min-height: 0;
    padding: 0;
}

#checkoutSteps .fieldset .field._required > .label:after,
#checkoutSteps .fieldset .field.required > .label:after {
    content: '*';
    color: #333;
    font-size: 1.5em;
    margin: 0 0 0 5px;
    position: absolute;
}

.payment-option._collapsible.opc-payment-additional.comment span {
    color: #333;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 16px;
}

.checkout-index-index .opc-block-shipping-information .shipping-information-title {
    color: #000;
}

.checkout-index-index textarea {
    color: #333;
    border: 1px solid #292929;
}

.opc-wrapper ol.opc > li {
    border: 1px solid #292929;
    margin-bottom: 20px;
    color: #000;
}

.opc-wrapper ol.opc li .step-title {
    padding: 22px;
    border: none;
    background: #f5f5f5;
    position: relative;
}

.opc-wrapper ol.opc li .step-title:after {
    content: '\e622';
    position: absolute;
    right: 22px;
    top: calc(50% - 8px);
    font-size: 70px;
    line-height: 16px;
    height: 16px;
    color: #333333;
    font-family: 'icons-blank-theme', sans-serif;
    display: inline-block;
    text-align: center;
}

.opc-wrapper ol.opc li.active .step-title:after {
    content: '\e621';
}

.opc-wrapper ol.opc li .step-content {
    padding: 22px 22px 30px;
}

.opc .step-title {
    cursor: pointer;
}

.opc .step-title .step-edit {
    float: right;
    font-weight: normal;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}

ul.opc-progress-bar {
    display: none;
}

/*responsive styles*/
@media all and (min-width: 768px) {
    .opc-wrapper #step_login .form-login {
        width: 50%;
        float: left;
    }
}

@media all and (max-width: 1440px) {
    .additional-block label[for="checkout-newsletter"] {
        width: 90%;
        vertical-align: middle;
    }
}

@media all and (max-width: 1024px) {
    .checkout-index-index .minicart-items td:nth-child(2) {
        text-align: left;
    }

    .opc-wrapper .shipping-address-item {
        width: 50%;
    }

    .checkout-index-index .opc-wrapper .action-select-shipping-item {
        position: relative;
    }

    .checkout-index-index label[for*="checkout-createAccount"],
    .checkout-index-index label[for*="checkout-newsletter"],
    .checkout-index-index label[for*='agreement'] {
        line-height: 31px;
        width: 90%;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item {
        min-height: unset;
        max-height: unset;
    }

    .checkout-index-index .opc-wrapper .action-select-shipping-item {
        right: 25px;
    }
}

@media all and (max-width: 992px) {
    .checkout-index-index .actions-toolbar div.secondary {
        width: 160px;
        text-align: left;
        margin-right: 0;
    }

    .checkout-index-index .opc-wrapper .action-select-shipping-item {
        max-width: 116px;
    }

    .opc-wrapper .shipping-address-item {
        width: 100%;
    }
}

@media all and (max-width: 1024px) and (min-width: 769px) {

    .checkout-index-index .opc-wrapper .action-select-shipping-item{
        position: absolute;
        left: auto;
    }

    .checkout-index-index .shipping-address-item .action.action-select-shipping-item{
        max-width: 130px;
    }

    .checkout-index-index  #checkout-step-billing .billing-address-form  div.field.address-checkbox-container{
        width: 100%;
    }

    .checkout-index-index #checkout-step-billing .choice.field{
        margin-bottom: 10px;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item{
        width: 100%;
    }

    .checkout-index-index .payment-method{
        width: 100%;
    }

    .checkout-index-index .opc-block-summary .minicart-items-wrapper .minicart-items tr:first-child{
        font-size: 16px;
    }

    .checkout-index-index .opc-block-summary .minicart-items-wrapper .minicart-items td:first-child{
        padding-left: 0;
    }
    .checkout-index-index .opc-block-summary .minicart-items-wrapper .minicart-items td:last-child{
        float: none;
        padding-right: 0;
    }
    .checkout-index-index .opc-block-summary .minicart-items-wrapper .minicart-items .product-item,
    .checkout-index-index .opc-block-summary .minicart-items-wrapper .minicart-items .product-item td,
    .checkout-index-index .opc-block-summary .minicart-items-wrapper .minicart-items .product-item td:first-child{
        padding: 0;
    }
    .checkout-index-index .opc-block-summary .minicart-items-wrapper .minicart-items .product-item td:first-child img{
        display: none;
    }

    .checkout-index-index .opc-block-summary .minicart-items .product-item-details{
        padding-right: 10px;
    }
    .checkout-index-index .opc-block-summary .minicart-items .subtotal{
        height: auto;
        line-height: normal;
    }

    .checkout-index-index #additional-info-form > div{
        margin-bottom: 10px;
    }

    .checkout-index-index #additional-info-form button.action.action-show span,
    .checkout-index-index #additional-info-form label[for*="checkout-newsletter"],
    .checkout-index-index #additional-info-form label[for*="checkout-createAccount"]{
        font-size: 14px;
        line-height: 1.5;
    }

    .checkout-index-index .opc-wrapper #step_login .form-login{
        width: 80%;
    }

    .checkout-index-index #checkout-step-login{
        padding-bottom: 0;
    }
    .checkout-index-index #password-strength-meter-container{
        width: 100%;
        margin-bottom: 40px;
    }

    .checkout-index-index #checkout-step-shipping{
        padding-top: 0;
    }
    .checkout-index-index .actions-toolbar > div.secondary{
        float: none;
        margin-top: 10px;
    }
    .checkout-index-index .actions-toolbar > div.secondary a{
        clear: both;
    }

}

@media all and (max-width: 768px) {
    .checkout-index-index main#maincontent {
        top: 0;
        position: relative;
    }

    .checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.prefix"] {
        padding-right: 0;
    }

    .checkout-index-index .opc-block-summary .table-totals .mark .value, .checkout-index-index .additional-block .additional-content div label, .checkout-index-index button.action.action-show span, .checkout-index-index .data.table.table-totals tr td, .checkout-index-index .data.table.table-totals tr td.amount, .checkout-index-index .opc-block-summary .table-totals .mark, .checkout-index-index .opc-block-summary .table-totals .mark .label, .checkout-index-index .opc-block-summary .minicart-items .subtotal, .checkout-index-index .minicart-items .details-qty, .checkout-index-index #step_login .form-actions .secondary button span, .checkout-index-index #step_login .form-actions .secondary a.action span, .checkout-index-index .minicart-items .product-item-name, .checkout-index-index .opc-wrapper .fieldset > .field > .label {
        font-size: 15px;
    }

    .checkout-index-index .actions-toolbar div.secondary {
        width: 160px;
        text-align: left;
        margin-right: 0;
    }

    .checkout-index-index #step_login .form-actions .secondary a.action {
        margin-bottom: 0;
    }

    .checkout-index-index .minicart-items .product-item-name,
    .checkout-index-index .minicart-items-wrapper .minicart-items tr:first-child {
        font-size: 14px;
    }

    .checkout-index-index .opc-block-shipping-information {
        padding: 0;
    }

    .checkout-index-index .additional-block .additional-content div label {
        line-height: 1.2;
    }

    .checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.company"], .checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.firstname"], .checkout-index-index #shipping-new-address-form div.field[name="shippingAddress.telephone"], .checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.telephone"]:nth-child(even), #checkout-step-billing #billing-new-address-form div.field[name="billingAddressshared.region_id"]:nth-child(even), #checkout-step-billing #billing-new-address-form div.field[name="billingAddressshared.region_id"], .checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.postcode"]:nth-child(even), .checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.postcode"], .checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.region"] {
        padding-right: 0;
    }

    .checkout-index-index .minicart-items td:last-child {
        float: none;
    }

    .checkout-index-index #checkout-step-billing form {
        display: inline-block;
        width: 100%;
        /*margin-top: 20px;*/
    }

    .checkout-index-index .button.action.continue.primary {
        max-width: 92px;
    }

    .checkout-index-index .form.methods-shipping .button.action.continue.primary {
        display: inline-block;
        margin-bottom: 0;
    }

    .checkout-index-index .form.methods-shipping .actions-toolbar div.primary{
        text-align: right;
    }

    .checkout-index-index #checkout-step-shipping_method{
        padding-bottom: 20px;
    }

    .checkout-shipping-address div.field, #checkout-step-billing .billing-address-form div.field {
        width: 100%;
        padding-right: 0;
    }

    #checkout-step-billing #billing-new-address-form div.field[name="billingAddressshared.region_id"] {
        padding-right: 0;
    }

    .checkout-index-index #form-login-fieldset {
        width: 100%;
    }

    .table-checkout-shipping-method,
    .checkout-index-index .payment-method,
    .checkout-index-index .actions-toolbar div.secondary {
        width: 100%;
        float: none;
    }


    .checkout-index-index label[for="checkout-newsletter"] {
        display: inline-block;
        width: 90%;
        vertical-align: top;
    }

    .checkout-index-index label[for="checkout-newsletter"],
    .checkout-index-index #checkout-newsletter {
        display: inline-block;
    }

    .checkout-index-index .opc-wrapper #step_login .form-login {
        width: 100%;
        float: none;
    }

    .checkout-index-index .checkout-shipping-address div.field[name="shippingAddress.region_id"],
    .checkout-index-index #checkout-step-billing .billing-address-form div.field[name="billingAddressshared.region"] {
        padding-right: 0;
    }

    .checkout-index-index #password-strength-meter-container {
        display: inline-block;
        width: 100%;
        float: none;
        padding-right: 0;
    }

    .checkout-index-index #passwordIndicator .field {
        width: 100%;
        padding-right: 0;
    }

    .checkout-index-index #password-required-text,
    .checkout-index-index #password-strength-meter {
        font-size: 13px;
    }

    .checkout-index-index #password-required-text {
        margin-top: 0;
        margin-bottom: 35px;
    }

    .checkout-index-index .opc-sidebar{
        position: relative;
        left: 0;
    }

    .checkout-index-index .modal-inner-wrap{
        transform: translateX(0);
        visibility: visible;
        box-shadow: none;
    }

     body.checkout-index-index._has-modal-custom .modal-custom-overlay{
        background: none;
        display: none;
    }

    .checkout-index-index .opc-estimated-wrapper{
        padding-left: 0;
        padding-right: 0;
    }
    .checkout-index-index .opc-estimated-wrapper .estimated-block{
        float: none;
    }
    .checkout-index-index .opc-estimated-wrapper .estimated-block .estimated-label{
        float: left;
    }

    .checkout-index-index .opc-estimated-wrapper .estimated-block .estimated-price{
        float: right;
    }

    .checkout-index-index .minicart-items td:nth-child(2){
        text-align: center;
    }
    .checkout-index-index .minicart-items td:last-child{
        text-align:right;
    }

    .checkout-index-index .checkout-shipping-address div.field{
        float: none;
    }

    .checkout-index-index .checkout-shipping-address div.actions-toolbar{
        height: 50px;
        padding-top: 20px;
    }
    .checkout-index-index .checkout-billing-address button.action,
    .checkout-index-index .checkout-shipping-address button.action{
        margin-bottom: 0;
    }

    .checkout-index-index .checkout-payment-method .opc-payment{
        padding-left: 20px;
    }
    .checkout-index-index #checkout-step-login .actions-toolbar{
        margin-top: 20px;
    }
    .checkout-index-index #checkout-step-login button.action{
        margin-bottom: 0;
    }

    .checkout-index-index .opc-wrapper ol.opc li .step-content .form-registration .actions-toolbar .action.login.primary {
        bottom: 0;
    }

    .checkout-index-index #checkout-step-billing form .actions-toolbar .primary{
        margin-top: 15px;
        margin-bottom: 0;
    }
    .checkout-index-index .checkout-shipping-address div.field{
        min-height: 0;
    }
    .checkout-index-index #checkout-step-shipping{
        padding-top: 0;
    }



    .checkout-index-index .opc-wrapper .edit-address-link:before{
        display: none;
    }
    .checkout-index-index .opc-wrapper .edit-address-link{
        top: auto;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item.selected-item .action-select-shipping-item{
        display: inline-block;
    }

    .checkout-index-index .opc-wrapper .edit-address-link > span{
        border-radius: 3px;
        display: block;
        font-size: 13px;
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        width: auto;
        height: auto;
        position: static;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item{
        padding: 20px 35px 90px 20px;
        min-height: 350px;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item{
        width: 50%;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item.not-selected-item{
        border-bottom: 2px solid transparent;
    }

    .checkout-index-index .shipping-address-item .action.action-select-shipping-item{
        padding: 0;
    }

    .checkout-index-index .opc-wrapper .action-select-shipping-item{
        position: absolute;
        left: auto;
    }


}

@media all and (max-width: 767px) {
    .checkout-index-index .opc-sidebar, .checkout-index-index .opc-wrapper {
        width: 100%;
    }

    .checkout-index-index textarea {
        max-width: 90%;
    }

    .payment-option._collapsible.opc-payment-additional.comment span {
        font-size: 12px;
    }

    .checkout-index-index .opc-block-shipping-information {
        width: 100%;
        display: block;
    }

    .checkout-index-index .actions-toolbar div.secondary .action.action-auth-toggle {
        float: none;
        margin-bottom: 0;
    }
}

@media all and (max-width: 600px) {
    .checkout-index-index .opc-wrapper .shipping-address-item{
        padding-bottom: 100px;
    }

    .checkout-index-index .shipping-address-item.not-selected-item .action.edit-address-link{
        bottom: 60px;
    }
}

@media all and (max-width: 425px) {
    .checkout-index-index .payment-method {
        display: inline-block;
        width: 100%;
        padding-left: 10px;
    }

    .checkout-shipping-address div.field[name="shippingAddress.prefix"] {
        clear: both;
        padding-right: 0;
    }

    .checkout-index-index #passwordIndicator .field {
        width: 100%;
        padding-right: 0;
        display: inline-block;
    }

    .checkout-index-index #password-required-text {
        margin-bottom: 50px;
    }

    .checkout-index-index .form-actions .actions-toolbar {
        margin-top: 20px;
    }

    .checkout-index-index #form-login-fieldset,
    .checkout-shipping-address div.field, #checkout-step-billing .billing-address-form div.field {
        width: 100%;
        float: none;
    }

    .checkout-index-index .column.main .block:last-child {
        margin-bottom: 20px;
    }

    /*.checkout-index-index .checkout-shipping-address .actions-toolbar > .primary {*/
        /*float: none;*/
    /*}*/

    .checkout-index-index .opc-block-summary .minicart-items-wrapper {
        margin: 0;
    }

    .checkout-index-index .checkout-index-index .opc-block-summary {
        width: 90%;
    }

    .checkout-index-index #password-strength-meter-container {
        display: inline-block;
        width: 100%;
        float: none;
        padding-right: 0;
    }

    .checkout-index-index #form-login-fieldset,
    .checkout-shipping-address div.field,
    #checkout-step-billing .billing-address-form div.field {
        text-align: left;
        clear: both;
    }

    .checkout-index-index .opc-sidebar .minicart-items-wrapper{
        padding: 0;
    }

    .checkout-index-index .opc-sidebar .minicart-items  td:last-child,
    .checkout-index-index .opc-sidebar .minicart-items  td:first-child{
        padding-left: 0;
        padding-right: 0;
    }
    .checkout-index-index .opc-sidebar .minicart-items .product-item td:first-child .product-image-wrapper{
        display: none;
    }

    .checkout-index-index label[for*='agreement'] .action.action-show{
        height: auto;
        line-height: normal;
        text-align: left;
    }
    .checkout-index-index label[for*='agreement'] .action.action-show span{
        white-space: normal;
        text-align: left;
    }

    .checkout-index-index .checkout-agreement{
        margin-bottom: 10px;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item{
        width: 100%;
    }

    .checkout-index-index .opc-wrapper .shipping-address-item{
        padding-bottom: 90px;
    }


    .checkout-index-index .shipping-address-item.not-selected-item .action.edit-address-link{
        bottom: 10px;
    }
}

@media all and (max-width: 375px) {
    .checkout-index-index .opc-block-shipping-information {
        box-sizing: border-box;
        overflow: visible;
    }

    .checkout-index-index #checkout-step-login .actions-toolbar {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .checkout-index-index .opc-estimated-wrapper{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .opc-estimated-wrapper .estimated-block .estimated-label,
    .opc-estimated-wrapper .estimated-block .estimated-price{
        font-size: 14px;
    }

    .checkout-index-index .payment-method-content table td{
        display: block;
    }

    .checkout-index-index .shipping-address-item.not-selected-item .action.edit-address-link{
        bottom: 60px;
    }

    .checkout-index-index .minicart-items-wrapper .minicart-items tr:first-child td:last-child span{
        display: none;
    }
}

@media all and (max-width: 320px) {
    .checkout-index-index .form-actions .actions-toolbar {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    label[for="billing-use-for-shipping"] span {
        font-size: 14px;
    }
}
/*responsive styles END*/