<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();
?>
<p class="warning_wishlist"><?php echo __("You once marked these products to keep them in your memory.")?></p>
<div class="products-grid wishlist">
    <?php $iterator = 1; ?>
    <?php if (count($block->getItems())): ?>
    <table class="product-items">
        <thead>
        <tr>
            <th></th>
            <th><?php echo __('Article-Nr.') ?></th>
            <th><?php echo __('Quantity') ?></th>
            <th><?php echo __('Subtotal') ?></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <?php foreach ($block->getItems() as $item): ?>
        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<tr data-row="product-item" class="product-item" id="item_' . $item->getId() . '">' : '</tr><tr class="product-item" id="item_' . $item->getId() . '">' ?>
            <?php foreach ($columns as $column): ?>
                <td><?php $column->setItem($item); echo $column->toHtml($item);?></td>
            <?php endforeach; ?>
        <?php echo($iterator == count($block->getItems())+1) ? '</tr>' : '' ?>
        <?php endforeach; ?>
    </table>
    <?php else: ?>
        <div class="message info empty">
            <span><?php /* @escapeNotVerified */ echo __('This Wish List has no Items');?></span>
        </div>
    <?php endif; ?>
</div>

<?php foreach ($columns as $column): ?>
    <?php echo $column->getAdditionalHtml();?>
<?php endforeach; ?>
