<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Review\Block\Form
 */
?>
<div class="block review-add">
    <div class="block-title"><strong>
       <?php /* @escapeNotVerified */   echo __('Write Your Own Review') ?></strong></div>
    <div class="block-content">
        <?php if ($block->getAllowWriteReviewFlag()): ?>
            <form action="<?php /* @escapeNotVerified */
            echo $block->getAction() ?>" class="review-form" method="post" id="review-form"
                  data-role="product-review-form" data-bind="scope: 'review-form'" onSubmit="return validateRecaptcha()">
                <?php echo $block->getBlockHtml('formkey'); ?>
                <?php echo $block->getChildHtml('form_fields_before') ?>
                <fieldset class="fieldset review-fieldset" data-hasrequired="<?php __('* Required Fields'); ?>">
                    <br/>
                    <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
                        <span id="input-message-box"></span>
                        <fieldset class="field required review-field-ratings">
                            <legend class="label"><span><?php /* @escapeNotVerified */
                                    echo __('Rate this product') ?><span></legend>
                            <br/>
                            <div class="control">
                                <div class="nested" id="product-review-table">
                                    <?php foreach ($block->getRatings() as $_rating): ?>
                                        <div class="field choice review-field-rating">
                                            <label class="label"
                                                   id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label">
                                                <span><?php echo __($block->escapeHtml($_rating->getRatingCode())) ?></span>
                                            </label>
                                            <div class="control review-control-vote">
                                                <?php $options = $_rating->getOptions(); ?>
                                                <?php $iterator = 1;
                                                foreach ($options as $_option): ?>
                                                    <input
                                                            type="radio"
                                                            name="ratings[<?php /* @escapeNotVerified */
                                                            echo $_rating->getId() ?>]"
                                                            id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */
                                                            echo $_option->getValue() ?>"
                                                            value="<?php /* @escapeNotVerified */
                                                            echo $_option->getId() ?>"
                                                            class="radio"
                                                            data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                                            aria-labelledby="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label <?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */
                                                            echo $_option->getValue() ?>_label"/>
                                                    <label
                                                            class="rating-<?php /* @escapeNotVerified */
                                                            echo $iterator; ?>"
                                                            for="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */
                                                            echo $_option->getValue() ?>"
                                                            title="<?php /* @escapeNotVerified */
                                                            echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?>"
                                                            id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */
                                                            echo $_option->getValue() ?>_label">
                                                        <span><?php /* @escapeNotVerified */
                                                            echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?></span>
                                                    </label>
                                                    <?php $iterator++; ?>
                                                <?php endforeach; ?>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                                <input type="hidden" name="validate_rating" class="validate-rating" value=""/>
                            </div>
                        </fieldset>
                    <?php endif ?>
                    <div class="field review-field-nickname required">
                        <label for="nickname_field" class="label"><span><?php /* @escapeNotVerified */
                                echo __('Name') ?></span></label>
                        <div class="control">
                            <input type="text" name="nickname" id="nickname_field" class="input-text"
                                   data-validate="{required:true}" data-bind="value: nickname()"/>
                        </div>
                    </div>
                    <div class="field review-field-text required">
                        <label for="review_field" class="label"><span><?php /* @escapeNotVerified */
                                echo __('Review') ?></span></label>
                        <div class="control">
                            <textarea name="detail" id="review_field" cols="5" rows="3" data-validate="{required:true}"
                                      data-bind="value: review().detail"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="title" id="summary_field" class="input-text" value="Summary"/>
                </fieldset>
                <?php echo $block->getChildHtml('form.additional.info') ?>
                <div class="actions-toolbar review-form-actions">
                    <div class="primary actions-primary">
                        <button type="submit" class="action submit primary"><span><?php /* @escapeNotVerified */
                                echo __('Submit Review') ?></span></button>
                    </div>
                </div>
            </form>
            <script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */
                echo $block->getJsLayout(); ?>
    },
    "#review-form": {
        "Magento_Review/js/error-placement": {}
    }
}


            </script>
            <?php
            /** @var \Meridian\ReCaptcha\Helper $helperMeridianRecaptcha */
            $helperMeridianRecaptcha = $this->helper('Meridian\ReCaptcha\Helper\Data');
            if($helperMeridianRecaptcha->isEnabled()):
            ?>
            <script type="text/javascript">
                function validateRecaptcha() {
                    if (grecaptcha.getResponse() != "") {
                        jQuery('.recaptcha-error').removeClass('mage-error').first().hide().html('');
                        return true;
                    } else {
                        jQuery('.recaptcha-error').removeClass('mage-error').first().show().html("<?php echo __('Please Fill Recaptcha To Continue'); ?>");
                        return false;
                    }
                }
            </script>
            <?php endif; ?>
        <?php else: ?>
            <div class="message info notlogged" id="review-form">
                <div>
                    <?php /* @escapeNotVerified */
                    echo __('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()) ?>
                </div>
            </div>
        <?php endif ?>
        <script>
            require(['jquery', 'jquery/jquery-storageapi'], function($) {
                var storage = $.initNamespaceStorage('mage-cache-storage').localStorage;
                storage.removeAll();
                $(document).ready(function() {
                    if($('.messages .success').length > 1){
                        $('.messages .success').hide();
                        $('.messages .success').last().show();
                        $('.messages .success').each(function (indx) {
                            if(indx != $('.messages .success').last()){
                                $(this).detach();
                            }
                        })
                    }
                });
            });


        </script>
    </div>
</div>
