<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php $idMarken = $block->getRequest()->getParam('idmarken');?>
<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?php /* @escapeNotVerified */ echo __('Sort By') ?></label>
    <select id="sorter" class="sorter-options">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <?php $asc = $this->getUrl('*/*/*', ['_use_rewrite' => true, '_forced_secure' => true, '_query' => ['product_list_order' => $_key,'product_list_dir'=>'asc','idmarken'=>$idMarken] ]);
            $desc = $this->getUrl('*/*/*', ['_use_rewrite' => true, '_forced_secure' => true, '_query' => ['product_list_order' => $_key,'product_list_dir'=>'desc','idmarken'=>$idMarken] ]);
            $nameAsc = $_order;
            $nameDesc = $_order;
            if($_key == 'name') {
                $nameAsc = $_order.' from A to Z';
                $nameDesc = $_order.' from Z to A';
            } elseif($_key == 'price') {
                $nameAsc = $_order.' low to high';
                $nameDesc = $_order.' high to low';
            } elseif($_key == 'position') {
                $nameAsc = 'Relevance';
                $nameDesc = 'Relevance';
            }
            ?>
            <option value="<?php /* @escapeNotVerified */ echo $asc; ?>"
                <?php if ($block->isOrderCurrent($_key) && ($block->getCurrentDirection() == 'asc')): ?>
                    selected="selected"
                <?php endif; ?>
                >
                <?php echo $block->escapeHtml(__($nameAsc)) ?>
            </option>
            <option value="<?php /* @escapeNotVerified */ echo $desc; ?>"
                <?php if ($block->isOrderCurrent($_key) && ($block->getCurrentDirection() == 'desc')): ?>
                    selected="selected"
                <?php endif; ?>
            >
                <?php echo $block->escapeHtml(__($nameDesc)) ?>
            </option>
        <?php endforeach; ?>
    </select>
    <script type="text/javascript">
        require([
            'jquery'
        ], function($){
            $('#sorter').on('change',function () {
                window.location.href = $(this).val();
            });
        });
    </script>

</div>
