<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Language switcher template
 */
?>

<?php if (count($block->getStores()) > 1): ?>
    <?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
    <div class="top-form-language">
        <div class="switcher language switcher-language" data-ui-id="language-switcher"
             id="switcher-language<?php /* @escapeNotVerified */
             echo $id ?>">
            <strong class="label switcher-label"><span><?php /* @escapeNotVerified */
                    echo __('Language') ?></span></strong>
            <div class="actions options switcher-options">
                <ul class="language_wrap">
                    <?php foreach ($block->getStores() as $_lang): ?>

                        <li class="view-<?php echo $block->escapeHtml($_lang->getCode()); ?> switcher-option">
                            <?php if ($_lang->getId() == $block->getCurrentStoreId()): ?>
                                <strong class="view-<?php echo $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                                    <span><?php echo $block->escapeHtml(__($block->getStoreName())) ?></span>
                                </strong>
                            <?php else: ?>
                                <a href="#" data-post='<?php /* @escapeNotVerified */
                                echo $block->getTargetStorePostData($_lang); ?>'>
                                    <?php echo $block->escapeHtml(__($_lang->getName())) ?></a>
                            <?php endif; ?>
                        </li>

                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>
