Hello password/reset.phtml

<div class="pp-buttons-container">
    <button id="<?php echo $block->getId() ?>" onclick="return false;">
        <span>
            <span>
                <span><?php echo __('Reset Password'); ?>
                </span>
            </span>
        </span>
    </button>
</div>