<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Edit $block */
?>
<form class="form form-edit-account" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" autocomplete="off">
    <?php echo $block->getBlockHtml('formkey')?>
    <div class="block block-personal-data">
        <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Personal Information') ?></strong></div>
        <div class="block-content">
            <fieldset class="fieldset info">
                <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>
                <div style="clear: both"></div>
                <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
                <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
                <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
                <?php $_company = $block->getLayout()->createBlock('Meridian\Wod\Block\Magento\Customer\Widget\Company') ?>
                <?php $_titel = $block->getLayout()->createBlock('Meridian\Wod\Block\Magento\Customer\Widget\Titel') ?>
                <?php
                $customAttr = $block->getCustomer()->getCustomAttributes();
                $wod_company = $wod_titel = null;
                if(count($customAttr)){
                    foreach ($customAttr as $code => $attr){
                        if($code == 'wod_company'){
                            $wod_company = $attr->getValue();
                        } elseif ($code == 'wod_titel'){
                            $wod_titel = $attr->getValue();
                        }
                    }
                }
                ?>
                <?php if ($_taxvat->isEnabled()): ?>
                    <?php echo $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
                <?php endif ?>
                <?php if ($_gender->isEnabled()): ?>
                    <?php echo $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
                <?php endif ?>
            </fieldset>

            <fieldset class="fieldset other_info">
                <legend class="legend" style="display: none"><span data-title="change-email"><?php /* @escapeNotVerified */ echo __('Change Email') ?></span></legend><br>
                <div class="field email required">
                    <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                    <div class="control">
                        <input type="email" name="email" id="email" autocomplete="email" data-input="change-email2" value="<?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" />
                    </div>
                </div>


                <?php if ($_dob->isEnabled()): ?>
                    <?php echo $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
                <?php endif ?>

               <?php if ($_company->isEnabled()): ?>
                    <?php echo $_company->setData('wod_company', $wod_company)->toHtml() ?>
                <?php endif ?>
                <?php if ($_titel->isEnabled()): ?>
                    <?php echo $_titel->setData('wod_titel', $wod_titel)->toHtml() ?>
                <?php endif ?>
                <?php echo $block->getChildHtml('form_additional_info'); ?>

            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action save primary" title="<?php /* @escapeNotVerified */ echo __('Save changes') ?>"><span><?php /* @escapeNotVerified */ echo __('Save changes') ?></span></button>
                </div>

            </div>
        </div>
    </div>
</form>
<form class="form form-edit-account" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-password" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" autocomplete="off">
    <?php echo $block->getBlockHtml('formkey')?>
    <div class="block block-passport-edit">
        <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?php  echo __('Change Password') ?>" checked="checked" class="checkbox" hidden/>
        <div class="block-title"><strong><span data-title="change-email-password"><?php /* @escapeNotVerified */ echo __('Change Password') ?></span></strong></div>
        <div class="block-content">
            <fieldset class="fieldset fieldset-password">
                <div class="field password current required">
                    <label class="label" for="current-password"><span><?php /* @escapeNotVerified */ echo __('Old password') ?></span></label>
                    <div class="control">
                        <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password2" autocomplete="off" data-validate="{required:true}" />
                    </div>
                </div>
                <div class="field new password required" data-container="new-password2" data-mage-init='{"passwordStrengthIndicator": {}}'>
                    <label class="label" for="password"><span><?php /* @escapeNotVerified */ echo __('New password') ?></span></label>
                    <div class="control">
                        <input type="password" class="input-text" name="password" id="password"
                               data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                               data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                               data-input="new-password2"
                               data-validate="{required:true, 'validate-customer-password':true}"
                               autocomplete="off" />
                        <div id="password-strength-meter-container" data-role="password-strength-meter" >
                            <div id="password-strength-meter" class="password-strength-meter">
                                <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                                <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <div class="field field-hidden">
                    <label class="label" for="">&nbsp;</label>
                    <div class="control"><input type="text" class="input-text" disabled/></div>
                </div>
                <div class="field confirm password required" data-container="confirm-password2">
                    <label class="label" for="password-confirmation"><span><?php /* @escapeNotVerified */ echo __('Confirm New Password') ?></span></label>
                    <div class="control">
                        <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                               data-input="confirm-password2"
                               data-validate="{required:true}"
                               autocomplete="off" />
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
            </fieldset>
            <div class="actions-toolbar clearfix clearer">
                <div class="primary">
                    <button type="submit" class="action save primary" title="<?php /* @escapeNotVerified */ echo __('Save changes') ?>"><span><?php /* @escapeNotVerified */ echo __('Save changes') ?></span></button>
                </div>
            </div>
        </div>
    </div>
    <fieldset class="fieldset info" hidden>
        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>
        <div style="clear: both"></div>
        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php $_company = $block->getLayout()->createBlock('Meridian\Wod\Block\Magento\Customer\Widget\Company') ?>
        <?php $_titel = $block->getLayout()->createBlock('Meridian\Wod\Block\Magento\Customer\Widget\Titel') ?>
        <?php
        $customAttr = $block->getCustomer()->getCustomAttributes();
        $wod_company = $wod_titel = null;
        if(count($customAttr)){
            foreach ($customAttr as $code => $attr){
                if($code == 'wod_company'){
                    $wod_company = $attr->getValue();
                } elseif ($code == 'wod_titel'){
                    $wod_titel = $attr->getValue();
                }
            }
        }
        ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?php echo $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
        <?php endif ?>
        <?php if ($_gender->isEnabled()): ?>
            <?php echo $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
        <?php endif ?>
    </fieldset>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var dataFormPwd = $('#form-password');
        var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;
        
        dataForm.mage('validation', {
            errorPlacement: function(error, element) {
                //console.log('errorPlacement');
                error.addClass( "help-block" );
                element.parents( ".control" ).addClass( "has-feedback" );
                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {
                    $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
                <?php if ($_dob->isEnabled()): ?>
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
                <?php endif ?>
            },
            success: function ( label, element ) {
                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {
                      $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {

                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
                $( element ).parents( ".control" ).addClass( "has-error" ).removeClass( "has-success" );
                $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
            },
            unhighlight: function ( element, errorClass, validClass ) {

                $( element ).parents( ".control" ).addClass( "has-success" ).removeClass( "has-error" );
                $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
            },
        <?php if ($_dob->isEnabled()): ?>
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

        dataFormPwd.mage('validation', {
            errorPlacement: function(error, element) {

                error.addClass( "help-block" );
                element.parents( ".control" ).addClass( "has-feedback" );
                if ( element.prop( "type" ) === "checkbox" ) {
                    error.insertAfter( element.parent( "label" ) );
                } else {
                    error.insertAfter( element );
                }
                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                    $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            success: function ( label, element ) {

                // Add the span element, if doesn't exists, and apply the icon classes to it.
                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
            },
            highlight: function ( element, errorClass, validClass ) {

                if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                    $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                }
                $( element ).parents( ".control" ).addClass( "has-error" ).removeClass( "has-success" );
                $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
            },
            unhighlight: function ( element, errorClass, validClass ) {

                $( element ).parents( ".control" ).addClass( "has-success" ).removeClass( "has-error" );
                $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
            },
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?php /* @escapeNotVerified */ echo __('Change Email') ?>",
                "titleChangePassword": "<?php /* @escapeNotVerified */ echo __('Change Password') ?>",
                "titleChangeEmailAndPassword": "<?php /* @escapeNotVerified */ echo __('Change Email and Password') ?>"
            }
        }
    }
</script>
