<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

?>
<form class="form password forget"
      action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/forgotpasswordpost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'>
    <div class="block block-forget">
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo __('Forgot Password') ?></strong>
        </div>
        <div class="block-content">
            <fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                <div class="field note"><?php /* @escapeNotVerified */ echo __('Please enter your email address below to receive a password reset link.'); ?></div>
                <div class="field email required">
                    <label for="email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email:') ?></span></label>
                    <div class="control">
                        <input type="email" name="email" alt="email" id="email_address" class="input-text" value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action submit primary"><span><?php /* @escapeNotVerified */ echo __('Send link') ?></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="block block-contact">
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo __('Forgot E-Mail-Adress') ?></strong>
        </div>
        <div class="block-content">
            <p><?php /* @escapeNotVerified */ echo __('If you forgot your E-Mail-Address it’s going to be a little more difficult to find your account. Call us +41 44 123 45 67 or write an E-Mail to info@genusswelt.ch with your personal data and we try to find your Account.') ?></p>
            <div class="actions-toolbar">
                <div class="primary">
                    <a href="<?php echo $block->getUrl('contact') ?>"class="action create primary"><strong><?php /* @escapeNotVerified */ echo __('Contact') ?></strong></a>
                </div>
            </div>
        </div>
    </div>
</form>
