<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php echo $block->getChildHtml('form_before')?>
    <form class="form form-newsletter-manage" action="<?php /* @escapeNotVerified */ echo $block->getAction() ?>" method="post" id="form-validate">
        <div class="block block-newsletter">
            <div class="block-title"><strong><span><?php /* @escapeNotVerified */ echo __('Newsletter') ?></span></strong></div>
            <div class="block-content">
                <fieldset class="fieldset">
                    <?php echo $block->getBlockHtml('formkey')?>
                    <div class="field choice">
                        <input type="checkbox" name="is_subscribed" id="subscription" value="1" title="<?php /* @escapeNotVerified */ echo __('General Subscription') ?>"<?php if ($block->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                        <label for="subscription" class="label"><span><?php /* @escapeNotVerified */ echo __('Receive general World of Delight Newsletter') ?></span></label>
                    </div>
                    <?php /* Extensions placeholder */ ?>
                    <?php echo $block->getChildHtml('customer.form.newsletter.extra')?>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" title="<?php /* @escapeNotVerified */ echo __('Update Changes') ?>" class="action save primary"><span><?php /* @escapeNotVerified */ echo __('Update Changes') ?></span></button></div>
                </div>
            </div>
        </div>
    </form>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.newsletter.extra2')?>
