<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?php echo $block->getChildHtml('form_fields_before')?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra')?>
<form class="form create account form-create-account" action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <div class="block block-create-account">
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo __('Personal Information') ?></strong>
        </div>
        <div class="block-content">
            <div class="register-tabs fade">
                <ul role="tablist" class="register-steps">
                    <li role="presentation" class="item active">
                        <a aria-expanded="true"  data-toggle="tab" role="tab" role="presentation" href="#info" title="<?php /* @escapeNotVerified */ echo __('Personal information') ?>"
                           class="btn act-info">
                            <span><?php /* @escapeNotVerified */ echo __('Personal information') ?></span>
                        </a>
                    </li>
                    <li role="presentation" class="item">
                        <a aria-expanded="true"  data-toggle="tab" role="tab" role="presentation" href="#address" title="<?php /* @escapeNotVerified */ echo __('Addresses') ?>"
                           class="btn act-address">
                            <span><?php /* @escapeNotVerified */ echo __('Addresses') ?></span>
                        </a>
                    </li>
                    <li role="presentation" class="item">
                        <a aria-expanded="true"  data-toggle="tab" role="tab" href="#ship" title="<?php /* @escapeNotVerified */ echo __('Shippment and Payment') ?>"
                           class="btn act-ship" onclick="return false;">
                            <span><?php /* @escapeNotVerified */ echo __('Shippment and Payment') ?></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
                <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
                <div aria-labelledby="home-tab" id="info" role="tabpanel" class="tab-pane tab-info fade active in clearfix">
                    <fieldset class="fieldset create info">
                        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->setTemplate('Magento_Customer::widget/reg_prefix.phtml')->toHtml() ?>

                        <?php $_company = $block->getLayout()->createBlock('Meridian\Wod\Block\Magento\Customer\Widget\Company') ?>
                        <?php if ($_company->isEnabled()): ?>
                            <?php echo $_company->setWodCompany($block->getFormData()->getWodCompany())->toHtml() ?>
                        <?php endif ?>

                        <?php $_titel = $block->getLayout()->createBlock('Meridian\Wod\Block\Magento\Customer\Widget\Titel') ?>
                        <?php if ($_titel->isEnabled()): ?>
                            <?php echo $_titel->setWodTitel($block->getFormData()->getWodTitel())->toHtml() ?>
                        <?php endif ?>

                        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->setTemplate('Magento_Customer::widget/reg_name.phtml')->toHtml() ?>

                        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->setTemplate('Magento_Customer::widget/reg_last.phtml')->toHtml() ?>



                        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
                        <?php if ($_taxvat->isEnabled()): ?>
                            <?php echo $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
                        <?php endif ?>

                        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
                        <?php if ($_gender->isEnabled()): ?>
                            <?php echo $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
                        <?php endif ?>




                        <div class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                            <div class="field required">
                                <label for="email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                                <div class="control">
                                    <input type="email" name="email" autocomplete="email" id="email_address" value="<?php echo $block->escapeHtml($block->getFormData()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}">
                                </div>
                            </div>

                            <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
                            <?php if ($_dob->isEnabled()): ?>
                                <?php echo $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
                            <?php endif ?>

                            <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
                                <label for="password" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
                                <div class="control">
                                    <input type="password" name="password" id="password"
                                           title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                                           class="input-text"
                                           data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                                           data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                                           data-validate="{required:true, 'validate-customer-password':true}"
                                           autocomplete="off">
                                    <div id="password-strength-meter-container" data-role="password-strength-meter" >
                                        <div id="password-strength-meter" class="password-strength-meter">
                                            <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                                            <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="field confirmation required">
                                <label for="password-confirmation" class="label"><span><?php /* @escapeNotVerified */ echo __('Confirm Password') ?></span></label>
                                <div class="control">
                                    <input type="password" name="password_confirmation" title="<?php /* @escapeNotVerified */ echo __('Confirm Password') ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                                </div>
                            </div>
                            <?php echo $block->getChildHtml('form_additional_info'); ?>
                        </div>
                    </fieldset>
                    <div class="actions-toolbar">
                        <div class="primary">
                           <button type="button" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Save ') ?>"><span><?php /* @escapeNotVerified */ echo __('Save ') ?></span></button>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="profile-tab" id="address" role="tabpanel" class="tab-pane tab-address fade clearfix">
                    <?php if ($block->getShowAddressFields()): ?>
                        <p class="tab-title"><strong><?php echo __('Add address') ?></strong></p>
                        <fieldset class="fieldset address">
                            <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Address Information') ?></span></legend>
                            <input type="hidden" name="create_address" value="1" />
                            <div class="field company">
                                <label for="company" class="label"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
                                <div class="control">
                                    <input type="text" name="company" id="company" value="<?php echo $block->escapeHtml($block->getFormData()->getCompany()) ?>" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                                </div>
                            </div>
                            <div class="field telephone required">
                                <label for="telephone" class="label"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                                <div class="control">
                                    <input type="text" name="telephone" id="telephone" value="<?php echo $block->escapeHtml($block->getFormData()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>">
                                </div>
                            </div>

                            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>


                            <div class="field street required">
                                <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreet(0)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                    <div class="nested">
                                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                            <div class="field additional">
                                                <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i ?>">
                                                    <span><?php /* @escapeNotVerified */ echo __('Address') ?></span>
                                                </label>
                                                <div class="control">
                                                    <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i ?>" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                                </div>
                                            </div>
                                        <?php endfor; ?>
                                    </div>
                                </div>
                            </div>

                            <div class="field required">
                                <label for="city" class="label"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                                <div class="control">
                                    <input type="text" name="city" value="<?php echo $block->escapeHtml($block->getFormData()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                                </div>
                            </div>

                            <div class="field region required">
                                <label for="region_id" class="label"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                                <div class="control">
                                    <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" style="display:none;">
                                        <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                                    </select>
                                    <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;">
                                </div>
                            </div>

                            <div class="field zip required">
                                <label for="zip" class="label"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
                                <div class="control">
                                    <input type="text" name="postcode" value="<?php echo $block->escapeHtml($block->getFormData()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                                </div>
                            </div>

                            <div class="field country required">
                                <label for="country" class="label"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                                <div class="control">
                                    <?php echo $block->getCountryHtmlSelect() ?>
                                </div>
                            </div>
                            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
                            <?php if ($addressAttributes): ?>
                                <?php $addressAttributes->setEntityType('customer_address'); ?>
                                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                                <?php echo $addressAttributes->setShowContainer(false)->toHtml()?>
                            <?php endif;?>
                            <input type="hidden" name="default_billing" value="1">
                            <input type="hidden" name="default_shipping" value="1">
                        </fieldset>

                    <?php endif; ?>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button type="button" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Add address') ?>"><span><?php /* @escapeNotVerified */ echo __('Add address') ?></span></button>
                        </div>
                        <div class="back">
                            <button type="button" class="action submit back" title="<?php /* @escapeNotVerified */ echo __('Back') ?>"><span><?php /* @escapeNotVerified */ echo __('Back') ?></span></button>
                        </div>
                    </div>

                </div>
                <div aria-labelledby="profile-tab" id="ship" role="tabpanel" class="tab-pane tab-ship fade clearfix">
                    <div class="content-ship">
                        <?php echo $block->getChildHtml('customer.register.methods') ?>
                    </div>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Create an Account') ?>"><span><?php /* @escapeNotVerified */ echo __('Create an Account') ?></span></button>
                        </div>
                        <div class="back">
                            <button type="button" class="action submit back" title="<?php /* @escapeNotVerified */ echo __('Back') ?>"><span><?php /* @escapeNotVerified */ echo __('Back') ?></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
require([
    'jquery',
    'mage/mage',
    'mage/backend/form',
    'jquery/validate'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;

    dataForm.mage('validation', {
        errorPlacement: function(error, element) {

            error.addClass( "help-block" );
            element.parents( ".control" ).addClass( "has-feedback" );
            if ( element.prop( "type" ) === "checkbox" ) {
                error.insertAfter( element.parent( "label" ) );
            } else {
                error.insertAfter( element );
            }
            if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {

                $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( $( element ) );
            }
            <?php if ($_dob->isEnabled()): ?>
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
            <?php endif ?>
        },
        success: function ( label, element ) {

            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {
                $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
            }
        },
        highlight: function ( element, errorClass, validClass ) {

            if ( !$( element ).closest('.control').find( "span.glyphicon" )[ 0 ] ) {
                $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
            }
            $( element ).parents( ".control" ).addClass( "has-error" ).removeClass( "has-success" );
            $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
        },
        unhighlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".control" ).addClass( "has-success" ).removeClass( "has-error" );
            $( element ).closest('.control').find( "span.glyphicon" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
        },
    <?php if ($_dob->isEnabled()): ?>
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');
    var blockTitle = $('.block-create-account .block-title strong');
    $('.tab-info .actions-toolbar .primary').on('click',function(){
        debugger;
        var infoForm = dataForm.validate().form( $("#info") );
        if(typeof grecaptcha !== 'undefined') {
            var captchaCheck = grecaptcha.getResponse();
            var captchaError = $('#recaptcha-error');
            captchaError.html('');
            if (captchaCheck == 0 || captchaCheck == '') {
                captchaError.addClass('active').html($.mage.__('<?php echo __('Please Fill Recaptcha To Continue'); ?>')).show();
                return false;
            } else {
                captchaError.html('');
                tabInfoStep();
                return true;
            }
        } else {
            tabInfoStep();
            return true;
        }
    });

    $('.tab-address .actions-toolbar .back').on('click',function(){
            $('.register-steps .act-info').click();
            $('.customer-steps .act-address').closest('li').addClass('active');
            $('.customer-steps .act-info').closest('li').addClass('current');
            blockTitle.text($('.customer-steps .act-info').text());
            if ( $('.customer-steps .act-info').closest('li').find( "span.glyphicon" )[ 0 ] ) {
                $(".btn.act-info").parent().children().last("span").remove();
            }

    });

    $('.tab-address .actions-toolbar .primary').on('click',function(){
        var infoForm = dataForm.validate().form( $("#address") );
        if(infoForm) {
            $('.register-steps .act-ship').click();
            $('.customer-steps .act-address').closest('li').addClass('active');
            $('.customer-steps .act-ship').closest('li').addClass('current');
            blockTitle.text($('.customer-steps .act-ship').text());
            if ( !$('.customer-steps .act-address').closest('li').find( "span.glyphicon" )[ 0 ] ) {
                $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($('.customer-steps .act-address'));
            }
        }
    });

    $('.tab-ship .actions-toolbar .back').on('click',function(){
        $('.register-steps .act-address').click();
        $('.customer-steps .act-ship').closest('li').addClass('active');
        $('.customer-steps .act-address').closest('li').addClass('current');
        blockTitle.text($('.customer-steps .act-address').text());
        if ($('.customer-steps .act-address').closest('li').find( "span.glyphicon" )[ 0 ] ) {
            $(".btn.act-address").parent().children().last("span").remove();
        }

    });

    $('.tab-ship .actions-toolbar .primary').on('click',function(){
        $('.customer-steps .act-ship').closest('li').addClass('active');
        blockTitle.text($('.customer-steps .act-ship').text());
        if ( !$('.customer-steps .act-ship').closest('li').find( "span.glyphicon" )[ 0 ] ) {
            $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($('.customer-steps .act-ship'));
        }

    });

    function tabInfoStep() {
        $('.register-steps .act-address').click();
        $('.customer-steps .act-info').closest('li').addClass('active');
        $('.customer-steps .act-address').closest('li').addClass('current');
        blockTitle.text($('.customer-steps .act-address').text());
        if ( !$('.customer-steps .act-info').closest('li').find( "span.glyphicon" )[ 0 ] ) {
            $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($('.customer-steps .act-info'));
        }
    }

    function faonniRecaptcha() {
        var checkRecaptcha = true;
        if($('#recaptcha_error').length){
            checkRecaptcha = validateRecaptcha();
        }
        if(checkRecaptcha && infoForm) {
            $('.register-steps .act-address').click();
            $('.customer-steps .act-info').closest('li').addClass('active');
            $('.customer-steps .act-address').closest('li').addClass('current');
            blockTitle.text($('.customer-steps .act-address').text());
            if ( !$('.customer-steps .act-info').closest('li').find( "span.glyphicon" )[ 0 ] ) {
                $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($('.customer-steps .act-info'));
            }
        }
    }
});
</script>
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>
